[2018-01-23 16:21] JennWeideman commented on #12
@ksmacleod99 could issue 156 go with this? Also issue 231 under get involved

[2018-01-23 16:21] ksmacleod99 opened #825 "Team Page revamp"
# Feature
## Why is this feature being added?
We need to revamp /Team to reflect new staff and updates! This will be a multi-step process.

## What should your feature do?
- Keep the Board cards as is - for now
- Add Executive Staff cards - will provide who is what in comment
- Clear out the rest of the cards - from front-end _only_ for now
- We will add back Chapter Leader and other Team cards ba

[2018-01-23 16:22] JennWeideman commented on #12
@ksmacleod99 I've assigned to this issue to you

[2018-01-23 16:27] JennWeideman commented on #154
https://www.123rf.com this is a site full of free stock images. It might be nice if we could change up the images now and then

[2018-01-23 16:39] ksmacleod99 commented on #825
Exec Staff:
David Molina, CEO, Slack: @david email: david@operationcode.org
Morgan Larrouy-Smith, Executive Assistant, morgan@operationcode.org
David Reis, Acting COO, @DavidR
Jennifer Weiderman, CCMO, @Jenn, jennifer@operationcode.org
Amy Tan, CFO, @Amy Tan, amy@operationcode.org
Nell Shamrell, CTO, @nellshamrell, nell@operationcode.org
Kate Horner, Acting CDO, @katehorner
Kelly MacLeod, HR, @Kel

[2018-01-23 16:42] ksmacleod99 commented on #825
Also, if there is a way (I'm sure there is) to add spam protection to the email addresses, that would be awesome.

[2018-01-23 16:47] JennWeideman commented on #774
This issues has been absorbed  by #825

[2018-01-23 16:47] #774 closed

[2018-01-23 16:47] JennWeideman commented on #779
This issues has been absorbed  by #825

[2018-01-23 16:47] #779 closed

[2018-01-23 17:28] JennWeideman commented on #381
@Cooperbuilt @caleywoods @kylemh since this has been opened and referenced on back end may I close this one?

[2018-01-24 02:28] ksmacleod99 commented on #12
May I please get some copy for the header, and if anyone has any photos they would like me to use, please let me know!

[2018-01-24 03:40] shinytang6 commented on #825
l'd like to work on this :)

[2018-01-24 05:48] kylemh commented on #12
@hollomancer do we have a go-to person for copy?

[2018-01-24 05:48] kylemh commented on #412
Nope!

[2018-01-24 05:48] #412 closed

[2018-01-24 05:49] kylemh commented on #356
@JennWeideman I imagine yes. Just like with `/code_schools` this info page was a big hit on the old domain. It's an SEO boost.

[2018-01-24 05:50] kylemh commented on #156
@ksmacleod99 how do you feel about combining this content "feel" with #12

[2018-01-24 05:51] kylemh commented on #154
This page is nearly done. Somebody may feel free to hijack @mwagz's work to finish

[2018-01-24 05:53] kylemh commented on #825
One way you may be able to prevent most scan bots from grabbing the email is by doing an animation similar to what I set up on `BoardCard`. `display: none` and `opacity: 0` transitions to `display: block` and `opacity: 100` (opacity after a delay). Many email robots can't combat hover effects that mess w/ display.

[2018-01-24 05:54] kylemh commented on #381
This one will remain open until https://github.com/OperationCode/operationcode_backend/pull/236 gets in on the back-end. Once done, we have work to do client-side to use that new back-end functionality and ditch the hard-coded efforts up front.

[2018-01-24 06:01] kylemh commented on #231
@JennWeideman I think it'd be really cool for many reasons to begin planning a `data.operationcode.org` subdomain. I was going to bring it up at a stand-up

Mostly cuz I want to learn how to create some cool data visualizations, but also because many learners can practice there. It'd also provide a hub of insight for admin and external funding decision-makers.

[2018-01-24 06:03] kylemh commented on #489
@JennWeideman I could see this as a non-intrusive way to encourage registration.

Get people interested in the reviews people are leaving on schools, and find an avenue to direct them to register to prepare.

[2018-01-24 06:06] kylemh commented on #443
Optimizely is for AB testing. Is something in here similar to AdWords?

It's only blocked because I don't know how to implement #444

[2018-01-24 06:09] #676 closed

[2018-01-24 15:28] ksmacleod99 commented on #156
Basically same wire-frames, different content?

[2018-01-25 07:14] #816 closed

[2018-01-26 02:07] JennWeideman commented on #634
@charlessipe noooo I don't code!!

[2018-01-26 02:11] JennWeideman commented on #443
@kylemh Should we unblock and see if anyone wants a crack at it? or do you want to keep it

[2018-01-26 02:12] JennWeideman commented on #381
@kylemh thanks for the clarification, need label being added

[2018-01-26 03:22] jvillama opened #827 "Firefox footer style issues"
# Bug Report
## What is the current behavior?
Firefox footer padding and overflow style issue when window width goes past 768px.

## What is the expected behavior?
Padding for .outerFooterGroupLinks should be removed as well as `overflow:hidden`.

## What steps did you take to get this behavior?
View footer on any page.

## Additional Info
### Operating System
MacOS Sierra Version 10.12.6

### Bro

[2018-01-26 05:43] reddysridhar53 commented on #634
Is someone working on this? Can I pick this up?

[2018-01-26 06:45] kylemh commented on #827
@shaina33 how do you feel about tackling this. It's my fault for not testing FF latest

[2018-01-26 07:32] jvillama commented on #827
@kylemh @shaina33 Should be a quick fix, please review my PR if I missed anything else.

[2018-01-26 18:56] jvillama opened #829 "Disable BoardCard member animations for mobile."
# Bug Report
## What is the current behavior?
BoardCard member height and text animations are intuitive on mobile.

## What is the expected behavior?
Disable to BoardCard member height and text animations to display properly on mobile.

## What steps did you take to get this behavior?
View /team page and view board members.

[2018-01-26 22:16] JennWeideman commented on #231
@kylemh sounds cool to me! If you want to take it go for it

[2018-01-26 22:37] JennWeideman commented on #489
@kylemh I like it!!!

[2018-01-26 22:38] JennWeideman commented on #489
@kylemh I'm going to use my new word
Do we have a wireframe of this yet?

[2018-01-26 22:45] JennWeideman commented on #829
@jvillama what type of os and what browser ? I'm not having problems on iPhone 6plus with safari
@kylemh have you had this issue?

[2018-01-26 22:55] JennWeideman commented on #12
@kylemh @ksmacleod99 this page is going to have multi/subpages right?

[2018-01-26 23:01] JennWeideman commented on #356
@kylemh okay

[2018-01-26 23:02] ag-kylemh commented on #829
It was Chrome iOS that was heinous. I'm a big fan of disabling the animation on mobile, but am curious to hear others' opinions.

[2018-01-26 23:02] JennWeideman commented on #634
@reddysridhar53 its yours

[2018-01-26 23:03] kylemh commented on #829
It was Chrome iOS that was heinous. I'm a big fan of disabling the animation on mobile, but am curious to hear others' opinions.

[2018-01-26 23:03] JennWeideman commented on #634
@reddysridhar53 I've assigned to this issue as a placeholder for your work

[2018-01-27 01:27] ksmacleod99 commented on #12
The menu is, yes. This page was going to be more of a landing page for all the other pages (donate, volunteer, Leadership Circle). I'm going to push this branch when I am done, and then start on the Volunteer page.

[2018-01-27 10:10] shinytang6 commented on #825
l am doing small and quick work on it .
lt looks like this now:
![image](https://user-images.githubusercontent.com/22241503/35470918-f72950a6-038c-11e8-8d77-beb4353de1be.png)

and l make an animation like that:
![image](https://user-images.githubusercontent.com/22241503/35470931-3bb31ed2-038d-11e8-85a4-4caefd2202fd.png)

any suggestions ?

[2018-01-27 23:45] kylemh commented on #825
@shinytang6 if you'll notice in the original post it states: "Keep the Board cards as is - for now"

[2018-01-27 23:59] ksmacleod99 commented on #825
@kylemh David is on staff and on the board. :)

[2018-01-28 00:50] #827 closed

[2018-01-28 02:33] shinytang6 commented on #825
@kylemh  actually l kept the Boad cards and don't show it in the screenshot:)

[2018-01-28 02:40] kylemh commented on #825
For the board, do `justify-content: flex-start;` for the container holding all the BoardCard components. I look forward to seeing your PR!

[2018-01-28 02:48] shinytang6 commented on #825
@kylemh It has already existed. Any style advice?

[2018-01-28 19:14] wimo7083 opened #834 "mentor-request route needs some love"
# `/mentor-request` isn't behaving correctly
## What is the current behavior?
While logged in and navigating directly to `/mentor-request` it redirects you to login page. This is due to a change I made that set the default to false. The only way to get to `/mentor-request` is to navigate from profile, which doesn't use the react mentor-request but uses the airtable form.

## What is the expected b

[2018-01-28 19:25] wimo7083 commented on #834
currently working on something for this, so we can move the mentor-request form behind the authenticated route component.

[2018-01-28 19:57] jjhampton commented on #834
@wimo7083 Is the OC back-end API actually set up to populate mentor requests to Airtable yet? I remember that last fall, it was not - which is also why we weren't using the React `MentorRequest` form component (which communicated w/ the OC back-end API).  We were defaulting link navigation to the Airtable UI form because it was the only one that actually populated new Mentor Requests to Airtable.

[2018-01-28 20:35] wimo7083 commented on #834
Good question. I wrote  [documentation](https://github.com/OperationCode/operationcode_backend/pull/229) for the supposed functionality.

And It looks like there's a [route](https://github.com/OperationCode/operationcode_backend/blob/ca0d4a309b01eb1c82477ace00fa7e7eb44f9217/app/controllers/api/v1/requests_controller.rb#L12) that allows you to send a request for the current user. But I don't know i

[2018-01-28 21:16] wimo7083 commented on #834
To add to the problem. If you are logged out, and try to navigate to the link found in profile `op.co.de/mentor-request` by typing it into your navbar you can view the form even if you don't have an account.

If you take this publicly available link (if you have a profile account) and add a single char to the end you can view all mentor-request

[2018-01-28 22:49] hpjaj commented on #834
@wimo7083 - That [endpoint](https://github.com/OperationCode/operationcode_backend/blob/ca0d4a309b01eb1c82477ace00fa7e7eb44f9217/app/controllers/api/v1/requests_controller.rb#L11-L14) creates a new `Request` record in the database, derived from the passed in `request_params`.  It does not ping Airtable's API.

For that, as @jjhampton said, we would need a new process and background job.

@nellsham

[2018-01-28 23:37] wimo7083 commented on #834
I know that I changed something that made user flow less clear; in an effort to hide content that shouldn't be viewed unless authenticated. This brought up the fact that for a while there was an active route to do mentor requests in the frontend application, that doesn't actually process them.

Change ideas:
1. Simple revert and ignore the issue that there's still a way for authenticated and non-a

[2018-01-28 23:48] jjhampton commented on #834
@wimo7083 I think that for now, that route for the path `/mentor-request` could just be removed from the router file at [home.js](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/home.js), since the `MentorRequest` component shouldn't be displayed to users anyway (since submitting it doesn't actually populate a mentor request).  AFAIK there aren't any navigation

[2018-01-29 00:01] wimo7083 commented on #834
PR to remove route submitted. We can leave this issue open to discuss further plans if there's a desire or we can close.

[2018-01-29 01:24] #834 closed

[2018-01-29 01:42] wimo7083 commented on #341
#835 removed mentor request form while we discuss the best way to go about mentor requests by routing all requests to the airtable. Does this need to be open?

[2018-01-29 03:12] jjhampton commented on #829
The animations are working fine on Android Chrome for me (text appearing after card height increases via 'dropdown' animation from the bottom of the card).

[2018-01-29 04:17] jjhampton commented on #459
I've thought for a while that it would be nice to be able to scroll down the page and see a 'sticky' nav at the top of the screen that still shows the nav items, instead of the nav disappearing off screen when scrolling.  We could switch to an opaque color (from the branding guide, possibly the same as the header on other pages or the footer).

@raphaabrasil Are you still interested in tackling th

[2018-01-29 04:19] kylemh opened #838 "Outline our GitHub workflow in CONTRIBUTING and README"
# Feature
## Why is this feature being added?
I presumed that this information was already being outlined to newcomers. In reality, our organization has been assuming that individuals would first claim an issue before they began to work on it.

## What should your feature do?
Outline the flow of work within Operation Code repositories:
- Post a comment on an issue asking to claim the work
- Work o

[2018-01-29 04:25] kylemh commented on #825
@shinytang6 @dave5801

I didn't realize y'all were working on the same issue.
#838 created to try to prevent this in the future.

I'm going to likely go with @shinytang6 's implementation purely because less changes need to be made to it.

[2018-01-29 04:34] kylemh commented on #460
Assigning myself for @dave5801

[2018-01-29 05:35] jjhampton commented on #754
@kylemh Since social sign-in hasn't been merged yet, maybe we can implement your [proposed solution](https://github.com/OperationCode/operationcode_frontend/issues/754#issuecomment-350071583) specific to social-sign in another issue? Or block this one until that's merged?

A simple fix could be to just get rid of the 'Go Back' button on the first page of signup-info, which would encourage the the

[2018-01-29 05:52] kylemh commented on #754
Sorry that there's a lack of transparency here. @PixelWitch is nearly there. We've been communicating as recently as Sunday to navigate through bugs.

Attached is latest info
![screen shot 2018-01-28 at 9 51 43 pm](https://user-images.githubusercontent.com/9523719/35495375-76a9ad88-0475-11e8-8443-3a564ed8902e.png)

[2018-01-29 13:34] reddysridhar53 commented on #634
@kylemh Can you help me with the process and what all needs to be done with this feature? Thanks.

[2018-01-29 19:16] shaina33 commented on #827
Thanks for fixing this bug!

[2018-01-30 09:22] #829 closed

[2018-01-31 19:44] JennWeideman commented on #12
@ksmacleod99 will the user have to go to the landing page? or will they have the option just to pick the subpage/or whatever its name is from the dropdown of get involved ?

[2018-01-31 19:47] ksmacleod99 commented on #12
They way I would like to see it is no - they can click on the 'Get Involved' page link to go to that landing page, but I would like to see a drop-down menu of the sub-pages as well. So they can go to the Get Involved landing page - or not - depending on how they feel. But that will be a separate issue than me just building the page.

[2018-02-01 19:10] JennWeideman opened #839 "devcodecamp needs to say the offer both full-time and part time"
# content change

devcodecamp needs to say the offer both full-time and part time
(on-site only classes no online platform)don't know if you need that
## Why is this feature being added?

## What should your feature do?

---

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get this behavior?

## Additional Info
### Operating System

#

[2018-02-02 11:44] sethbergman commented on #496
This should be good to go. Thanks @gokaygurcan and @kylemh for your help with this. Sorry about the delay.

[2018-02-03 19:53] kylemh opened #842 "Create documentation on running Storybook"
# Feature
## Why is this feature being added?
We want developers to use Storybook, but are not instructing them on how to run the Storybook instance from our repository.

## What should your feature do?
Provide step-by-step instructions on running Storybook in `CONTRIBUTING.md`

[2018-02-04 02:22] ksmacleod99 opened #843 "Update contact info"
# Bug Report
Please update the mailing address to
707 SW Washington St.
Suite 1100
Portland, OR 97205

[2018-02-04 02:24] ksmacleod99 commented on #843
Address is here: https://operationcode.org/contact (apologies, I'm on my phone and I have fat thumb syndrome)

[2018-02-04 17:36] christopher-wolff23 commented on #520
@JennWeideman I started getting busy with CS classes, if someone else wants to take a stab at it. No, i haven't started.

[2018-02-04 21:35] hpjaj opened #844 "Distinguish "call to action" to access verified services"
# Feature
## Why is this feature being added?

When on the profile page, it is hard to discern that we offer Mentorship and Scholarship services, unless you really read through the "Get Verified for Added Benefits" paragraph closely.

## What should your feature do?
The "Get Verified for Added Benefits" section should:
- make it more clear that Mentorship and Scholarship are services that we offer

[2018-02-04 23:07] #844 closed

[2018-02-05 07:17] wuweiweiwu commented on #842
@kylemh I can take this is no one is one it!

[2018-02-05 07:51] kylemh commented on #842
@wuweiweiwu @ksmacleod99 is currently assigned.

[2018-02-05 07:57] wuweiweiwu commented on #842
@kylemh sounds good!

[2018-02-06 15:26] JennWeideman commented on #520
okay thank you @christopher-wolff23  I will mark as available. Thank you for getting back to me

[2018-02-08 14:11] ksmacleod99 commented on #843
@kurumkan Thank you for your PR! We will review it this weekend and let you know if we need anything else. Thanks again!

[2018-02-08 21:57] #843 closed

[2018-02-08 22:09] jjhampton commented on #839
@JennWeideman Currently the school cards UI component are coded to display either:

'Commitment: Full-Time' (for schools that **are** full-time only)
or
'Commitment: Flexible' (for schools that are **not** full-time only)

Is the text 'Commitment: Flexible' acceptable for this feature request?

If not, we will likely need to re-visit the specs for what content is needed in the school card componen

[2018-02-08 22:58] jjhampton commented on #458
Closing this issue, it was originally intended as an epic.
See #353, #457, #459, #460 for more specific individual nav-related issues.

[2018-02-08 22:58] #458 closed

[2018-02-08 23:53] jjhampton commented on #356
@hollomancer @kylemh @JennWeideman

It shouldn't be too difficult to:

- Bring over the content from the existing VET TEC page into our current OC app, as React component(s)
- Restyle the VET TEC content to be consistent with the current OC app visuals
- Show this page when the user navigates www.operationcode.org/vettec URL (or another route that we feel is better named)

Couple questions:
1) Was

[2018-02-09 01:26] jjhampton commented on #356
After further investigation, it doesn't seem useful to create a page for the www.operationcode.org/vettec content, as it is out of date.  The VET TEC act was merged into the Forever GI Bill, which has already been passed/signed.  From https://www.govtrack.us/congress/bills/115/hr1989:

I feel that it would be more productive to simply create a 'Military Benefits' page (as suggested above) that cou

[2018-02-09 03:44] #838 closed

[2018-02-10 21:40] hpjaj opened #851 "Code Schools collection should be sorted by :name, by default"
# Feature
## Why is this feature being added?

The Code Schools page is not sorted, per se.  This is b/c the JSON that the backend is serving up, that populates the Code Schools page, is sorted by `id`, which is basically the database `created_at`.

Consequently, it is harder to scan the page for a code school that an end user might be looking for.

## What should your feature do?

- [ ] Set the d

[2018-02-10 21:40] hpjaj commented on #851
Wrong repo

[2018-02-10 21:40] #851 closed

[2018-02-10 23:38] #11 closed

[2018-02-11 03:09] hpjaj opened #852 "Link to new `/our_programs` page"
# Feature
## Why is this feature being added?

The new mentorship page needs to be linked to.  Ultimately it will have a link in the nav bar.

At this point, we want to additionally link to it from the word **Mentorship** on the `/profile` page.

## What should your feature do?

The word **Mentorship** on the `/profile` page should link to the new `/our_programs` page.

Bonus for linking directly

[2018-02-11 18:21] tal87 commented on #852
I'll take it if possible.

[2018-02-11 18:45] jjhampton commented on #852
Once a user is verified w/ ID.me, the 'To gain access to Mentorship and Scholarships...' paragraph that would contain these links is longer displayed on the profile page.

We should also display these links for verified members somewhere on the profile page.

[2018-02-11 19:37] jjhampton opened #856 "Typo on 'our_programs' page (expert / expect)"
# Bug Report
## What is the current behavior?
The word 'expect' is misstyped as 'expert' on the `/our_programs` page under the _Mentorship Program > What It Isn't_ section. (see screenshot)
## What is the expected behavior?
The word 'expect' is displayed.

### Screenshots
![selection_006](https://user-images.githubusercontent.com/8835055/36077419-a6b18352-0f38-11e8-99e2-3a9a6f3ec203.png)

[2018-02-12 07:50] #856 closed

[2018-02-12 10:50] #825 closed

[2018-02-13 14:24] ksmacleod99 opened #858 "Update link to .eps file on /branding"
# Bug Report
## What is the current behavior?
Link to branding .eps file is broken. Please decompress and upload attached file to /public and correct the link path on /branding
[Operation+Code+Logo.zip](https://github.com/OperationCode/operationcode_frontend/files/1720203/Operation.Code.Logo.zip)

## What steps did you take to get this behavior?
https://operationcode.org/branding

[2018-02-13 16:28] ksmacleod99 opened #859 "Quick Fixes on /team"
# Bug Report
## What is the current behavior?
Typo: Please correct "Weiderman" to "Weideman" on /team, and "Stefano DAniello" to "Stefano D’Aniello"

Add new team card: Ashley Templet, CCO, ashley@operationcode.org

Update Founding Board acknowledgement to (under Board Members):  “Operation Code deeply appreciates the time, energy, and hard work of our Founding Board Members, including Mark Kerr (

[2018-02-14 02:29] JennWeideman commented on #70
@hollomancer is this still something we can do?

[2018-02-14 06:37] JennWeideman commented on #70
slack call tonight... whatever platform best fits our needs and budget? as along as @hollomancer @davidmolina  give approval and I can track it! @kylemh @Cooperbuilt Thanks guys

[2018-02-14 06:41] JennWeideman commented on #459
Status who's got this @jjhampton @raphaabrasil

[2018-02-14 13:57] sherribooher commented on #852
Is this issue still open?

[2018-02-14 14:02] jjhampton commented on #852
@sherribooher Yes, it is currently being worked on (and has a PR under review) by @tal87 .

[2018-02-14 14:05] jjhampton commented on #459
@JennWeideman This is currently being worked on by @dave5801  (and has an open PR under review).  I will assign myself as a placeholder for now.

[2018-02-14 19:10] JennWeideman commented on #839
what about "both" ?

[2018-02-14 19:10] JennWeideman commented on #839
or check marks next to them ? whatever you feel looks best I trust you

[2018-02-14 21:34] JennWeideman commented on #381
from backend
<img width="1440" alt="screen shot 2018-02-14 at 3 33 32 pm" src="https://user-images.githubusercontent.com/34632742/36229351-8c09cd6e-119c-11e8-95a5-f71b519b1e6f.png">

[2018-02-14 23:27] JennWeideman opened #860 "Content rearrangement x2"
Content needs rearranged to reflect our primary objectives and mission, Then the military member should always come first then spouse.
<img width="1440" alt="who we serve flip flop" src="https://user-images.githubusercontent.com/34632742/36233554-41ad659a-11ac-11e8-8e17-e33f7bbe729b.png">

<img width="1440" alt="re order" src="https://user-images.githubusercontent.com/34632742/36233575-5c3a9248-11

[2018-02-14 23:28] JennWeideman commented on #860
Thank you in advance!!

[2018-02-15 00:26] jvillama commented on #860
May I claim this one? Seems like a easy fix.

[2018-02-15 00:53] JennWeideman commented on #860
yes sir @jvillama thank you

[2018-02-15 00:53] JennWeideman commented on #860
@kylemh why can't I add him?

[2018-02-15 00:56] JennWeideman commented on #860
I've assigned to this issue as a placeholder for your work @jvillama

[2018-02-15 01:48] JennWeideman commented on #459
Thank you! I just read the PR is he working on your requested changes  @jjhampton

[2018-02-15 01:54] JennWeideman commented on #852
can we put check for jobs last in the order? or is that going to be a hassle? Put Slack first? or has the look I see above changed?

[2018-02-15 01:56] JennWeideman commented on #859
Update add CDO to me as well ......... two for my card

[2018-02-15 01:57] JennWeideman commented on #859
@ksmacleod99  is this considered beginner friendly ? asking for labeling reasons?

[2018-02-15 01:58] JennWeideman commented on #842
@ksmacleod99  you still got this one?

[2018-02-15 02:00] ksmacleod99 commented on #859
Yes :)

[2018-02-15 02:00] JennWeideman commented on #858
I have 2 places currently trying to get this info for their sites and events thanks for the rush guys

[2018-02-15 02:00] ksmacleod99 commented on #842
Yup, just got busy at work

[2018-02-15 02:01] JennWeideman commented on #754
@jjhampton can you clarify for me ?

[2018-02-15 02:08] JennWeideman commented on #859
thank you

[2018-02-15 02:09] JennWeideman commented on #842
No problem just taking a quick pulse of issues on here thank you for the update!!

[2018-02-15 09:02] JennWeideman opened #862 "FAQ page Add missing how to volunteer question and link"
missing important info FAQ page
add question how to Volunteer
add link to form
<img width="1440" alt="volunteer edit fqa" src="https://user-images.githubusercontent.com/34632742/36248167-2925e40c-11fc-11e8-9ace-a95133e75a01.png">
<img width="1440" alt="screen shot 2018-02-15 at 3 12 10 am" src="https://user-images.githubusercontent.com/34632742/36248857-75ea5e06-11fe-11e8-9d17-8a3f42392d33.png">

[2018-02-15 09:09] JennWeideman commented on #862
Thanks in advance

[2018-02-15 17:03] jjhampton commented on #754
I vote to eliminate the back button - see my earlier [comment](https://github.com/OperationCode/operationcode_frontend/issues/754#issuecomment-361144734).  Let's aim to keep this simple.

@kylemh had [proposed](https://github.com/OperationCode/operationcode_frontend/issues/754#issuecomment-350071583) a scenario to keep it, but this is dependent on social-sign-on being complete.

We need clear acce

[2018-02-16 04:41] jjhampton commented on #839
I'll go ahead and change DevCodeCamp to 'Commitment: Flexible' for now (to match the naming system we have in place for all other schools) and open a PR so we can cross this one off the list.

If there's a user story to change the naming patterns for  on the schoolcards (to something other than only 'Full-time' or 'Flexible') we can open another issue later.

[2018-02-16 05:15] jjhampton commented on #839
Looks like this won't really be a front-end code change - [this'll need to be changed via the database](https://github.com/OperationCode/operationcode_backend/issues/205#issuecomment-352802660).

@hpjaj (or anyone else that has perms) - can you please make a realtime DB update via the prod Rails console for DevCodeCamp to `full_time: false` ?

[2018-02-16 18:36] hpjaj commented on #839
@jjhampton - done!

[2018-02-16 19:17] neosiae commented on #862
I can take this one.

[2018-02-16 19:25] jjhampton commented on #839
Closing - the prod. DB has been updated and DevCodeCamp now displays as ''Commitment: Flexible' at https://operationcode.org/code_schools.

[2018-02-16 19:25] #839 closed

[2018-02-16 20:17] jvillama commented on #859
I can fix these real quick as well.

[2018-02-17 19:09] jjhampton opened #864 "Replace react-icons dependency with official Font Awesome React component"
# Feature
## Why is this feature being added?
We are currently using the [react-icons](https://github.com/gorangajic/react-icons) to include Font Awesome icons in the front-end.  That library is no longer being maintained, and also is missing some of the newer icons that are included in Font Awesome 5.

Font Awesome now provides an official React component that can replace this: https://github.com

[2018-02-17 19:18] #860 closed

[2018-02-17 19:23] jjhampton commented on #859
Assigning myself as placeholder until @jvillama 's fixes are in.

[2018-02-17 19:24] hpjaj opened #865 "For /team page, use TeamMember records vs. hardcoded info for the Board"
# Feature
## Why is this feature being added?

For the `/team` page, in the "Board Member" section, we are currently [hardcoding that info](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/team/team.js#L18-L26) from:

https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/team/boardMembers.js

## What should your feature do?
This data

[2018-02-17 19:31] jjhampton commented on #858
@hollomancer @kylemh Do we have an S3 bucket or somewhere else where we can upload assets such as this? Instead of committing them to `/public` in the GitHub repo.

[2018-02-17 19:44] ksmacleod99 commented on #859
Also, if you don't mind pinging @hpjaj with the new image source path when complete so he can update the image path in the database. Thank you!

[2018-02-17 19:46] jjhampton commented on #858
^ re: above question: I'm just going to manually add the EPS file to `/public` folder for now (as suggested in the initial issue description), in the absence of a dedicated asset hosting service. I won't add it to `src/images` due to the image-size Git pre-commit check (this EPS file is 2.1Mb).

[2018-02-17 19:57] kylemh commented on #865
I've added the beginner friendly tag to this issue.

You can see how we utilize `axios`, a promise-based fetch library, within the `codeSchools.js` file. You'll be mapping across an array of data in a similar format. Be sure to use the `.get()` within the React `componentDidMount()` lifecycle method.

[2018-02-17 19:59] neosiae commented on #865
I can take this one.

[2018-02-17 20:01] kylemh commented on #865
It's all yours. Please be aware you have 1 week to publish work to indicate real progress. I've assigned myself as a placeholder for your work!

[2018-02-17 20:31] jjhampton opened #866 "Source images from AWS S3 buckets"
# Feature
## Why is this feature being added?
Static image assets should be hosted via AWS S3 now that we have access.
## What should your feature do?
Admin checklist: (currently blocked by these)
- [ ] Add Secret Key to Travis
- [ ] Host actual images
- [ ] Write a list of all the S3 links corresponding to each image

[2018-02-17 21:01] #862 closed

[2018-02-17 21:26] JennWeideman opened #867 "Join screen 2, J-2 drop down content fix needed"
this issue is with https://www.operationcode.org/join second page of process

Please add these options into the drop down named  "what describes you"
in this order
Active Duty
Veteran
Spouse
Family Member
Tech Professional
Volunteer

<img width="1440" alt="which describes you j-2" src="https://user-images.githubusercontent.com/34632742/36345710-b3106818-13f5-11e8-9522-be19aac8ef7e.png">
<img width

[2018-02-17 21:29] JennWeideman opened #868 "Join page J-1 text body update"
found at https://www.operationcode.org/join
please add Active Duty, and spouse to text
<img width="1440" alt="join screen j-1" src="https://user-images.githubusercontent.com/34632742/36345777-18fb5722-13f7-11e8-9b2f-be1134537a33.png">

[2018-02-17 21:45] JennWeideman opened #870 "Join screen 3 J-3 remove drop down, label change, content update"
Found on third step of  https://www.operationcode.org/join
1.Please remove first drop down we already asked this on previous step

2. Second drop down title needs ownership removed that is implied with the word "Your" branch of service

3. Second drop contents  need a "other" type option to allow for all previous steps of joining process to remain true
Like I support all troops, or whatever is cre

[2018-02-17 22:12] #858 closed

[2018-02-17 22:32] jjhampton commented on #867
This will need to be coordinated with the back-end team, as it will require some changes to the DB schema for users. @hpjaj Should we create an issue there?

[2018-02-17 22:44] jjhampton commented on #867
For the UI, a single select-dropdown (where a user only selects one of these categories) for the UI is not optimal here, since the categories aren't mutually exclusive.

A user can fall into more than one category, for example, be a Veteran & Tech Professional & Sponsor. Or be Spouse & Family Member. Or be Active Duty & Volunteer.

Because of how these statuses can intersect, why not split up this

[2018-02-18 04:05] JennWeideman commented on #867
@jjhampton  I differ to you and @kylemh

[2018-02-18 04:10] JennWeideman commented on #867
could a temp patch be fix the typo?? add "/" between active duty and vet

then add    "/other " to volunteer

[2018-02-18 11:50] neosiae commented on #865
I've just found 500 Internal Server Error -> https://operationcode.org/code_schools @hpjaj @kylemh

I am also getting the error when I try to pull the data from the database.

[2018-02-18 18:36] hpjaj commented on #867
@jjhampton - yes pls

[2018-02-22 15:20] wimo7083 commented on #13
I'd like to work on the map component for this. Please assign this to me.

[2018-02-22 20:51] rahulravindran2709 commented on #868
@JennWeideman I would like to work on this content issue.

[2018-02-22 21:06] JennWeideman commented on #868
Sounds good, I'm assigning myself as a temporary placeholder for your work @rahulravindran2709

[2018-02-22 21:08] rahulravindran2709 commented on #868
![screen shot 2018-02-22 at 5 07 33 pm](https://user-images.githubusercontent.com/7100759/36564238-fc68890e-17f2-11e8-9dd6-cc4ec63771dd.png)
@JennWeideman does this look good?

[2018-02-23 00:31] JennWeideman commented on #868
Thank you Yes, small tweak to stay true to our own wording on the site : "but we welcome" should come after spouse and family I think? thanks again fast work
attaching image so you can see
<img width="1440" alt="screen shot 2018-02-22 at 6 26 56 pm" src="https://user-images.githubusercontent.com/34632742/36571805-50123054-17fe-11e8-84fe-e448fd1f87e8.png">

[2018-02-23 04:14] wimo7083 opened #877 "user discussion: user signup flow"
# Change User Signup Experience
## Why is this feature being added?

Currently our user flow is this:
1. Person somehow makes it to our signup page without getting lost elsewhere
2. Person signs up and never joins slack
3. If they don't join slack they are lost to void
## What should your feature do?
From today's townhall it was discussed that we could treat the signup event as a slack redirect, f

[2018-02-23 04:25] JennWeideman commented on #877
@kylemh

[2018-02-23 15:07] elbaumpj commented on #520
Hi @JennWeideman could I give this a go? I'm looking for my first OS contribution and figure this would be a good place to start.

[2018-02-23 19:17] wimo7083 commented on #13
![image](https://user-images.githubusercontent.com/10781353/36611917-48107674-1892-11e8-83ce-07a323036eb2.png)

What I'm leaning towards is using something similar to this, the backend database stores [events](https://github.com/OperationCode/operationcode_backend/blob/44d068609017e58e4ece0c16080c731e3c064cf1/db/schema.rb#L31) along with user location. I'm thinking two types of markers for events,

[2018-02-23 20:33] JennWeideman commented on #520
@elbaumpj yes sir
I'm assigning myself as a placeholder for your work! Thanks for joining the efforts here!! Good luck if you have any questions just ask these guys are incredibly helpful

[2018-02-26 01:33] justin-ichiro-choi commented on #518
Hey folks!

Is this still in progress?

[2018-02-26 14:51] JYoung217 opened #878 "Update Code Platoon Logo"
# Feature
## Why is this feature being added?
Code Platoon has updated its logo and I am updating our original photo to reflect that.

[2018-02-26 16:15] #878 closed

[2018-02-27 10:45] Adeiye commented on #613
I would love to handle this issue. As a beginner, where do I start from

[2018-02-27 16:05] jjhampton commented on #613
@Adeiye This issue is currently assigned to @tal87 , who submitted a PR for it some time ago. It hasn't yet been merged in, as requirements for what's needed haven't been clarified yet.

If you're interested in contributing, please review https://github.com/OperationCode/operationcode_frontend/blob/master/CONTRIBUTING.md .

[2018-02-27 16:07] wimo7083 commented on #13
![image 3](https://user-images.githubusercontent.com/10781353/36739395-02768fb4-1b9d-11e8-86ec-aa7773b17e22.png)

Here's a simple local implementation of a google maps, react component with a few markers.

To Do list:
- [ ] Make distinct markers for member and event
- [ ] On hover event markers show marker info
- [ ] Filter by marker type

What I need:
User location data (preferably lat lon)
Meetu

[2018-02-27 17:16] JennWeideman opened #880 "Home page"
So in an effort to raise mission success a we would like to highly prioritize a little restructuring/moving items of the home landing page to the about page.

We would like to move the “picture of the family” and “what we do” section from the home page to the about page.

top coder banner will stay on home landing page at the bottom.

top of the screen will stay the same too

the items will be rep

[2018-02-27 17:25] JennWeideman commented on #877
@kylemh should this and all issues involved be moved to a project?

[2018-02-27 17:33] JennWeideman commented on #520
Hi there @elbaumpj hows this going?

[2018-02-27 18:09] JennWeideman commented on #880
the get involved part isn't part of this issue

![image uploaded from ios](https://user-images.githubusercontent.com/34632742/36746041-f2bd1146-1bb6-11e8-84da-3f96c94b0bf0.jpg)

[2018-02-27 18:18] elbaumpj commented on #520
hey @JennWeideman going well, I'm looking to have something to show tomorrow. When the time comes for my PR, where in the codebase would you like the markdown file?

[2018-02-27 18:21] sarahdwyer commented on #877
Might be more clear to have an alert message that tells users to check their email to access Slack

[2018-02-27 18:30] jjhampton commented on #880
Since this is marked as high priority, I vote that we pause on development of the navbar-related issues that touch the family/hero image until this is done (#459, #460, #461, etc).
thoughts @kylemh  ?

[2018-02-27 18:43] JennWeideman commented on #520
@hollomancer after done will you help with video if needed

[2018-02-27 18:44] JennWeideman commented on #520
@elbaumpj thats a question for @kylemh

[2018-02-27 18:55] JennWeideman commented on #520
waiting on script answer

temp placement of finished video will be in README.md on `START_HERE`

final home  should be embedded on `/get_involved` whenever that route is created thats being worked on by @ksmacleod99

[2018-02-27 19:16] JennWeideman commented on #880
Family hero image moving to the About page,  same placement just at top of about now?
does that help

[2018-02-27 19:25] jjhampton commented on #880
Sure - #459 affects the code for both the nav and the hero image. If this is a priority, I'm saying to pause development on #459 until this is finished. Otherwise we're working on two separate issues simultaneously that will be making changes to the same code.

[2018-02-27 19:26] JennWeideman commented on #880
@jjhampton sounds good to me.

[2018-02-27 19:26] JennWeideman commented on #880
would you like me to mark as hold temporarily

[2018-02-27 19:29] jjhampton commented on #880
Go for it, I'd prefer to get some feedback from Kyle and the other maintainers

[2018-02-27 19:31] JennWeideman commented on #880
@kylemh is really busy right now it temp, who are the others you have in mind? will you tag them

[2018-02-27 20:07] JennWeideman commented on #880
![img_9660](https://user-images.githubusercontent.com/34632742/36752018-6eca50d6-1bc7-11e8-914e-c1e05a3cf16f.jpg)

words can go inside logo boxes or outside logo boxes your pick.

[2018-02-27 23:43] FRodrigues21 commented on #364
Is this issue still available? I'm a rookie trying to make my first contribution.

Came up with this simple solution: https://i.gyazo.com/696b232edeace1c6ab199679fceebab2.png

Is it reasonable?

Also, I don't see the contact information in the school data being retrieved from the backend, where should one get the school email?

[2018-02-28 00:04] wimo7083 commented on #364
Hi there. It looks like the data isn't being retrieved because it's [not stored](https://github.com/OperationCode/operationcode_backend/blob/master/db/schema.rb#L18).

We use information provided to us by codeschools, so including it to the backend would require changing the schema, and then searching codeschools for emails, and then updating the database.

I'm sure there's a programmatic way to d

[2018-02-28 00:14] jjhampton commented on #364
I agree @wimo7083  - the mockup from @FRodrigues21 looks good to me. Let's create an issue in the back-end repo to adjust the schema.

[2018-02-28 00:18] FRodrigues21 commented on #364
@wimo7083 alright I will be on standby waiting for the backend changes ;)

[2018-02-28 00:23] jjhampton commented on #364
@davidmolina re: 'Long-term, we should explore a mechanism to track numbers of outbound inquiries that can be monitored by leadership. This data can help us track whether our efforts are working, and to what extent we should expand efforts.' - now that we have Google Analytics , maybe a short-term thing that could fill part of this need is using Google Analytics to track outbound clicks on the sch

[2018-02-28 01:14] #859 closed

[2018-02-28 02:19] jjhampton commented on #877
I worry that some users literally may not know what Slack is (so they'd be reluctant to sign up), or would not want to go through a second sign-up process for something, after they've already signed up for the OC site. I like the idea of a one-time signup process as @wimo7083 suggests.

[2018-02-28 02:27] JennWeideman commented on #877
I have confirmed data from last 24 hours, 26 users signed up on operationcode.org 15 made it into slack. which means 11 didn't make it to our slack team. So last 24 hours was roughly 58%

[2018-02-28 13:42] JennWeideman commented on #880
<img width="1440" alt="will image red ink" src="https://user-images.githubusercontent.com/34632742/36790281-e811e584-1c59-11e8-910c-d5c756990b66.png">

Please use medal only logos(not medal with name)
only words should be the action label. and that can be inside or outside the boxes

the background colors  at bottom of original issue can be found
https://operationcode.org/branding
@jjhampton @wimo

[2018-02-28 19:45] wimo7083 commented on #877
Does our slack agreement come with any support? Are we able to contact them and ask what type of solutions they have for this single sign up?

[2018-02-28 20:01] hollomancer commented on #877
@nellshamrell and I were talking about what it would cost to move to Slack Enterprise, which would enable SSO for us.

[2018-02-28 20:05] wimo7083 commented on #880
![image 5](https://user-images.githubusercontent.com/10781353/36810445-f1ef6774-1c87-11e8-8b99-8b90f6f403c6.png)
@Jenn currently what it looks like in #882

[2018-02-28 20:10] Jenn commented on #880
@wimo7083 hey there! Wrong Jenn - but this project looks great! High fives to all of you!

[2018-02-28 23:37] dave5801 commented on #864
@jjhampton Is this issue still open?

[2018-03-01 00:06] jjhampton commented on #864
@dave5801 Yes, however it's currently assigned and has a PR that has been submitted and is waiting in the backlog for review/approval.

[2018-03-01 01:51] #852 closed

[2018-03-01 02:02] #868 closed

[2018-03-01 02:28] jjhampton commented on #520
@JennWeideman The script is now uploaded to GitHub -

[2018-03-01 02:28] jjhampton commented on #520
\

[2018-03-01 02:28] #520 closed

[2018-03-01 02:34] wimo7083 commented on #364
@nellshamrell will be around shortly to explain our action.

[2018-03-01 02:34] #364 closed

[2018-03-01 02:37] wimo7083 commented on #880
Haha thank you.

[2018-03-01 02:39] wimo7083 commented on #880
Things that need to be done:

- [ ] Fix the background being white
- [ ] Fix spacing with the medals and alignment
- [ ] Disable video and medal for mobile and make two links for donate and join us
- [ ] Remove Donate from header
- [ ] Move picture and what we do to about page.

I'll try and get to this tomorrow, I probably wont get another hour tonight.

[2018-03-01 02:40] nellshamrell commented on #364
Hello all!  Thank you for the interest and passion I'm seeing displayed in this issue :)  I've made the decision as CTO to not have us attempt to track and maintain code school email contact information.  The reason for this is that email contact info (especially for code schools) often changes and it would be more of a maintenance burden on our awesome but limited volunteer resources than I see a

[2018-03-01 03:54] AshTemp opened #883 "Meetup Map"
# Feature
Meetup Map
## Why is this feature being added?

So folks can find meetups Near them.
## What should your feature do?
Let people find meetups near them!
---

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Screenshots

[2018-03-01 03:56] AshTemp opened #884 "Slack Intro page"
# Feature
Slack Introduction/Tutorial Page
## Why is this feature being added?
Slack can be very confusing for new members, this will give them an idea of what they are getting into and how slack works.

## What should your feature do?

Have screenshots of slack, explain that there are 200 channels, probably explain how to leave and join channels. Encourage people to introduce themselves.
---

[2018-03-01 03:58] AshTemp opened #885 "Events and Success Stories"
# Feature
Page (or Pages?, dealers choice) that highlight our past events and user success stories.
## Why is this feature being added?
To show everyone what we've accomplished in such a short time and make people want to join/donate.
## What should your feature do?
Highlight the awesomeness that is OperationCode.
---

[2018-03-01 04:00] AshTemp opened #886 "Display accurate scholarship data at /scholarships page"
# Feature
## Why is this feature being added?
To let people know what scholarships are available and how to apply for them.

## What should your feature do?
Be an easy to navigate way for people to learn about scholarships.

Ideally, this would be done with some sort of template where the text can be quickly updated as things shift.

The current page at /scholarships is not displaying scholarship

[2018-03-01 04:01] JennWeideman commented on #880
per dm just now with @nellshamrell lets not mess with donate in header this time, leave it there. We understand its doubled.

[2018-03-01 04:08] JennWeideman commented on #883
sooo per @AshTemp slack intro is probably #1 with the map #2 events and successes at #3 and scholarships

[2018-03-01 04:12] JennWeideman commented on #884
sooo per @AshTemp slack intro is probably #1 with the map #2 events and successes at #3 and scholarships. She doesn't have an opinion right now where this goes shoot her ideas

[2018-03-01 04:17] JennWeideman commented on #885
sooo per @AshTemp slack intro is probably #1 with the map #2 events and successes at #3 and scholarships. She doesn't have an opinion right now shoot her ideas

[2018-03-01 04:18] JennWeideman commented on #886
sooo per @AshTemp slack intro is probably #1 with the map #2 events and successes at #3 and scholarships. She doesn't have an opinion right now shoot her ideas

[2018-03-01 16:30] JennWeideman commented on #520
Thanks guys!!!

[2018-03-06 04:35] jjhampton opened #887 "Mobile: Team page cards have overflowing text"
# Bug Report
## What is the current behavior?
On mobile-phone-size screen widths, the executive staff cards on the /team page display as a two-column layout. This causes the cards to be very thin, and allows the text to overflow outside of the boundaries of the cards. (see screenshots below)
## What is the expected behavior?
Display a single-column layout of cards on mobile-phone-size screen-width

[2018-03-06 06:11] #887 closed

[2018-03-06 06:24] #864 closed

[2018-03-06 07:57] kylemh commented on #520
Been so busy, but I wanted to thank you for the script @elbaumpj !

We'll try to put this to video by end of April!! I'll tag you here when it's done.

[2018-03-06 13:15] elbaumpj commented on #520
No worries @kylemh -- sounds great and looking forward to seeing the video!

[2018-03-06 16:09] wimo7083 opened #889 "Code Schools Revamp"
# Modernize Code Schools
## Why is this feature being added?

We keep having changes to code schools to fit new requirements. At this point the filter logic is all over the place. We have filtering occuring in each code school sub component, additionally we have a `div` that encapsulates online and MOOC but all other types don't have this. Additionally new backend changes give us direct access to

[2018-03-06 20:19] AshTemp opened #890 "Sign up Forms behind the Id.me wall."
# Feature
## Why is this feature being added?

Sign up forms for mentors and teamtreehouse licenses that are only accessible to those that are verified with id.me.
## What should your feature do?
I need a couple of web-forms that are behind the id.me wall that also populate into a table on airtable. The table for mentors already exists but the one for teamtreehouse does not (so more freedom there)

[2018-03-06 22:26] AshTemp opened #891 "Remove 'Request Help' link to mentor request form in nav"
# Feature
## Why is this feature being added?
Currently, the nav contains a 'Request Help' link that links to the Airtable Mentor Request form.  Any links to that external form should only be displayed to users who are verified w/ ID.me, which we are not currently doing on the nav.  Showing this link to non-verified users lets them easily bypass the id.me wall to request a mentor.

We are also lin

[2018-03-07 00:27] jjhampton commented on #891
Screenshot:
![selection_018](https://user-images.githubusercontent.com/8835055/37066594-2dd17aca-2174-11e8-8a06-dea3256fbb12.png)

To clarify, this bug pertains to the NavItem link in header.js.  The large 'Request a Mentor' icon (that also links to the Airtable form) on the profile page appears to be working correctly, and only displaying for verified users.

[2018-03-07 01:17] jjhampton commented on #890
@AshTemp re: "Sign up form for mentors" - We have an unused front-end React component that was originally intended to be a mentor request form: [MentorRequest.js](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/mentorRequest/mentorRequest.js)

That form (along with the rest of our front-end) interfaces with our back-end Rails API.  However, there is currently no

[2018-03-08 04:18] JennWeideman opened #893 "update team page remove Morgan"
team page update please remove  Morgan from e-staff ? on team page no replacement.

[2018-03-08 04:31] JennWeideman commented on #889
@hollomancer  thought you might want in on this

[2018-03-08 04:35] JennWeideman commented on #890
@kylemh @jjhampton labels based on JJHamptons comment please let me know if you want them changed

[2018-03-08 04:41] jjhampton commented on #890
Backend issue: https://github.com/OperationCode/operationcode_backend/issues/259

[2018-03-09 02:36] dmarchante commented on #893
assign this to me please. already created the PR

[2018-03-09 18:18] #893 closed

[2018-03-10 02:59] tskuse commented on #891
Please assign me and remove `Available` tag. PR #895 submitted.

[2018-03-10 03:02] wimo7083 commented on #891
Have fun.

[2018-03-10 09:11] tskuse commented on #889
I took a stab at this. See #896

[2018-03-10 18:10] #891 closed

[2018-03-10 18:48] #889 closed

[2018-03-10 18:48] #880 closed

[2018-03-10 18:55] wimo7083 commented on #877
Any update on the slack Enterprise discussion?

[2018-03-10 18:55] kylemh opened #897 "MOOC Cards are indiscernible from the background on '/code_schools'"
# Bug Report
## What is the current behavior?
The ImageCards under the MOOCs section of `/code_schools` have a white background, and are indiscernible from the section background.

## What is the expected behavior?
The ImageCards under the MOOCs section of `/code_schools` should have a beige background.

## What steps did you take to get this behavior?
Visit https://operationcode.org/code_schools

[2018-03-10 21:51] wimo7083 opened #898 "Need shorter video for landing page"
# Make shorter video for landing page
## Why is this feature being added?

Right now our 11 minute video is pretty long. From quick searching 2 minutes is the maximum amount if you expect them to get all the information from it.
[just one source](https://instapage.com/wp-content/uploads/2015/12/landing-page-video-attention-span.jpg)
## What should your feature do?
Couple of options:
1. Condense th

[2018-03-11 02:15] jjhampton opened #901 "Icons not showing on Contact Page"
# Bug Report
## What is the current behavior?
Icons aren't showing on the contact page.
## What is the expected behavior?
Three large blue icons are shown, for Email, Slack Team, & Mailing Address.
## What steps did you take to get this behavior?
Navigate to http://operationcode.org/contact

### Additional Info
Likely introduced in #872 when Font Awesome was upgraded

### Screenshots

![selection_

[2018-03-11 03:19] jjhampton commented on #898
Agree, it's way too long.

[2018-03-11 03:25] jjhampton opened #903 "Mobile: About page banner text overflows"
# Bug Report
## What is the current behavior?
On the /about page, the banner text overflows out of the family picture on some mobile devices.
## What is the expected behavior?
No text overflow out of the family picture.
## What steps did you take to get this behavior?
Navigated to www.operationcode.org/about on a mobile device.
## Additional Info
### Operating System
Originally reported on iOS, al

[2018-03-11 03:30] #901 closed

[2018-03-11 21:58] kylemh opened #905 "Momentum logo not showing up with card"
# Bug Report
## What is the current behavior?
If you go to `/code_schools` and search for North Carolina in the search input at the bottom of your page, you'll find Momentum Code School. The image fails to render.

## What is the expected behavior?
If you go to `/code_schools` and search for North Carolina in the search input at the bottom of your page, you'll find Momentum Code School with it's p

[2018-03-11 22:05] #903 closed

[2018-03-11 22:21] #905 closed

[2018-03-11 22:30] kylemh commented on #870
We won't be able to simply remove the first drop-down (I'm thinking about #743 needing the input when that gets merged). Conditionally rendering it based upon if it's value already exist seems like a good way to handle that though!

Can you make your #2 and #3 instructions a little clearer @JennWeideman ?

[2018-03-11 23:48] kylemh opened #907 "Donation URL is incorrect"
# Bug Report
## What is the current behavior?
Every donation link on the site links to: https://opencollective.com/operationcode#support

## What is the expected behavior?
It should be linking to https://opencollective.com/operationcode-collective#

[2018-03-11 23:52] kylemh commented on #518
@justin-ichiro-choi it's an open PR that's blocked by figuring out the infra behind the process (subdomain and maybe separate repo hosting).

[2018-03-11 23:57] kylemh commented on #443
@JennWeideman by putting block on this issue, it means that #70 HAS to be implemented before this one is. I'm also going to close this issue, as we haven't decided on Optimizely atm.

[2018-03-11 23:57] #443 closed

[2018-03-12 00:04] kylemh commented on #356
@davidmolina see above and decide on whether you want to simply close this issue or simply pivot to providing an informational military benefits page

[2018-03-12 00:05] kylemh commented on #489
@JennWeideman no - we'll definitely want a good wireframe on this. The Code School Card is arguably our most important component at this point in time.

[2018-03-12 17:01] JennWeideman commented on #907
@hollomancer

[2018-03-12 17:04] JennWeideman commented on #898
whomever takes this will you contact me before starting script

[2018-03-12 17:23] hollomancer commented on #907
Per conversation with @JennWeideman, this needs to be donorbox.org/operationcode now

[2018-03-13 02:31] cutiepatootiebear opened #910 "Policy page"
# Feature
## Why is this feature being added?

This page will act as an information and RSVP feature to Operation Code's Policy agendas and events.
## What should your feature do?
Collect data on who has RSVP'd and display information on Policy.

Allow users to fill out the upcoming Public Policy event through google forms:
https://goo.gl/forms/kJUhtxHConEVKpy23

[2018-03-14 00:24] tskuse opened #911 "Remove 'forums' link from Contact page"
# Bug Report
## What is the current behavior?
The [Contact](https://operationcode.org/contact) page currently links to the retired forums.

## What is the expected behavior?
No links to the retired forums should be present.

[2018-03-15 00:55] nellshamrell commented on #877
Unfortunately, Slack Enterprise does not have an SSO solution itself.  Both enterprise and our current plan allow us to use a 3rd party ID service for SSO (i.e. we could use something like LDAP for both the Operation Code login and Slack login).  This would be a costly addition in terms of time and effort - while I'm open to anyone exploring it, I'd rather keep our focus on the current roadmap and

[2018-03-15 05:52] kylemh opened #912 "School Logos in Partner Schools section are failing to load on /code_schools"
# Bug Report
## What is the current behavior?
Partner schools have broken image links.

## What is the expected behavior?
Partner schools should use the GitHub raw content API to grab their image URLs.

[2018-03-15 05:59] #912 closed

[2018-03-15 17:18] #907 closed

[2018-03-15 17:21] wimo7083 opened #915 "Research changes to .eslintrc"
# Feature
## Why is this feature being added?

update project level .eslintrc so that we all have same style issues
## What should your feature do?
Use a standardized editor config for prettier+ eslint. So new contributors and current can have the same style and don't have to worry about globals.

[2018-03-15 17:25] wimo7083 opened #916 "Integrate Prettier on Pre-commit Hook"
# Feature pre-commit hook for prettier
## Why is this feature being added?

again, help with style changes to make sure any differences in users will ultimately be due to
## What should your feature do?
standardize all pull requests and contributions.

[2018-03-15 17:35] wimo7083 commented on #897
Started working on this. Cannot override the color in `moocCards.js` the color is set to `#FFF` in the `imageCard.js`. Will need to change the ImageCard component to accept an optional color prop that defaults to white.

[2018-03-15 18:46] thoughtbyte opened #917 "Image optimization"
# Feature
## Why is this feature being added?
It looks like a lot of images used on the site are not optimized. The homepage pulls in ~3.5MB, and that's hurting the site's desktop score badly on pagespeed insights. It looks like that can be cut down to 2.0MB.

## What should your feature do?
Optimize images during the production build process. Adding an [imagemin](https://github.com/imagemin/image

[2018-03-15 18:57] wimo7083 commented on #634
@JennWeideman is this needed since we are using donorbox?

[2018-03-15 18:58] kylemh commented on #917
We're aware of this issue! Thank you for documenting it. We already have a script in place to prevent further large images, but we need to downscale the big dumb images already in place.

[2018-03-15 19:01] thoughtbyte commented on #917
do you not want a pr?

[2018-03-16 05:26] kylemh commented on #917
@thoughtbyte you’re more than welcome to submit a PR of reduced image sizes. Keep in mind it shouldn’t be a blanket reduction of some percentage. The biggest culprit is a MASSIVE image that’s only visible within a small circle. It’s actual dimensions should be reduced and the image should be severely reduced. I think it’s around 400kb right now, but it should be more like 30.

[2018-03-16 20:01] heliocola opened #918 "Forgotten reference to Lieutenant in Maintainers.md"
# Bug Report
## What is the current behavior?
Forgotten reference to Lieutenant in Maintainers.md

## What is the expected behavior?
Reference Sergeant instead

## What steps did you take to get this behavior?
Not applicable

[2018-03-16 20:17] heliocola commented on #918
This would be a good opportunity for a beginner.
If someone wants to pair and go through the process I can help, otherwise give it is too small I can quickly do it.
Any takers?

[2018-03-16 20:31] jjhampton commented on #918
Assigning myself as a placeholder for @heliocola

[2018-03-17 02:06] marieram commented on #884
Hi @AshTemp, I'm new to open source and would like to work on this. I think the slack intro can get added to the profile.

[2018-03-17 03:38] AshTemp commented on #884
@marieram I'm not sure what you mean by the profile. The idea here is to create a page on the site that gives folks an intro into what slack is and how we use it to leverage our community. We're still working on designing this page so maybe I'm not quite understanding what you have in mind?

[2018-03-17 03:42] marieram commented on #884
@AshTemp I was suggesting where it can go based on the comment before. Sorry, I'm new to this.

[2018-03-17 03:45] AshTemp commented on #884
Don't apologize for trying to learn :) I think I sent you a message on the actual slack.

[2018-03-17 17:00] #918 closed

[2018-03-17 17:13] jjhampton commented on #910
As with some of the other proposed new pages, we need a plan for how this page will be linked / navigated to from the main OC site.

[2018-03-17 18:45] jjhampton commented on #911
@hollomancer Are the forums 'officially' retired? Just want to make sure before we remove all links to them. I still see a bit of (very infrequent) activity there.

[2018-03-17 19:00] jjhampton commented on #884
Self-assigning as a placeholder for @marieram

[2018-03-17 19:55] jjhampton opened #920 "Landing Page Redesign"
# Feature
## Why is this feature being added?
This is a follow-up issue to #880, and it's one of the priorities on our front-end [roadmap](https://github.com/OperationCode/START_HERE/blob/master/ROADMAP.md).
#880 was the initial attempt at adding the YouTube video and Join/Donate links to the homepage.  Let's add to that idea, but with a design that is more aesthetically appealing and offers a bet

[2018-03-17 19:56] jjhampton commented on #920
@kylemh I've assigned this to you since you expressed interest on Slack in working on the initial implementation of the designs.

[2018-03-18 12:03] ksmacleod99 opened #921 "General Assembly NY Duplicates"
# Bug Report
## What is the current behavior?
General Assembly NY is listed three times

## What is the expected behavior?
Should be listed once

## What steps did you take to get this behavior?
https://operationcode.org/code_schools

[2018-03-18 13:08] #921 closed

[2018-03-19 21:39] wimo7083 commented on #897
Letting Allen take this one, he's got it done with a style that matches the rest of the page (not beige).

[2018-03-19 21:39] AllenAnthes commented on #897
Stealing this with permission from wimo.

@kylemh are you sure it's the background color that needs to change?  To me it looks like it was just missing the shadow-style/hover effect.

![image](https://user-images.githubusercontent.com/27715246/37623766-d2b6693c-2b93-11e8-8f5e-014524ea225a.png)

[2018-03-19 21:48] wimo7083 commented on #911
Go ahead and remove the links. Also there's a few others to `community.operationcode.org`

see `signUpSection.js`  and `questions.json`

[2018-03-20 00:12] nellshamrell commented on #910
Would it be possible to add this to the main nav bar?  Or in a dropdown from the main nav bar?

@cutiepatootiebear looks like we need a little more detail - can you provide the wording for this page and a little more info about how you'd like to see how it connects to that google form?

[2018-03-20 00:17] nellshamrell commented on #910
Are you looking for just a url to that google form?  i.e. operationcode/policy?  Or do you need a page with additional copy?

[2018-03-20 07:46] kylemh commented on #634
@reddysridhar53 apologies for my extremely late response. Seeing as we're using Donorbox, I'd really prefer to close this issue. Developing an in-house donation system or even presentation seems like a large waste of time. @JennWeideman

I know not the perks of doing so - if I'm wrong, lemme know and let's get a wireframe done for Reddy.

[2018-03-20 07:49] kylemh commented on #920
Thanks for doing that! I realized that I should take a step back - this is a rarely well-documented issue complete with content and mock-ups. I'd like to leave this one up to the community 💯

[2018-03-20 07:50] #897 closed

[2018-03-23 01:39] jjhampton opened #927 "Add self to OC Challenge for TownHall"
Townhall Demo

[2018-03-23 01:56] JennWeideman commented on #927
Awesome

[2018-03-23 02:01] #927 closed

[2018-03-23 04:52] michaeltombor commented on #911
Hello, I would like to remove these links for you guys, if it is still available.

[2018-03-23 17:12] jjhampton commented on #911
@michaeltombor Sounds good, go for it. I'll assign myself to this issue as a placeholder while you do your work. Look forward to seeing your PR!

[2018-03-24 19:20] NestorSegura commented on #12
Sorry, to long away from this issue, is this idea still alive? or is it under work right know? if there isn't nothing yet, I have some time know so I would create the page.

[2018-03-24 19:40] kylemh commented on #12
@NestorSegura @ksmacleod99 has an open PR for it, but there are plenty of available issues!

[2018-03-24 21:11] kylemh opened #929 "Integrate Image Compression/Magnification In Build Process"
# Feature
## Why is this feature being added?
Thanks again to @thoughtbyte for the initial issue.

While the images currently in place have been optimized, we need a build process implemented to ensure that future added images are automatically minimized.

## What should your feature do?
Implement `image-webpack-loader` or `imagemin-webpack-plugin` on `webpack.config.prod.js` to automatically opti

[2018-03-24 22:01] #915 closed

[2018-03-24 22:01] #916 closed

[2018-03-25 00:24] NestorSegura commented on #12
thanks @kylemh, I will look around =)

[2018-03-25 00:28] NestorSegura commented on #920
Hey There, I can jump in to this implementation. Would you assign this issue to me?

[2018-03-25 00:33] wimo7083 commented on #920
Assigned myself as placeholder for you. As a reminder, please try and stick to the [contributing guidelines](https://github.com/OperationCode/operationcode_frontend/blob/master/CONTRIBUTING.md#github-workflow)

[2018-03-25 00:45] NestorSegura commented on #920
all right. I put my hands on it.

[2018-03-25 02:16] kylemh commented on #929
Moved all assets to AWS S3 with a CDN planned for the future.

Images will be hosted and provided by project maintainers moving forward, rendering this issue as **wont fix**.

[2018-03-25 02:16] #929 closed

[2018-03-25 03:17] kylemh opened #930 "Defer loading of Raven script"
# Feature
## Why is this feature being added?
<img width="896" alt="screen shot 2018-03-24 at 7 18 21 pm" src="https://user-images.githubusercontent.com/9523719/37871048-e3dce5b6-2f98-11e8-8391-0cedad5380b3.png">

Raven is a non-critical asset that is acting as render-blocking item. Make it async or defer it to get a faster "first paint".

## What should your feature do?
Use `defer` or `async` on

[2018-03-25 03:21] kylemh opened #931 "Use AWS S3 bucket for all images and delete local assets"
# Feature
## Why is this feature being added?

1. We're not supposed to be using GitHub as an asset API.
2. We'll eventually be moving to a CDN, and AWS pairs well with CDNs.
3. By guarding access to asset generation, we'll ensure higher quality assets (optimized, properly resolute).

## What should your feature do?
Remove all local image imports and access them via XHR --> AWS

Here's a list of a

[2018-03-25 16:52] NestorSegura commented on #920
Hi guys, do you know where can I change the global blue color ?

![grafik](https://user-images.githubusercontent.com/11391161/37877557-4668ae12-305d-11e8-8759-48bc1cbebd14.png)

I think I just need to change that color, and I am ready.

![grafik](https://user-images.githubusercontent.com/11391161/37877569-7c1b091a-305d-11e8-8a58-96a2f96df74f.png)

I left the topcoder banner the same, as if we set

[2018-03-25 18:03] wimo7083 commented on #920
The icon's get their style from [here](https://github.com/OperationCode/operationcode_frontend/blob/master/src/shared/components/iconCard/iconCard.css
)

There's a variable within the style sheet called `currentColor` for the `.iconCard: color`

In the folder `public/images/icons/` there are four SVG files.
1. Flag-Icon.svg
2. Road-Icon.svg
3. Shared-Icon.svg
4. Suitcase-Icon.svg

With an attribut

[2018-03-25 18:16] kylemh commented on #920
@NestorSegura unfortunately we've assigned that color all over the place. You'll have to do a project-wide find+replace on every instance of that hash. Despite having the mocks for this, I didn't realize you'd follow them so perfectly and wasn't mentally prepared for the new color scheme.

I'm asking in the Slack team to see if we're actually going through with the new color scheme. If we are, we'

[2018-03-25 18:19] kylemh commented on #920
Lastly, if we DO change our theming, we can't do it half-assedly...

I'll  just make a judgement call on this so you can keep working. Execute the mock without color changes. I'll make a separate issue on changing the color scheme on the website if it's decided that is the direction we should go.

[2018-03-25 21:16] marieram commented on #884
@AshTemp Hey, I'm not fluent in JS and might have been way over my head. I'd like to give this opportunity to someone else.  I'll be back to contribute in the future.

[2018-03-26 21:41] jjhampton commented on #866
Closing this, duplicate of #931

[2018-03-26 21:41] #866 closed

[2018-03-27 00:34] nellshamrell commented on #910
This has been discussed thoroughly in both Slack and in the exec meeting.

Let's move forward with this:

1) Create a new page at operationcode.org/policy with this design https://invis.io/MPGIPYN8U5G#/287254321_OC_Capitol_Hill_Hero_1
2) Add a banner to the existing home page (perhaps above David’s video) announcing the event
3) Link that banner to operationcode.org/policy

[2018-03-27 03:34] keg63490 commented on #884
I can give this a shot. It will take a bit as I don't have any experience with React. However, it looks like this is a great opportunity to start getting familiar with it!

[2018-03-27 18:37] keg63490 commented on #884
@AshTemp For placement in the webpage, I was thinking in the profile section next to the Slack link as @marieram suggested. However, the icons in that page are currently nice and even and adding another link would knock that out of balance. One thing we could do is add another row and have one icon at the bottom in the middle. So, it would look like

* *
* *
* *
 *

Then, the link to slack and the

[2018-03-27 19:09] jjhampton commented on #884
@keg63490 I'd prefer to not show modals when hovering over something, as this is not something that is easily implemented on a mobile/touchscreen.  IMO, just adding another icon is fine - that keeps it simple and intuitive, and doesn't require multiple clicks.  It's also consistent with the pattern we've established to get to some of the other pages (clicking on an icon).

[2018-03-27 22:22] keg63490 commented on #884
@jjhampton Sounds good. I agree and will press forward with that.

[2018-03-28 01:11] AshTemp commented on #884
Ok, so I think y'all  missed the part where there is no design for this page yet. This issue is for the standalone page for the community.

[2018-03-28 03:38] jjhampton commented on #910
I'd like to take a stab at this one this weekend.
@nellshamrell, do you know who created this design? I'll need to get a copy of the background image.

[2018-03-28 03:42] jjhampton commented on #920
I agree with @kylemh  - let's keep the scope of this PR to implementing the mockup (even if some of the colors aren't exact). A project-wide change of the website's color scheme is a large branding change that deserves it's own issue.

We'll need to be cognizant of things like this when we introduce new UI designs into the site.

[2018-03-28 04:20] cutiepatootiebear commented on #910
Hey John, the design was made by community member Laura. Let me ping her to get the image.

—
Jameel Matin

--- original message ---
On Tue, Mar 27, 2018 at 08:38 pm, <notifications@github.com> John Hampton wrote:

I'd like to take a stab at this one this weekend.

@nellshamrell, do you know who created this design? I'll need to get a copy of the background image.

—

You are receiving this becaus

[2018-03-28 17:49] lianthompson commented on #884
I'd be happy to work on this page!

[2018-03-28 18:01] wimo7083 commented on #884
Hi @lianthompson currently the issue is taken by @keg63490. There is a possibly that they would like to work alongside you. Please join our \#oc-projects channel in our slack if you want to discuss further.

[2018-03-28 18:57] vsan21 commented on #911
Willing to remove the links if not worked on! I'm a beginner and new to open source so always looking for any beginner-friendly issues!

[2018-03-28 19:12] jjhampton commented on #911
@michaeltombor Just checking - any progress on this issue yet?

[2018-03-29 16:08] JennWeideman commented on #910
@cutiepatootiebear @jjhampton do you guys have everything you need for this?

[2018-03-29 17:46] michaeltombor commented on #911
Hello John,

No I have not made progress yet, but I will work on it today.

Thanks for checking in

On Wed, Mar 28, 2018 at 12:12 PM John Hampton <notifications@github.com>
wrote:

[2018-03-31 00:11] nellshamrell commented on #920
Hey all :)  Let's bring @JennWeideman into here, as I know she played a big part in the design and made the executive decision on the darker design.

@JennWeideman - it sounds like it's going to be a much bigger job to implement the dark version of the site than expected.  Because we are an all volunteer organization, and I know this change needs to happen in a timely fashion - how would you feel

[2018-03-31 00:12] jjhampton commented on #910
@JennWeideman I should be good for now - Jameel has sent me the background image, and the design mockup is pretty straight forward. I'll let you or him know if I have any other questions.

[2018-03-31 18:25] JennWeideman commented on #920
@nellshamrell Okay making a second issue to do darker design sounds like a good idea.

[2018-03-31 18:31] christiandavidturner commented on #911
I can give this a shot if need be!

no worries if not.

[2018-03-31 18:45] jjhampton commented on #911
@christiandavidturner Thanks, let's give @michaeltombor a few more days to get his work in. Our (un)official policy is to give people 14 days (2 weeks) to start pushing up work for a claimed issue.

[2018-04-01 05:21] kylemh opened #934 "Redesign School Card UI"
# Feature
## Why is this feature being added?
https://github.com/OperationCode/operationcode_backend/issues/281
https://github.com/OperationCode/operationcode_frontend/issues/948

Currently, some code schools have multiple locations.
Some code schools even have multiple campuses within the same city and state.
The current card only displays a code school's city and state.
There is no way to differ

[2018-04-02 00:52] jjhampton commented on #934
It would be nice to be able to click on the 'Many Campuses' text, and then the card could possibly expand somehow to show all of the campuses. Perhaps the text could be colored as a link, and be something like '[Multiple Campuses &#9660;](https://github.com/OperationCode/operationcode_frontend/issues/934)' - the down caret would be a affordance clue to the user indicating that the text was a click

[2018-04-02 16:24] wimo7083 opened #936 "feature/ notify IE11 users they are unsupported"
# Feature
## Why is this feature being added?

Some way of notifying users that IE11 is unsuported, so we don't have to answer this question again.

## What should your feature do?
Convey to users that we understand the view doesn't look right, and they should use a supported browser.

notification banner, or browser redirect or something that indicates they need to user to use an updated browser.

[2018-04-03 16:39] AllenAnthes commented on #934
I should be able to take care of this.

[2018-04-03 18:07] jjhampton commented on #934
I'd say only for those within the same city - it's pretty useful to list separate campuses individually that are in different states, so people can find a school near them with the state search.  Any ideas @kylemh ?

[2018-04-03 18:13] AllenAnthes commented on #934
I guess I have two different questions.

1. Consolidation.  Just same city or all campuses in the same state.  I agree that having a separate card for at least each state is useful.

2. Multiple campus link/panel.  This could be added to any school that has multiple campuses (while still creating a separate card for them) or only when consolidating what were previously different cards.

[2018-04-04 06:08] #910 closed

[2018-04-04 06:38] kylemh commented on #934
@AllenAnthes I missed the question in those 2 bullets 😂

Personally, I'm even fine with just text saying: Multiple Locations

the link will get them to the appropriate code school where  they can determine further information.

[2018-04-07 04:07] jjhampton commented on #911
@vsan21 Looks like this one still needs working on - can you still help out?

[2018-04-10 19:02] jjhampton commented on #911
ping @christiandavidturner Are you still able to help w/ this one?

[2018-04-10 19:59] michaeltombor commented on #911
Yes John,

It is my first contribution so I am reading on how to go about updating. I
am still going to do it.

On Tue, Apr 10, 2018 at 12:02 PM, John Hampton <notifications@github.com>
wrote:

[2018-04-10 21:05] erathinam commented on #936
Hey! I am new to open source contribution and this will be my first issue. Can i work on this??

Thanks.

[2018-04-10 22:53] christiandavidturner commented on #911
I'm still down but I can defer to @michaeltombor

[2018-04-11 03:29] michaeltombor commented on #911
Hey @christiandavidturner go ahead and take this one.

[2018-04-11 04:57] #920 closed

[2018-04-11 05:29] erathinam commented on #936
This is what i have in my mind right now.

![popup](https://user-images.githubusercontent.com/25442277/38597795-88a4c244-3d0e-11e8-99e7-d57cb93f1558.png)

Let me know if it needs to be improved.

Thanks.

[2018-04-11 05:43] wimo7083 commented on #936
I was looking for the description from @kylemh he said he wanted a redirect and new page, but I can't find that statement anywhere.  I think your design looks fine, just want to make sure your time isn't wasted cause I can't find the requirements.

[2018-04-11 05:53] kylemh commented on #936
@erathinam I'd prefer that the entire page be covered in the message. I don't want people to be able to interact with or see our app if they're using an unsupported browser.

[2018-04-11 06:11] erathinam commented on #936
@kylemh Ya. im thinking of removing the close button like the below one, so user would not be able to interact with the app. And also, should i just enable the notification bar for  ie<=11?
![popup1](https://user-images.githubusercontent.com/25442277/38599141-0c3f998a-3d14-11e8-965b-fd0ee8f091f4.png)

Let me know what you think.
Thanks.

[2018-04-11 15:22] kaciej opened #938 "Adding a school to VA approved list."
# Feature
## Why is this feature being added?
This school has just been approved to accept the Gi Bill so trying to help get the word out.

## What should your feature do?
Show the school info and logo.
http://vschool.io/
Logo : http://coursework.vschool.io/content/images/2016/10/v-school-abbreviated-coursework-logo.jpg
Name: V School
Location: Salt Lake City, Ut
GI Bill Accepted: Yes
Commitment:

[2018-04-11 15:25] ksmacleod99 commented on #938
I told our new member to add this issue; I will adjust if this is not the correct course of action :)

[2018-04-11 22:43] erathinam commented on #936
Sure. I can do that. It will look like this one.
![popup3](https://user-images.githubusercontent.com/25442277/38646867-976dfa08-3d9e-11e8-92db-cfc8fd69c8fd.png)
Also, if this is ok, can i go ahead and commit it. So, should i create a new branch with name as "feature/ notify IE11 users they are unsuported". Push my changes to this and create a  pull request as mentioned in git workflow. Sorry to as

[2018-04-12 00:28] wimo7083 commented on #936
If you think it's ready for a PR, go ahead and do it. I'd be more assertive with the message.

The message you're saying is implying there might be issues, IE 11 is a known issues. It's a conscious decision to not support it due to effort and security. I'm sure the content of your message will get fleshed out in the PR.

[2018-04-12 14:32] AshTemp opened #939 "Change contact us email on OpCodeCon Page"
Please change the contact us for sponsorship email on the OpCodeCon page from staff@operationcode.org to eilish@operationcode.org .

[2018-04-12 14:36] wimo7083 commented on #939
This occurs both in front and backend. I'll work on it.

[2018-04-12 15:25] christiandavidturner commented on #911
PR created!

Let me know if anything else needs to be tweaked.

[2018-04-13 01:55] dearhakeemdavis commented on #938
Hello, excited to begin contributing to this group. May I claim this issue?

[2018-04-13 02:10] dearhakeemdavis commented on #934
Hello, may I work on this issue?

[2018-04-13 02:26] AllenAnthes commented on #934
Go for it.  I had thrown together a fix for the duplication but I felt like my solution was really ugly/hack-y.  I got swamped with other work before getting a chance to play around with it.
https://github.com/AllenAnthes/operationcode_frontend/commit/cc85f3eb4c5e365aec20f6e32ca27296c870b3ec
Feel free to use that if you don't feel like going in a different direction.  My thinking was just to keep

[2018-04-13 04:15] jjhampton commented on #938
@dearhakeemdavis Thanks for offering - but the process of adding code schools is mainly back-end work. I'm closing this issue and opening one in our back-end repo:  https://github.com/OperationCode/operationcode_backend/issues/298

[2018-04-13 04:15] #938 closed

[2018-04-13 04:29] jjhampton commented on #936
The message looks a bit vague to me - ''Please upgrade your browser for a seamless experience" could lead users to continue to try and use IE, just try to upgrade its version somehow (instead of switching browsers, which is what is required in order to view the site correctly).

IMO, we should explicitly tell state that the IE browser is ***not*** supported, and list which browsers ***are*** suppo

[2018-04-13 13:32] #939 closed

[2018-04-13 14:34] #911 closed

[2018-04-13 15:18] wimo7083 opened #942 "feature/ new form for code school addition"
# Feature
## Why is this feature being added?

Asked to make this issue by the BE team for the work that's almost done. This will be a new route on pybot and a new form hosted by pybot for codeschool addition to the database.

## What should your feature do?
1. Render form with required fields
2. Validate form before submisison
3. Prevent spamming through timeout
4. Get recaptcha verification toke

[2018-04-13 18:15] erathinam commented on #936
@jjhampton  Thanks for the suggestion. I had that thought too in my mind. Il go ahead and change it. il try to add icons too. Also, i have some small questions about the right way to put my code into repo. Would it be ok to ask those questions in slack channel. How to get invite to the  slack channel? Should i sign up at this link? https://operationcode.org/join.

[2018-04-14 14:49] jjhampton commented on #942
@wimo7083 re: '1. Format posted on github/ and which user credentials posted to github?' are you suggesting that the code school request information & logo would be posted as a GitHub issue by this form?

[2018-04-14 15:34] wimo7083 commented on #942
Yes it will be posted on either FE or BE. When I asked @hpjaj he said BE would be okay.

[2018-04-14 16:10] hpjaj commented on #942
I did not say it would be OK, I was clarifying what the intent of your form was.  That is why I asked you to create this issue, so we could discuss:

- what the goal is
- the best way to accomplish it for the OC

We will shortly have the ability to do CRUD actions code schools in the admin dashboard.  And we will be able to give that level of access to OC members of our choosing.

So @jjhampton ,

[2018-04-14 17:37] jjhampton commented on #942
Good questions.

I'm also assuming that the goal is for an OC user (particularly code school reps) to request the CRUD actions for a code school.

@wimo7083 : Is the form is powered by PyBot because we're assuming that code school reps (or whoever is requesting new schools) will find it easier to request this from within Slack?

@hpjaj: I also agree that a form should eventually be in the FE react

[2018-04-14 19:07] wimo7083 commented on #942
The whole point of the form is the perform data validation, and provide us with a contact with them before they submit. This is not to trigger database changes but relieve some of the pain points:

1. Required information is missing
2. Image has improper size and dimensions
3. Contact information for the rep submitting so that we can verify specific items

The reason I'm using the github issue is

[2018-04-14 20:35] jjhampton commented on #942
@wimo7083 re: Using a new GitHub repo to provide transparency & issue tracking for code school reps: That could work, but I'm worried that it'd just be another thing that would require maintenance and oversight. I've already noticed a few of the other OC GitHub repos (not the main FE and BE ones) had stale comments/PRs that went months without replies since they weren't being monitored.

@hpjaj Wo

[2018-04-15 15:51] hpjaj opened #943 "the team page is not pulling info from the `TeamMember` db table"
# Bug Report
## What is the current behavior?
The team page is not pulling info from the `TeamMember` db table: https://operationcode.org/team

You can confirm what the contents of the db table are by running this `cURL` command:

[code]

## What is the expected behavior?

- [x] Ensures the contents of the team page are being pulled from the [`TeamMember` collection endpoint](https://operationcode

[2018-04-15 16:08] jjhampton commented on #943
Thanks for reporting @hpjaj  - I'll take a look at using the API endpoint for team members instead of the static client-side files today.

[2018-04-15 22:43] hpjaj commented on #943
Update: https://github.com/OperationCode/operationcode_backend/issues/305 is merged - removing blocker

[2018-04-15 23:33] jjhampton commented on #943
Looks like I missed that we need an  `email` field  from the API for team members on the executive staff - reblocking for now.

[2018-04-16 03:31] jjhampton commented on #865
Closing, duplicate of the more recent #943.

[2018-04-16 03:31] #865 closed

[2018-04-16 04:29] jjhampton opened #945 "Signup form width too narrow / Submit button misaligned"
# Bug Report
## What is the current behavior?
On desktop, signup form width is too narrow (around 300px), and submit button is too narrow and misaligned to the right. Seems to be an issue with the ordering / specificity of the CSS classes on the form and button. Strangely enough, I can't reproduce this issue on my local dev environment, but I see it on production. Leading me to think it might be a

[2018-04-16 21:29] jjhampton commented on #945
May need to update to `extract-text-webpack-plugin@3.0.0` or higher - see https://github.com/webpack/webpack/issues/5106

[2018-04-17 02:43] #943 closed

[2018-04-17 04:01] wimo7083 commented on #942
Since all y'all subscribed:
http://operationcode-pyback.us-east-1.elasticbeanstalk.com/new_school

This is what is currently available. Cannot upload images yet, think it's something to do with elastic beanstalk configs `.ebextensions/options.config` https://forums.aws.amazon.com/thread.jspa?threadID=116772

Ashley has already suggested to switch the on values to off. Any suggestions I'd appreciat

[2018-04-20 06:35] #945 closed

[2018-04-20 17:45] kaciej opened #947 "Update V School Card"
# Feature
Change the "Hardware Included" on V School to "Yes".
## Why is this feature being added?
V School is now including a Mac laptop in a scholarship for all Veterans that go through the Full-Stack program.

Keeping the veterans informed.
## What should your feature do?

---

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get th

[2018-04-20 18:07] kaciej opened #948 "Include "Housing Included" in the School Cards"
# Feature
"Housing Included" should be on the school cards.
## Why is this feature being added?
Many coding boot camps include free housing for their students for the duration of their course, and i think that knowledge could be a big game changer for those seeking the right school to attend.
Schools that offer free housing that I know of: V School, 42, Dev Mountain, and CodeMasters Academy.
Schoo

[2018-04-20 18:14] wimo7083 commented on #947
Awesome thank you for the update.

Updated database just now and it's already live:
![image](https://user-images.githubusercontent.com/10781353/39066974-467b5eea-4494-11e8-98db-3b09c8bdef10.png)

[2018-04-20 18:16] #947 closed

[2018-04-21 02:39] jjhampton opened #949 "Remove policy banner to RSVP for April 19 policy event (now in the past)"
# Feature
## Why is this feature being added?
This event should have occurred on April 19 (now in the past) - so let's remove the banner invite on the front page linking to the policy page:

![selection_043](https://user-images.githubusercontent.com/8835055/39079537-bbd663dc-44ea-11e8-8544-f16c9699b9de.png)

## What should your feature do?
Remove the `PolicyBanner` component from the landing page.

[2018-04-22 19:09] jjhampton opened #951 "Fix Launch School image & use S3 URLs for partnered school logos"
# Bug Report
## What is the current behavior?
Launch School partnered school card on www.operationcode.org/code_schools shows the logo for Launch Code (wrong logo).  The logo URLs in the `PartnerSchools` component are also not using AWS S3 URLs - still referencing GitHub images.
## What is the expected behavior?
Correct logo is displayed, and image URLs are sourced from AWS S3.
## What steps did y

[2018-04-22 19:29] #951 closed

[2018-04-23 00:30] jjhampton opened #953 "Notification badges missing CSS styles"
# Bug Report
## What is the current behavior?
Notification toastrs are unstyled (see screenshot below).

## What is the expected behavior?
Notifications should be styled as green/red "toastrs".
## What steps did you take to get this behavior?
Log in to the website (instead of green success toasts in top-right, an unstyled toastr displays below the content). Also replicated on dev when attempting t

[2018-04-23 00:46] jjhampton opened #955 "Raven not working on production"
# Bug Report
## What is the current behavior?
Getting console errors indicating that Raven (client-side logging library) is not working on production.
## What is the expected behavior?
No console errors.
## What steps did you take to get this behavior?
Navigate to www.operationcode.org, open DevTools and look at console.
## Additional Info
### Screenshots
![selection_045](https://user-images.githu

[2018-04-23 00:47] kylemh commented on #934
I've updated OP and unassigned this issue.

I'd like to see new designs before moving forward.

[2018-04-23 00:47] kylemh commented on #948
Closed for #934

[2018-04-23 00:51] #948 closed

[2018-04-23 00:51] kylemh commented on #936
Unassigned and restrictive label removed. There should be enough discussion above for this issue to get tackled.

Also see https://www.sitepoint.com/internet-explorer-conditional-comments/

[2018-04-23 01:04] #953 closed

[2018-04-23 01:21] kylemh opened #956 "Integrate Hygen for uniform component generation"
# Feature
## Why is this feature being added?

There's a lot overhead and context required to create components exactly the way the OC team wants them created. By integrating Hygen, we can instruct new contributors to start new components with a command line generator ensuring uniform code structure.

## What should your feature do?
Leverage http://www.hygen.io/ via a script under `/scripts` and/o

[2018-04-23 04:33] ZacharyKearns commented on #955
Looking at the window object on the OC page shows that Raven is defined. Makes me think it is being called before it is loaded. One possible find is to check to make sure it is defined first.

`if (window.Raven) {
  Raven.config(...).install()
}`

[2018-04-23 22:15] erathinam commented on #936
i'have been busy with school so couldn't keep it active. @kylemh But the conditional comments are not supported for IE10 and 11. As of now, im trying to find the ie browser(and not edge) by !!document.documentMode(tested it on ie11 that returns true and for edge it returns false). Regarding the design , this is what i have.
![popup4](https://user-images.githubusercontent.com/25442277/39155911-d374

[2018-04-24 22:59] ambergkim commented on #934
Proposed new card style:
- vertical,
- only lists features (gi bill accepted, full time, hardware, housing) if they do have these available. Otherwise, don't list them at all.
- All locations for schools at the bottom. if all locations don't fit, truncate and add 'more locations...' which would turn on an overlay to show more locations (see bottom most card)

@kylemh

<img width="440" alt="screen

[2018-04-25 19:01] ambergkim commented on #934
2nd version
<img width="474" alt="screen shot 2018-04-25 at 11 35 30 am" src="https://user-images.githubusercontent.com/14047327/39266984-5e6abd3a-4880-11e8-84b7-af44ecede88e.png">

[2018-04-28 00:30] Wimsy113 commented on #934
I designed a new school page a few months ago when we first started kicking around ideas about redesigning it. I'ma leave a link here cause I'm not sure if anyone saw it or not.

https://invis.io/C5FGCJU4YSB

[2018-05-03 18:32] kirbygit opened #960 "Add Firehose Project to Code Schools section."
# Feature
## Why is this feature being added?

Firehose Project is in the process of a possible partnership offering a scholarship to eligible veterans in the Los Angeles Area. For now add them to the Code Schools section -> Online Schools
## What should your feature do?
Add the Logo attached to this issue
1. The logo is attached for Firehose Project
2. Currently not accepting the G.I. bill
3. Loc

[2018-05-05 22:24] jjhampton commented on #960
Closing, duplicate of back-end issue: https://github.com/OperationCode/operationcode_backend/issues/341

[2018-05-05 22:24] #960 closed

[2018-05-05 22:28] jjhampton commented on #942
@wimo7083 What's the status on this? Looks like it's still being served via that URL. Will we be able to go live, or give out this link to code school reps (or anyone else who wants to request code school additions?)

I think we should be able to go live w/ an MVP as long as it either posts submissions as a GitHub issue, or Slack messages people w/ admin dashboard access. We can try either idea an

[2018-05-05 22:29] jjhampton commented on #955
Assigning self as placeholder for @ZacharyKearns - currently reviewing PR.

[2018-05-06 00:42] kylemh commented on #936
I'm happy with that design 👍

[2018-05-06 03:45] jjhampton opened #962 "Polyfill rAF in test environment to prevent CI build warnings for tests"
## What is the current behavior?
Travis CI build currently displays the following warning:
[code]
## What is the expected behavior?
No warnings.  We can follow the pattern used in create-react-app to fix this: https://github.com/facebook/create-react-app/pull/3340/files

[2018-05-06 03:59] jjhampton opened #963 "Donation links are broken on FAQ page"
# Bug Report
## What is the current behavior?
Originally reported by @kmugrage in Slack - the link for donations on https://operationcode.org/faq is broken in a few places (redirects to a 404/error page).
## What is the expected behavior?
Clicking the link should send the user to https://donorbox.org/operationcode, same as when a user clicks the 'Donate' link in the nav at the top of the page.
##

[2018-05-06 04:10] jjhampton opened #964 "Modularize every usage of Lodash methods"
# Feature
## Why is this feature being added?

Currently we’re using `import _ from 'lodash'`, usually simply to leverage `lodash.get()` - this imports the entire 70kb lodash library for a single function.
## What should your feature do?
We should use syntax such as `import getValue from 'lodash/get';`. This can reduce the size of our app's bundled JavaScript payload.

[2018-05-06 04:17] jjhampton opened #965 "Outline a user's current profile information on Profile page"
# Feature
## Why is this feature being added?

Currently nothing about the dashboard shows any user data, which seems strange.
## What should your feature do?
Display a user's data in some way on the Profile page at /profile.  Mostly for dev testing purposes, but also so a user can be more confident that the dashboard relates to their account.

## Design / Content request
Please post content/desig

[2018-05-06 14:47] cndragn commented on #963
Hi!  Im new to pull requests and this would be my first one here...Id like to take this one if possible?

[2018-05-07 16:32] cndragn commented on #963
Whoops just saw this! I worked on it when I made the  request... just need to make the pull request now :smile:

[2018-05-07 16:40] jjhampton commented on #963
@cndragn Go for it - we also encourage any contributors to join our Slack channel - let me know if you need an invite!

[2018-05-07 16:42] cndragn commented on #963
Done! I hope I did it the request and everything right.  Yup! Im in Slack, a little quiet lol but would like to get more involved :smile:

[2018-05-07 16:44] jjhampton commented on #963
Cool, I see you now. PR review on the way, thanks!

[2018-05-07 16:50] #963 closed

[2018-05-08 19:45] jvillama commented on #964
I can take this.

[2018-05-08 19:47] ksmacleod99 commented on #964
Go for it! I'm going to assign myself as a placeholder for you.
C @jjhampton

[2018-05-09 15:12] #964 closed

[2018-05-11 03:11] nagano564 commented on #962
is this claimed?

[2018-05-14 07:36] kylemh opened #971 "Allow for mentorship requests to the back-end without using AirTable form"
# Feature
## Why is this feature being added?
The back-end team has [enabled the endpoints necessary](https://github.com/OperationCode/operationcode_backend/pull/344) to make mentorship requests without AirTable. ~We would like IDME-verified users to be able to request a mentor once logged in on our website.~

## What should your feature do?
1. Create a new item on the user dashboard, visible to a

[2018-05-14 12:04] ksmacleod99 opened #972 "Only use common link module for all references to our donation link"
# Feature
## Why is this feature being added?
Easy management of donation links across website

## What should your feature do?
All extraneous references can be found in this PR: https://github.com/OperationCode/operationcode_frontend/pull/970#pullrequestreview-119688814

Essentially, `import commonUrl from 'shared/constants/commonLinks';` at the top of any file linking to a donation page (convert

[2018-05-14 12:26] rishu2482 commented on #972
Thanks.
Will submit a PR as soon as possible.

[2018-05-15 09:35] rishu2482 commented on #972
Hey @ksmacleod99 ,
I have moved below urls(mentioned in #970) to constant and other required changes.
https://secure.lglforms.com/form_engine/s/BRtP7QUKyHOyEYsZROsRew
https://secure.lglforms.com/form_engine/s/L428AQ2rrsFJQyy5Fbglvg

Raised a pull request. Please review it and let me know if any thing else required.

[2018-05-19 05:34] #972 closed

[2018-05-19 05:47] jjhampton opened #974 "Deprecation warning for loaderUtils in dev & production builds"
[code]

[2018-05-19 05:49] jjhampton commented on #974
see https://github.com/webpack/loader-utils/issues/56

[2018-05-19 05:57] jjhampton commented on #335
Closing, the Browserstack badge was actually in CONTRIBUTING.md, and was deleted in fa2e0972020e08dc93 . #113 is still open, and we can re-implement the badge at a later time, if needed.

[2018-05-19 05:57] #335 closed

[2018-05-19 17:38] jjhampton opened #975 "Update /team page to match updated organizational structure"
# Feature
## Why is this feature being added?

We've recently had some changes to our organizational structure. Conrad Hollomon will be taking over as CEO, and David Molina will be taking over as Board Chairman. See https://operation-code.slack.com/archives/C03GSNF6X/p1526522524000038

Per additional Slack discussion in `#oc-projects`, I've already updated the following roles in the Admin Dashboar

[2018-05-21 04:14] nisha-kaushik commented on #974
Hey,
I am looking for beginner issues to take up, Is this issue still available? Let me know in case of any other help.I would love to contribute.

[2018-05-21 13:01] jjhampton commented on #974
@nisha-kaushik There's currently a PR pending for it.  Usually, if an issue is already assigned to someone, it's already been 'claimed'.  Feel free to take a look at any of the other open issues in the repo, though!

[2018-05-21 13:49] nisha-kaushik commented on #974
Ok. Thanks :)

[2018-05-21 15:26] wimo7083 commented on #884
@keg63490 How are you progressing on this, any blockers we can help with?

[2018-05-21 15:41] AshTemp commented on #975
Also add David Marchante as Mentor Coordinator since you already have an issue open.

[2018-05-21 15:52] jjhampton opened #978 "On /team page, last row is misaligned if only two cards"
Visit https://operationcode.org/team, view the last row of the Executive Staff.  The two cards should both be aligned to the left, instead of one on far-left, one on far-right.

Likely an issue w/ flexbox and flex-wrap.  Will post screenshot later.

[2018-05-21 20:12] jjhampton commented on #978
There's a few hack-ish solutions for this w/ Flexbox, but we could also use the new CSS Grid spec to fix this: https://stackoverflow.com/a/46099319

[2018-05-21 20:17] jjhampton commented on #978
Should be able to just center the cards if there's only two in the row - in [team.css](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/team/team.css), change `.boardMembers` and `.executiveStaff` from `justify-content: space-between` to `justify-content: center` .

[2018-05-22 07:32] hollomancer commented on #975
Made a couple changes - I am no longer on the board.

[2018-05-22 07:33] hollomancer commented on #975
We can also change "Executive Staff" to just "Staff.

[2018-05-22 22:12] jjhampton commented on #978
I'm going to add the fix for this to PR #976 , since it's still in progress and has changes to the same page (`/team`).

[2018-05-26 01:10] sethbergman commented on #898
Maybe by using this as the video URL would be a quick fix. Not sure where the video should stop though.
`https://www.youtube.com/embed/xN7yMoe38xc?rel=0&modestbranding=0&start=78&end=275`
@JennWeideman

[2018-05-26 01:38] sethbergman commented on #955
@jjhampton @ZacharyKearns I'm about to push a possible solution. I'm not able to see if it's catching any errors, but I've setup the code according to the docs.

[2018-05-26 01:42] #974 closed

[2018-05-26 02:15] #955 closed

[2018-05-26 15:40] jjhampton commented on #978
Fixed in #976, commit b063aea8e0e

[2018-05-26 15:40] #978 closed

[2018-05-26 15:42] jjhampton commented on #936
@erathinam How's the progress coming on this? If you've started some work but haven't finished yet, feel free to push up a branch and open up an 'in-progress' PR, so someone else can see where you're at and help if necessary.

[2018-05-26 15:46] jjhampton commented on #898
Here's a link to the video that was on the older OC Rails site. It was a little longer, but the production and content were both top-notch. It's a few years old now and is a bit dated, but if we do a new video, re-using that type of format (interviews from founders / staff / volunteers / success stories) could work.

[2018-05-26 15:49] erathinam commented on #936
@jjhampton I have started it long back but was faced with problems when trying to hit any other urls(ex: /jobs) some components on that overlay on notification message. So I'm planning to set up a route and display the message. Il try doing it this week. Il meanwhile do what you said.

[2018-05-26 15:55] jjhampton commented on #754
@kylemh Now that social-logins is complete, to fix this, do you want to proceed with one of the following?

a) Proceed with your [proposal](https://github.com/OperationCode/operationcode_frontend/issues/754#issuecomment-350071583) (conditional "Go Back" button behavior)
b) Eliminate the back button

[2018-05-26 15:59] jjhampton commented on #634
I vote to close this as well, since we're using [LittleGreenForms](https://www.littlegreenlight.com/online-donations/) (it replaced Donorbox). Unless anyone voices objections, let's close this in a week or so.

[2018-05-26 16:04] jjhampton commented on #971
Overlaps with #890

[2018-05-26 16:06] jjhampton commented on #883
Overlaps with #13

[2018-05-26 21:07] hollomancer commented on #413
Time for stage 2!

Per convo with @ksmacleod99, intent here is to add the ability to highlight specific job opportunities for both our community, and potential funders. If we can spotlight specific job opportunities, specifically ones that we can provide a direct reference for, we could help get vets into jobs a bit more easily.

[2018-05-26 21:44] jjhampton commented on #413
@hpjaj How difficult would it be to add a table to the DB for 'job postings', so we could perform CRUD actions on sponsored job postings as described above via Admin Dashboard?

Wondering if that data could be exposed via API to a front-end component, which could fetch them via http call.

[2018-05-26 21:50] jjhampton commented on #532
@kylemh Does this still need to be open? package.json shows that we're already on React v16 .

[2018-05-26 21:51] jjhampton commented on #153
Overlaps with #936 - this can be closed once that is finished.

[2018-05-26 22:24] jjhampton opened #982 "Display featured jobs on Jobs Page"
# Feature
## Why is this feature being added?

To highlight specific job opportunities for both our community, and potential funders. If we can spotlight specific job opportunities, specifically ones that we can provide a direct reference for, we could help get vets into jobs a bit more easily.
## What should your feature do?

We are still scoping this out, so the following requirements are in flu

[2018-05-27 15:43] hpjaj commented on #982
@jjhampton - re:

Np at all.

1. What attributes would you be looking for on a `JobPosting` db table?
2. Would there be any relationships to any other db tables?

Can you pls expand on this?

[2018-05-27 20:36] charlessipe commented on #886
Would the scholarship content be hard coded or be stored in a database?

[2018-05-27 21:42] kylemh commented on #532
@jjhampton nope

[2018-05-27 21:42] #532 closed

[2018-05-28 15:47] jjhampton commented on #982
@hpjaj re: 'Can you pls expand on this? Do you just mean endpoints that the BE exposes to the FE for the CRUD actions?' - Yes, that's correct. Mainly an API endpoint to `GET` featured/highlighted Job Openings, so the FE can then display them on the page.  I'm envisioning the other CRUD actions (create, update, delete) could be handled via Admin Dashboard.

[2018-05-28 16:03] hpjaj commented on #982
@jjhampton - Gotcha. Questions for you:

1. What attributes would you be looking for on a JobPosting db table?  Here are some ideas.  Additions/removals/changes?
- title
- source
- location
- description
- status

2. Would there be any relationships to any other db tables?

[2018-05-28 17:55] jjhampton commented on #982
@hpjaj Those attributes look pretty good for a minimal set of requirements.

For `location`, perhaps we could have individual `city`/ `locality` / `country` attributes instead for eventual sorting/filtering/searching? (example: 'Detroit', 'Michigan', 'USA').

Is `source` the organization which is sponsoring the Job Opening and requesting it to be posted on our board?

We could probably also use a

[2018-05-28 19:07] #634 closed

[2018-05-28 19:07] kylemh commented on #754
eliminating the back button seems good to me.

[2018-05-28 19:15] hollomancer opened #983 "Add data use consent to signup flow"
# Feature
## Why is this feature being added?
As we grow, we need to start tightening up our use of data. We need to ensure that users who are signing up for our site have read and understood;

* terms of use
* code of conduct
* privacy policy

As well as understand how their data will be treated as a part of Operation Code.
## What should your feature do?
Add a way of ensuring that new members ca

[2018-05-28 19:20] kylemh commented on #983
Do you mean like a:

"Read this... Do you agree?" system for all 3 of those links?

[2018-05-28 20:08] hollomancer commented on #983
Pretty much, plus a corresponding entry in the backend to record the date which this took place.

[2018-05-28 20:41] hpjaj commented on #982
@jjhampton @hollomancer - What is the priority level for this feature set?

If the priority level is low, and since this is not fully teased out yet, it would make sense to hold off on any BE work until the client-side MVP is in place.

If the priority level is higher, they can be done in parallel, and I can create an issue (or update https://github.com/OperationCode/operationcode_backend/issues/3

[2018-05-28 20:49] hollomancer commented on #982
My gut reaction is to replicate the data model Ziprecruiter currently has as an MVP. Priority level is a bit higher, as we were discussing getting a design for the client-side MVP started by the end of this week.

[2018-05-28 20:53] hpjaj commented on #982
np, I'll take care of it myself.  We can always update the db table, if/when needs be.

[2018-05-28 21:27] kylemh commented on #983
@hollomancer is that specifically required by the policy? Registration date would be good enough for me, otherwise.

[2018-05-29 00:17] jjhampton commented on #982
Self-assigning, I'm going to start work on creating a rough design for this tomorrow night.

[2018-05-29 23:21] nellshamrell commented on #983
Hello!

Just went through the Privacy Shield docs in depth and want to share what they are and how the affect us (skip down to the bottom for what we need to do).

This is indeed motivated by GDPR.

# What is Privacy Shield?
- way of ensuring that we are compliant with user data requirements of GDPR.  Although we have few non-US members, we do have some volunteers from outside the US, and even if

[2018-05-30 19:10] erathinam commented on #936
When tried to commit,  during the precommit phase "npm run image-size" failed. so i had to install "image-size". is this a thing that should be added to package.json. If so, i can update my PR.

[2018-05-30 21:04] jjhampton commented on #936
@erathinam The Git pre-commit hook checking for image sizes should have been removed months ago: see 86bcce034773dd . So that _shouldn't_ be running anymore.

Can you try updating your local repo by rebasing it on Operation Code's current `master` branch, and then try again? If you continue to run into issues, please ping someone in the `#oc-projects` Slack channel.

[2018-05-30 21:09] erathinam commented on #936
@jjhampton Yes. But i see "npm run image-size" section in package.json in the master branch. So i think this should be removed too.

[2018-05-30 21:13] jjhampton commented on #936
@erathinam Ah, yeah, that's somehow related to the linter, looks like.  Feel free to go ahead and remove the `"*.{jpg,jpeg,png,gif,svg}": "npm run image-size"` from package.json for now.

Whenever you open your PR, we'll go ahead and upload the image to our AWS S3 anyway, and remove it from the GitHub repo.

[2018-05-30 23:52] erathinam commented on #936
Cool. PR opened.

[2018-06-01 23:55] charlessipe commented on #886
Is there a list of scholarships that has already been compiled for the scholarship page?

[2018-06-02 20:33] jjhampton commented on #982
Rough draft design - listing out the 'Featured Jobs' above the searchable 'Search All Jobs' area:

![selection_056](https://user-images.githubusercontent.com/8835055/40880629-8585bc56-6682-11e8-8ebd-f80badbe7d20.png)

[2018-06-02 22:46] kylemh commented on #982
looks great to me!

[2018-06-02 22:48] hollomancer commented on #982
Perfect!

[2018-06-03 00:08] jjhampton commented on #886
@charlessipe Eventually they would likely be stored in the DB, and fetched via API. We have an Admin Panel where non-devs can update content without delving into the code.

But, for MVP it could likely be a static JSON file - as @AshTemp noted above: "template where the text can be quickly updated as things shift".

[2018-06-03 14:41] wimo7083 commented on #942
The form is implemented here: http://operationcode-pyback.us-east-1.elasticbeanstalk.com/new_school

The issues are sent to: https://github.com/OperationCode/operationcode_backend/issues

[2018-06-03 14:41] #942 closed

[2018-06-03 15:35] jjhampton opened #986 "Add code school request form link to Code Schools page"
See #942
The form is live at URL http://op.co.de/code-school-request

[2018-06-03 15:37] jjhampton commented on #986
Detail required:
Where on the page do we want to display the link?

[2018-06-09 17:57] charlessipe commented on #886
<img width="1144" alt="scholarships" src="https://user-images.githubusercontent.com/7402611/41194649-d3393b52-6bd3-11e8-8a73-fec0cba43f2d.png">
There is already a scholarship page for logged in users.

[2018-06-09 18:51] #936 closed

[2018-06-09 18:54] jjhampton commented on #886
Good call @charlessipe . I'm going to update this issue so it displays up-to-date scholarship information fetched via API from our DB.

[2018-06-09 20:08] jjhampton opened #987 "Update David Molina's title on landing page"
# Feature
## Why is this feature being added?
![selection_064](https://user-images.githubusercontent.com/8835055/41195594-5ce004ce-6bfe-11e8-9a03-97f025d5f97c.png)

David Molina is no longer the Executive Director, he is now the Founder / Board Chair.
## What should your feature do?

Update the text on the landing page to reflect his correct role.

[2018-06-09 20:56] jjhampton commented on #153
Closing, #936 is finished.

[2018-06-09 20:56] #153 closed

[2018-06-10 17:30] #987 closed

[2018-06-10 17:33] kylemh commented on #540
Gonna consider this a won't do. I'll integrate redux into the new repo

[2018-06-10 17:33] #540 closed

[2018-06-12 00:33] ksmacleod99 commented on #842
I'm still tracking this. I'm going to make some time this week to review how storybook works

[2018-06-12 16:59] pedrotp commented on #986
I am happy to tackle this, as soon as I get some guidance about where to put the link

[2018-06-12 17:06] jjhampton commented on #986
A simple one-liner with a link, immediately below the "We encourage you to check out the schools below, do your research, and ask fellow techies in our Slack Community." would work for me.

Something like "Code schools - if you'd like your school to be listed here, please fill out our [request form](http://op.co.de/code-school-request)."

Thoughts @dmarchante @kylemh ?

[2018-06-13 12:59] pedrotp commented on #986
Ok, sounds good. I will submit a PR shortly, and happy to incorporate any feedback on styling once folks see it.

[2018-06-13 13:23] jjhampton commented on #986
@pedrotp Sounds good - I'm self-assigning myself to this issue as a placeholder while you work on it.

[2018-06-13 14:13] pedrotp commented on #986
Done. Let me know if you think I should make any changes to the text, link or description here.

[2018-06-16 01:11] kylemh commented on #842
@ksmacleod99 yeah we just removed the Status: In Progress label on every issue 💃

[2018-06-16 01:28] ksmacleod99 commented on #842
Well yes, I just wanted y'all to know I haven't forgotten <3

[2018-06-17 18:17] #986 closed

[2018-06-19 19:53] seabassgonzalez commented on #12
This should be closed as per @wimo7083 's PR, yes? 

[2018-06-19 23:29] dmarchante commented on #983
anyone assigned to this issue yet?

[2018-06-19 23:33] dmarchante commented on #982
@jjhampton how are we looking on this?

[2018-06-19 23:36] dmarchante commented on #982
Also @hollomancer is this truly a high priority? @hpjaj have you built out the BE for this?

[2018-06-19 23:40] dmarchante commented on #931
can anyone finish this out while reworks the FE, or would you rather finish this out when you have time @kylemh

[2018-06-19 23:41] dmarchante commented on #956
is this not part of your current task @kylemh? if so, do you mind assigning yourself to this? if not, disregard

[2018-06-19 23:44] dmarchante commented on #934
@kylemh @jjhampton can we get a consensus on the direction we want to go in?

[2018-06-19 23:45] dmarchante commented on #898
why is this blocked?

[2018-06-19 23:47] dmarchante commented on #890
Is this blocked or do we just need to build out the front end @jjhampton

[2018-06-20 01:31] jjhampton commented on #934
I like @ambergkim 's [first design](https://github.com/OperationCode/operationcode_frontend/issues/934#issuecomment-384105978) and explanation of the functionality (dropdown to show 'more locations').  @Wimsy113 's design is nice, but as a user, I'd like to see the details on the initial view of the card (GI Bill accepted, Full-time / Part-time, etc) without requiring a click on the card.  That wa

[2018-06-20 01:32] jjhampton commented on #898
@dmarchante I'm guessing because no one's written the script or created the video? 'Blocked' may be the wrong label - someone just needs to do all the things.

[2018-06-20 01:37] jjhampton commented on #890
@dmarchante Not blocked - the back-end team has done their part, we just need to build out the front-end part. I'm going to assign myself to #971 (which overlaps with this) and start on that. This will be a good one to get ironed out while @kylemh is still working on the front-end rewrite.

[2018-06-20 01:43] jjhampton commented on #890
@AshTemp The work for the mentorship request form is in #971 , which I will start working on.

Do you still need a separate form for people to request TeamTreehouse licenses?  If so, we can create a another issue for that.

[2018-06-20 01:47] jjhampton commented on #934
Whoever takes on this issue, keep in mind the requirements for code school logos:

- https://github.com/OperationCode/operationcode_frontend/wiki/Adding-a-Code-School-Logo#image-modification
- https://github.com/OperationCode/operationcode_frontend/blob/master/CONTRIBUTING.md#code-school-images

[2018-06-20 02:08] jjhampton commented on #971
Update per @AshTemp:
This form will be available to all members, regardless of ID.me verification status. The form should have a checkbox from the user with language similar to:
`I certify that I am a member of one of the following categories: Veteran, Active Duty, Military Spouse.`
cc @hollomancer

[2018-06-20 02:10] jjhampton commented on #890
per @AshTemp via Slack : "we need the forms for Treehouse, mentor requests, and Linux academy but they no longer need to be behind the id.me wall"

Issues for Treehouse & Linux Academy forms will need to be created.

[2018-06-20 03:39] sethbergman commented on #490
This can be made available. Here is a good reference: https://github.com/kentcdodds/all-contributors

[2018-06-20 16:43] Wimsy113 commented on #934
So I went through the entire page before I did my design and there were alot of things that I noticed that I sort of felt like I alleviated in my design, I noted that there were:

There's an explosion of information

A lot of schools

A lot of schools with a lot of locations

A lot of schools with a lot of locations that were all listed individually (there's 17 listings for General Assembly's onli

[2018-06-20 17:53] Wimsy113 commented on #934
Okay so this page that I submitted was actually from when there was a call to redesign the entire page. I submitted this because I did want you guys to see what I'd had in mind as far as the cards for the schools. The explanation was just that, an explanation as to what went into my design.

I do think that we do need to keep accessibility in mind when redesigning the UI for the cards, because the

[2018-06-20 19:03] Wimsy113 commented on #934
With that in mind, here's a revamped version of the cards, it's open, and it displays the information clearly, I figured to circumvent the schools with many campuses, we just add a link to the location pages for said sites, and that'll cut down on the information that has to be displayed on the card. The symbols are pretty cut and dry, if it offers the service it's colored in, if not, it's grayed

[2018-06-22 18:07] rgoc123 commented on #870
Hey guys, I'd like to tackle this issue if it hasn't been claimed yet

[2018-06-22 18:13] ag-kylemh commented on #870
I'm on my work account, but go ahead!

[2018-06-25 13:12] lebilly commented on #842
I want to give this a shot since I haven't used storybook before and want to learn how to integrate it into my projects if this issue hasn't been taken by someone.

[2018-06-25 13:14] lebilly commented on #931
I'll take this one. I'll reach out to you @kylemh via Slack.

[2018-06-28 20:48] rgoc123 commented on #870
Hey guys. I just submitted the pull request.

[2018-06-29 01:45] kylemh commented on #842
@lebilly this is a great task for you, since @ksmacleod99 is busy.

It looks like Storybook is no longer working, so you may need to upgrade some dependencies in a PR to get it to a working state first. Uncertain on whether or not Storybook is only not working on my machine though.

[2018-06-29 01:50] kylemh commented on #842
Yup there does seem to be a problem.

I looked into it here and found [this](https://github.com/storybooks/storybook/issues/2615).

Looks like you just need to add `ejs` to the storybook webpack config's list of excluded filetypes for file-loader (lines 28-37).

[2018-06-29 01:58] kylemh commented on #931
@lebilly feel free to take this one! The assets are already available to you via S3. The work needed here is simply to stop using the images locally via import and instead create a flexible mapping to the s3 urls.

See `src/scenes/home/codeSchools/partnerSchools/partnerSchools.js` for an example. (line 34)

I believe a better of doing this moving forward would be to map `https://s3.amazonaws.com/o

[2018-06-29 02:01] kylemh commented on #934
How do I interact with `Various`?

Also, is there any chance we can get the SVGs for these icons?

[2018-06-29 02:02] kylemh commented on #898
We'd also need somebody to film it. I think the issue is here for posterity, but nobody on GitHub can really accomplish what we need. It's just important to document that it is something that can be improved if the assets are provided.

[2018-06-29 02:02] kylemh commented on #956
WON'T DO.
Will integrate in new repo.

[2018-06-29 02:02] #956 closed

[2018-06-29 02:04] kylemh commented on #12
Merged in #871

[2018-06-29 02:04] #12 closed

[2018-06-29 02:58] jjhampton commented on #934
![screen shot 2018-06-20 at 10 34 23 pm](https://user-images.githubusercontent.com/8835055/42070849-449d3724-7b26-11e8-9a92-645a4cbf6e48.png)
related to the above question ^ @Wimsy113 This preliminary idea of yours was a few days ago in Slack's `#feed-github`, I'm reposting here so it doesn't get lost in the Slack chat ether. Feel free to update as needed.

[2018-06-29 13:43] Wimsy113 commented on #934
I’m going to change Various from a link to just part of the span for location and then “Expand for locations” will be where one will have to click or tap to open up the locations on the card.

I’m still trying to work out the interactions for the card i.e how to handle the transition for the locations, I’m thinking they’ll either flip over or slide from the bottom or top......

[2018-06-29 13:53] jjhampton commented on #934
@Wimsy113 Please keep in mind that we're currently linking to the code school website by clicking on the card. We'll need some way to link to the school website moving forward with the new design (either by clicking on the card, or a child element within the card).

[2018-06-29 16:11] Wimsy113 commented on #934
Of course! I'm pretty sure I can figure something out with this interaction.

Also I do have all the icons as svg's just tell me where I can send them.

[2018-07-01 04:38] jjhampton commented on #971
I'm still continuing to work on this form, but setting as blocked for now until the verification restriction is lifted in back-end issue https://github.com/OperationCode/operationcode_backend/issues/370.

[2018-07-02 04:23] jjhampton commented on #886
Looks like the back-end PR https://github.com/OperationCode/operationcode_backend/pull/355 was merged, and there's a 'Scholarships' section editable in the Admin Dashboard. We should be able to add up-to-date data there and see about fetching/displaying in on the front-end now.

[2018-07-03 02:49] charlessipe commented on #886
I'm interested in working on displaying the scholarship data on the scholarships page.

[2018-07-03 03:29] #870 closed

[2018-07-03 14:52] hollomancer opened #991 "Scholarships Page: Show expiration date"
# Feature
## Why is this feature being added?
Users need to know when scholarships are expiring, so that they can apply and not miss the boat.

## What should your feature do?
Show the expiration date (if present) of the scholarship.

[2018-07-03 15:38] jjhampton commented on #991
We can do this as part of #886

[2018-07-06 13:40] hollomancer commented on #886
We have some placeholder data there, I believe.

[2018-07-06 15:35] hollomancer opened #992 "Footer: Add CFC Graphic"
# Feature
## Why is this feature being added?

Lets people know that Operation Code is part of the Combined Federal Campaign.

## What should your feature do?

Add this graphic to the footer (no link)

![image](https://user-images.githubusercontent.com/9288648/42387548-9eda4872-8110-11e8-9247-c2ee7f8784df.png)

[2018-07-10 03:40] charlessipe commented on #992
Which column should the logo be added to in the footer?

[2018-07-10 14:32] hollomancer commented on #992
Hitting the brakes on this (there's an additional fee we need to pay which we're not cool with yet)

[2018-07-10 14:32] #992 closed

[2018-07-10 22:20] hollomancer opened #994 "Military status is not being passed in signup flow to the backend"
https://github.com/OperationCode/operationcode_backend/issues/373#issuecomment-403983900 is the corresponding backend issue.

Per @jjhampton, the frontend is passing https://github.com/OperationCode/operationcode_frontend/blob/c831a872ffc4579157cbedf7feb4de5f7091d649/src/scenes/home/informationForm/informationForm.js#L94

and the backend is expecting
https://github.com/OperationCode/operationcode_

[2018-07-10 23:05] hollomancer opened #995 "Include meetups scheduled next 30 days on the front page"
# Feature
## Why is this feature being added?
To highlight our meetups and chapters across the country.

## What should your feature do?
I would like to use the Meetup Pro API to put any Meetups that may be taking place in the next 30 days, on the front page. This will increase attendance and show how we make a difference in local communities.

There is a design piece here, to determine the ideal

[2018-07-11 01:33] jjhampton commented on #886
Closed via #993 and Admin Dashboard updates.

[2018-07-11 01:33] #886 closed

[2018-07-11 16:11] rgoc123 commented on #995
Hey @hollomancer, I'd be happy to work on this one the design piece is figured out.

[2018-07-11 16:17] jjhampton commented on #995
Overlaps with #883 and #214

[2018-07-12 19:00] hollomancer commented on #982
First entries;

**Gitlab**
Technical Product Marketing Manager - https://jobs.lever.co/gitlab/022890d6-549a-48fe-8891-51c13b8d1137
Senior Database Engineer - https://jobs.lever.co/gitlab/8b711f1c-d378-4383-a027-bac550aeee6d
Field Marketing Manager - APAC - https://jobs.lever.co/gitlab/f53275a2-bac6-43c8-9a7f-a1d3021c9521

[2018-07-13 00:46] #994 closed

[2018-07-13 01:38] jjhampton opened #997 "Redirect user to intended route after forced login"
# Feature
## Why is this feature being added?

Current experience:
1) Navigate to www.operationcode.org/scholarships, without being logged in
2) Click on the 'Read More' button for a scholarship, which links to the Scholarship Application Page for that scholarship
3) Since the Application Page for scholarships is an 'Authenticated Route' requiring a user to be logged on, the user is redirected to

[2018-07-13 02:00] jjhampton opened #998 "Fetch featured jobs data from API"
# Feature
## Why is this feature being added?

Featured Jobs data will be stored in our database and served up via API once back-end PR https://github.com/OperationCode/operationcode_backend/issues/365 is merged in. Once that's ready, the front-end will need to adjust its data source.
## What should your feature do?
Fetch Featured Jobs data from API endpoint instead of using the static JSON file i

[2018-07-13 02:12] jjhampton commented on #982
Closed via #985

[2018-07-13 02:12] #982 closed

[2018-07-13 07:36] sethbergman opened #999 "Remove `/employers` with Google Webmaster Tools URL Remover || SEO :bug:"
# Bug Report :bug:
## What is the current behavior?
Google is indexing an old page `/employers`. The result is displaying the 404 page in search results.

## What is the expected behavior?
Google search should not return the 404 page.

## Solution:
Remove the URL `https://operationcode.org/employers` using the [Google Webmaster Tools URL Remover](https://www.google.com/webmasters/tools/url-removal

[2018-07-13 08:03] sethbergman opened #1000 "Add a sitemap | Improve SEO"
# Feature

## Why is this feature being added?
The [Fetch as Google tool](https://www.google.com/webmasters/tools/googlebot-fetch) has a "Request indexing" feature to submit individual URLs to the index. If you have a large number of URLs to submit, it is easier to [submit a sitemap](https://www.google.com/webmasters/tools/sitemap-list) instead.

## What should your feature do?
Keep search engines

[2018-07-14 17:49] charlessipe commented on #1000
Since there are just a few important pages, we could create a XML sitemap manually and add the XML file to the public folder.

`<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

   <url>
      <loc>https://operationcode.org</loc>
   </url>
   <url>
      <loc>https://www.operationcode.org/team</loc>
   </url>
   <url>
      <loc>https://www.opera

[2018-07-14 17:56] kylemh commented on #1000
I'm okay with that compromise. With the new SSR front-end coming up, we can auto-generate our sitemap from the typical generator websites. @dmarchante / @hollomancer

[2018-07-14 21:41] dmarchante commented on #496
@kylemh @sethbergman Why is this still open, is there a reason?

[2018-07-14 21:44] dmarchante commented on #518
@tal87 Are you still following this issue?

@kylemh Is this still blocked? If so, what exactly do we need to unblock the issue?

[2018-07-14 21:57] kylemh commented on #518
@dmarchante see above comment

[2018-07-14 21:58] kylemh commented on #496
The PR that's open for this doesn't work, and it should. I was having a back-n-forth email conversation with people @ Snyk, but wasn't able to resolve the issue.

[2018-07-14 22:01] kylemh commented on #613
WONT DO

[2018-07-14 22:01] #613 closed

[2018-07-14 22:16] dmarchante commented on #496
@kylemh Can you make a quick placeholder issue? I don't want it to get lost since it was closed.

[2018-07-14 22:23] dmarchante commented on #971
@jjhampton Is this still blocked, since the PR for OperationCode/operationcode_backend#370 has been closed?

[2018-07-14 22:33] dmarchante commented on #997
@jjhampton Is there a reason there isn't a link in the nav to scholarships? I get who the target audience is, but wouldn't it make sense to have the info public with some kind of disclaimer?

[2018-07-15 02:38] hollomancer commented on #518
Would using something that isn't self-hosted, like readthedocs.io, unblock this?

[2018-07-15 16:35] charlessipe commented on #1000
Are there any pages that should be added to the XML sitemap file listed above? I went through the routes listed in home.js

[2018-07-15 16:41] wimo7083 commented on #1000
Maybe login?

[code]

[2018-07-15 20:04] rgoc123 commented on #995
@jjhampton Should I wait until those are complete before getting started? It sounds like a decision needs to be made about whether a map or a list of events or both will be on the landing page.

[2018-07-16 00:46] sethbergman commented on #1000
Great work @charlesspipe! The file should be named `sitemap.xml` and go in the public folder as @kylemh mentioned.

The more important part is for the Google Webmaster Tools admin to submit the new sitemap once the new build is live.

[2018-07-16 13:39] hollomancer commented on #1000
When the PR is merged, please assign this to me or @nellshamrell to take care of

[2018-07-18 00:43] dmarchante commented on #214
Reference: Issue #883 and #13

[2018-07-18 01:11] charlessipe commented on #1000
I submitted a pull request for this.

[2018-07-18 21:32] hollomancer commented on #991
Okay. In that case, this can be closed. I just want to make sure that we're communicating it somewhere.

[2018-07-18 21:32] #991 closed

[2018-07-19 13:49] hollomancer opened #1003 "Add some more featured jobs from LM"
These jobs should be added to the page under http://operationcode.org/jobs.

https://www.lockheedmartinjobs.com/job/boulder/junior-software-engineer/694/8366201
https://www.lockheedmartinjobs.com/job/boulder/software-engineer/694/8061488
https://www.lockheedmartinjobs.com/job/boulder/software-engineer-sr/694/8061486

Additionally, we should mentioned that only a Secret Clearance is required to sta

[2018-07-19 13:50] hollomancer commented on #1003
Put this in frontend for now.

[2018-07-20 01:50] jjhampton opened #1004 "Remove OpCodeCon page"
# Feature
## Why is this feature being added?
Unfortunately, OpCodeCon on September 19 - 20 has been cancelled. The page for it at www.operationcode.org/op-code-con needs to be taken down.

## What should your feature do?
Remove the page and all related code / references to it in the codebase.

[2018-07-20 02:07] #1004 closed

[2018-07-20 03:04] jjhampton commented on #1000
@hollomancer The PR that @charlessipe submitted has been merged, so https://operationcode.org/sitemap.xml will be served live. Going to assign this issue to you for the Google Webmaster Tools admin task, as requested.   Issue #999 also requires work on the Google Webmaster Tools site.

[2018-07-20 15:39] #1003 closed

[2018-07-21 03:13] charlessipe commented on #995
My idea for the design of this section is a gray map of the United States in the background with solid dots for cities with an active meetup group. The dots would be Operation Code turquoise. In front of the background is the text info about the next 5 meetups (date, location, event title). The heading could be "Upcoming Local Meetups" in the same style as the other headings on the page. If this s

[2018-07-21 18:17] kylemh commented on #995
We definitely want to automate this and have it be scalable. If you're planning on using an image of a map, we'll need to recreate that image whenever new cities begin hosting meetups. If we end up having a map and displaying custom icons on in it, we'll need to discuss lazy-loading the map, using Google's API (and potential costs).

For a minimum viable product, I recommend mocking out a nice-loo

[2018-07-21 19:55] hollomancer commented on #1000
Cool. Taking a look.

[2018-07-21 19:55] hollomancer commented on #995
Agreed re. MVP.

[2018-07-21 21:50] hollomancer commented on #1000
Sitemap submitted.

[2018-07-21 21:50] #1000 closed

[2018-07-21 21:51] hollomancer commented on #999
Done!

[2018-07-21 21:51] #999 closed

[2018-07-22 16:31] hollomancer opened #1007 "Design for Featured Jobs"
# Feature
## Why is this feature being added?
Provide the next design objective for the featured jobs page.

## What should your feature do?
Add company logos to the jobs page for the company, while ensuring the search functionality stays above the fold.

[2018-07-22 19:21] dmarchante commented on #518
@kylemh I leave it up to you. Personally, like the idea of closing this and moving one. My focus right now is to clear up lingering issues.

[2018-07-22 19:33] dmarchante commented on #965
@jjhampton when you say display user data, can you specify exactly what you mean (i.e. what data do you envision being displayed)?

[2018-07-22 19:43] dmarchante commented on #934
@Wimsy113 just following up with you. Are you still making progress? Do you have any roadblocks (besides time of course)?

[2018-07-22 19:44] dmarchante commented on #931
@lebilly How is progress going?

[2018-07-22 19:49] dmarchante commented on #890
@jjhampton if we create issues for Treehouse and Linux Academy forms can we close this issue out?

[2018-07-22 19:50] Wimsy113 commented on #934
I'm still just working out the interaction for the locations. I'm thinking just a link inside the card and an overlay.

Also school stuff, I'm still working on it though.

[2018-07-22 19:52] dmarchante commented on #885
@AshTemp @JennWeideman @jjhampton @kylemh Don't we have a number of issues for events and maps, already? The only reason I can see for this issue to be open if for success stories. If that is the case can we update this issue to reflect that?

[2018-07-22 19:57] dmarchante commented on #884
@kylemh @jjhampton @AshTemp I disagree with the premise of this issue. I think this can be handled with the user sign up. I am open to arguments, but I think if we fix the sign-up this becomes a non-issue. Also, I think it is strange to have a page specifically for slack on-boarding. If we communicate better who we are in our main page this issue becomes obsolete.

[2018-07-22 20:02] dmarchante commented on #877
I want some visibility and more serious discussion on this, as this may solve a lot of issues we have been experiencing as we've grown.
cc: @wimo7083 @jjhampton @kylemh @nellshamrell @hollomancer

[2018-07-22 20:05] dmarchante commented on #867
@jjhampton was an issue created? If, so please link it. If not, please create it.

[2018-07-22 20:08] dmarchante commented on #842
@kylemh @ksmacleod99 @lebilly Is there any update on progress with this issue?

[2018-07-22 20:10] dmarchante commented on #934
@Wimsy113 no worries just want to make sure it is active

[2018-07-22 20:19] dmarchante commented on #754
@kylemh @jjhampton This seems like a relatively issue to take care of it the scope is in fact eliminating the back button on the initial screen. I propose on of two solutions:

1. Get this done and close it out.
2. Tag it as beginner friendly and leave it open for a beginner.

I leave the choice to you two I am goo with either.

[2018-07-22 20:30] dmarchante commented on #490
@kylemh @sethbergman Has **ANY** work been done on this to date? If not, I would like to close this issue.

[2018-07-22 20:40] dmarchante commented on #489
Putting this on hold until we get the the code schools sorted out.

[2018-07-22 20:42] AshTemp commented on #884
This is an old issue and was one of David Molina's ideas on how to sort of
get the right message out to the right people. I agree that if we fix
signup flow this could be a non-issue.

On Sun, Jul 22, 2018 at 3:57 PM David Marchante <notifications@github.com>
wrote:

[2018-07-22 20:42] AshTemp commented on #885
This is just the success stories issue, the map has its own issue. We opened all 4 at the same time back in Feb. I think with your new ideas and new direction we can probably get rid of all of these for now.

[2018-07-22 20:45] dmarchante commented on #461
@kylemh I don't see any documentation or a linked issue. Can you update or close please?

[2018-07-22 20:46] dmarchante commented on #460
@kylemh status?

[2018-07-22 20:47] dmarchante commented on #885
sounds good. But I will leave it open for visibility for now and until the vision is completely worked out.

[2018-07-23 05:38] kylemh commented on #842
Storybook currently isn't working. The steps needed to fix it are listed above, but could be put into a separate issue to block this one 👍

[2018-07-23 05:39] kylemh commented on #754
Let's close this one and make a new beginner-friendly issue. No noise for somebody to come in and easily make the fix.

[2018-07-23 05:40] kylemh commented on #566
This is definitely epic status. I'm paying much more attention to accessibility on the rewrite and have drawn from this issue a few times. The initial ticket could be split out into multiple, smaller, more accomplishable tasks hence the [WIP]

[2018-07-23 05:41] kylemh commented on #490
None.

[2018-07-23 05:41] #490 closed

[2018-07-23 05:42] #461 closed

[2018-07-23 05:44] kylemh commented on #460
I assigned this to myself for @dave5801 - I'll unassign.

[2018-07-23 13:40] hollomancer commented on #885
Events is captured by the Meetup story right now. For success stories, there's some non-dev work that needs to happen before we can build this (interviewing our members)

[2018-07-25 13:44] bushidocodes opened #1008 "Spelling Error in Sean McBride success story"
# Bug Report
## What is the current behavior?

There's a spelling error in my success story:

"...I would have told you told you that you were nuts."

## What is the expected behavior?

The content should strike the redundant "told you" and read as follows:

"If you had told me when I separated from the military that I would eventually be the lead developer on a pretty complex piece of software, I

[2018-07-25 14:32] #1008 closed

[2018-07-26 00:37] Wimsy113 commented on #1007
![opcode_jobs_page](https://user-images.githubusercontent.com/7386887/43234524-82d3aeea-904a-11e8-8a35-e2a5739c408a.png)
I played around with this today, I'm going to mess around with it some more but here's a first draft.

[2018-07-26 03:05] jjhampton commented on #1007
The proposed vertical UI pattern seems unoptimal:
* Search input above-the-fold (ATF), followed by...
* 'Featured Jobs' which are not what the user searched for, sandwiched in-between...
* Search results further down the page, likely below-the-fold (BTF)

I see that the search input should be ATF, so that users use it, but if the results are BTF, the odds of users clicking on the results decreases

[2018-07-27 17:05] hollomancer commented on #1007
@Wimsy113, love the carousel idea. I think that might give us the best of both worlds.

[2018-07-27 21:52] jjhampton commented on #1007
@hollomancer I agree, an interactive carousel sounds like a good solution. It could draw a user's attention to the Featured Jobs in an engaging way, without obstructing view of the ZipRecruiter search bar/results (allowing that to stay above the fold).

@Wimsy113 Do you want to add a carousel example to your design? There are a few prebuilt React carousel components out there, or we can just build

[2018-07-28 20:07] ksmacleod99 opened #1010 "Add Pinterest button to footer"
# Feature
## Why is this feature being added?
We have a Pinterest now.

## What should your feature do?
Please add a Pinterest social media button to the footer and link it to:
https://www.pinterest.com/operationcode/

[2018-08-01 00:52] charlessipe commented on #995
@kylemh Can you clarify what you mean by mocking out a nice-looking list? Do you mean a nice-looking list of upcoming meetups in front of a map image background?

[2018-08-01 00:57] kylemh commented on #995
Precisely. You can even do without the map image, to avoid contrast issues (tough to read)

[2018-08-01 01:38] kylemh commented on #1010
@cyph3r-m00n and I are on the case 👍

[2018-08-01 03:10] cyph3r-m00n commented on #1010
Ohh yeah!! 🤙🤙

[2018-08-01 03:39] charlessipe commented on #995
Here's one design mockup I came up with.
![oc-meetup](https://user-images.githubusercontent.com/7402611/43499731-da6426f6-9501-11e8-8d70-6f372711e0a8.jpg)

[2018-08-03 15:06] hollomancer opened #1014 "Add CivicX image to press page"
# Feature
## Why is this feature being added?
Operation Code recently graduated from the CivicX accelerator and we'd like to put our graduation badge on the press page!

## What should your feature do?
Please add the CivicX image (attached) to the bottom of the page, with a link to http://cvcx.org/veterans-solutions-lab/

![copy of copy of civicx_stamp_final_backed](https://user-images.githubuserc

[2018-08-03 16:02] hollomancer opened #1015 "Add media highlights to Operation Code website: Boston"
# Feature
## Why is this feature being added?
Our press page doesn't have a lot of the activities we've been up to. Need to add links and possibly images/video for our media impact.

## What should your feature do?
Add one or more of the following articles;
https://insights.dice.com/2017/01/11/tech-pros-volunteer-fun-ways/
https://www.necn.com/news/business/MassChallenge-Finnest_-Operation-Code_-S

[2018-08-03 17:55] hollomancer opened #1016 "Add media highlights to Operation Code website: NYC"
# Feature
## Why is this feature being added?
Our press page doesn't have a lot of the activities we've been up to. Need to add links and possibly images/video for our media impact.

## What should your feature do?
https://wtkr.com/2018/05/16/new-program-aims-to-help-veterans-land-jobs-in-tech-industry/
http://www.wdtv.com/content/news/Veterans-in-Residence-program-helping-veterans-grow-businesses

[2018-08-03 18:01] hollomancer opened #1017 "Add media highlights to Operation Code website: General"
# Feature
## Why is this feature being added?
Our press page doesn't have a lot of the activities we've been up to. Need to add links and possibly images/video for our media impact.

## What should your feature do?
Add one or more of the following articles;
https://blog.opportunityatwork.org/techhire-educator-spotlight-operation-code-debd0a796f9d
https://www.switchup.org/blog/why-veterans-will-mak

[2018-08-03 18:02] hollomancer opened #1018 "Fix misspelling on history page for Techstars"
# Bug Report
## What is the current behavior?
Text reads:
`Molina joins Techstar's Patriot Boot Camp (PBC) at`

## What is the expected behavior?
Text reads `Molina joins Patriot Boot Camp (PBC), presented by Techstars, at`

[2018-08-03 18:17] hollomancer commented on #1017
Some more articles

https://techcrunch.com/2015/11/11/few-options-for-veterans-looking-to-enter-tech/
https://www.ibtimes.com/coding-boot-camps-go-after-veterans-take-silicon-valleys-vacant-tech-jobs-2174421
https://www.makeschool.com/blog/20-diversity-and-inclusion-leaders-to-follow-in-2018
http://bitshare.cm/news/tech-innovation-meets-military-service-geekwires-memorial-day-remembrance-and-updat

[2018-08-03 18:18] hollomancer commented on #1015
https://blogs.microsoft.com/newengland/2017/11/10/tech4vets-masschallenge-veterans/

[2018-08-03 21:30] Jacfem commented on #1018
@hollomancer Looking to get involved in the repo, I can take this one!

[2018-08-03 21:35] kylemh commented on #1018
@Jacfem - I've assigned myself as a placeholder for your work. Feel free to DM me on Slack if you'd like some help 😄

[2018-08-03 21:38] Jacfem commented on #1018
@kylemh Thanks! My one question is what we still want to be the anchor tag - Could you let me know which of these two options?

1:
<img width="436" alt="screen shot 2018-08-03 at 5 36 46 pm" src="https://user-images.githubusercontent.com/15792886/43666937-f66b376a-9743-11e8-92b2-2cbd1209eec0.png">

2:
<img width="433" alt="screen shot 2018-08-03 at 5 37 31 pm" src="https://user-images.githubuserco

[2018-08-03 21:43] kylemh commented on #1018
Great question. I think I’d prefer option #2

[2018-08-03 22:04] Jacfem commented on #1018
@kylemh Before I open a PR, I noticed in my pushed branch a much larger diff than what I actually changed - it seems there are some pre-push linting hooks that are auto-formatting the file I touched - I didn't see anything about that in the Contributing doc, so is that expected and/or good?

Thank you for your help!

[2018-08-04 00:34] Jacfem commented on #1018
@kylemh sweet, thanks for the clarification! [PR here](https://github.com/OperationCode/operationcode_frontend/pull/1020)

[2018-08-04 00:59] #1010 closed

[2018-08-04 00:59] #1018 closed

[2018-08-04 02:02] kylemh commented on #1014
The alt tag should represent text that describes the image to somebody hard of sight.

Something like: "Badge indicating being an approved graduate of CivicX Accelerator"

I won't speak to where _exactly_ Conrad would like it.

[2018-08-05 16:49] hollomancer commented on #1014
Maybe "Operation Code is a graduate of the CivicX Accelerator."

Probably at the very bottom of the page, below the footer.

[2018-08-05 20:56] Jacfem commented on #1014
@kylemh @hollomancer Thank you both! I just opened a [PR](https://github.com/OperationCode/operationcode_frontend/pull/1022) for this, would love to get your feedback on the conditional approach I took, to make sure it aligns with any patterns you'd like to be using.

[2018-08-06 00:09] hollomancer commented on #1014
Apologies, I should have said above the footer... not enough coffee ☕️

In order to explain better, we can add the text above; "Operation Code is a graduate of the following startup accelerators:"

[2018-08-06 17:32] #997 closed

[2018-08-06 18:34] #341 closed

[2018-08-06 22:13] jjhampton opened #1027 "Remove implementations of ID.me verification from front-end"
# Feature
## Why is this feature being added?

We currently will not be using ID.me verification per @hollomancer , but we may pivot to use the service again in the future. It no longer makes sense to restrict non-verified (via ID.me) users from accessing certain parts of the website.
## What should your feature do?
Remove any ID.me restrictions from the front-end, but leave any ID.me-related serv

[2018-08-06 23:46] Jacfem commented on #1014
@hollomancer Haha, no problem - I totally get that! I just updated the PR with all of that, thanks!

[2018-08-07 00:55] Wimsy113 commented on #1007
I would absolutely love to design my own carousel! I've actually been working on it off an on, I got bogged down with school stuff last week but I'll hit it again this weekend

[2018-08-07 01:03] Wimsy113 commented on #934
![screen shot 2018-08-06 at 8 54 21 pm](https://user-images.githubusercontent.com/7386887/43748098-aae929d0-99bb-11e8-9114-d4fb84de3de5.png)

Okay so I feel like this is too much but I'm gonna let y'all decide.

I have a prototype set up on invasion too and you can find that here, but there's no animations yet as I'm still trying to figure out now to go about doing it but basic steps are:

https:/

[2018-08-07 01:06] #1014 closed

[2018-08-07 03:10] kylemh commented on #934
I'm thinking something like this:
![screen shot 2018-08-06 at 8 09 30 pm](https://user-images.githubusercontent.com/9523719/43752126-ae2714ce-99b4-11e8-85ce-d076369a05a9.png)

and [Various]() flips the card to a simple scrollable list of all locations. Breaking things down by region adds a lot of complexity visually imo

[2018-08-07 03:15] kylemh commented on #934
This should be very simple to make accessible as well

[code]

[2018-08-07 04:03] Wimsy113 commented on #934
![screen shot 2018-08-07 at 12 02 05 am](https://user-images.githubusercontent.com/7386887/43753737-38d68d50-99d5-11e8-8314-727b9ba1148e.png)
I saw where you were going and I ran with it. I think that a flip would be an awesome idea for the locations. However I did say that we should link to the website and that Idea got shot down because I think there's an issue with maintaining links and whatnot

[2018-08-07 04:29] kylemh commented on #934
Keeping the logo up top is a good idea. We'll just ensure it's the same.

I think that's my favorite mock so far.

Looking to hear feedback from others! If it's good, I'd like to press for a pixel-perfect mock for somebody to work off of 👍

[2018-08-07 18:30] dmarchante commented on #934
![image from ios](https://user-images.githubusercontent.com/14184223/43795141-752daf62-9a4e-11e8-813d-be5a9588a51a.jpg)

[2018-08-07 18:31] dmarchante commented on #934
building on your design @Wimsy113 lets move forward with your layout tweaked to reflect the above sketch

[2018-08-07 19:00] hollomancer commented on #1007
I just wanted to say that this is awesome

[2018-08-12 15:56] LauraUX commented on #1007
This is awesome. Would love to see where this goes!

[2018-08-12 16:12] LauraUX commented on #934
Hey guys! Really good work so far! I'll be joining this project after Tuesday. Looking forward to helping in any way I can!

[2018-08-12 16:13] LauraUX commented on #877
Great points. Let me know how I can help!

[2018-08-12 16:15] LauraUX commented on #965
I agree. There should be something showing that the user is online in some way.

[2018-08-12 16:17] LauraUX commented on #898
@wimo7083 I agree. The video is quite large, which may affect the site's loading page. I'd keep it under 2 minutes to avoid creating site loading problems.

[2018-08-12 16:46] LauraUX commented on #995
Very cool! I like this very much. It helps users see that we do have events happening, especially recent ones. It will get people exited to participate.

[2018-08-12 16:49] LauraUX commented on #890
Is there anything I can help with here?

[2018-08-13 15:38] wimo7083 opened #1029 "Feature: modernize bug/ suggestion form pipeline"
# Feature
## Why is this feature being added?
Per discussion with @dmarchante and Ashley we want to make the website suggstion form more user friendly.

It's currently not user friendly because users must create github accounts and follow our template.

Suggested ways around this:
1. No Change
2. Send email to bugsss@oc.org with details
3. Google form to populate airtable in which a bot posts a me

[2018-08-13 16:04] hollomancer commented on #898
I think I have a one-minute version somewhere, let me look...

[2018-08-13 16:13] hollomancer commented on #1029
For now, how about an email to tech@operationcode.org, as an MVP? A mailto link, or something.

[2018-08-13 16:54] hollomancer commented on #995
The challenging piece here will be managing the amount of space rel. to the other items on the landing page. May be necessary to assess this in the context of a larger landing page redesign later.

[2018-08-14 18:56] hollomancer opened #1030 "Add 1password to Partners"
# Feature
## Why is this feature being added?
1Password is currently providing us a free account as an open source project, and has asked us to put them on our front page in return.

## What should your feature do?
Add the 1Password graphic to the Partners section, with a link to https://1password.com/

![image](https://user-images.githubusercontent.com/9288648/44112032-ff8ff876-9fd1-11e8-93f1-1be

[2018-08-15 01:51] jjhampton opened #1031 "Redirect Mentor Request link to internal app route"
# Feature
## Why is this feature being added?

When the new form at `/mentor-request` was initially rolled out, there were issues with the Back-end communicating with the Airtable API, so the link on the profile page was temporarily changed to the URL shortener at http://op.co.de/mentor-request (in #1026).  We've since fixed the issue, so we can point directly to the correct route within our app.

[2018-08-15 02:00] jjhampton opened #1033 "Mentor Request form should show loading spinner after submit"
# Feature
## Why is this feature being added?

Currently when submitting a mentor request, there is a delay of several seconds after pressing the 'Request Mentor' submit button and seeing the success message of "Your mentor request has been sent! One of our mentors will contact you within the next few days, so keep an eye on your Slack DMs or email."  Users may press the submit button multiple tim

[2018-08-15 02:02] jjhampton commented on #459
Unassigning myself from this issue - the original PR issued to address this is stale, and we'll need a new PR to address these requirements.

This issue is open to any contributors who want to take it on!

[2018-08-15 02:04] jjhampton commented on #971
Closed in #1013 .

[2018-08-15 02:04] #971 closed

[2018-08-15 18:53] #1033 closed

[2018-08-15 18:55] kylemh commented on #1030
I'm on this today.

[2018-08-17 00:44] #1031 closed

[2018-08-17 01:48] #1030 closed

[2018-08-18 02:35] charlessipe commented on #995
Plan to Render Upcoming Operation Code Events to a “Upcoming Events” section on the homepage:

1. Store an array of “urlname” for each local Operation Code meetup group (there are about 34 groups?)

2. Loop through the array and make a GET request for each meetup group to:
https://api.meetup.com/:urlname/events

(Meetup API can be tested at this page https://secure.meetup.com/meetup_api/console/?p

[2018-08-21 13:52] ohaiwalt opened #1037 "Allow frontend to accept different URLs"
## Problem

While trying to set up a staging environment, we found that the operationcode.org URLs are hardcoded into the frontend, because it previously only supported local development and production. It should be flexible enough to allow other environments or URLs. This is in support of https://github.com/OperationCode/operationcode_infra/issues/40

## Definition of done

Environment variable t

[2018-08-21 14:16] dmarchante commented on #1029
@hollomancer @wimo7083 I am good with this as a solution, and if we find we get a lot of emails for bugs we can look at a more advanced solution. We will go with option 2, with the suggestion made by @hollomancer.

[2018-08-21 14:45] dmarchante commented on #72
Do we still have a hardware loan program? Can this be closed?

[2018-08-21 14:47] dmarchante commented on #113
@kylemh can this be closed due to your testing implementation for the new repo?

[2018-08-21 14:58] wimo7083 commented on #72
Ashley knows about the hardware we have, we have a loan program but I don't know if it's formalized.

[2018-08-21 18:14] hollomancer commented on #72
This can be deprioritized and closed for now.

[2018-08-21 18:14] #72 closed

[2018-08-22 18:25] kylemh commented on #113
No. We need the BrowserStack account information @hollomancer

Once acquired, we can draw up instructions on eyeballing certain browsers on a release basis. We can't exactly share our account out so I think drafting up this methodology is best. It's tough to automate this.

[2018-08-22 18:27] kylemh commented on #1029
Once a methodology is decided upon and confirmed in this thread/on Slack, let's ensure the top post on the issue (and the issue title) is changed to reflect the work needing to be accomplished on the front-end.

[2018-08-22 18:31] kylemh commented on #1037
I'm not exactly sure what you mean by "URLs are hardcoded into the front-end".

There are a few places where the URL is hard-coded, but I need to know more in order to isolate the issue. My first hunch could be `process.env.OC_HOST` in `scripts/build.js` or in `src/config/environment-prod.js`

[2018-08-22 18:32] kylemh commented on #995
Assigned to @charlessipe

[2018-08-22 18:34] kylemh commented on #898
It doesn't affect load speed because the video doesn't load until after pressing play; however, this is such an easy fix, we should get this done...

[2018-08-22 18:35] kylemh commented on #890
We don't use `id.me` anymore, so we should prolly just close this and open a new issue with discussion centered around making the forms with what we've got.

[2018-08-22 18:37] kylemh commented on #965
I brought this up to John awhile ago. Essentially, all that's needed is something like the user's name shown in the navbar and maybe somewhere on the profile dashboard. As it stands, it just looks like another page.

[2018-08-22 18:39] kylemh commented on #877
I'd like to recreate this issue on the new repository as an open-ended redesign of our registration process. It's ability to be accomplished is blocked by various things right now, but work done on this issue in this repo cannot be ported over.

[2018-08-22 18:40] kylemh commented on #934
This ticket could be re-opened in the new repository and is not blocked 👏

[2018-08-22 20:36] sethbergman commented on #305
I must have missed this. Thanks for closing this one, and I love the new direction with the front end! 👍

[2018-08-23 01:09] hollomancer commented on #1029
@dmarchante made the call, so editing the top post...

[2018-08-23 14:02] hollomancer commented on #898
@Wimsy113, do you still have that one-minute vid somewhere?

[2018-08-23 17:25] Wimsy113 commented on #898
Let me dig through and see, if not I still have access to Final Cut pro and can cut up the full one again.

[2018-08-27 02:25] apex-omontgomery opened #1038 "move vettec to primary frontend"
# Consolidate random urls
## Why is this feature being added?
Currently have vettec.operationcode.org in a different repository than the primary operation code.
https://github.com/OperationCode/vettec

## What should your feature do?
Create a new page within this project to house this information, do we continue to use the vettec subdomain or do we redirect this old subdomain to operationcode.org/

[2018-08-27 14:02] hollomancer opened #1039 "On team page, add a separate category for volunteers"
# Feature
## Why is this feature being added?

For legal and financial reasons, we need a third category for volunteers outside of the staff. Need a third category on the team page for this.

## What should your feature do?
* In the API under Team Members, create a 'volunteers' group.
* Have a corresponding frontend experience to display volunteers.

[2018-08-27 15:05] jjhampton commented on #1038
Possible duplicate: https://github.com/OperationCode/operationcode_frontend/issues/356

My two cents: It doesn't seem useful to create a page for the https://vettec.operationcode.org/ content, as it is out of date. The VET TEC act was merged into the Forever GI Bill, which has already been passed/signed.

[2018-08-27 15:06] wimo7083 commented on #1038
Per conrad:
Vettec can be sunsetted
Or redirected to OC.org
the bill passed iwth Forever GI bill.

[2018-08-27 17:59] kylemh commented on #1039
@hollomancer

Requires a back-end ticket, and this ticket will be blocked until it's complete.

[2018-08-27 18:54] kylemh commented on #1038
The route exists via SEO and we don't wanna drop people...

I also feel like it'd be confusing if we simply redirect, but maybe that's the best move.

[2018-08-27 19:15] jjhampton commented on #1038
Redirect to OC.org seems like a good way to capitalize on the existing SEO indexes. Generally, redirects are the best way to handle old/stale pages where we no longer want to serve content.  At some point Google will probably stop indexing the page anyway, since we'll just be redirecting and the original content will be gone.

We can also submit requests to Google to stop indexing the page, as @se

[2018-08-28 13:37] hollomancer commented on #356
This can be closed. All that needs to happen is that vettec.operationcode.org redirects to the main site, as per #1038.

[2018-08-28 13:37] #356 closed

[2018-08-28 13:39] hollomancer commented on #259
Deprioritizing, as this requires too much backend work to act on right now.

[2018-08-28 13:39] #259 closed

[2018-08-28 17:54] kylemh commented on #259
@dmarchante can you document this issue in the new repo so we don't lose it? Feel free to apply the blocked label and a comment saying that it's blocked by the need for parity

[2018-08-28 17:56] kylemh commented on #356
@hollomancer did you organize the redirect with our host or DNS manager?

[2018-08-28 19:39] AshTemp opened #1040 "Remove DoD Seals from website"
DoD regulations say that the seals may not be used in this manner. Please remove the seals immediately. More to come on a replacement.

### Screenshots
![image](https://user-images.githubusercontent.com/19790104/44746469-70631680-aad8-11e8-8e33-9de8d90534f9.png)

[2018-08-28 20:54] #1040 closed

[2018-09-06 00:57] nellshamrell commented on #1037
I think I see the issue here:

# api.operationcode.org

We hardcode api.operationcode.org in severakl places in the front end - in particular:

**src/scenes/home/codeSchools/codeSchools.js**
[code]

And

[code]

In the staging environment, this url is going to be different, something along the lines of "staging.api.operationcode.org".  This should be something that we can change per environment -

[2018-09-06 00:59] nellshamrell commented on #1037
Might need to do something in the build script as well https://github.com/OperationCode/operationcode_frontend/blob/c831a872ffc4579157cbedf7feb4de5f7091d649/scripts/build.js

[2018-09-06 01:01] kylemh commented on #1037
This is perfect.

I can map it such that locally I'm hitting the staging API, but when the application builds, it uses master. Is that satisfactory?

[2018-09-06 01:02] nellshamrell commented on #1037
I'd like to have a frontend staging environment on the web that can use the staging api.

[2018-09-06 01:04] kylemh commented on #1037
Is this meant to be for gating releases? Are we moving away from CI?

If that's the situation, I'll fuck with Travis to supply an environment variable for non-master branches such that local and feature branches utilize staging and master will use prod API. How's that?

[2018-09-06 01:07] nellshamrell commented on #1037
We are definitely keeping CI.

What I'm looking for is a way to have a staging environment that we can deploy feature branches to for review before merging them in to github and deploying through our CI (that is my understanding, at least, @ohaiwalt please correct me if I'm wrong there).  This will possibly be separate from Travis.

I believe this is something that needs to be done at the code bas

[2018-09-06 01:08] kylemh commented on #1037
The request URL being dynamic definitely needs to be implemented on a code level. Determining the proper back-end environment given the branch needs to happen at some point in CI.

[2018-09-10 05:26] kylemh commented on #934
Working on this in the new repository. Make an issue for me at some point @dmarchante !

I have all of the assets in and am working to mix your latest mock with a bit of @Wimsy113 's latest mock.

[2018-09-10 12:44] Wimsy113 commented on #934
@kylemh I already finished it yo lol. It might need a tweak because of the survey but I'm done. I didn't post it because of the redesign.

<img width="890" alt="screen shot 2018-09-10 at 8 42 27 am" src="https://user-images.githubusercontent.com/7386887/45298135-95db2180-b4d5-11e8-9212-3bbb5a6dad10.png">

[2018-09-10 18:01] kylemh commented on #934
Great. I made a custom icon for GI Bill ✅ and  ❌ , but I was on the way to exactly this 🎉

[2018-09-11 20:06] JohnGoure commented on #1016
Is this still open? Did @cyph3r-m00n address all of the highlights or just the General highlights?

[2018-09-14 16:03] wimo7083 opened #1044 "Feature: Mentor form modifications"
# Make the mentor form easier and user friendly
## Why is this feature being added?

Couple of issues are occuring.
1. People input the wrong email or information
2. People don't know to join slack and we can't get in touch with them.

## What should your feature do?
1. Auto populate user email from their session information.
2. Add text to the form like `please join slack so you can talk to your

[2018-09-22 19:50] #329 closed

[2018-09-22 19:50] #1037 closed

[2018-10-01 08:16] kylemh commented on #1038
Nothing can be done in the front-end code. I tried altering the CNAME in DNS Simple, but now the link is simply broken.

[2018-10-01 08:19] kylemh commented on #1015
Documented here: https://github.com/OperationCode/front-end/issues/171

[2018-10-01 08:19] #1015 closed

[2018-10-01 08:19] kylemh commented on #1017
https://github.com/OperationCode/front-end/issues/171

[2018-10-01 08:19] #1017 closed

[2018-10-01 08:19] kylemh commented on #1016
https://github.com/OperationCode/front-end/issues/171

[2018-10-01 08:19] #1016 closed

[2018-10-01 08:27] kylemh commented on #934
Most of the work is done for this https://github.com/OperationCode/front-end/pull/137

This issue is documented [here](https://github.com/OperationCode/front-end/issues/170)

[2018-10-01 08:28] kylemh commented on #983
Documented in https://github.com/OperationCode/front-end/issues/174

[2018-10-01 08:28] #983 closed

[2018-10-01 08:35] kylemh commented on #965
Documented via https://github.com/OperationCode/front-end/issues/175

[2018-10-01 08:35] #965 closed

[2018-10-01 08:37] kylemh commented on #885
Captured in https://github.com/OperationCode/front-end/issues/166

[2018-10-01 08:37] #885 closed

[2018-10-01 08:37] #890 closed

[2018-10-01 08:39] kylemh commented on #884
I concur.

[2018-10-01 08:39] #884 closed

[2018-10-01 08:41] kylemh commented on #931
Simply implementing images in this manner from the get-go in the new repo

[2018-10-01 08:41] #931 closed

[2018-10-01 08:42] kylemh commented on #867
Documented ^

[2018-10-01 08:42] #867 closed

[2018-10-01 08:45] kylemh commented on #883
We've got #995 #214 #13 and this.

With the landing page mocks, it's clear that it's not implemented there.

I'm not sure how to wrangle all these issues together, but perhaps product could summarize all of the above on https://github.com/OperationCode/front-end/issues/166

[2018-10-01 08:46] kylemh commented on #842
Done in new repo

[2018-10-01 08:46] #842 closed

[2018-10-01 08:46] kylemh commented on #281
Will implement auth via jwt in new repo

[2018-10-01 08:46] #281 closed

[2018-10-01 08:46] kylemh commented on #496
Dependency security issues tracked via Greenkeeper in new repo

[2018-10-01 08:46] #496 closed

[2018-10-01 08:47] kylemh commented on #754
tracking ^

[2018-10-01 08:47] #754 closed

[2018-10-01 08:48] kylemh commented on #518
wont do 😞

[2018-10-01 08:48] #518 closed

[2018-10-01 08:51] kylemh commented on #489
Documented: https://github.com/OperationCode/front-end/issues/176

[2018-10-01 08:51] #489 closed

[2018-10-01 08:54] kylemh commented on #154
With this page not mapped out as an aspect of parity, it'll be subject to redesign before creating a new issue on the new repo. Leaving open until redesign is prepared.

[2018-10-01 08:57] kylemh commented on #155
Curious if this (#155), #156 and #154 can be simplified as a single "Who We Serve" page as outlined in the footer of the redesigns landing page mock?

[2018-10-01 08:57] kylemh commented on #410
^ documented

[2018-10-01 08:57] #410 closed

[2018-10-01 08:58] kylemh commented on #409
^ documented

[2018-10-01 08:58] #409 closed

[2018-10-01 08:59] kylemh commented on #381
documented in https://github.com/OperationCode/front-end/issues/170

[2018-10-01 08:59] #381 closed

[2018-10-01 09:00] kylemh commented on #353
Documented and being handled in https://github.com/OperationCode/front-end/issues/17 reference mock in https://github.com/OperationCode/front-end/issues/164

[2018-10-01 09:00] #353 closed

[2018-10-01 15:04] Wimsy113 commented on #995
This is part of the events page yes.

[2018-10-02 01:10] dmarchante commented on #1044
Closing as this will be addressed in the new front end repo.

[2018-10-02 01:10] #1044 closed

[2018-10-13 00:10] sethbergman commented on #1038
@jjhampton wrote earlier:

This is the way to go if you don't want the link(s) to be search results.

@kylemh can you elaborate on this:

I appreciate the additional details. I've not been on Slack recently. BTW awesome work on the new front-end repo! :smiley:

[2018-10-13 01:16] kylemh commented on #1038
My concern is a little less valid since the page has been broken for nearly two weeks (and is SSR, so the Goog prolly already indexed a 404 😓 ), but I was only concerned with users clicking an indexed link after being given a preview of its contents from Google, but then being redirected to a completely different page that didnt match the preview item on Google.

[2018-10-13 10:06] sethbergman commented on #1038
It would still be a good idea to use Google Webmaster Tools to remove the 404 page from search results. Last I checked it was still showing up on search results. Although I must say that it's one of the coolest 404 pages I've ever seen.

[2018-10-13 19:28] kylemh commented on #1038
@sethbergman so weirdly enough I've done it before, but it seems to continue to come back.

[2018-10-13 20:34] sethbergman commented on #1038
I think we need to add a disallow rule on a `robots.txt` file. Either that or add `<meta name="robots" content="noindex, nofollow"/>` to the 404 component.
Maybe both; what do you think?

- https://developers.google.com/search/reference/robots_meta_tag#handling-combined-indexing-and-serving-directives
- https://moz.com/learn/seo/robotstxt

[2018-10-13 20:58] kylemh commented on #1038
That sounds good to me. 👍 I'm no SEO expert 🙈

[2018-10-15 19:10] sethbergman commented on #1038
I'll put in an issue and PR today. SEO is it's own beast. You're still a badass software developer @kylemh

[2018-10-15 19:51] sethbergman opened #1077 "404 page is being indexed by search engines"
# Bug Report :bug:
## What is the current behavior?
404 page is being indexed by search engines. The benefit dinner is also still there, which I believe already happened.

## What is the expected behavior?
404 page is __NOT__ being indexed by search engines

## What steps did you take to get this behavior?
Open incognito tab (no cached results) and enter site in search box.

## Additional Info
Req

[2018-10-28 17:54] dgisser commented on #1038
Google isn't indexing the 404 (at least not currently), it seems like it's indexing https://www.operationcode.org/apprentices which leads to a 404. If we change it so that bad links redirect to 404 instead of just showing the component, I bet google will stop indexing them.

[2018-10-28 18:18] kylemh commented on #1038
@sethbergman @hollomancer

That explains that! Thanks so much @dgisser

[2018-10-29 07:35] sethbergman commented on #1038
Cool! We still need to add the following to the 404 component so that it doesn't get indexed.
[code]

[2018-10-29 08:31] dgisser commented on #1038
This project doesn't have a proper 404 page. The status code for the 404 page is 200, which is bad practice, and why Google thinks it deserves an index. Also @sethbergman you can't add a meta tag to the 404 component, since meta tags go in the header, unless you want to make a second component in the header.

[2018-11-07 22:06] C-Lion opened #1081 "App asked me for more info but is not saving my selected option on dropdown box"
# Bug Report
## What is the current behavior?
There was an error saving your information, please try again.

## What is the expected behavior? expected to save selected option from drop down menu and send me on to my profile page.

## What steps did you take to get this behavior?
I selected update my info on the main post-login landing page. Instead of going to my profile it asked me for a categor

[2018-11-07 22:11] C-Lion commented on #1081
FYI that Go Back button didn't do anything either when I tried using it. Neither does the Save and Continue button.

[2018-11-08 23:34] mattbyrnes commented on #1077
I'm picking up this issue and will submit a PR soon.

[2018-11-09 21:02] wimo7083 commented on #1081
This has been fixed, thank you.

[2018-11-09 21:02] #1081 closed

[2018-11-09 21:03] wimo7083 commented on #1077
But our 404 is awesome.

[2018-11-09 21:34] mattbyrnes commented on #1077
Hey William,

I really like your organization and was wondering if you'd like some design
and other help.

I'm a web professional of nearly 20yrs and am enrolled in a coding boot
camp to refresh my skills. Part of our weekly assignment is to submit open
PRs. I'm a very experienced UI/UX designer, moderate front end developer
and novice full stack developer. Regarding your GitHub issues, I see thin

[2018-11-09 22:19] kylemh commented on #1077
@mattbyrnes we could definitely use your help! Register on the website, join our Slack team, and then join the `#oc-projects` channel. I can put your skills to work!

[2018-11-22 21:04] #934 closed

[2018-11-26 18:13] kylemh commented on #1077
Register via https://operationcode.org/join and you'll receive an invite via email within 24hrs

[2018-11-26 20:09] mattbyrnes commented on #1077
I did a few weeks ago but don't believe I got the followup invite. My account username is: mattjbyrnes@gmail

[2018-11-27 00:09] kylemh commented on #1077
Thanks for letting me know. I'll get this resolved ASAP.

[2018-11-30 01:29] jjhampton opened #1085 "Change Partners to Sponsors"
# Feature
## Why is this feature being added?
Language clarification.

## What should your feature do?

Change 'Partners' to 'Sponsors' in the existing original OC React repo, as has already been done in the new OC React front-end at https://github.com/OperationCode/front-end/issues/309

---

[2018-11-30 01:47] #1085 closed

[2019-02-06 17:54] wimo7083 opened #1088 "BUG: Code school url is incorrect"
# Bug Report
## What is the current behavior?
https://operationcode.org/code_schools this link has a url to add a code school.
OLD: http://operationcode-pyback.us-east-1.elasticbeanstalk.com/new_school

## What is the expected behavior?
CORRECT: http://pyback-lb-197482116.us-east-2.elb.amazonaws.com/forms/codeschool
INCORRECT:
![image](https://user-images.githubusercontent.com/10781353/52362305-84

[2019-02-08 23:04] AshTemp commented on #1088
Fixed.

[2019-02-16 21:06] ksmacleod99 commented on #1088
@wimo7083 @AshTemp was this fixed?

[2019-02-16 21:10] AshTemp commented on #1088
Yup waiting on someone with the juice to close it. Hint Hint @wimo7083

[2019-02-16 21:40] wimo7083 commented on #1088
Closing because Ashley is awesome.

[2019-02-16 21:40] #1088 closed

[2019-02-17 01:37] loganripplinger commented on #1077
Google is still indexing the 404 page as described.

[2019-04-17 18:29] wimo7083 opened #1090 "Remove Mentor request link, and add information for slack mentor request."
# Feature
## Why is this feature being added?
We want to remove the mentor request link, and replace with a page that forwards all users to the slack channel. Along with giving them information on how to fill out mentor request.

## What should your feature do?
When a user is in their profile and clicks the mentor request it should provide information somehow to indicate they must join slack and a

[2019-04-17 20:43] #1090 closed

[2019-05-03 15:47] aasifkhan7 commented on #1077
@sethbergman Hi. As far as I understand, "Requires access to Google Webmaster Tools in order to submit robots.txt and use the URL remover tool. Then ask Google to crawl, fetch and render, then submit." - doing this requires the access granted to the domain name owner.
Am I headed in the right direction? Thanks!

[2019-05-04 01:50] sethbergman commented on #1077
@aasifkhan7 that's exactly what you have to do. :+1:

[2019-05-04 02:41] kylemh commented on #1077
@aasifkhan7 I wouldn't spend any time on this issue. See if there's anything you'd like to tackle in the [new repo](https://github.com/operationcode/front-end)

[2019-05-04 09:51] aasifkhan7 commented on #1077
But I do not own the domain, hence I cannot have the access to Google Webmaster. So, how do I proceed with this? Thanks!

[2019-05-04 09:52] aasifkhan7 commented on #1077
Hi. I was just curious about the access part. So. I'll look up issues in the new repo. Thanks.!