[2017-03-30 01:10] rickr opened #1 "Initialize app"
Create a react app with the following (or equivalent) items:
- [x] app server (npm I assume)
- [x] react library
- [ ] a way to GET and POST data
- [ ] testing framework

Stretch goals:
- [ ] Dockerfile (for deployment)
- [ ] docker-compose.yml (for request mocking?)
- [ ] Makefile (for easy running of common tasks (see operationcode/operationcode)

[2017-03-31 01:35] kylemh commented on #1
X - Webpack-dev-server added
X - React listed as dependency in package.json

[2017-03-31 01:55] rickr opened #3 "Create Menu React Component"
Create a react component that displays a menu. The menu should:
- [ ] contain the Operation Code logo
- [ ] contain the links in the attached screen shot
- [ ] contain a 'Join' link
- [ ] be styled as in the attached screen shot
- [ ] automatically highlight/have emphasis based on the page you're on
- [ ] work on mobile displays
- [ ] be configured easily via a hash

Example menu:
![desktop-milita

[2017-03-31 02:06] rickr opened #4 "Create social media react component"
Create a react component to display our social media icons.

This component should:
- [ ] Be configured by a hash
- [ ] Work on mobile and destop
- [ ] Use the icons in the screenshot below

![desktop-military-families](https://cloud.githubusercontent.com/assets/334550/24533301/145845e4-1584-11e7-844c-68369751bc0c.png)

[2017-03-31 02:09] rickr opened #5 "Create footer links react component"
Create a react component to display various links in our footer. This component should

- [ ] Be configured by a hash
- [ ] Work on mobile/desktop

[2017-03-31 02:11] rickr opened #6 "Create footer logo/copyright component"
Create a react component to display the logo and copyright styled similar to the attached screenshot (center of the footer).
![desktop-military-families](https://cloud.githubusercontent.com/assets/334550/24533449/0bfcf8a8-1585-11e7-9843-65b5ea7213dd.png)

[2017-03-31 02:14] rickr opened #7 "Create footer react component"
Blocked by:
- [ ] #4
- [ ] #5
- [ ] #6

Create a react component that contains all footer components.
It should work on mobile and desktop.

[2017-03-31 02:19] rickr opened #8 "Identify possible content react components"
This ticket is a task and should have no code changes associated with it.

We should look at the main content of our newly designed pages and see if we can distill any common themes. If we notice some and are able to name them they should be created as react components so we can easily build out the rest of the site.

Please enumerate common components in the comments.

[2017-03-31 02:20] rickr opened #9 "Create landing page"
Design screenshot/assets to be attached here.

This page should use the sign up component in #27

[2017-03-31 02:21] rickr opened #10 "Create About Us page"
Design screenshot/assets to be attached here.

[2017-03-31 02:21] rickr opened #11 "Create Our Programs page"
Design screenshot/assets to be attached here.

[2017-03-31 02:21] rickr opened #12 "Create Get Involved page"
*Edited 1/15/2018:*
[See Here For A Good Wireframe](https://github.com/OperationCode/operationcode_frontend/issues/12#issuecomment-338489639)

[See Here For Extra Direction](https://github.com/OperationCode/operationcode_frontend/issues/12#issuecomment-338499346)

[See Here For Wireframe Edits](https://github.com/OperationCode/operationcode_frontend/issues/12#issuecomment-338500216)

Create `src/s

[2017-03-31 02:22] rickr opened #13 "Create Veterans Map page"
Design screenshot/assets to be attached here.

[2017-03-31 02:22] rickr opened #14 "Create contact page"
Design screenshot/assets to be attached here.

[2017-03-31 02:23] rickr opened #15 "Create team page"
Create a page that lists our staff. See below for the page design.

The following pages list the current staff:
https://github.com/OperationCode/operationcode/blob/a0eec2c9f681040942e3537e49e79dead759d58d/app/views/pages/board.html.erb
https://github.com/OperationCode/operationcode/blob/a0eec2c9f681040942e3537e49e79dead759d58d/app/views/pages/staff.html.erb

[2017-03-31 03:50] davidmolina commented on #15
Yes.

Rec' we rename to /team

From top => down on page:
Core Team, Contributors, Chapter Leaders, Community, Scholarship Committee, Operations, Board Advisors, Board Directors

[2017-03-31 12:16] RobKriner commented on #15
@davidmolina @rickr I need all these names to design the page. My initial thought is that this may get too lengthy for a single page and we might have to break it up. I'll know more after I see how many names we're working with.

[2017-03-31 13:45] davidmolina commented on #15
Copy that.

[2017-03-31 14:04] rickr commented on #15
@davidmolina - Can you take point on that?

On 3/31/17 7:45 AM, David Molina wrote:

[2017-03-31 17:27] kylemh opened #16 "Create README.md"
Blocked by having a better understanding of webpack and NPM scripts.

Getting the README with contribution instructions is critical for consistent, distributed development.

[2017-03-31 17:31] kylemh opened #17 "Complete Webpack Config and NPM Scripts"
Resources:

- https://github.com/ericgrosse/task-runner-bundler-comparison

[2017-03-31 20:04] rickr commented on #16
Dropping this from critical as we can move forward without it.

[2017-04-01 16:42] davidmolina commented on #15
Working...

On Fri, Mar 31, 2017 at 7:04 AM, Rick <notifications@github.com> wrote:

--
---
David Molina
http://davidmolina.github.io

[2017-04-04 08:51] #16 closed

[2017-04-04 08:51] #17 closed

[2017-04-04 08:54] kylemh opened #18 "Environments Ignore Scripts and Stylesheets within Subdirectories"
I just need to do a bit of research into how Create-React-App targets scripts and stylesheets so that we can organize our project in a more sustainable manner than just "App.js, App.css" etc.

[2017-04-15 02:52] rickr opened #19 "Create code schools page"
This is our most visited page behind /, and probably our biggest source of search traffic.

This page should display a list of code schools taken from `https://api.operationcode.org/api/v1/code_schools`.

VA approved code schools should be displayed up top.
Following that code schools should be listed be state.

The list should be easily navigable. It's currently implemented with drawers but we do

[2017-04-15 03:13] rickr opened #20 "User profile page"
After a user signs up they should be directed to a page where they can update their info.

Profile fields can be found here:
https://docs.google.com/document/d/1NET6RmBiCgc2IUJvjYRzdykjcwAMG-859ShsOhMmVqU/edit#

[2017-04-15 16:20] tpham045 commented on #20
After click 'Join' and submit email, zip code, this is the path I got **https://operationcode.org/veterans/thanks**

@rickr Is this a new page? I don't see or know how to get to the User Profile page on the current website.

[2017-04-15 16:49] tpham045 commented on #10
I will take this design task.

Thanks @rickr

[2017-04-17 03:00] hollomancer opened #21 "Create scholarships page"
References https://github.com/OperationCode/operationcode/issues/579 @tpham045

[2017-04-17 13:56] rickr commented on #10
It's yours!

[2017-04-17 14:06] rickr commented on #20
This page doesn't exist on our current production site. To add a bit of context this will be part of our new user sign in flow.

[2017-04-17 14:29] hollomancer commented on #9
@RobKriner, @davidmolina, let's keep the copy super minimal, Apple style. Catchy CTAs, no more than three sentences of description at a time.

[2017-04-17 14:32] hollomancer commented on #9
https://docs.google.com/document/d/1MpeLzpbRq2NCTWARHXVZKzIRdRl65S-6-ME8d1Zmwbc/

[2017-04-18 18:39] #1 closed

[2017-04-18 18:39] #3 closed

[2017-04-18 18:39] #7 closed

[2017-04-18 18:39] #18 closed

[2017-04-19 14:08] rickr commented on #8
Resolved in #22

[2017-04-19 14:08] #8 closed

[2017-04-19 14:21] rickr opened #23 "Add favicon"

[2017-04-19 14:33] rickr opened #24 "Add google analytics"
It should not be active in development mode.

Our tracker id is `UA-75642413-1`

[2017-04-19 14:42] rickr opened #25 "Make the header responsive"
The logo/menu should be responsive.

Currently looks like this:

<img width="399" alt="screen shot 2017-04-19 at 8 41 33 am" src="https://cloud.githubusercontent.com/assets/334550/25185989/0e75fe34-24dc-11e7-9817-86caeb29c9c0.png">

[2017-04-19 14:42] rickr opened #26 "Make the footer responsive"
It currently looks like this:

<img width="414" alt="screen shot 2017-04-19 at 8 42 17 am" src="https://cloud.githubusercontent.com/assets/334550/25186025/2911f446-24dc-11e7-9bc2-f68d59e8852f.png">

[2017-04-19 14:51] rickr opened #27 "Create a sign up component"
This component should:
* take an email address and zip code.
* post to an API endpoint
* check for errors and render the message on the field if they exist
* if successful redirect to the links.self key

[2017-04-19 14:52] rickr commented on #5
Fixed in #22

[2017-04-19 14:52] #5 closed

[2017-04-19 14:52] rickr commented on #4
Fixed in #22

[2017-04-19 14:52] #4 closed

[2017-04-19 14:53] rickr commented on #6
Fixed in #22

[2017-04-19 14:53] #6 closed

[2017-04-19 14:55] rickr opened #28 "Disable/comment all incomplete pages from headers/menus"
Any page that hasn't been created needs to be commented out or disabled so we don't serve 404s.

[2017-04-19 14:57] rickr opened #29 "Add meta tags"
See https://github.com/OperationCode/operationcode/blob/master/app/views/layouts/application.html.erb#L7-L10

[2017-04-19 14:59] rickr opened #30 "Add drift"
See https://github.com/OperationCode/operationcode/blob/master/app/views/layouts/application.html.erb#L7-L10

[2017-04-19 15:07] rickr opened #31 "Add donorbox link"
See https://github.com/OperationCode/operationcode/blob/master/app/views/layouts/_header.html.erb#L78-L79

and

https://github.com/OperationCode/operationcode/blob/master/app/views/layouts/application.html.erb#L68

[2017-04-19 15:20] rickr opened #32 "Add Getting Started section to README"
A new section should be added to the README with the goal of getting a new user started and contributing to this repo.

It should be written assuming the reader has 0 experience with programming and has nothing installed on their machine.

[2017-04-19 15:23] rickr opened #33 "Fix menu typography"
The current menu text is hard to read and a bit too small.
It should also be horizontally aligned with the logo.

[2017-04-19 15:25] rickr opened #34 "Hero image should be smaller"
We need to make sure that we can get some text and a CTA above the fold but the current hero image takes up the entire page.

It should be reduced in height. Keep in mind how it looks on mobile devices.

[2017-04-19 15:37] rickr opened #35 "Create Sign Up page"
Create a signup page that uses the component from #27

To be backwards compatible this page should be accessible from `/join` and `/sign_up`

This will be unblocked when #27 is completed.

[2017-04-19 15:38] rickr commented on #9
#22 was created using the 'Families' page so this is not complete.

[2017-04-19 21:18] hollomancer commented on #15
Recommend that we just do something simpler, where we combine everyone onto a single grid of portraits. See; http://metalab.co/company/#team

As MVP, this can just be a 4x4 grid of portraits - once the framework is created, @davidmolina and I can grab images and add needed copy.

[2017-04-19 21:36] rickr commented on #15
Sounds good to me. I'll update the ticket.

[2017-04-19 23:14] RobKriner commented on #15
![desktop-about-2](https://cloud.githubusercontent.com/assets/15092419/25206152/38d895f8-2534-11e7-8910-4c0a32b0c492.png)
FYI - here's a watered down version of the staff/mission page. Keeping it simple. We could replace the grid/circles here with @hollomancer idea no problem.

[2017-04-20 00:13] davidmolina commented on #15
Nice Rob!

[2017-04-20 01:05] hollomancer commented on #15
That's a lotta Molina

[2017-04-20 01:07] davidmolina commented on #15
Somewhere in there I'm waiting for the comment, "Are you related to Maggi?"

On Wed, Apr 19, 2017 at 6:05 PM, Conrad Hollomon <notifications@github.com>
wrote:

[2017-04-20 16:35] RobKriner commented on #15
The 12 Tiles of Molina is what I call it

[2017-04-20 16:42] alexspence commented on #28
What do we want to do with this?  Disable the links and keep the text there so we can see the layout?  Or do we want to create placeholder components?

[2017-04-20 22:59] tahentx commented on #23
[f85e68d2bbf02a125f3bf66c8cd8da86.ico.zip](https://github.com/OperationCode/operationcode_frontend/files/945673/f85e68d2bbf02a125f3bf66c8cd8da86.ico.zip)

[2017-04-20 23:00] tahentx commented on #23
Hey Rick, rather than open a PR I just sent a zip file.

[2017-04-21 00:38] #29 closed

[2017-04-21 00:55] davidmolina commented on #15
There should be a gem for that.

[2017-04-21 01:25] alexspence commented on #23
Thanks Tahentx, I'll add this to the app.

[2017-04-21 14:00] rickr commented on #33
Fixed in #37

[2017-04-21 14:00] #33 closed

[2017-04-21 14:01] rickr commented on #25
Fixed in #37

[2017-04-21 14:01] #25 closed

[2017-04-21 14:01] rickr commented on #24
Fixed in #37

[2017-04-21 14:01] #24 closed

[2017-04-21 14:02] rickr commented on #9
Fixed in #37

[2017-04-21 14:02] rickr commented on #23
Fixed in #38

[2017-04-21 14:02] #23 closed

[2017-04-21 14:06] rickr commented on #28
For the MVP lets either remove the links completely.
It looks like each item is a component. How hard is it to add an `enabled` or `hidden` prop that we can toggle?

[2017-04-21 14:16] rickr opened #39 "Setup CI/CD"
- [x] Setup travis
- [x] Setup rancher
- [x] Add new DNS record

[2017-04-21 14:21] rickr opened #40 "Flip production site to new frontend container"
No code change required.

Blocked until the [MVP milestone](https://github.com/OperationCode/operationcode_frontend/milestone/3) is complete.

[2017-04-24 14:08] rickr opened #44 "Create gala page"
From operationcode/operationcode#730:

As a visitor,
When I visit /gala
There should be a page highlighting our Gala fundraiser, including, location, date & time, quick summary, planning committee co-chairs & members (along w/ their Slack handle), sponsorship prospectus, a way for companies to pay for a table or seats.

Initial info for copy:

Nov 10, 2017
Governor's Ballroom, Sentinel Hotel
Portl

[2017-04-25 20:51] #32 closed

[2017-05-02 00:23] kylemh commented on #44
I'm going to try to do this one, but if somebody is raring to go - @ me and I can cede assignment.

Estimated completion is by May 8th

[2017-05-02 01:56] alexspence commented on #9
Still need landing page content.

[2017-05-02 01:58] alexspence commented on #9
Home page content: https://drive.google.com/drive/folders/0B9qH0-lcjAW5TFV6cDZaU1cwNEk

[2017-05-02 03:36] rickr opened #46 "Add autocomplete prop to DataFormItem compontent"
There may be some form fields that we don't want to be autocompleted.

There should be a prop for this that defaults to 'on'.

See https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion for more info.

[2017-05-04 03:05] #26 closed

[2017-05-06 08:07] #39 closed

[2017-05-07 02:09] alexspence commented on #46
I'm not sure if this is something we want to do.  See http://stackoverflow.com/questions/3868299/is-autocomplete-off-compatible-with-all-modern-browsers/21348793#21348793

Looks like support for this has been dropped.  We leave it up to the user whether they want to save their password or not.

[2017-05-07 02:21] alexspence opened #54 "Top Navigation - Collapsable Menu"
We currently have a burger menu media query, but clicking it does not produce a menu.  The navigation component needs to be updated to display a stacked menu on click.

[2017-05-07 03:59] #9 closed

[2017-05-07 04:41] davidmolina commented on #15
@RobKriner can we change it from `/staff` to `/team`? We should add every volunteer, including board members. Alphabetical maybe by first or last name?

[2017-05-07 15:54] alexspence commented on #34
Closing as this has been taken care of.

[2017-05-07 15:54] #34 closed

[2017-05-07 16:13] jjhampton commented on #31
I'm guessing that this can be wired up to the 'Donate' link in the header and this 'Donate Now' button about halfway down the page?

![screenclip](https://cloud.githubusercontent.com/assets/8835055/25782746/6ef3603a-331e-11e7-92b1-5919dd4651b3.png)

[2017-05-07 16:59] rickr commented on #31
Yes. All donations should be going through donorbox.

[2017-05-07 17:02] rickr commented on #46
Ah ok - it looks like type=password gives us the expected behavior. Closing this as there's no long an actionable item.

[2017-05-07 17:02] #46 closed

[2017-05-08 13:00] RobKriner commented on #15
@davidmolina we can but I need to know how many people we are talking about. Is there a list?

[2017-05-08 14:09] #31 closed

[2017-05-08 16:44] kylemh commented on #44
From @davidmolina -

Putting this off for now.

[2017-05-08 17:20] hollomancer commented on #30
Taking this quickly

[2017-05-08 17:49] rickr opened #58 "Change Dockerfile to use yarn"
The line `RUN npm install --quiet`

Should be changed to `yarn install --production --silent --no-progress`

[2017-05-08 19:44] #58 closed

[2017-05-08 20:15] davidmolina commented on #15
@RobKriner (in alphabetical order)

Aaron Suarez, Gulf Coast Chapter Leader
Aimee Knight, Board Director
Andy LaMora, Legislative Affairs
Ashley Templet, North Carolina Chapter Leader
Bradley Cantor, Legislative Affairs
Bret Funk, Deploy Advisor
Charles Sipe, Seattle Chapter Co-Leader
Conrad Hollomon, Chief of Staff & COO
Curt Arbtin, San Antonio Chapter Assistant
Dane King, Deploy Mentor
Dave Bar

[2017-05-09 02:19] hollomancer commented on #30
Resolved by #61

[2017-05-09 02:19] #30 closed

[2017-05-09 04:16] kylemh commented on #28
Closed by #62

[2017-05-09 04:16] #28 closed

[2017-05-10 06:48] #54 closed

[2017-05-10 09:10] kylemh commented on #19
Branch here:
https://github.com/OperationCode/operationcode_frontend/tree/code-schools

[2017-05-10 18:48] #35 closed

[2017-05-10 20:01] kylemh commented on #27
Automatic close didn't work ^

[2017-05-10 20:01] #27 closed

[2017-05-11 04:18] jjhampton opened #67 "Landing page mobile styling adjustments"
**Horizontal centering is a bit off:**

![screenclip](https://cloud.githubusercontent.com/assets/8835055/25932175/7937ce38-35de-11e7-872d-cb91a6c1f3a5.png)

**Landing page heading not filled by background image of the family:**

![screenclip](https://cloud.githubusercontent.com/assets/8835055/25932459/44d1bd60-35df-11e7-8849-6eae3454f659.png)

[2017-05-11 04:39] jjhampton opened #69 "Sign Up page mobile styling adjustments"
I noticed a couple of areas on the Sign Up page that could be improved on mobile.
Screenshots are from an emulated iPhone 5 (screen width 320px) on Chrome DevTools, but the same UI was also observed on an actual Android device w/ similar screen width.

![screenclip](https://cloud.githubusercontent.com/assets/8835055/25933007/b41522e0-35e2-11e7-8803-a8d650251d35.png)

![screenclip](https://cloud.gi

[2017-05-11 07:40] #67 closed

[2017-05-13 17:22] hollomancer opened #70 "Add A/B testing gem"
@rickr @RobKriner, I recall we were using Split for this before - https://github.com/splitrb/split

[2017-05-13 17:39] davidmolina opened #71 "Add a /financial-statements section in /about"
This is a good example: http://www.adelantemujeres.org/financial-statements/..

[2017-05-13 17:47] davidmolina opened #72 "Add a /hardware page"
- hardware issuance program

[2017-05-13 19:59] rickr commented on #72
Blocked until:
- [ ] we get copy/content
- [ ] We figure out where to place a link to this page (header? footer?)

[2017-05-13 20:00] rickr commented on #71
Do we have any statements to put there now or do you see this section being empty for now?

[2017-05-13 20:03] rickr commented on #70
For this ticket you'll need to:

- [ ] Evaluate A/B systems for node/react.
- [ ] Figure out how persistence/reporting works for that gem
- [ ] How persistence/reporting will interact with our rails backend.

[2017-05-13 20:04] davidmolina commented on #71
Empty for now.

We'll add a 2014, 2015, and 2016 soon.

[2017-05-13 20:09] rickr opened #73 "Redirect HTTP to HTTPS"
Anyone visiting any HTTP URL should be redirected from HTTP to HTTPS with the same URL and query params.

[2017-05-13 20:57] hollomancer commented on #72
When we get to the point of issuing out actual equipment, we need some form of contract or one-sheeter, DocuSign, and better identity management

[2017-05-13 21:31] davidmolina commented on #72
So far we've used DA 2062s. George keeps the original and we give a copy to the veteran. I've done it once to Joel.

[2017-05-13 23:45] rickr opened #74 "Send password to backend when signing up"
We should be sending the password/password_confirmation fields to the users API but we're currently only sending email and zip.

See:
https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/signup/signup.js#L54

[2017-05-13 23:51] rickr opened #75 "Highlight fields that are incorrect on login"
When a field is incorrect (eg blank email, invalid password complexity, no zip) the outline of the field should be red.

You can use bootstrap validations for inspiration:
https://v4-alpha.getbootstrap.com/components/forms/#examples

[2017-05-13 23:55] rickr opened #76 "Signup failures should be more noticeable"
See the current error message below:
<img width="546" alt="screen shot 2017-05-13 at 5 53 24 pm" src="https://cloud.githubusercontent.com/assets/334550/26030092/1ec71caa-3805-11e7-8a1a-45991f9bd001.png">

When a form fails to submit the error message should stand out more. In the screenshot above the error text is `There was an error joining operation code: email: can't be blank password: can't be

[2017-05-13 23:58] rickr opened #77 "Add feedback when a user submits the form to join"
On the signup page (/signup) when a user clicks the submit button there should be some kind of feedback that the user has clicked the button and a network request was made. This can be a spinner, or maybe just changing the text of the button to something like 'Joining...'.

[2017-05-15 17:34] dijahmac commented on #11
I'll take this!

[2017-05-15 17:37] dijahmac commented on #12
I'm interested in this. What kind of assets are you looking for for this?

[2017-05-18 13:35] rickr commented on #44
Time to pick this back up.

This URL is our CTA:
http://buytickets.at/operationcode/99297

[2017-05-18 16:18] hpjaj opened #79 "Create a Mentors page"
This page will showcase the Operation Code mentors.  It could contain:

- Areas the mentor "mentors" people in
- Cross-links to squads and other OC pieces they are involved with
- Where they live, in case a face-to-face is ever an option (as well as relative time zones)
- Some of the mentors history and experience, so they are more relatable
- Etc.

Some benefits are:

- Empowers the users to make

[2017-05-18 16:20] hollomancer commented on #79
I like the UX that https://www.evisors.com/ has for this @RobKriner

[2017-05-18 16:53] alexspence commented on #74
This should be fixed now correct?

[2017-05-19 12:32] rickr commented on #79
This is a pretty huge request so let's use this ticket as a place to discuss this feature. We can break out tasks as individual tickets and assign them to the mentorship milestone.

[2017-05-19 15:01] davidmolina commented on #79
Awesome recommendation. We have a new [`/team`](https://github.com/OperationCode/operationcode_frontend/issues/15#issuecomment-299977996) page going in the new design, but this adds to it. @rickr @hollomancer and the design team have been discussing how we increase mentorship via the site so this fits right in.

[2017-05-20 15:58] RobKriner commented on #79
@hollomancer that UX flow is interesting. It looks like we want to go the search online for a mentor route, but may need to get buy-in from the current mentors to put their info on the site. We can also build in the ability for the mentor to be available/unavailable on the site depending on their load (if we think that's needed)

[2017-05-22 17:16] rickr commented on #74
Yea - this was fixed in #78. Closing out.

[2017-05-22 17:16] #74 closed

[2017-05-23 21:04] jdivo commented on #75
I'd like to tackle this!

[2017-05-23 21:49] rickr commented on #75
All yours!

[2017-05-29 04:07] alexspence opened #85 "Update to latest CRA Scripts / Allow global CSS Imports"
We are still pretty close to standard Create React App Scripts - can update and benefit from recent updates.

We need to find a way to support global CSS imports with CSS Modules enabled.

[2017-05-30 21:01] rickr opened #90 "Add Apex Systems logo to 'Partners' section"
![apex color logo-full size](https://cloud.githubusercontent.com/assets/334550/26604828/e01edfb4-4548-11e7-9380-6b98197c5c31.jpg)
The Apex Systems logo can now be displayed under our partners section. It has been attached to this ticket.

- [x] Added logo to partners section
- [x] Added the following text to the footer:

[2017-05-30 21:08] #85 closed

[2017-06-02 23:50] kylemh commented on #90
@tskuse did you hit this already?

[2017-06-03 00:10] tskuse commented on #90
Yes. The logo and the disclaimer were both merged.

[2017-06-03 03:29] tskuse commented on #73
@rickr, Would you mind taking a look at https://github.com/tskuse/operationcode_frontend/commit/3c1b456ce5c10bad0ed74fb4e64af2d5ebe565b4 ?

Enabling Express `trust proxy`:

(Recommend reviewing config options: http://expressjs.com/en/guide/behind-proxies.html. I'm not fully aware of the serving arrangement.)

[2017-06-03 03:36] kylemh commented on #90
Closed in #92

[2017-06-03 03:36] #90 closed

[2017-06-03 19:20] kylemh commented on #19
[High-res mock-up](http://i.imgur.com/NYIoYIj.jpg)

[2017-06-03 21:13] davidmolina commented on #19
Damn Kyle. You just elevated that page to a whole new level!

[2017-06-05 04:19] rickr commented on #73
That looks like a sane change. We can merge it in and test it out in prod before we launch this week.

[2017-06-05 12:26] kylemh commented on #19
Branch contains virtually complete page! There will be quite a few merge conflicts as @Cooperbuilt and I danced around the respiratory making fixes to strange quirks with our stylesheets site-wide.

**Here are some TODOs I wrote within the code and am now documenting here:**
* FormInput Component could use a prop for icon placement within the left of the input bar
* FormInput Component's placehold

[2017-06-05 14:53] alexspence commented on #19
If you want I can rebase this on master with a new branch to fix merge conflicts and make the PR smooth.

[2017-06-05 17:01] hollomancer opened #96 "Add Github logo to sponsors"

[2017-06-05 17:01] hollomancer opened #97 "Add Docker logo to sponsors"

[2017-06-05 17:01] hollomancer opened #98 "Add O'Reilly logo to sponsors"

[2017-06-05 17:43] rickr commented on #97
Blocked due to lack of logo in the ticket

[2017-06-05 17:44] rickr commented on #73
Fixed in #95

[2017-06-05 17:44] #73 closed

[2017-06-05 17:45] rickr commented on #96
Blocked due to lack of logo in the ticket

[2017-06-05 17:46] rickr commented on #98
Blocked due to lack of logo in the ticket

[2017-06-05 17:51] rickr opened #99 "Allow users to search for code schools based on abbreviated state name"
Currently if a user searches for a code school by its abbreviated name (eg CO instead of Colorado) nothing will show up. A user should be able to search by either of these values and have all code schools show up.

It should look something like the state selector here, under the 'Search Selection' header:
https://semantic-ui.com/modules/dropdown.html

[2017-06-05 17:54] rickr commented on #99
Blocked until #19 is merged

[2017-06-05 20:22] kylemh commented on #19
@alexspence and I spoke on Slack regarding his idea to rebase. He said there weren't merge conflicts with master. @Cooperbuilt and I implemented fuzzy search for code schools by US State - so the code schools page is done :)

[2017-06-05 20:31] rickr opened #101 "Update code schools source"
In src/scenes/home/codeSchools/onlineSchools/onlineSchools.js:
- [x] Uncomment line 6 (`+// const endpoint =
 'https://api.operationcode.org/api/v1/code_schools.json';`)
- [x] Delete line 7 (`const endpoint = 'https://raw.githubusercontent.com/OperationCode/operationcode_frontend/code-schools-cooper-kyle/src/scenes/home/codeSchools/schools.json';`)

[2017-06-05 20:34] rickr commented on #101
Blocked on operationcode/operationcod_backend#24

[2017-06-05 21:14] kylemh commented on #98
Image has been made. Will finish adding in later tonight.

[2017-06-05 21:15] kylemh commented on #96
Image has been made. Will finish adding in later tonight.

[2017-06-05 21:15] kylemh commented on #97
Image has been made. Will finish adding in later tonight.

[2017-06-06 18:40] rickr commented on #101
Fix is in #100

[2017-06-06 19:08] kylemh commented on #99
https://github.com/OperationCode/operationcode_frontend/pull/100 contains this feature.

[2017-06-06 20:40] rickr opened #104 "Add Hacker Rank Logo to Partners"
# Feature
## Why is this feature being added?

We're partnering with hacker rank and can now add their logo to our page

## What should your feature do?
Add the attached logo to our partners section
![logo_hrwordmark2700x670_2](https://user-images.githubusercontent.com/334550/26850792-ff80192c-4ac5-11e7-9e6f-dc419758a9cd.png)

[2017-06-07 00:19] kylemh commented on #104
Image has been made.

Just waiting on #100 to get pulled in, before I go editing the landing page and deal with conflicts.

Once the PR is done, I'll be able to implement the partners section very easily.

[2017-06-07 03:47] kylemh opened #106 "Add functionality to code-schools page that provides back-up content when back-end goes down."
# Can't Tell If Bug Or Feature
## What is the current behavior?
If the API goes down, the `code-schools` page fails to render.

## What is the expected behavior?
If the API goes down, the SchoolCard components should fail to render, and a message explaining the missing content should appear.

## What steps did you take to get this behavior?
If the fetch fails at the top of `codeSchools.js` a diffe

[2017-06-07 11:39] hollomancer commented on #106
There might be another story that needs to be created, regarding custom error pages for various HTTP status codes.

[2017-06-07 21:10] #19 closed

[2017-06-07 21:10] #99 closed

[2017-06-07 21:10] #101 closed

[2017-06-07 22:11] kylemh opened #108 "Website on Firefox has many issues"
# Bug Report
## What is the current behavior?
Opening frontend.operationcode.org with Firefox reveals many visible issues when compared to the product via Chrome

## What is the expected behavior?
Opening frontend.operationcode.org with Firefox should look and feel identical (or at least more similar) to how it looks and feels on Chrome.

## What steps did you take to get this behavior?
I opened f

[2017-06-07 22:15] kylemh opened #109 "Website on Safari has many issues"
# Bug Report
## What is the current behavior?
Opening frontend.operationcode.org with Safari reveals many visible issues when compared to the product via Chrome. It is absolutely unusable.

## What is the expected behavior?
Opening frontend.operationcode.org with Safari should look and feel identical (or at least more similar) to how it looks and feels on Chrome.

## What steps did you take to get

[2017-06-07 22:31] kylemh opened #110 "Website on all major iOS mobile browsers have many issues"
# Bug Report
## What is the current behavior?
Opening frontend.operationcode.org with Safari iOS, Chrome iOS, or Firefox iOS reveals many visible issues.

## What is the expected behavior?
Opening frontend.operationcode.org with Safari should look and feel identical (or at least more similar) to how it looks and feels on Chrome via inspector tools mobile device emulator.

## What steps did you tak

[2017-06-07 22:38] kylemh opened #111 "Scroll anchor with LinkButton components do not work"
# Bug Report
## What is the current behavior?
As a user, if I navigate to frontend.operationcode.org/code-schools and click on one of the 4 blue buttons in the top section (see screenshot), the url changes to correctly reflect the named anchor, but scrolling does not occur.

## What is the expected behavior?
As a user, if I navigate to frontend.operationcode.org/code-schools and click on one of th

[2017-06-07 22:51] kylemh opened #112 "sideNav and topNav Component Should Dynamically render links"
# Feature
## Why is this feature being added?
If we add more routes to our website, they must be individually added to `home.js`, `sideNav.js`, and `topNav.js`. Do you hear that? Ray Hettinger just pounded his fist and we all automatically said, "There must be a better way!"

## What should your feature do?
If a route is added to `home.js`, the ideal implementation of this general feature means th

[2017-06-08 01:04] rickr opened #113 "Wire up automated cross browser testing"
# Feature
## Why is this feature being added?

Most likely developers are adding features and testing in one browser. We should have an automated check to make sure the functionality is the same across browsers.

## What should your feature do?
In a perfect world I would love to see something that upon a new PR (or update to a PR) looks at the files changed and attaches screenshots (or a link to s

[2017-06-08 02:08] #109 closed

[2017-06-08 02:20] kylemh commented on #110
Fixed in #109

[2017-06-08 02:20] #110 closed

[2017-06-08 12:45] #96 closed

[2017-06-08 12:45] #97 closed

[2017-06-08 12:45] #98 closed

[2017-06-08 12:45] #104 closed

[2017-06-08 14:39] Cooperbuilt commented on #15
Is the ultimate intention to create an endpoint for the staff / volunteers to source the UI, or can we move forward hard-coding in their info for now?

[2017-06-08 14:42] kylemh commented on #15
I think we should try to put staff information into a yaml file like the Code Schools info. It will make the component hundreds of lines smaller.

[2017-06-08 16:18] Cooperbuilt opened #118 "ID.me Profile Implementation"
# Feature
Adding Id.Me Military Authentication to our user profiles

## Why is this feature being added?

This authentication will vet applicants seeking scholarships.

## What should your feature do?
Add a button in the user profile section linking to the Id.Me authentication system. After the user is successfully authenticated, update the user's profile in both the UI and the backend with some f

[2017-06-08 20:07] hollomancer commented on #118
For implementation, @rickr, we'll need to consider a design that associates scholarship application with the id.me verification. Right now, scholarship applications simply link to an Airtable form.

[2017-06-08 20:37] hollomancer opened #119 "Text under "Join Today!" is difficult to see against the background image."
# Bug Report
## What is the current behavior?
![image](https://user-images.githubusercontent.com/9288648/26949610-99fe1802-4c68-11e7-955d-f8738b83c78c.png)
## What is the expected behavior?
Text is more visible against the background.

## Additional Info
### Operating System
OS X
### Browser
Safari

[2017-06-08 20:53] hollomancer commented on #113
Sauce Labs and Browserstack provide functionality like this.

[2017-06-09 03:37] rickr commented on #118
I think for now saving state in the DB and manually checking will have to be the way we go about things. In the near future we have an events endpoint on the way. Once that lands we can have have applications check for status.

[2017-06-09 17:31] rickr commented on #113
We now have a browserstack account.

We still need more detail on how this is implemented. Ideally when a new PR comes in we would have browserstack run some tests/take some screenshots and report its status to said PR.

[2017-06-09 17:50] rickr opened #121 "Add Terms Of Service"
# Feature
## Why is this feature being added?

Since we're moving to a more traditional webapp we should have a terms of service

## What should your feature do?
Add a `/terms` URL that displays our terms of service.

[2017-06-09 17:54] rickr opened #122 "Add Privacy Policy"
# Feature
## Why is this feature being added?

We will be collecting user's info and saving it into a database. We should provide our users with a privacy policy.

## What should your feature do?
Add a `/privacy` URL that displays our privacy policy

[2017-06-09 17:56] rickr opened #123 "Update TOS and privacy URIs in id.me"
# Feature
## Why is this feature being added?

id.me allows us to specify our TOS and privacy URLs.

## What should your feature do?
Update the id.me application with the new urls.

This is blocked on #121 and #122

[2017-06-09 17:59] rickr opened #124 "Enable production mode for id.me"
# Feature
## Why is this feature being added?

We will need to request to change our Application Status to production mode to go live

## What should your feature do?
Update the id.me app to production mode

Blocked until the id.me milestone is complete.

[2017-06-09 18:51] rickr opened #125 "Create ID.me redirector"
# Feature
## Why is this feature being added?

This is step 2 of verifying a user with ID.me.

## What should your feature do?
Add a new path `/profile/verify`
ID.me will redirect to this path upon successful verification.
They pass us 1 parameter `access_token`. That code needs to be passed to the backend (along with the JWT token) at the URL `/api/v1/users/profile/verify`.
Once that call has bee

[2017-06-10 05:32] davidmolina commented on #15
If possible, let's change it to `/team` and put everyone in alphabetical if possible. I'd like to stay away from a `/staff` page, `/board` page, etc.

[2017-06-10 15:06] alexspence commented on #112
I don't think this is a doable approach.  Just because a route is added doesn't mean it needs to go on our main navigation.  There can be routes in different pages etc.  Also - if we start using dropdown menus in nav, how would we dynamically add the navigation?

I think we can definitely consolidate the topnav vs sidenav, pull from the same source and render differently, but generating links base

[2017-06-10 19:13] kylemh commented on #112
I didn't mean to suggest that we throw any and all links from `home.js` onto the navigation. I mean to highlight what you said here:

Just eliminating as much duplicate coding as possible.

[2017-06-11 11:21] hollomancer commented on #10
Physical addresses

[2017-06-11 14:59] hollomancer opened #128 "Center text next to images on frontpage - "What We Do""
<img width="683" alt="screen shot 2017-06-11 at 7 42 39 am" src="https://user-images.githubusercontent.com/9288648/27011955-fc40fc86-4e94-11e7-8b6d-9d5021e3c8d2.png">

There is a large space between the header of each section, and the block of text. This space needs to be much smaller, and centered vertically next to the image.

[2017-06-11 15:07] hollomancer opened #129 "Not enough space between Call To Action and button on frontpage"
<img width="1011" alt="screen shot 2017-06-11 at 7 42 29 am" src="https://user-images.githubusercontent.com/9288648/27011968-3608fb58-4e95-11e7-8f9f-770210e851c2.png">

There is very little space between the Call to Action and the button on the frontpage. Would like to see at least 12 pixels' difference here.

This is on Safari desktop.

[2017-06-11 17:44] kylemh commented on #129
This problem also exists on Firefox, but not on Chrome.

[2017-06-11 17:44] kylemh commented on #128
The white parts of this card are also completely broken on Firefox.

[2017-06-12 01:31] hollomancer opened #132 "Add trademark to mentions of Operation Code"
Need to add &trade; to all areas where Operation Code is mentioned, as well as the logo.

[2017-06-12 01:35] hollomancer opened #133 "Hamburger menu on mobile needs styling"
## Additional Info
### Operating System
Android N
### Browser
Chrome

[2017-06-12 02:34] rickr commented on #44
Let's make this page contain the following content/embeded code to buy a ticket:

Operation Code Gala

Nov 10, 2017
Governor's Ballroom, Sentinel Hotel
Portland, Oregon

[code]

[2017-06-12 02:43] rickr opened #134 "Disable links that lead to the login page"
# Feature
## Why is this feature being added?

There are a few issues with the items in the nav menu once logged in.

## What should your feature do?
Disable all 'Log In' links, or links that would lead to the log in page.

The routes should be left in place so we can deploy/test fixes but a user shouldn't be able to get to a login page without knowing the exact route.

[2017-06-12 02:45] rickr opened #135 "Enter does not work on log in"
# Bug Report
## What is the current behavior?
Enter does not submit the login form

## What is the expected behavior?
Enter should submit the login form

## What steps did you take to get this behavior?
Visit `/login`
Enter your information
Press enter

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-06-12 18:54] rickr commented on #132
Closed in #136

[2017-06-12 18:54] #132 closed

[2017-06-12 21:10] #123 closed

[2017-06-12 22:32] kylemh commented on #133
Do you have pictures of what this issue looks like?

[2017-06-13 11:25] #134 closed

[2017-06-13 14:59] mattmacneil commented on #133
I took a look at the current menu - it's called sideNav and does slide in from the left, but this layout is only present from 760px to 480px. At points wider than 760 it's hidden, and below 480 .body is set to 100% width of the viewport.

I left out this sidebar-style layout and start at 100% width right at 760 and lower. It loses some of the dynamic look it had before, but as that sidebar look on

[2017-06-13 15:19] alexspence commented on #133
👍

[2017-06-13 16:02] hollomancer commented on #133
@mattmacneil, I like this a lot. I think what you've shown here is the way to go.

[2017-06-13 21:51] Cooperbuilt commented on #135
Currently the <FormButton /> element uses `onClick={this.handleOnClick}`
I believe if we change this to an obSubmit instead it should catch the enter button.

[2017-06-13 21:57] rickr opened #139 "Replace Operation Code™ instances with Operation Code"
# Feature
## Why is this feature being added?

Operation Code™ looks weird.

## What should your feature do?
Remove all `™`s by Operation Code *with the exception* of the following line in the footer:
`Copyright 2017 Operation Code™`

[2017-06-14 00:42] #139 closed

[2017-06-14 00:42] #119 closed

[2017-06-14 01:51] #111 closed

[2017-06-14 03:15] rickr opened #142 "Contact Us button does not work"
# Bug Report
## What is the current behavior?
Contact Now doesn't work

## What is the expected behavior?
Contact Now opens a mailto link

## What steps did you take to get this behavior?
Visit the home page, click on the `Contact Us` button

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-06-14 03:16] rickr opened #143 "Google Analytics does not work"
# Bug Report
## What is the current behavior?
GA does not load

## What is the expected behavior?
GA loads

## What steps did you take to get this behavior?
Visit a page, notice that the GA code is not loaded

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-06-14 03:48] jjhampton commented on #133
The 480px - 760px range applies to most mobile phones at landscape layout.

I'm not entirely convinced that the navigation menu absolutely needs to cover the entire screen at width at that range.  Many sites with a sidebar-style nav menu that is triggered from the hamburger (Uber, Google Maps for example) don't do this - the menu is only as wide as it needs to be.

Right now the menu content is ba

[2017-06-14 04:07] jjhampton opened #144 "Link to Code Schools page is missing from sidebar navigation menu"
# Bug Report
## What is the current behavior?
As a user, I cannot navigate to the Code Schools page from a link in the side-bar navigation menu, when accessing the page on a mobile / small-width device (anything less than 760px width).  The link is displayed on larger width screens, but not at smaller width screens.

## What is the expected behavior?
As a user, I can navigate to the Code Schools p

[2017-06-14 04:50] jjhampton commented on #133
Looking back at it though - one downside to *not* covering the entire screenwidth at mobile widths btw/ 480px - 760px (current behavior) is that there is visible content z-indexed underneath the SideNav (the rest of the page), and gives the user the affordance that they can scroll down.  Looks like there's also a current UI glitch where if the user scrolls down, the SideNav scrolls upward (needs t

[2017-06-14 04:54] rickr opened #145 "Create style guide"
# Feature
## Why is this feature being added?
We should have a documented way of styling common elements. Our codebase has inconsistent patches that are allowed by our build process and review system, because no guidelines are in place.

## What should your feature do?
- [ ] I want to document our project [like this medium article does](https://engineering.musefind.com/our-best-practices-for-writi

[2017-06-14 04:58] mattmacneil commented on #133
@jjhampton I agree 100% that 760 is really wide to be going fullscreen nav, I'm working on something now for users 480-760. I have a few ideas and will be running them by you tomorrow.

[2017-06-14 12:34] #144 closed

[2017-06-14 12:46] fetherolfjd opened #147 "Clicking "Donate Now" goes nowhere"
# Bug Report
## What is the current behavior?
Clicking the "Donate Now" button towards the bottom of the main page, does not go to the donate page.

## What is the expected behavior?
To go to the donate page.

## What steps did you take to get this behavior?
Click "Donate Now"

## Additional Info
### Operating System
macOS 10.12.5

### Browser
Chrome 58

### Screenshots
<img width="1304" alt="scre

[2017-06-14 12:51] fetherolfjd opened #148 "Social Media buttons do not work"
# Bug Report
## What is the current behavior?
Social media buttons open blank OpCode page.

## What is the expected behavior?
Go to the social media site for Operation code.

## What steps did you take to get this behavior?
Click the buttons.

## Additional Info
### Operating System
macOS 10.12.5

### Browser
Chrome 58

### Screenshots
<img width="451" alt="screen shot 2017-06-14 at 6 49 33 am" sr

[2017-06-14 12:53] fetherolfjd opened #149 "More Information picture links just jump to top of page"
# Bug Report
## What is the current behavior?
The picture links in the More Information section just jump back to the top of the page.

## What is the expected behavior?
They should lead somewhere else, or not be clickable.

## What steps did you take to get this behavior?
Click the pictures.

## Additional Info
### Operating System
macOS 10.12.5

### Browser
Chrome 58

### Screenshots
<img width=

[2017-06-14 13:43] rickr commented on #40
Done!

[2017-06-14 13:43] #40 closed

[2017-06-14 13:44] rickr commented on #108
Fixed in #140

[2017-06-14 13:44] rickr commented on #128
Fixed in #140

[2017-06-14 13:44] #128 closed

[2017-06-14 13:45] #149 closed

[2017-06-14 13:51] #147 closed

[2017-06-14 13:51] #142 closed

[2017-06-14 13:51] #148 closed

[2017-06-14 14:11] egomadking opened #153 "page breaks in IE11 on our work computers"
# Bug Report
## What is the current behavior?

operationcode front page does not load properly on Internet Explorer 11 on our work computers. Replicated issue on two separate machines. Loads properly in FireFox on same computers

## What is the expected behavior?

functional page load

## What steps did you take to get this behavior?

opened operationcode.org in IE11 on a military unclass network

[2017-06-14 14:15] rickr opened #154 "Create Military Families and Spouses page"

[2017-06-14 14:15] rickr opened #155 "Create Veterans, Active Duty, and Reservists page"

[2017-06-14 14:16] rickr opened #156 "Create Volunteers and Sponsors page"

[2017-06-14 14:52] jbree opened #157 "Signup page broken in Safari"
# Bug Report
## What is the current behavior?
Cannot scroll down to see lower elements of form or submit button on signup page. Also, styling of dropdown menu looks weird.

## What is the expected behavior?
Visible form items

## What steps did you take to get this behavior?
Load page

## Additional Info
### Operating System
macOS 10.12.5

### Browser
Safari 10.1.1

### Screenshots
![screen shot 2

[2017-06-14 17:01] #143 closed

[2017-06-14 17:49] #157 closed

[2017-06-14 21:15] kylemh commented on #153
@alexspence had thoughts on this problem. We thought we had it covered with our dependencies using Flexbugs! Having Browserstack and knowing what the problem looks like should lead to a fix ASAP.

[2017-06-14 21:26] kylemh commented on #108
- Content still overflows on minimum window width.
- Margin between Flexbox items doesn't work cuz I used percentages 👎
- Padding doesn't seem uniform on the Section component between Firefox and Chrome.
- The `ClipPathImage` component still doesn't render properly.

I've lowered the priority on the issue because many of the bugs have been fixed; however, I've reopened the issue because problems r

[2017-06-14 21:27] kylemh commented on #129
Duplicate issue related to non-uniform padding discussed in #108

[2017-06-14 21:27] #129 closed

[2017-06-14 23:11] hollomancer commented on #154
@RobKriner, I believe we had a design for this already...

[2017-06-14 23:16] hollomancer commented on #154
![desktop-military-families-design-spec](https://user-images.githubusercontent.com/9288648/27158555-7e31f004-5135-11e7-954d-b4a1052d97d4.png)

[2017-06-15 00:53] rickr opened #161 "Create '404' page"
# Feature
## Why is this feature being added?

When someone visits a path that does not have a route a blank page is displayed.

## What should your feature do?
Add a catch all route that if no other routes apply is displayed. This would be similar to a 404 page on a non SPA app.

[2017-06-15 13:21] Cooperbuilt commented on #161
I'll grab this. Are we ok with a little humor on this page?

[2017-06-15 14:14] hollomancer commented on #161
@Cooperbuilt Definitely!

[2017-06-15 14:39] mattmacneil commented on #133
Would anyone be interested in going forward with the nav version I posted those pics for? I would like to continue trying to make something that makes better use of the space for tablets and portrait, as discussed above. But in the meantime the one I have could be better for mobile users, as the home & open close button positions are more consistent and the spacing/size of the links are better for

[2017-06-15 15:13] lebilly commented on #69
I can take this.

[2017-06-15 17:28] alexspence commented on #133
Hi @mattmacneil I can help you with a PR, lets sync up on Slack.

[2017-06-15 17:51] alexspence opened #162 "Allow users to reset password."
# Feature
Give users the ability to reset their password in case they forgot it.
## Why is this feature being added?
In order to fully support login, we need to give users the ability to reset their password or they get locked out of our system if they forget their password.

## What should your feature do?
~Send password reset email to the user.  When the user clicks the email, they should be val

[2017-06-15 17:52] alexspence opened #163 "Enable Login"
# Feature
We have some basic login functionality, but it is currently disabled due to various bugs.  This issue will encompass everything required to enable the login functionality.
## Why is this feature being added?
The ability to have users log in to our system.  This will be required for various features like mentor / mentee tracking and id.me integration.

## What should your feature do?
Allo

[2017-06-15 20:03] rickr opened #165 "Increase contrast in header"
# Feature
## Why is this feature being added?

The text on the home page is kind of hard to read

## What should your feature do?
Maybe we can either make the header lighter or change the font color?

[2017-06-15 20:07] rickr opened #166 "Make 'What We Do' section responsive?"
# Feature
## Why is this feature being added?

The layout might be able to be condensed.

## What should your feature do?
Make the boxes in the `What We Do` section flexbox-y.

[2017-06-15 20:29] rickr commented on #75
Hi @jdivo - how's this issue coming along?

[2017-06-15 20:29] rickr commented on #69
Hi @lebilly - it's all yours!

[2017-06-15 21:06] mattmacneil commented on #166
text-shadow might be a good short-term fix, compare below:

<img width="1073" alt="screen shot 2017-06-15 at 17 05 11" src="https://user-images.githubusercontent.com/12282173/27201774-e3500572-51ec-11e7-88e7-0635eccb200a.png">

<img width="1087" alt="screen shot 2017-06-15 at 17 05 22" src="https://user-images.githubusercontent.com/12282173/27201780-e646be38-51ec-11e7-8aad-7a57b522453c.png">

[2017-06-15 21:07] mattmacneil commented on #165
Adding text-shadow to the header might be a good short-term fix, see comparison below:

<img width="1087" alt="screen shot 2017-06-15 at 17 05 22" src="https://user-images.githubusercontent.com/12282173/27201819-1cc6690e-51ed-11e7-8371-012e4a4b9c69.png">

<img width="1073" alt="screen shot 2017-06-15 at 17 05 11" src="https://user-images.githubusercontent.com/12282173/27201824-20d24c16-51ed-11e7-9

[2017-06-15 21:18] mattmacneil commented on #165
Also adding margin-bottom to that h1 and giving the headline some breathing room seems to make it pop more IMO.

[2017-06-15 21:40] rickr commented on #44
Hi @pauldpearson. I'm gonna have to steal this from ya.

[2017-06-15 21:51] mattmacneil commented on #165
Another possibility:

<img width="1680" alt="screen shot 2017-06-15 at 17 50 46" src="https://user-images.githubusercontent.com/12282173/27203317-4883e688-51f3-11e7-9514-7d726948906b.png">

[2017-06-16 01:29] rickr opened #171 "Create Media page"
# Feature
## Why is this feature being added?

We should have a page for people to download our logos and marketing material.

## What should your feature do?
Add a /media page and a link in the footer.

[2017-06-16 02:14] #44 closed

[2017-06-16 02:20] #69 closed

[2017-06-16 02:25] hollomancer commented on #70
Contacted Optimizely to get a sense of their nonprofit offerings.

[2017-06-16 02:31] #165 closed

[2017-06-16 02:40] #161 closed

[2017-06-16 06:38] lebilly commented on #76
Going to take this one.

[2017-06-16 12:47] rickr commented on #72
This page can probably handle listing available hardware and manage sign up for the program and donation of hardwarw

[2017-06-16 14:29] rickr opened #174 "Add 'backend' to Makefile"
# Feature
## Why is this feature being added?

We should have an easy way for frontend people to run the backend

## What should your feature do?
Add a `make backend` target

[2017-06-16 14:53] hollomancer commented on #72
@rickr, MVP here could just be embedding an Airtable form?

[2017-06-16 16:22] rickr opened #176 "Sign Ups are not working"
# Bug Report
## What is the current behavior?
Sign ups do not work

## What is the expected behavior?
Sign ups should work

## What steps did you take to get this behavior?
Visit `/join` fill in the form, no POST request is sent and you're redirected to `/join?`

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-06-16 17:01] #176 closed

[2017-06-16 18:03] mattmacneil commented on #145
Can I get in on this too? I'm stuck on a few things in react so I won't be building much but could contribute to this in the meantime.

[2017-06-16 20:53] hollomancer opened #179 "Add Oracle to partners section"
Need a higher-res version of this;

![image](https://user-images.githubusercontent.com/9288648/27246243-255a0fc2-52be-11e7-8260-57f3a11bcafd.png)

[2017-06-17 02:03] davidmolina opened #180 "Move PDX Code Schools to VA-approved section"
![pdxcodeguild_va](https://user-images.githubusercontent.com/1848616/27249272-5bfb0330-52c6-11e7-956e-972e945fd9c0.png)

[2017-06-17 02:56] rickr commented on #179
Did you get that from here?

http://www.oracle.com/us/corporate/press/016236

[2017-06-17 16:05] johnf24 commented on #166
@rickr I would like to help put with this. Can you give me a little more information as to what you would like done?

[2017-06-17 17:59] davidmolina opened #182 "Add /hardware donors"
# Feature
## Why is this feature being added?
It be great to add donors to the /hardware page, ex. name, twitter and hardware equipment to thank those who support our veterans/families.

[2017-06-17 23:17] kylemh commented on #145
Of course - this is open source, my man! I don't think I'll be able to contribute until this coming weekend.

[2017-06-17 23:19] kylemh commented on #180
This is actually a problem for the back-end API - @rickr

[2017-06-18 14:09] #133 closed

[2017-06-19 16:30] rickr opened #185 "Add sentry"
# Feature
## Why is this feature being added?

Sentry helps track errors.

## What should your feature do?
Follow https://sentry.io/for/react/
Our public DN is `https://23e9c0c37a3841b8a692c98b8978f515@sentry.io/147247`

[2017-06-19 19:30] lebilly commented on #185
I'll take care of this one.

[2017-06-19 19:32] lebilly commented on #77
I'll take over this one.

[2017-06-20 14:07] lebilly commented on #179
I'll take this one.

[2017-06-20 15:41] #185 closed

[2017-06-20 16:37] #76 closed

[2017-06-20 18:56] johnf24 commented on #182
I could do this. Can you direct me to the hardware page and where and what donors you would like added?

[2017-06-20 18:58] rickr commented on #182
Hey @johnf24 I think this is a dupe of #72. Lets move discussion there.

[2017-06-20 18:58] #182 closed

[2017-06-20 19:00] rickr commented on #72
From #182:

[2017-06-20 19:04] rickr commented on #72
I think to move forward we can put together a little blurb on the program, and display a list of our donors.

We can then create 2 other pages with embedded air table forms. They'll be called `/request` and `/donate`.

Tasks:
- [ ] Create Donation form
- [ ] Create Hardware request form
- [ ] Create copy/content about the program

@hollomancer can you take the last item?

[2017-06-20 20:01] lebilly commented on #179
Do you want me to add this logo to the sponsors page or just load the asset into src?

[2017-06-20 20:03] kylemh commented on #179
@lebilly goes here: https://github.com/OperationCode/operationcode_frontend/tree/master/src/images/partnerLogos

Follow the naming conventions and please only upload a 600x600 jpg.

[2017-06-20 20:28] lebilly commented on #179
iPhone 4
![localhost-4000- iphone 4](https://user-images.githubusercontent.com/9342687/27354357-26113886-55bc-11e7-9899-27f65ff2ba22.png)
---
iPhone 6 Plus
![localhost-4000- iphone 6 plus 1](https://user-images.githubusercontent.com/9342687/27354379-395dfa32-55bc-11e7-90db-207011800315.png)
---
Width: 1080
![localhost-4000- 1](https://user-images.githubusercontent.com/9342687/27354215-aec60f04-55b

[2017-06-20 20:43] JYoung217 opened #190 "Add Code Platoon as a "Partnered School""
I'm going to add Code Platoon, NFP, as a "Partnered School" with Operation Code. We were added to the "Online Schools" backend in https://github.com/OperationCode/operationcode_backend/pull/64. I didn't realize that I had to add a separate component for the frontend.

[2017-06-20 21:42] #179 closed

[2017-06-20 21:43] #190 closed

[2017-06-21 00:36] #180 closed

[2017-06-21 14:22] #174 closed

[2017-06-23 00:05] hollomancer commented on #13
@mattmacneil, I'd like to consider ways we can integrate the veteran map with our map on Meetup Pro. This would be very cool to integrate onto our front page, as well.

[2017-06-23 01:10] rickr opened #195 "Add quickstart instructions to README.md"
# Feature
## Why is this feature being added?

It should be easy for someone to pull in this repo and see it run on their local machine.

## What should your feature do?
Add a section explaining the bare minimum (best case scenario) for getting this repo to run locally.

It should be as easy as `npm install -g yarn && yarn install && yarn run` or equivalent.

[2017-06-23 01:16] C-Lion opened #196 "Do I really have to be running Sierra to work on the Operation Code Front End?"
# Front E
## Why is this feature being added?
The page: https://github.com/OperationCode/operationcode_frontend/blob/master/CONTRIBUTING.md
sends me to apple.com to upgrade to Sierra.

## Does this mean I have to be running Sierra to contribute to Operation Code's Front End if I am using a mac?

[2017-06-23 01:43] kylemh commented on #196
Can we get some more details on this? Do you really mean that simply clicking that link directs you to an Apple website?

[2017-06-23 02:41] alexspence commented on #196
The recommended and easiest approach is to upgrade.  You don't have to, but you may run into issues that aren't covered in the guide.

[2017-06-23 02:49] alexspence commented on #108
Can we open a new ticket for this?  There are always going to be cross browser issues - lets solve them as they crop up in new tickets.

[2017-06-23 02:49] rickr commented on #108
@kylemh what issues are outstanding?

[2017-06-23 03:45] alexspence commented on #108
I think the best route is to open an issue for each problem.  So we can solve one thing at a time.

[2017-06-23 04:37] kylemh opened #197 "FIREFOX: ClipPathImage fails to render"
# Bug Report
## What is the current behavior?
![What the 'More Info' section looks like on Firefox](https://user-images.githubusercontent.com/9523719/27466864-999fa1f2-5792-11e7-85d9-6b5b51d81863.png)

## What is the expected behavior?
![What the 'More Info' section looks like on Chrome](https://user-images.githubusercontent.com/9523719/27466880-b2ef5396-5792-11e7-9f9d-95fedef18c63.png)

## What s

[2017-06-23 04:41] kylemh opened #198 "FIREFOX: SchoolCard components have smaller text"
# Bug Report
## What is the current behavior?
![What the SchoolCard component text looks like on Firefox](https://user-images.githubusercontent.com/9523719/27466962-39cc9338-5793-11e7-89c3-ac18d7243411.png)

## What is the expected behavior?
![What the SchoolCard component text looks like on Chrome](https://user-images.githubusercontent.com/9523719/27466961-39c66526-5793-11e7-916f-0a11d7a91e04.png

[2017-06-23 04:45] kylemh opened #199 "FIREFOX: Content overflows when viewing website on minimum width window"
# Bug Report
## What is the current behavior?
![Notice that images span past the right border of my window...](https://user-images.githubusercontent.com/9523719/27467037-db623ebe-5793-11e7-96ed-3e4ce88ae34f.png)

## What is the expected behavior?
The content should be centered and there should be a small margin between it and the left/right borders of the window.

## What steps did you take to get

[2017-06-23 04:46] kylemh commented on #108
ClipPathImage not rendering on Firefox:
https://github.com/OperationCode/operationcode_frontend/issues/197

SchoolCard components have smaller text on Firefox:
https://github.com/OperationCode/operationcode_frontend/issues/198

Content overflows when viewing website on minimum width Firefox window:
https://github.com/OperationCode/operationcode_frontend/issues/199

[2017-06-23 04:46] #108 closed

[2017-06-23 05:31] kylemh commented on #145
So, I've realized that my initial thought of a style guide is totally out-of-date and unnecessary. We should be able to mandate styles globally within index.css

I am, however, going to create an issue for implementing a pattern library.
https://boagworld.com/design/pattern-library/

[2017-06-23 05:38] kylemh opened #200 "Implement Pattern Library"
# Feature
## Why is this feature being added?
https://boagworld.com/design/pattern-library/

tl;dr - A pattern library is a documented collection of design elements that appear multiple times across a site. A developer might use a pattern library to explore all of the components available to them while also seeing how the components are utilized.

Example of a good pattern library:
https://vuetify

[2017-06-23 06:14] alexspence commented on #200
We already have storybook added to the project.  https://github.com/storybooks/storybook

[2017-06-23 06:20] alexspence commented on #145
I think we need a style guide to determine how our CSS should be written.

Things like, when to use px vs em vs rem vs vf.  When to use flexbox.  Naming conventions.  Using css modules and avoiding global styles.  Using classnames instead of styling element types.

I think we can use storybook to showcase common components, and their different states to show people how to use them.  There we can g

[2017-06-23 13:12] hollomancer commented on #70
Optimizely is out of our price range. Evaluated Google Optimize, but we need https://github.com/react-ga/react-ga/issues/135 fixed first, at least if we're going to use the react-ga gem.

[2017-06-23 15:14] C-Lion opened #201 "404 error on https://operationcode.org/founder page"
# Bug Report
##

## What is the expected behavior?
I expect to see the text with David Molina's Bio information.

## What steps did you take to get this behavior?
I type in: https://operationcode.org/founder

## Additional Info (same issue with /board page as well

### Operating System osx (10.10)

### Browser Chrome

### Screenshots

![oc founder not working](https://user-images.githubusercontent

[2017-06-23 17:51] mattmacneil commented on #13
Is there a version of it anywhere on the site right now? Or a longer description of what it requires?

[2017-06-23 17:58] #200 closed

[2017-06-23 18:28] alexspence commented on #201
We don't currently have a founder page.  We are working to add content as listed in the issues.

[2017-06-23 18:29] #196 closed

[2017-06-23 18:29] #201 closed

[2017-06-25 19:43] hollomancer opened #204 "Evaluate integration of Heap Analytics"
# Feature
## Why is this feature being added?
* Evaluating alternatives to Google Analytics that give us additional information on how our website is being used. Heap automatically captures every user interaction including clicks, taps, gestures, form submissions, page views, etc. Also allows us direct SQL access and better user identification.
## What should your feature do?
This snippet needs to

[2017-06-26 16:13] egomadking commented on #153
I am now seeing nothing except for the teal chat icon in the lower right. I outputted the source and a console error to **[this gist](https://gist.github.com/egomadking/34c9edcddd9651077555f76f62686c57)**.

[2017-06-26 22:30] davidmolina commented on #15
I'll work bios for Mike Slagh, Board Advisor; John Garcia, Board Advisor; Jay Bloom, Board Advisor.

[2017-06-26 22:32] Cooperbuilt commented on #15
@davidmolina Where do you see the bios going?

[2017-06-26 22:38] kylemh commented on #15
@Cooperbuilt @RobKriner @davidmolina

Maybe we can create a separate component for BoardMemberCards as opposed to TeamMemberCards?

[2017-06-26 22:39] Cooperbuilt commented on #15
@kylemh I agree with this. I already have something worked up for it. My team member cards are basic, and the board/ more important folks could have larger cards

[2017-06-27 19:15] davidmolina opened #205 "Add Slack login icon in header"
It would be good for user signup flow if we could have the Slack logo as an icon in the header-- cc @mattmacneil

[2017-06-27 22:45] mattmacneil commented on #205
I can do this, will get in there tomorrow. So where is the logo going? Is it a new button to direct a user somewhere or is it just to show what OC uses? Or in the join button?

[2017-06-28 00:41] davidmolina commented on #205
Thanks Matt. Thinking for now, directs them to:
https://operation-code.slack.com/messages.

On Tue, Jun 27, 2017 at 3:45 PM, Matt MacNeil <notifications@github.com>
wrote:

[2017-06-28 01:05] kylemh commented on #205
@davidmolina they wont be able to access the Slack without registering first, so I don't know how much usefulness this provides. If they register for our Slack via our website, they'll be sent the appropriate links via email.

[2017-06-28 02:56] davidmolina commented on #205
Seen this issue in Slack more than once. Seen more than once folks using the browser to login vs the app. Just a way for folks to find the link quickly and find us. Either or.

[2017-06-28 12:44] hollomancer commented on #205
If we can provide a widget that shows the number of users on Slack as a part of this, this could act as a secondary signup flow. Would just link to the join page.

[2017-06-28 18:38] Cooperbuilt commented on #14
What contact information do we want to display here?

[2017-06-29 16:15] #163 closed

[2017-06-29 21:34] kylemh commented on #118
@alexspence how does #203 affect this?

[2017-06-29 22:16] kylemh opened #210 "Implement new select component for fuzzy search in <StateSortedSchools> scene"
# Feature
## Why is this feature being added?
Currently, [<StateSortedSchools>](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/codeSchools/stateSortedSchools/stateSortedSchools.js) utilizes a hand-built fuzzy search with a... modest UX by yours truly. Team Front-end discussed it and we'd like to implement the UX readily available with the jQuery library [Select

[2017-06-30 00:26] kylemh opened #211 "Display all OC Meetup.com links as carousel on landing page"
# Feature
## Why is this feature being added?
@davidmolina wants it; thy will be done!

Also, it sounds like a great idea to get people more committed/involved via physical meetups.

## What should your feature do?
Display, as a [carousel of images](https://www.w3schools.com/bootstrap/bootstrap_carousel.asp) representing all active OC Chapter Meetup.com pages.

## NEED MORE DETAILS
Please provide

[2017-06-30 17:57] davidmolina opened #213 "Add more details on Board of Directors"
# Feature
## Why is this feature being added?
- More details provided for Board of Directors for potential partners

## What should your feature do?
Add the following content to /team ...

**Dr. James Davis**
_Chair, Operation Code_
Dr. James Davis is an experienced software developer, entrepreneur, combat veteran, and professor. He has a PhD in Information Systems & Decision Science from Louisian

[2017-06-30 18:27] leenyburger opened #214 "Display meet-ups based on current user's location"
# Feature
## Why is this feature being added?

## What should your feature do?

---

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-06-30 19:55] kylemh commented on #213
@Cooperbuilt for entry into #209

[2017-06-30 19:59] kylemh commented on #214
- Updated OP and issue title.
- Closed issue made irrelevant by this one.

[2017-06-30 19:59] kylemh commented on #211
Closed in favor of #214

[2017-06-30 19:59] #211 closed

[2017-06-30 20:02] kylemh commented on #15
Details provided in #213 by @davidmolina moved here:
<hr>
For the /team page, under Board of Directors, the following:

Dr. James Davis
Chair, Operation Code
Dr. James Davis is an experienced software developer, entrepreneur, combat veteran, and professor. He has a PhD in Information Systems & Decision Science from Louisiana State University along with the PMP, CSP, and CSM project management cert

[2017-06-30 20:03] kylemh commented on #213
Further, past information presented in #15

[2017-06-30 20:09] kylemh opened #215 "Link /team /faq and /contact to footer"
# Bug Report
## What is the current behavior?
/team /faq and /contact are existing endpoints, but it does not appear in the navigation of our website.

## What is the expected behavior?
There should be links in both the footer component leading a user to the listed routes.

[2017-06-30 20:18] kylemh opened #216 "Create /press page"
# Feature
## Why is this feature being added?
Potential media sources and/or partners should be able to come to our webpage and quickly download a relevant press-kit.

## What should your feature do?
- Implement a page called "Press" with the route being `/press`
- Link the page in the footer.
- Page should display information to make it easy to blog / write about us.
- Information should include

[2017-06-30 20:22] kylemh opened #217 "Create /newgibill redirect"
# Feature
## Why is this feature being added?
There exist external references to operationcode.org/newgibill and we don't want to 404 people seeking information on the new GI Bill.

## What should your feature do?
Simply redirect /newgibill to http://www.benefits.va.gov/gibill/post911_gibill.asp inside a `<Route>` component in`home.js`

[2017-06-30 20:23] kylemh commented on #171
Didn't see this issue or else I would've just re-named it, but...

Closed in favor of https://github.com/OperationCode/operationcode_frontend/issues/216

[2017-06-30 20:23] #171 closed

[2017-06-30 22:11] hollomancer commented on #214
All current Meetups will always be available here: https://www.meetup.com/pro/operationcode/

[2017-06-30 22:46] kylemh commented on #145
@mattmacneil I can't assign you GitHub because you're not a member of the GitHub contributers (we'll fix that ASAP).

Get together with @dmarchante in order to accomplish this task.

[2017-07-02 20:02] hollomancer commented on #216
MVP is copying over the content from ocbranding.squarespace.com into this page.

[2017-07-02 20:09] hollomancer commented on #12
Basically, @dijahmac, we don't have a design for this yet, and we need one!

[2017-07-02 20:10] hollomancer commented on #13
Not at this time, but the Meetup Pro map can be viewed at https://www.meetup.com/pro/operationcode/.

[2017-07-02 20:11] hollomancer commented on #72
Can do.

[2017-07-02 23:36] C-Lion commented on #213
Where is the actual /team page in the repo to add this content to?

[2017-07-02 23:44] hollomancer commented on #15
Wait, why was this closed?

[2017-07-02 23:45] hollomancer commented on #213
I think that /contact and /team are being treated interchangeably here, and they shouldn't be. The team page is addressed in #15.

[2017-07-03 02:16] davidmolina commented on #213
https://github.com/OperationCode/operationcode_frontend/issues/15#issuecomment-299977996

-Dave
@davidcmolina
http://davidmolina.github.io

Sent from my iPhone

[2017-07-03 05:34] #195 closed

[2017-07-03 05:35] #204 closed

[2017-07-03 05:37] kylemh commented on #15
The endpoint exists already and was closed with #208
https://github.com/OperationCode/operationcode_frontend/pull/208/files#diff-22c7766e74bdd18b7b308852d7789f3c

I made a seperate issue addressing the fact that it's not connected to the Nav.

[2017-07-03 05:37] #15 closed

[2017-07-03 05:38] kylemh commented on #213
@C-Lion @hollomancer

As I commented on #15 - the page has been made, it's just not linked in the Nav, which I made into a separate issue at #215

[2017-07-03 20:43] tyu268 commented on #197
Hi! Something I noticed, the image now renders as intended on Firefox, but not on IE11 or Edge, since clip-path isn't supported on those browsers.

[2017-07-04 01:08] kylemh commented on #197
Cool! Looks like Firefox 54 fixed this: https://hacks.mozilla.org/2017/06/firefox-54-e10s-webextension-apis-css-clip-path/

Question: Since it only works on the v54+ for Firefox, should we redefine this issue to be a low priority, alternative rendering? Thoughts @alexspence

[2017-07-06 15:48] Cooperbuilt opened #221 "Create /history Page"
# Bug
/history Directs to 404 Page

## What is the current behavior?
Currently /history directs to a 404 page, and /history links are all over the interwebs

## What is the expected behavior?
/history Links should direct to a completed page with our history

[2017-07-06 15:48] Cooperbuilt commented on #221
I am working on the history page today

[2017-07-06 20:48] davidmolina commented on #15
Could we put bios straight on the page?

On Mon, Jun 26, 2017 at 3:32 PM, Evan Cooper <notifications@github.com>
wrote:

[2017-07-06 22:05] kylemh commented on #15
@Cooperbuilt

[2017-07-06 22:07] kylemh commented on #216
Wireframes added into original comment.

[2017-07-07 03:26] #221 closed

[2017-07-07 03:29] kylemh commented on #10
TODO: Add link to /history somewhere within this page.

[2017-07-07 10:59] hollomancer opened #223 "Replace sponsors design on front page"
# Feature
Currently, the sponsors section looks like this;
<img width="1159" alt="screen shot 2017-07-07 at 10 55 33 am" src="https://user-images.githubusercontent.com/9288648/27955195-329454fe-6303-11e7-9c05-a5233428ffd1.png">

## What should your feature do?
This takes up a lot of space. I'd like to open this ticket to consider either decreasing the white space between the sponsor logos and the

[2017-07-07 15:48] kylemh commented on #223
Currently, the sponsors are `jpg`s with a white background. I think a good way to accomplish this task - and be able to use the images anywhere on the website - would be to convert the images to `.png`s and then decreasing the padding between the flex container's items. BONUS: This makes the links clickable only where the logo exists, whereas I can currently click on white space.

I also wanted to

[2017-07-08 05:54] #215 closed

[2017-07-08 06:07] kylemh opened #224 "Code School cards render improperly"
# Bug Report
## What is the current behavior?
![this](https://user-images.githubusercontent.com/9523719/27983069-f5f318d0-6368-11e7-9f64-e447163fcd38.png)

## What is the expected behavior?
![that](https://user-images.githubusercontent.com/9523719/27983075-ffd9e9b4-6368-11e7-940c-ceb5b43d9ff7.png)

[2017-07-08 06:12] kylemh commented on #224
This is very strange...

Stylesheets from the history page are affecting every page on the website. Does this have to do with the fact that we already have a prop called `history`?

@alexspence

[2017-07-08 14:58] rickr opened #226 "Build site in travis"

[2017-07-08 18:34] hollomancer commented on #122
Check out https://www.cloudflare.com/apps/iubenda

[2017-07-08 19:58] #226 closed

[2017-07-08 21:53] rickr opened #228 "Built site pointing to dev env"

[2017-07-08 22:08] #228 closed

[2017-07-09 01:40] kylemh commented on #10
@tpham045 I'm gonna go ahead and take this.

[2017-07-09 02:26] kylemh opened #230 "<Section> components with <p> elements as children don't have good responsiveness"
# Bug Report
## What is the current behavior?
If you reduce your screen to under just 1270px, you will see many pages like /code_schools or /team that use the `<Section>` component have text that gets scrunched up. It actually overflows at multiple view widths.

## What is the expected behavior?
Children elements under the `<Section>` component should not go beyond it's potential header lines in w

[2017-07-09 02:32] kylemh commented on #230
I believe that we should remove the `className` prop from the <Section> component. It's used on about 5 pages, but it's usage almost always utilizes CSS incorrectly, or it doubles-down on CSS that already exists in `section.css`. Once we remove that property, we can go from

[code]

to

[code]

and add `.content { width: 85%; }` to `section.css`

I was planning on working in some of my infamous sc

[2017-07-09 06:11] kylemh commented on #14
Closed in #209

[2017-07-09 06:11] #14 closed

[2017-07-09 06:15] kylemh commented on #10
@hollomancer @davidmolina

1. I didn't put physical address on this page, since it's on /contact - should I do so anyways?
2. There seem to be the makings of a component in the early code of /about - did you want something to do with financial information in this page?
3. Feel free to `git checkout about-page` and see the work so far.

[2017-07-09 08:09] davidmolina commented on #10
Remove /finances for now. We'll add soon enough.

[2017-07-09 13:45] hollomancer opened #231 "Show our open source contribution statistics under /impact"
# Feature
## Why is this feature being added?
We need to better demonstrate the impact that our organization has on the open source community. I would like to see a page showing our members on Github, what they have created, and how the Operation Code organization has enabled that.

[2017-07-09 13:49] hollomancer commented on #231
We may be able to accomplish this without *any* backend work using http://espy.github.io/ubersicht/#operationcode.

[2017-07-09 17:22] rickr opened #232 "ID.me flow broken"
URLs are set to dev settings during the build

[2017-07-09 17:36] #232 closed

[2017-07-09 20:06] hollomancer commented on #217
Change of scope - let's just redirect to http://www.benefits.va.gov/gibill/post911_gibill.asp.

[2017-07-09 20:18] kylemh commented on #217
Edited OP to be more beginner friendly.

[2017-07-10 00:29] #224 closed

[2017-07-10 01:45] kylemh commented on #154
I had a question on this. It looks very similar to the front-page. Do we have liberties to change up the banner image? This banner actually looks better suited for /families than it does the home page!

[2017-07-10 01:48] kylemh commented on #20
[Content located here](https://github.com/OperationCode/operationcode/blob/master/old_site/app/views/pages/scholarships.html.erb).

[2017-07-10 14:43] #10 closed

[2017-07-10 23:44] kylemh commented on #153
I think we need to look into polyfills - something like this: https://github.com/taylorhakes/promise-polyfill

[2017-07-11 12:35] Cooperbuilt opened #237 "Iphone 6 Mobile Styling Issues"
# Bug Report
## IPhone 6  does not display site properly

When viewing OperationCode.org on a physical device, the main page banner, slide-out menu, and faq page all display improperly.

## Expected Behavior

- Main page banner is expected to display with the background image size in cover, currently looks like it is in a magnified state.
- Slide out menu should display all links separately, curre

[2017-07-11 13:07] Cooperbuilt opened #238 "Iphone 5 Mobile Styling Issues"
# Bug Report
## IPhone 5 does not display site properly

When viewing OperationCode.org on a physical device, the main page sometimes does not load, the slide-out menu displays inline, code schools and faq display improper section responsiveness. Also, if you attempt to visit the home page from another section, it occasionally renders the banner image in the header of the current page and does not

[2017-07-11 23:50] anushreddy commented on #135
Is the issue still open? is there any way that I can contribute to this project.

[2017-07-11 23:53] kylemh commented on #135
@anushreddy I spoke with Evan and we've cleared your path to contribute!

Feel free to tackle this and submit a PR when you've resolved the issue!

[2017-07-12 03:43] hollomancer opened #242 "Crop and resize Code School Scholarships photo on front page"
This is in src/images/rhs2017_photo.jpg

[2017-07-12 13:52] hollomancer opened #245 "All four boxes under "What We Do" should appear as a 2x2 layout on desktop"
# Bug Report
## What is the current behavior?
All four boxes under "What We Do" appear one-after-another, below each other, on desktop.

## What is the expected behavior?
There should be two rows of boxes on desktop.

## Additional Info
### Operating System
Mac OS X

### Browser
Chrome

### Screenshots
<img width="622" alt="screen shot 2017-07-12 at 9 51 00 am" src="https://user-images.githubuserc

[2017-07-12 13:54] rickr commented on #245
Closing due to dupe of #166.

[2017-07-12 13:54] #245 closed

[2017-07-12 13:55] rickr commented on #166
There should be 2 rows of boxes on a desktop

[2017-07-12 17:07] hollomancer commented on #122
Embed code for privacy policy

`<a href="//www.iubenda.com/privacy-policy/8174861" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEv

[2017-07-12 20:32] kylemh opened #246 "<SchoolCard> component is too wide on portrait mobile - doesn't fit"
# Bug Report
## What is the current behavior?
On mobile devices with a portrait view width of ~400px, `<SchoolCard>` components don't fit perfectly centered, in a single column.

## What is the expected behavior?
`<SchoolCard>` components should fit in a single-file column, perfectly centered while viewing from a mobile device.

## What steps did you take to get this behavior?
`yarn start`
Go to 1

[2017-07-12 20:38] kylemh commented on #122
@hollomancer to be clear, any potential contributor need only paste that ^ code in between `<head><head>` of `index.html` - correct??

[2017-07-12 21:35] hollomancer opened #249 "Add image to <QuoteBanner> component"
# Feature
## Why is this feature being added?
Adds some extra flair to the `<QuoteBanner>` component.

## What should your feature do?
Example: Add a picture of Lincoln or the Lincoln Memorial to the background, behind his quote.

[2017-07-12 22:10] #246 closed

[2017-07-12 22:20] kylemh commented on #249
I edited this issue, because it's a good idea for all `<QuoteBanner>` component usages.

Implementation Ideas:
1) Make an avatar next to the quote author marking
2) Make the entire `<QuoteBanner>` component rest upon a nearly transparent background of a large image.

I prefer the 2nd idea.

[2017-07-12 22:56] #166 closed

[2017-07-12 22:56] #242 closed

[2017-07-13 01:07] kylemh opened #255 "FAQ Answers from questions.json do not render HTML elements as expected"
# Bug Report
## What is the current behavior?
JSON-passed text for the /faq page includes HTML elements that do not render properly.

## What is the expected behavior?
The text that is passed via JSON to the questions and answers of /faq has links that should render properly as anchor tags.

## What steps did you take to get this behavior?
`yarn start`
Open localhost:4000/faq

## Additional Info
#

[2017-07-13 01:12] rickr commented on #122
An `<a>` tag can't be in `<head>`. This block of code probably just needs to be placed in the footer.

[2017-07-13 01:55] #122 closed

[2017-07-13 19:56] kylemh opened #258 "Footer on mobile needs space between lines of words"
# Bug Report
## What is the current behavior?
On mobile, the footer does not have space between the lines of page links.

## What is the expected behavior?
On mobile, the footer's few page links should have a modest amount of space between to make it more readable and clickable.

## What steps did you take to get this behavior?
Load operationcode.org on mobile and look at the footer.

## Additiona

[2017-07-13 20:25] davidmolina opened #259 "Design: Page for /employers"
# Feature
Similar to a product demo, an employers demo will be a landing for companies, organizations and government agencies that want to know more about hiring our military veterans, spouses and military family members.

## Why is this feature being added?
This feature enables employers to quickly and seamlessly learn more about our organization and determine whether hiring one of our members ma

[2017-07-13 20:33] kylemh commented on #259
This is a great idea. We'd likely be reaching "end goal" status at the point when we implement this feature.

[2017-07-13 20:39] rickr opened #260 "Links do not scroll back to the top of the page"
# Bug Report
## What is the current behavior?
Clicking on a footer link loads the page but does not scroll back to the top.

## What is the expected behavior?
When clicking a link the page should go back to the top of the page.

## What steps did you take to get this behavior?
* Visit https://operationcode.org/
* Scroll to the footer
* Click a link (eg FAQ)
* Notice the page remains at the bottom.

[2017-07-13 20:50] rickr opened #261 "Links are not using an absolute path"
# Bug Report
## What is the current behavior?
When visiting a non root path links are

## What is the expected behavior?
Links should be absolute if starting with a `/`

## What steps did you take to get this behavior?
* Visit a page that's not at the root level (ie https://operationcode.org/profile/verify)
* Click an internal link (eg About)
* The page URL will now be `https://operationcode.org/p

[2017-07-13 20:51] rickr opened #262 "Profile/verify pages are not protected"
# Bug Report
## What is the current behavior?
Pages that should only be accessible when logged in are reachable when you are not logged in.

## What is the expected behavior?
Protected pages should redirect you to the login page

## What steps did you take to get this behavior?
* Visit https://operationcode.org/profile/
* You will see the profile page. You should be redirected to the login page.

[2017-07-13 21:04] kylemh opened #263 "SideNav rendering improperly on mobile"
# Bug Report
## What is the current behavior?
If - while viewing on portrait mode - you click the hamburger button to see the `<SideNav>` component on an iPhone 6, the far right of the nav will be chopped off.

## What is the expected behavior?
The `<SideNav>` component should cover the entire width of the screen in portrait mode.

## Additional Info
### Operating System
Mac OSX latest

### Browse

[2017-07-13 21:08] kylemh opened #264 "<Header> component needs style changes and/or a character limit"
# Feature
## Why is this feature being added?
We use the `<Section>` component very heavily.
The `<Section>` component utilizes the `<Header>` component.
The `<Header>` component has a line break when it's character length is too long.
This is bad for mobile viewing.

## What should your feature do?
By adding a character limit and/or adjusting it's styles to be more mobile-friendly, we can avoid e

[2017-07-13 23:33] davidmolina commented on #259
@kylemh exactly. It helps leadership better sell Operation Code when we have answers to their questions about numbers, etc.

[2017-07-14 15:55] rickr commented on #118
Closed in #203

[2017-07-14 15:55] #118 closed

[2017-07-14 15:55] rickr commented on #125
Closed in #203

[2017-07-14 15:55] #125 closed

[2017-07-14 20:07] rickr commented on #124
All steps completed

[2017-07-14 20:07] #124 closed

[2017-07-14 21:14] rickr opened #265 "Create multi step sign up process"
# Feature
## Why is this feature being added?

The only way we have to reach our entire 3k+ member base about new opportunities is by sending an email to all members. This isn't made entirely clear when you sign up and each opportunity/scholarship may not apply to every members. Blasting an entire  member base also places a cost on the information we want to share.

In order to reach members more

[2017-07-14 23:14] rickr opened #266 "ID.me validation is failing"
# Bug Report
## What is the current behavior?
When a user signs up and clicks the verify button for ID.me they are presented with the error
`Operation Code could not verify your military affiliation with id.me`. I was able to verify yesterday.

I'm not completely sure where the problem lies but I think it might be frontend not sending the correct JWT due to the backend errors (logs attached below)

[2017-07-15 01:53] rickr opened #267 "Frontend is not aware of an expired JWT"
# Bug Report
## What is the current behavior?
The JWT is only valid for 6 hours (seen [here](https://github.com/OperationCode/operationcode_backend/blob/master/config/secrets.yml#L28))
If you log in and your JWT expires the frontend doesn't know and still shows you as logged in.

## What is the expected behavior?
If the JWT is expired you should not show up as logged in. You should be redirected t

[2017-07-15 01:57] rickr commented on #266
Logged in, tried to verify and it failed. Upon redirect I noticed that I was no longer shown as logged in. I'm also on www.operationcode.org instead of operationcode.org. I suspect whatever cookie is being set is not being set on www.

[2017-07-15 02:44] #266 closed

[2017-07-15 02:57] rickr opened #269 "Unfriendly error message when entering the wrong password"
# Bug Report
## What is the current behavior?
When you attempt to log in and enter the wrong password you receive the error `Login Error: Request failed with status code 401`

## What is the expected behavior?
The error should be something like `Invalid user name or password`

## What steps did you take to get this behavior?
Attempt to log in with an incorrect password.

## Additional Info
### Ope

[2017-07-15 03:00] rickr opened #270 "Logout button does not work"
# Bug Report
## What is the current behavior?
Clicking the logout button does not actually log you out.

## What is the expected behavior?
The logout button should log you out.

## What steps did you take to get this behavior?
Log in to operationcode.org
Click Logout. The menu item will change to Login
Refresh the page.
The Login header will revert back to Logout

## Additional Info
### Operating

[2017-07-15 03:09] rickr commented on #267
Bumping this to high due to #270

[2017-07-15 03:09] rickr commented on #270
Bumping to high due to #267. Users have no way of refreshing their token.

[2017-07-15 14:53] hpjaj opened #272 "Cannot login at /login"
# Bug Report
## What is the current behavior?
At https://operationcode.org/login , when I enter my email and password, and click login, nothing happens at all.  No network activity, no error messages, no JS activity, no redirects, nothing.

## What is the expected behavior?
- For an existing user, clicking login should log them in, and redirect them to the root page.
- For a non-registered user, s

[2017-07-15 15:09] hollomancer opened #273 "Add Sendgrid snippet"
# Feature
## Why is this feature being added?
To link website events such as signup directly to Sendgrid.

## What should your feature do?
Integrate this snippet before the </body> tag;
`<script>
  !function(t,o){function a(t){return function(){return sendgrid.push({m:t,args:Array.prototype.slice.call(arguments)}),sendgrid}}var sendgrid=t.sendgrid=t.sendgrid||[];if(!sendgrid.initialize){if(sendgri

[2017-07-15 18:16] davidmolina opened #274 "Add photos/bio to /team page"
# Feature
## Why is this feature being added?
We should make it easy to find board members on our `/team` page. Suggest we break down this page, ex. #contributors, #chapter-leaders, #board, #advisors, etc., and include photos so we can recognize them. Here's an example of what I'm envisioning (via GitHub):
![images](https://user-images.githubusercontent.com/1848616/28241705-4a3588e8-694e-11e7-9d20

[2017-07-15 20:32] kylemh commented on #230
Reopening this issue to make a few more fixes and kill old references.

[2017-07-15 21:08] sethbergman opened #276 "index.html has a meta property image that is no longer valid"
# Bug Report
index.html has this image ref which is a meta obj prop, and it's causing big problems.
```<meta property="og:image" content="https://static1.squarespace.com/static/586d87de725e2585df6e8448/t/5870110d6b8f5b61fdd8ee05/1483739408996/?format=500w" />```

[2017-07-15 21:31] rickr commented on #276
Can you please provide more info? What are the big problems that are happening?

[2017-07-15 23:48] hollomancer opened #279 "Contact page design adjustments"
- [x] Center the text on the top of the page.
- [x] Reword "You can also reach us on via e-mail, physical, Twitter, and Facebook" to something that makes more sense.

[2017-07-15 23:49] kylemh commented on #279
With the social media icons on every page in the footer, do you still want them in /contact ?

[2017-07-15 23:50] hollomancer commented on #279
Good point, @kylemh - I really just want to reference that we can be reached via those mediums too.

[2017-07-15 23:51] kylemh commented on #279
Okay, so do you want the <SocialMediaButtons> component put into /contact or just a reference that other forms of contact are in the footer?

[2017-07-15 23:52] hollomancer opened #280 "Make all portraits grayscale on team page"
In the CSS, will need to add the filter, ex.

`img.desaturate {
	filter: grayscale(100%);
}`

[2017-07-15 23:55] hollomancer commented on #279
Just a reference that other forms of contact are in the footer, and a direct link in the text to Twitter and Facebook.

[2017-07-16 00:00] hollomancer commented on #121
@davidmolina - need a lawyer to generate this.

[2017-07-16 00:04] hollomancer commented on #249
@kylemh, I prefer the second idea as well. Here's an image we can use; https://headsup.boyslife.org/files/2015/02/1384885243500.cached.jpg

[2017-07-16 00:06] hollomancer commented on #213
@davidmolina, let's get hi-res images of the board members in here too.

[2017-07-16 00:07] hollomancer commented on #154
@kylemh, yeah - do you have something in mind?

[2017-07-16 00:14] kylemh commented on #154
Looking at this again, I think we should just use the second image, as the banner image.

Have "The Facts" be devoid of an image.

[2017-07-16 00:15] hollomancer commented on #154
Depends how this looks on mobile. I like 'The Facts' being a two-column, and I do see your previous point about the banner being better suited for /families than the home page.

[2017-07-16 00:17] kylemh commented on #154
I'd say that we can keep this wireframe exactly as is, but only if we change the landing page's banner.

[2017-07-16 00:18] hollomancer commented on #154
Until we figure that out, I'm comfortable leaving it the way it is (or making it blank, like the /about page currently is right now), as an MVP.

[2017-07-16 00:24] davidmolina commented on #213
Sounds good.

[2017-07-16 00:25] davidmolina commented on #121
No prob. We'll work w/ our JAG Brigade.

[2017-07-16 00:34] #230 closed

[2017-07-16 02:25] rickr commented on #261
This was fixed in #271

[2017-07-16 02:26] #261 closed

[2017-07-16 02:52] rickr opened #281 "Verify JWT signature"
# Feature
## Why is this feature being added?

Since we're looking at the JWT for some features on the site we can add a bit of security by verifying the signature of the JWT and removing the cookie if it's not valid. I think we should be able to do this with RSA. This will require a change on the backend.

## What should your feature do?
In `src/shared/utils/cookieHelper.js` `validToken()` add so

[2017-07-16 03:10] #262 closed

[2017-07-16 03:10] #267 closed

[2017-07-16 03:23] rickr commented on #272
I'm unable to repro on different browsers and in dev or prod. Going to bump this down to medium until we get more info.

[2017-07-16 03:53] #270 closed

[2017-07-16 04:18] rickr commented on #71
This was implemented in #71 but when visiting `/about/financial-statements` the `/about` page is displayed so there's a tiny bit more work to be done.

[2017-07-16 12:18] rickr opened #285 "Dockerfile Improvements"
# Feature
## Why is this feature being added?

We should be able to easily roll back or lock production to a specific version

## What should your feature do?
Add the travis build number as a tag

[2017-07-16 14:47] hpjaj commented on #272
@rickr - Can you pls confirm that there is still a `User` record associated with `hmlevine@gmail.com` in prod’s db.

[2017-07-16 14:48] hpjaj commented on #272
Another data point, nothing happens when a random email and password is entered.  No error message.

![image](https://user-images.githubusercontent.com/7482329/28248545-7b55cae0-6a03-11e7-87ea-e357f9a502b2.png)

[2017-07-16 15:40] hpjaj opened #288 "Share OC Backend API endpoints with frontend developers"
# Feature
## Why is this feature being added?
Contributors need to know the existing OC backend API endpoints, when applicable.

## What should your feature do?
Add a link to `CONTRIBUTING.md` to the backend apiary API docs.

[2017-07-16 15:42] #288 closed

[2017-07-16 18:05] davidmolina commented on #213
@hollomancer bios updated.

[2017-07-16 18:09] davidmolina commented on #213
@hollomancer, see if these photos will work:

![4033a7eae79bf1777dbca88ba7844a4c](https://user-images.githubusercontent.com/1848616/28250147-2695161e-6a17-11e7-9171-c3156fad94ab.png)
![thomas](https://user-images.githubusercontent.com/1848616/28250148-26956984-6a17-11e7-8da1-d1c980d3000e.jpg)
![primary_stories_aimee_knight-1aba30c8535cc6bb66b93a52a414ed97](https://user-images.githubusercontent.com

[2017-07-16 19:05] kylemh commented on #272
As an aside: I don't think we shouldn't be providing "Must be 6 charact...." on the login screen - that info is only relevant for registration.

[2017-07-16 19:21] #213 closed

[2017-07-16 19:38] hollomancer commented on #274
@kylemh, added some of our cleanup stuff to this ticket.

[2017-07-16 19:39] kylemh opened #291 "Make <BoardCard> use images internally"
# Feature
## Why is this feature being added?
The `<BoardCard>` component currently grabs it's images by treating our repo as an API. GitHub provides no uptime/support guarantees for serving content, and it could throttle/block our content if there is too much traffic. We should reference the image from our potential server filepath instead.

## What should your feature do?
1. Edit `boardCard.js`

[2017-07-16 19:41] #285 closed

[2017-07-16 19:41] kylemh commented on #291
Closed because of reference in #274

[2017-07-16 19:41] #291 closed

[2017-07-16 19:42] kylemh commented on #274
See https://github.com/OperationCode/operationcode_frontend/issues/291 for more information on "relative path" usage!

[2017-07-16 19:42] rickr opened #292 "Don't display password requirements on /login"
# Feature
## Why is this feature being added?

When someone is logging back in they don't need to see the password requirements as they've already set their password.

## What should your feature do?
Conditionally display the password requirements in the password field component.

[2017-07-16 19:42] rickr commented on #272
#292 has been filed

[2017-07-16 19:43] kylemh commented on #272
@rickr I'll be sure to make an issue if I have an aside like that again. Thank you!

[2017-07-16 20:59] davidmolina commented on #274
@kylemh @hollomancer, these two are the only ones I found. cc @thinkingserious
![download-1](https://user-images.githubusercontent.com/1848616/28251284-f4fde3ac-6a2e-11e7-9690-cda216eaf727.jpg)
![download](https://user-images.githubusercontent.com/1848616/28251285-f5098dba-6a2e-11e7-962c-7c0d84743380.jpg)

[2017-07-16 22:35] rickr commented on #162
Bumping to high due to operationcode/operationcode_backend#91.

[2017-07-17 09:53] Jonchun commented on #280
I can do this. Do we want the grayscale removed on hover?

[2017-07-17 10:45] Jonchun commented on #292
Not sure what you meant by

I can't think of any condition where you would display that on the login page. (The signup/registration page is a completely separate form) I completely removed the regex checking as well as the message in #294.

[2017-07-17 14:42] #280 closed

[2017-07-17 17:20] #292 closed

[2017-07-17 17:56] #217 closed

[2017-07-18 20:01] matthewzurek opened #297 "Incorrect confirm password validation text"
# Bug Report
## What is the current behavior?
The second password field on the signup form (for confirmation) says "Must be 6 characters long and include a capitalized letter" when its validation fails
## What is the expected behavior?
When the two passwords don't match, the confirm password field should instead say something like "Passwords must match"
## What steps did you take to get this behav

[2017-07-18 20:45] kylemh commented on #297
@matthewzurek you mentioned that you wanted this issue, correct?

[2017-07-18 20:46] matthewzurek commented on #297
Yep! Just finished working on it

[2017-07-18 22:05] jmayergit commented on #269
In 'operationcode_frontend/src/shared/components/login/login.js'

Is this where the error message is being returned?

      }).catch((response) => {
        const error = _.get(response, 'message');
        this.setState({ error });
      });

I tried looking through the API to find where this error message might bet, I think that would be where it is located?

[2017-07-18 22:09] kylemh commented on #297
Don't forget to submit the PR when you're finished @matthewzurek

[2017-07-18 23:44] rickr opened #298 "Convert deploy script to k8s"
# Feature
## Why is this feature being added?

We've moved to k8s so our rancher deploy script no longer works breaking CI

## What should your feature do?
Change the deploy script to do a rolling update.

[2017-07-19 01:40] matthewzurek commented on #75
Is anyone working on this? If not I'd be happy to give it a shot!

[2017-07-19 01:40] kylemh commented on #75
@matthewzurek it's yours!

[2017-07-19 03:56] #298 closed

[2017-07-19 04:11] sethbergman commented on #255
The JSON needs to be loaded through a js file. Should be answers.js or something to that effect.

[2017-07-19 15:01] rickr opened #301 "Move Operation Code Challenge to the front end"
# Feature
## Why is this feature being added?

With the upcoming release of discourse I'd like to move the Operation Code Challenge to the frontend so it doesn't rely on a slack account.

## What should your feature do?
- [ ] Create a new directory call operation code challenge
- [ ] Port over the names.txt from https://github.com/OperationCode/operationcode_bot/blob/master/opcode_challenge/names.

[2017-07-19 15:11] #297 closed

[2017-07-19 22:39] rickr opened #302 "Enable discourse SSO"
# Feature
## Why is this feature being added?

In order to provide a seamless UX between oc.org and discourse we need to implement SSO for discourse.

## What should your feature do?
- [ ] Add a new login page and route that discourse can redirect to - `/login/discourse`
- [ ] If the user is logged in follow the instructions to redirect with a payload here: https://meta.discourse.org/t/official-si

[2017-07-19 22:43] matthewzurek opened #303 "Unnecessary stylesheets inside form components"
# Feature
## Why is this feature being added?

Inside shared/components/form the component directories formEmail, fromPassword, and formZipCode each contain stylesheets but these stylesheets are not imported into their respective components. Because each of these components are compositions of the formInput component, their styles are derived from its styles.
## What should your feature do?
These

[2017-07-19 23:07] rickr opened #304 "Create slack invite page"
# Feature
## Why is this feature being added?

Once discourse is up and running we can open up slack to be a self serve invite.

## What should your feature do?
Create a new page (something like `/profile/slack)` where a user can invite themselves to the slack team. This page should be protected.

When the user clicks a button send a POST request (with no payload) to the endpoint defined in operat

[2017-07-19 23:40] rickr opened #305 "Implement Redux"
# Feature
## Why is this feature being added?

*This ticket is severely lacking in details. Any discussion is welcome.*

Our state management can be a bit cleaner. As the app grows I think we'll end up running into problems.

## What should your feature do?
Add redux to the app.
http://redux.js.org/

[2017-07-20 02:22] sethbergman opened #306 "Load all scripts through webpack - Raven, Sentry and Heap"
# Feature
## Why is this feature being added?
The scripts being loaded through index.html are causing a significant lag from first paint to the site being fully loaded. There are many event listeners that have their own libraries to load, blocking our app from loading until theirs are resolved.

## What should your feature do?
Instead of using index.html, we should use a webpack plugin to bundle t

[2017-07-20 02:37] rickr opened #308 "Redirect logged in users to discourse without having to log in"
# Feature
## Why is this feature being added?

If a user is already logged in and visits discourse they will still need to log in. They should not have to.

## What should your feature do?
If the user is authenticated pass the SSO params to the backend. The backend should return the URL to redirect to and the login component should redirect to that URL with no user interaction.

[2017-07-20 10:09] sethbergman commented on #304
I have an app that allows the user to enter their email, and then they're invited to the team Slack channel. I have it in it's own repo, but can make a new one for OPC if you think that's a good idea.

[2017-07-20 14:25] rickr commented on #304
I don't think there's a need for a whole app. Thinking about this a bit more I think we can use our current inviter on the backend and just expose it via an API. I've updated the ticket to reflect this change.

[2017-07-20 17:27] sethbergman commented on #304
http://slack-invites.npmstack.com/

[2017-07-20 18:41] rickr commented on #304
While this repo does allow users to sign up for our slack I think it's a bit heavy weight. To implement this we would have to stand up another server, provision a new hostname (and TLS cert), and manage the config. Since the config file contains secrets we'd have to host this in a private repo which goes against the org as a whole. We would also probably want to brand that page (or at least add a

[2017-07-20 19:37] #75 closed

[2017-07-20 20:05] davidmolina opened #310 "Add our Amazon Smile link to the footer and /about"
# Feature
## Why is this feature being added?
One of our fundraising methods is Amazon Smile. It should be readily and easily available to our members and community, whether that's on the .org, an automatic bot when they join, and/or Slack bot that reminds folks in #general.

As you can see from the discussion below, implementation includes adding a footer link to https://smile.amazon.com/ch/47-42

[2017-07-20 20:19] kylemh commented on #310
Can you make a separate issue in the bot repo on generating a crier for smile.amazon.com? That's a really good idea.

I'm gonna mark this as a high issue, cuz money.

[2017-07-20 20:21] kylemh commented on #310
Here are my implementation ideas:

- Footer Link (will need to finally fix the footer if we do this).
- Donate Link is changed to a route that can split off into different methods of financial contribution.
- Put the information about smile.amazon.com somewhere on the About page.

[2017-07-20 20:44] #303 closed

[2017-07-20 20:44] hollomancer commented on #310
Footer link and About page seem like good options. I do not want to put any friction on the Donate link right now.

[2017-07-20 20:45] rickr commented on #310
I think this would be a good candidate for 'how to help' type page but as a first pass I like the footer and about page.

[2017-07-20 21:33] kylemh commented on #310
So, both /about and footer?

[2017-07-20 21:35] hollomancer commented on #310
That works.

[2017-07-20 22:19] togakangaroo commented on #162
Worth posting here [Everything you need to know about building a secure password reset](https://www.troyhunt.com/everything-you-ever-wanted-to-know/)

[2017-07-21 01:55] #269 closed

[2017-07-21 22:06] sethbergman commented on #255
https://github.com/OperationCode/operationcode_frontend/pull/284

[2017-07-21 22:08] sethbergman commented on #310
#284

[2017-07-21 22:36] #276 closed

[2017-07-21 22:38] sethbergman commented on #310
It's not a block, just the content in a json file won't render HTML elements.

[2017-07-21 22:42] kylemh commented on #310
Why does that matter here?

We just want to add a link in the footer and then maybe a little paragraph blurb + link somewhere on /about.

[2017-07-21 22:54] sethbergman commented on #304
If you create a CNAME in your DNS, I can use CloudFlare for an SSL and lend my server space (where it's currently hosted) to you until you get your signup flow with the backend in place. If it's not going to take several days/ weeks to implement a frontend scene with the backend API, not to mention whatever you're doing with discourse, then I'd recommend a simple solution. Once a user is signed in

[2017-07-22 00:24] sethbergman commented on #310
No matter, my mistake. Was thinking of the link in the FAQ section. Carry on :smile:

[2017-07-22 02:22] matthewzurek opened #314 "No /login link in sideNav component"
# Bug Report
## What is the current behavior?
The sideNav component does not have a link to /login, effectively meaning that no mobile users are able to navigate to that page
## What is the expected behavior?
The sideNav should display a link to /login
## What steps did you take to get this behavior?
Viewed operationcode on small screen sizes that hide the topNav (which includes the link) and inst

[2017-07-22 04:48] hollomancer commented on #12
Why give to Operation Code?

- To provide veterans, transitioning servicemembers, and military spouses with transformative educational experiences
- To advocate for more diversity and opportunity in the tech industry
- To enable our mission to reach more members of the military community

[2017-07-22 04:50] hollomancer commented on #12
Volunteer
- Join our community on Slack, and work with new software developers to help grow and mentor them in learning to code and enter the tech industry. Answer questions, participate in mock interviews, and review resumes.
- Lead a squad of new developers in learning new skills in Linux, Python, cloud infrastructure, web development, and more.
- Meet up with a local chapter (or start your own!

[2017-07-22 04:59] hollomancer commented on #12
Was thinking we could add some pictures of our meetups, screenshots of livestreaming @rickr @kylemh, maybe Github screenshots or Slack screenshots to illustrate what we're about

[2017-07-22 06:20] danedavid opened #315 "hover styling for buttons"
# Feature
Okay! Need suggestions...
So.. we'll do hover stylings:
* For **navItems** on the top ( edit src/shared/components/nav/navItem/navItem.css )
    * Just color changes for the text, or a rectangular div block required ?
    * Color: yellow-ish ?
* For **linkButtons** in the page, both red and blue ( edit src/shared/components/linkButton/linkButton.css )
    * Enhance color (brighter versio

[2017-07-22 06:46] kylemh commented on #315
I agree completely. Go ahead and edit your issue to be more declarative - don't be shy!

Appreciate the issue.

[2017-07-22 08:09] danedavid commented on #315
Okay! Need suggestions...
So.. we'll do hover stylings:
* For **navItems** on the top ( edit src/shared/components/nav/navItem/navItem.css )
    * Just color changes for the text, or a rectangular div block required ?
    * Color: yellow-ish ?
* For **linkButtons** in the page, both red and blue ( edit src/shared/components/linkButton/linkButton.css )
    * Enhance color (brighter version of red/b

[2017-07-22 17:17] kylemh commented on #315
Hey, copied your post to the OP!

[2017-07-22 17:47] kylemh opened #317 "Section components do not span the entirety of the page"
# Bug Report
## What is the current behavior?
`<Section>` component doesn't span the whole page.

## What is the expected behavior?
`<Section>` component should span the whole page.

### Screenshots
![screen shot 2017-07-22 at 10 46 04 am](https://user-images.githubusercontent.com/9523719/28493401-2fcda6c0-6ecb-11e7-9f04-e8dcc36ba90a.png)
![screen shot 2017-07-22 at 10 45 55 am](https://user-image

[2017-07-22 17:56] hollomancer opened #319 "Add Coder Camps to Partner Schools"
# Feature
## Why is this feature being added?
Coder Camps is providing a scholarship for OC members, so we want to ensure their logo is on the site.
## What should your feature do?
Add imagery and card to src/scenes/home/codeSchools/partnerSchools/partnerSchools.js, etc.

![codercamps-logo-1](https://user-images.githubusercontent.com/9288648/28493445-89ede240-6ee5-11e7-8f6f-04d96161e51d.png)

[2017-07-22 17:58] #317 closed

[2017-07-22 18:00] rickr commented on #317
Dropping this to high since it's not blocking anything.

[2017-07-22 18:14] #260 closed

[2017-07-22 18:21] kylemh commented on #319
The image is already there, so I'll just be adding this to the `<PartnerSchools>` component!

[2017-07-22 18:44] kylemh commented on #216
After convening w/ @rickr on this issue, we've decided to move most of the wireframe to /media - see: #321

[2017-07-22 18:45] kylemh commented on #216
@hollomancer ocbranding.squarespace.com is still inaccessible, so this issue is blocked until the content is available.

[2017-07-22 18:54] kylemh opened #321 "Create /media page"
# Feature
## Why is this feature being added?
As referenced in #216, this page will be available for media to see how we've been portrayed in articles, photos, and videos.

## What should your feature do?
- Implement a page called "Media" with the route being /press
- Link the page in a dropdown in the header.
- Page should display content described in linked wireframe, excepting the press release

[2017-07-22 18:58] kylemh commented on #255
Fixed in #284

[2017-07-22 18:58] #255 closed

[2017-07-22 21:26] kylemh commented on #321
@hollomancer what pictures would you like displayed here?

[2017-07-22 22:41] #279 closed

[2017-07-22 22:41] hollomancer commented on #321
Check out https://www.facebook.com/operationcode.org for samples.

[2017-07-22 22:41] hollomancer commented on #216
I'll check out what happened.

[2017-07-23 00:10] #319 closed

[2017-07-23 05:58] #314 closed

[2017-07-23 06:01] kylemh commented on #321
So, I had a discussion with my partner about Media/Press pages, and she seemed very confused that we were doing both. To give her opinion authority, note that she's a Journalism major and works as the Public Relations Director for an international summer camp.

After discussing with her and reading online, I think I've nailed the content, scope, and format of what should be our singular /press pag

[2017-07-23 13:24] rickr commented on #321
👍

[2017-07-23 15:03] rickr opened #324 "Add forking/cloning instructions to CONTRIBUTING.md"
# Feature
## Why is this feature being added?

I didn't see any direct instructions to fork and clone our repo. We should add directions to be a little bit more beginner friendly.

## What should your feature do?
Add instructions on cloning and forking a repo to the appropriate section in CONTRIBUTING.md

[2017-07-23 15:09] rickr commented on #162
Blocked until operationcode/opeartioncode_backend#113 is completed.

[2017-07-23 15:10] hollomancer commented on #321
@kylemh, agreed, with one additional point - let's have /media redirect to /press.

[2017-07-23 15:12] #310 closed

[2017-07-23 17:46] kylemh commented on #324
I'd like to put this to high cuz it's actually relevant to anybody. When I wrote the instructions, I assumed that everybody could just clone and make a branch and have it show up on our remote!

Without this, only the people who have contributed to organizations that they're not a member of will be able to contribute.

[2017-07-23 17:46] #321 closed

[2017-07-23 17:47] kylemh commented on #216
As discusssed in #321, this will cover all of our press/media needs on a single page.

[2017-07-23 17:47] matthewzurek commented on #301
I'd like to work on this!

[2017-07-23 17:50] rickr commented on #301
All yours! I sent an invite to our org. Once you accept it we'll be able to assign this to you.

[2017-07-23 18:26] rickr opened #326 "Research Unit Testing Framework"
# Feature
## Why is this feature being added?

As the app grows in order to maintain safety and velocity we need a unit test suite to test each of our components.

## What should your feature do?
Research JS test frameworks and formulate a plan to integrate the best choice. We'll track the actual change in

Please place your choices of frameworks in the comments so we can discuss a way forward.

[2017-07-23 18:29] kylemh commented on #112
Fixed in #316

[2017-07-23 18:29] #112 closed

[2017-07-23 18:30] rickr opened #327 "Integrate Unit Test Framework"
# Feature
## Why is this feature being added?

See #326.

## What should your feature do?
Integrate the top choice in #326
Make sure it runs in the build

[2017-07-23 18:32] rickr commented on #326
We have jest installed. Is this the right choice? What do we need to do to start testing components.

[2017-07-23 18:59] kylemh commented on #145
I'd like to move this to critical. I also added some check list items to OP.

[2017-07-23 19:37] kylemh commented on #145
While already assigned, this is a large task and others should feel open to jumping in on it with @dmarchante

[2017-07-23 20:00] rickr opened #328 "Host images via the front end app"
# Feature
## Why is this feature being added?

We're currently linking back to github for our hosted images which is pretty bad practice.

## What should your feature do?
Copy all code school images from https://github.com/OperationCode/operationcode_frontend/tree/master/src/images/codeSchoolLogos to `public/code_schools`

Identify any other hotlinked images and put them in the appropriate directo

[2017-07-23 20:07] kylemh commented on #328
The problems are usually with JSON-rendered components. I'm not sure how else to link them other than with the URL. For example, how should we serve images up for the Code School logos if the logo is determined by the API endpoint?

Once we have an answer, this will be a beginner friendly issue.

[2017-07-23 20:18] rickr commented on #328
Hrm...I don't fully understand the problem. What's the difference between pointing to `//raw.github.com/.../image_name.png` instead of `static/images/image_name.png`?

[2017-07-23 22:30] rickr commented on #328
It looks like we're setup to serve files from the `public` directory. I've updated the ticket to move all images to that dir.

[2017-07-23 22:40] #302 closed

[2017-07-23 23:47] hollomancer commented on #216
https://ocbranding.squarespace.com/ is back.

[2017-07-24 00:50] rickr opened #329 "Centralize API call management"
# Feature
Extend API architecture with a util/config file that utilizes `async` / `await` with Axios.

## Why is this feature being added?

This solves a potential DRY issue with utilizing API calls in local state. As it stands, we're redefining a lot of things like URLs and Endpoints while failing to utilize thinks like tokens and JWT. By conglomerating API configuration to a single file, people

[2017-07-24 04:22] danedavid commented on #324
Anybody on this ?
If not, I'm ready to do this. I recently read the following post:
[Contribute to someone's repository](http://kbroman.org/github_tutorial/pages/fork.html)
Can I edit keeping the above page as reference ?

[2017-07-24 05:28] kylemh commented on #324
That sounds good to me!

[2017-07-24 08:23] danedavid commented on #324
Ok I'm on it :+1:

[2017-07-24 08:53] sethbergman commented on #305
This is worth reading: https://medium.com/cosmicjs/how-to-build-a-next-js-react-universal-app-e610a0bc2124

[2017-07-24 08:59] #315 closed

[2017-07-24 10:30] danedavid commented on #324
Go to [CONTRIBUTING.md](https://github.com/danedavid/operationcode_frontend/blob/issue%23324/CONTRIBUTING.md#forking-and-cloning-this-repository) and check if it's okay, so that I can raise a PR.

[2017-07-24 14:42] #324 closed

[2017-07-24 15:11] #216 closed

[2017-07-24 15:43] rickr opened #334 "Replace branding link with the actual assets"
# Feature
## Why is this feature being added?

We're currently hosting brand assets at https://ocbranding.squarespace.com which is costing us money and looks a bit unprofessional.

## What should your feature do?
Copy all assets from https://ocbranding.squarespace.com and add them to this app
Create a zip of all assets
Replace the link on the `/press` page with a handful of these assets (try to pi

[2017-07-24 16:40] #162 closed

[2017-07-24 17:47] kylemh commented on #334
I can do this sometime next week, but I won't be assigning it lest somebody else grabs it.

[2017-07-24 17:53] kylemh commented on #305
Just to provide some clear instruction on this issue.

Some of our components are using state, but they only persist on their relative components. Important information that can be used multiple times on the website - such as login authorization, user roles, and locale - are perfect candidates to be placed in a Redux store.

Just as there are multiple ways of implementing a file structure for comp

[2017-07-24 19:05] kylemh opened #335 "BrowserStack Badge says 404"
# Bug Report
## What is the current behavior?
On our repository's README.md the BrowserStack badge reads "404".

## What is the expected behavior?
I have no idea, actually, but probably not 404.

[2017-07-24 20:16] SPQRBob opened #336 "Password Reset option yields 404 Not Found error"
# Bug Report
## What is the current behavior?
The reset password link on the OperationCod.org login page e-mails a link to reset one's password if forgotten.  The link sent in e-mail to the user (http://operationcode.org/users/password/edit?reset_password_token=bDPxRypWzgN8mvdh2QKP) yields a 404 Not Found HTTP error,

## What is the expected behavior?
The user should be directed/redirected to a pa

[2017-07-24 23:34] #336 closed

[2017-07-25 03:31] f0ru0l0rd commented on #335
This issue is related to an incorrect key

[2017-07-25 13:01] #301 closed

[2017-07-25 13:44] rickr opened #339 "Challenge page has incorrect link to its source"
# Bug Report
## What is the current behavior?
On the `/challenge` page the link to the current page links to https://github.com/OperationCode/operationcode_frontend/src/scenes/home/challenge/challenge.js and results in a 404.

## What is the expected behavior?
It should link to https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/challenge/challenge.js

## What steps

[2017-07-25 14:12] rickr commented on #335
A little background for this ticket - Browserstack has a discount for opensource projects but one of their requirements is to have this badge in your README. They were ok with giving us access with a 404ing badge.

This is indeed a problem of a missing key. In order to get that key we need to configure some tests to create a project. Once that's done we can get our key.

#113 was created to track

[2017-07-25 16:09] SPQRBob opened #340 "Completion of password reset option does not allow user to log in with new credentials"
# Bug Report
## What is the current behavior?
Completing the password reset option does not seem to actually make the change in the user credentials database.  After completion of the password reset process, the user is still unable to log in using the new credentials.

(***Please note that since I have not been able to log in at all using credentials that I believed to be valid, I cannot confirm

[2017-07-25 17:09] Hieuhuule opened #341 "Request Mentor Button"
# Bug Report
## What is the current behavior?
The Request Mentor button is unresponsive.
## What is the expected behavior?
It should submit the mentorship request form

## Additional Info
https://operationcode.org/mentor-request
### Operating System
Ubuntu 17.04
### Browser
Chrome
### Screenshots

[2017-07-25 17:10] rickr opened #342 "Add a link to file an issue"
# Feature
## Why is this feature being added?

If a user experiences a problem on the site we should have a link that allows them to report it.

## What should your feature do?
Add a link to the footer 'Report A Problem'
The link should go to https://github.com/OperationCode/operationcode_frontend/issues/new

[2017-07-25 17:55] Cooperbuilt commented on #265
Here is a rough wireframe of a proposed flow

<img width="822" alt="signup flow" src="https://user-images.githubusercontent.com/15932239/28586179-e2d81f1c-7140-11e7-86a0-2aefadbdfa9c.png">

[2017-07-25 18:21] rickr commented on #340
I just tested this in prod and it looks like it's working at least partially. How long did you wait between requesting to reset and setting the new password? Can you give me an idea of the quality of the password you used?

[2017-07-25 20:06] kylemh commented on #342
This issue has been marked beginner friendly! Here are the steps necessary to accomplish the task...

1. Claim this issue in the comments.
2. Follow the [contribution instructions](https://github.com/OperationCode/operationcode_frontend/blob/master/CONTRIBUTING.md)
3. Open src/scenes/home/footer/footer.js
4. Add a new line on line 34 and add the following code:
`<a href="https://github.com/Operati

[2017-07-25 20:21] lousyhero9 commented on #342
Dibs!

[2017-07-25 20:22] rickr commented on #342
All yours! Good luck!

[2017-07-25 20:24] #339 closed

[2017-07-25 23:27] SPQRBob commented on #340
Rick,

I just tried to log in again with the new (reset) password after several
hours and got a failure again.  The password is a fairly strong 13
character alpha-numeric with both upper and lower case characters.  No
special symbols were used.

Bob

On Tue, Jul 25, 2017 at 12:23 PM, Rick <notifications@github.com> wrote:

[2017-07-25 23:49] hollomancer commented on #156
Copy here - need some design now.

[Brochure_Content_Final_Draft.pdf](https://github.com/OperationCode/operationcode_frontend/files/1175093/Brochure_Content_Final_Draft.pdf)

[2017-07-26 00:24] kylemh commented on #156
NOTICE

Needs: Copy/Content label remains only because there is no content for "Volunteering"

[2017-07-26 00:36] kylemh commented on #342
Closed in #344

[2017-07-26 00:36] #342 closed

[2017-07-26 00:39] kylemh opened #346 "Hide Drift icon when footer is in sight"
# Feature
## Why is this feature being added?
On Desktop, the Drift icon blocks links.
On mobile, the Drift icon *will* block links when the footer is fixed for mobile (lol). It's currently in the way depending on where you scroll in the footer still.

## What should your feature do?
Fade out the drift icon when the `<Footer>` component is in sight, and fade it back in as the component "drifts" fa

[2017-07-27 17:35] matthewzurek commented on #329
@rickr Would you want this to expand/absorb whats in https://github.com/OperationCode/operationcode_frontend/blob/master/src/shared/utils/apiHelper.js ?

[2017-07-28 15:00] chrisdemars commented on #258
I can take a shot at fixing this. I have to agree the spacing needs to be fixed.

[2017-07-28 16:38] kylemh commented on #258
Feel free to really gut it. In addition to figuring out why the footer links don't have new lines, I also wanted to continue pushing flex-box by changing each of the 3 footer components' subcomponents orders when mobile stylings occur.

In other words, the order when **not** mobile will be Social Media Buttons - 1, Logo - 2, and then Links - 3; while on mobile it'd be 2, 3, 1 respectively.

If you

[2017-07-28 19:56] mattmacneil commented on #223
![apex_border](https://user-images.githubusercontent.com/12282173/28734097-4638fb26-73ad-11e7-936d-af0068f55334.png)
![apex_noborder](https://user-images.githubusercontent.com/12282173/28734101-4643466c-73ad-11e7-9792-ae462b88588e.png)
![docker_nopadding](https://user-images.githubusercontent.com/12282173/28734100-4643326c-73ad-11e7-9f25-65c5e100cfee.png)
![docker_padding](https://user-images.gith

[2017-07-28 19:57] mattmacneil commented on #223
Those are all transparent .png's, the ones with filenames like *_border.png are 600x600 like the existing ones. They can be cleaned up a little so they have standard sizes even with the border but these ones should fit for now.

[2017-07-28 19:59] mattmacneil commented on #223
Also, I'm just jumping back in after an unexpected break from OC, but once I update my repo I will create the hover effect that @kylemh mentioned - will attempt with a hover state that toggles css filter: grayscale(100%); and a transition.

[2017-07-28 21:41] chrisdemars commented on #258
I will take care of the link spacing first since I have the solution to that already, than I would love to add some flex to the footer components.

[2017-07-28 21:46] kylemh commented on #223
I think doing non-border PNGs will make the logo section look unkempt, but now that you've made them all into PNGs, you can just crop off like half of the white space (in a uniform manner) and I believe you will achieve what Conrad wants.

[2017-07-28 22:07] mattmacneil commented on #223
what about using space-between instead of space-around? that will set each of them along the edges when they're 2x2 and then they can all just have a uniform height instead of having to create each one with the same amount of whitespace

[2017-07-28 22:11] kylemh commented on #223
I think at the time that I used `justify-content: space-between;` as a way to deal with the pain that used to be the `<Section>` component. Feel free to change up any local stylesheets to get the desired affect!

[2017-07-28 22:12] mattmacneil commented on #223
Ok will do, also I updated my comment as you were typing - check it out :P

[2017-07-28 22:16] kylemh commented on #223
I actually disagree with this. We could end up with logos of varying widths and heights that don't line up properly on the y- or the x-axis or both, with a responsive website. Imo, it's better to make sure that every image has the same view-size to prevent hacky CSS compensations for an expanding list. It's also really easy to add a set amount of padding - just crop the image to the border, and th

[2017-07-28 22:25] mattmacneil commented on #223
I think I have a way to solve both of our concerns, I'll build it out and update. It's flexbox stuff ive never used before so im not sure but if it doesn't work out I can always just crop the ones I uploaded :P

[2017-07-28 22:26] kylemh commented on #223
If it's flexbox you fear, have fun with flexboxfroggy.com 💃  🐸

[2017-07-29 18:23] mattmacneil commented on #223
<img width="1513" alt="screen shot 2017-07-29 at 14 21 54" src="https://user-images.githubusercontent.com/12282173/28747295-6ffce528-7469-11e7-9041-3a52fb8a1aba.png">

[2017-07-29 18:25] mattmacneil commented on #223
Is that a little more space efficient? Its not as tight as the vuejs one but still takes up less space. I think a carousel or different approach might be the way to go if more and more sponsors get added, but I can make a PR for this one if it works in the meantime.

[2017-07-29 19:02] hollomancer commented on #223
This is good! I think eventually we will want to go to a carousel, and probably add segmentation to the sponsors displayed based on origin - @mattmacneil, this should be good to submit!

[2017-07-30 05:07] mattmacneil commented on #205
<img width="588" alt="screen shot 2017-07-30 at 01 03 04" src="https://user-images.githubusercontent.com/12282173/28750806-5e0c051a-74c3-11e7-9ea3-8cb0973b781f.png">

Is this what you had in mind? I made a new linkButton. It works but someone will have to make sure I added it to react in a way that makes sense.

[2017-07-30 14:08] #334 closed

[2017-07-30 14:11] #223 closed

[2017-07-30 14:14] rickr commented on #205
I think this would be a bit confusing. You need to join first before being able to get onto slack. I think a better place to put this would be on `/profile`

[2017-07-31 15:11] rickr opened #350 "Add Rithm School logo"
# Feature
## Why is this feature being added?

## What should your feature do?
Add the attached logo in the correct format to be displayed on the code schools page.

This is blocking operationcode/operationcode_backend#121
![rs_logo_black_bannersize](https://user-images.githubusercontent.com/334550/28784283-f047a8ee-75e0-11e7-85ec-0c50e12024b4.png)

[2017-08-01 05:26] kylemh commented on #223
Coming in late on this, but I just wanted to say good job @mattmacneil  - that's exactly what I was imagining/hoping for.

[2017-08-01 05:27] kylemh commented on #205
@rickr I agree, but we should change the title/OP of this issue to reflect what we want with this.

Is it even relevant with our new sign-on system incoming?

[2017-08-01 11:13] hollomancer commented on #205
I was thinking more of just an icon, a little bit like this, in the upper-right;

<img width="89" alt="screen shot 2017-08-01 at 7 12 33 am" src="https://user-images.githubusercontent.com/9288648/28822841-db4d14bc-7688-11e7-80d4-94f6d680fe3b.png">

This would link directly to the signup form, with the red number indicating number of users online in Slack. In the case of the user already being logg

[2017-08-01 20:05] jmayergit opened #352 "Confirm Password Field Behavior"
# Bug Report
## What is the current behavior?
'Passwords must match' text for the confirm password field does not react to changes in the password field. Known to occur on the Signup and password reset pages.
## What is the expected behavior?
'Passwords must match' should not be displayed at anytime when the passwords do match.

## What steps did you take to get this behavior?
1. Visited reset pas

[2017-08-01 22:00] matthewzurek commented on #352
@jmayergit It's all yours!

[2017-08-01 23:24] kylemh opened #353 "NavBar spans 2 rows when logged in on many screen dimensions"
# Bug Report
## What is the current behavior?
When logged in (potentially as both a mentor and mentee), the navbar spans two rows.

## What is the expected behavior?
When logged in, the navbar should span only one row.

## What steps did you take to get this behavior?
Logged in on my account to operationcode.org

## Additional Info
### Operating System
MacOS 10.12.6

### Browser
Chrome 60

### Scr

[2017-08-01 23:25] #71 closed

[2017-08-01 23:44] rickr opened #354 "Add community link to user profile"
# Feature
## Why is this feature being added?

Now that discourse has been announced we should have a link to it in a users profile.

## What should your feature do?
Add a link to https://community.operationcode.org to a the users profile

[2017-08-01 23:46] rickr opened #355 "ID.me button is available to users who have already verified"
# Bug Report
## What is the current behavior?
ID.me is displayed even after a user has been verified.

## What is the expected behavior?
Once a user is verified the ID.me logo in a user profile should no longer be displayed.

## What steps did you take to get this behavior?
Login to an account.
Verify via ID.me
The next time you visit the profile page it shows the verify button. It should not be d

[2017-08-01 23:48] hollomancer opened #356 "Convert vettec.operationcode.org to a page on the site"
The content at http://vettec.operationcode.org/ should be converted to the rest of our regular site's structure.

[2017-08-01 23:51] rickr opened #357 "Create scholarships application section"
# Feature
## Why is this feature being added?

Scholarships should only be available to verified members

## What should your feature do?
Add a new scholarship application section.

This should only be accessible to members that have authenticated.

There should be one page that lists all scholarship opportunities. This should be linked from the profile page.

When you click on one of those opport

[2017-08-01 23:58] davidmolina commented on #356
Suggest we name it `/public-policy` or something similar as we have multiple policy lines of effort.

[2017-08-02 01:18] sethbergman commented on #305
What about using a full stack approach with Apollo and graph.cool ? I'm not too crazy about Redux and actions.

It would also be helpful to have a document or flowchart that shows the user flow and what the front and back ends are responsible for. Maybe link to the wiki and discourse.

[2017-08-02 01:24] sethbergman commented on #328
Serving static images through the public directory via webpack confirmation or is there some express code that is implementing this?

[2017-08-02 01:39] #354 closed

[2017-08-02 02:25] rickr commented on #328
I'm unfamiliar with webpack confirmation but it looks like there's some webpack going on via create-react-app: `https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-assets-outside-of-the-module-system`

[2017-08-02 02:35] sethbergman commented on #328
This is before you run eject, with 'npm run eject', right? I'm not completely sure what to do with the webpack configuration after ejection. I've got some ideas, and maybe we could get an epic going on for this. I'll elaborate in a separate document.

[2017-08-02 04:19] sethbergman commented on #328
Here is more info on the `eject` operation, and what happens after running it.
https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-eject

[2017-08-02 09:51] sethbergman commented on #205
I believe there's a bot already setup for this. IIRC all we need to do is add this to the profile page:
[code]

https://api.slack.com/docs/sign-in-with-slack#generator

Here's what the button looks like:
![sign_in_with_slack](https://user-images.githubusercontent.com/8031689/28868162-2e08cfb0-773e-11e7-8fa4-53fe5c11e020.png)

[2017-08-02 12:41] hollomancer opened #360 "Heap Analytics isn't working"
Our Heap Analytics snippet isn't currently providing any data to Heap. I think it may need to be placed somewhere else in the code.

[2017-08-02 16:08] kylemh commented on #305
We already have a back-end. I dont believe that Apollo nor GraphQL have anything to do with State management. An example of state is managing an input field. When the component renders, the data within the field is null, but as a user types (precisely on every key-up action) the data changes. We cannot ping an API per key-up - instead, we'd manage state in the specific component to mutate state on

[2017-08-02 16:11] kylemh commented on #328
I think until we get @alexspence or another Webpack master back, we should just focus on serving images via /public.

[2017-08-02 16:44] kylemh commented on #305
So, we had a discussion on Slack, and decided to go with [the domain-driven style of Redux implementation](http://redux.js.org/docs/faq/CodeStructure.html). It matches the rest of our project's file structure, and is likely the best way to keep every file's length smaller.

Here's an example file structure tree:
[code]

[2017-08-02 16:57] #205 closed

[2017-08-02 20:36] maxifjaved commented on #350
Hi, i am intrestrd to do and start contributing.

[2017-08-02 20:38] maxifjaved commented on #273
Hi, i am intested to contribute to this issue

[2017-08-02 20:42] rickr commented on #350
Hi @maxifjaved - this one's all yours.

These logos are located at https://github.com/OperationCode/operationcode_frontend/tree/master/src/images/codeSchoolLogos

The image size should be 200px x 200px with the logo centered.

[2017-08-02 20:48] maxifjaved commented on #350
Ok, Will clone and update logo. It will be my first commit to any open source project. Feeling excited :)

[2017-08-02 20:54] rickr commented on #350
Super excited to have you! Let me know if you've got any questions.

[2017-08-02 22:53] davidmolina opened #361 "Update /gala page"
[Supporter letter FINAL (1).pdf](https://github.com/OperationCode/operationcode_frontend/files/1195488/Supporter.letter.FINAL.1.pdf)
[OpCode Sponsorship levels (1).pdf](https://github.com/OperationCode/operationcode_frontend/files/1195489/OpCode.Sponsorship.levels.1.pdf)

Update site to new pricing sheet....
Use copy on this letter to update page.

[2017-08-02 22:59] davidmolina commented on #361
Need to add another header on the main landing, "Join us at our first Gala in Portland, Friday, Nov. 10th"

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11181.901436230051!2d-122.6826821!3d45.5206389!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x776c285f8c70615a!2sSentinel!5e0!3m2!1sen!2sus!4v1501714755964" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>

[2017-08-03 02:49] matthewzurek commented on #361
It seems like the pricing is all within the embedded tickettailor.com widget - I think whoever made the event through that site would need to change it/make a new event.

Regarding the header on the main landing, how high up on the page do you want it?

[2017-08-03 17:51] davidmolina commented on #361
@matthewzurek, correct it is a widget. @rickr made it and he'd need to change on it on his end.

Regarding the header on the main landing, I think it should bleed onto the top header above the family image. It might be too busy, so maybe we should several options: (a) above the image, b) below the image and below "What we do", or (c) a header link, ex. "Gala 2017"

[2017-08-03 19:52] lebilly commented on #346
Trying to find this Drift icon in the src folder. I'm trying to find it along the lines of widgets but I can't seem to find it. Can you point me to where the src code for this Drift icon is located?

[2017-08-03 20:55] kylemh commented on #346
Correct me if I'm wrong, @hollomancer

I believe it's a plug-in imported in `index.html` within /public

https://github.com/OperationCode/operationcode_frontend/blob/master/public/index.html

[2017-08-03 20:59] rickr commented on #346
Drift is some drop in code provided by Drift itself. It's located here: https://github.com/OperationCode/operationcode_frontend/blob/master/public/index.html#L35

[2017-08-03 22:22] davidmolina opened #364 "Add functionality to contact code school admissions representatives"
# Feature
## Why is this feature being added and what should your feature do?
Currently, a veteran/spouse would have to click on the link of the respective code school and be redirected away from Operation Code to learn more about the school and contact admissions. This feature could range from a simple `Contact Admissions` button to something more underneath the small banner. The intent is to inc

[2017-08-04 00:06] hollomancer commented on #356
I was thinking we could merge this into 'military-benefits' and make this more like the new-gi-bill page? Thoughts?

[2017-08-04 00:14] davidmolina commented on #356
Absolutely good call. I think it's beyond just New GI Bill. Many
veterans/spouses in our community often ask questions re military benefits,
from education to housing to healthcare. So if we can spruce this page in
that direction to provide folks insights on military benefits while sharing
latest on public policy efforts the better.

On Thu, Aug 3, 2017 at 5:06 PM, Conrad Hollomon <notifications@g

[2017-08-04 01:41] kylemh commented on #346
Any ideas on implementation @rickr this actually seems tough.

[2017-08-04 01:55] kylemh commented on #364
I'm not sure of the best way to implement this feature. As it stands, the cards are very tightly packed with content. Adding a button with that content would make the text unreadable.

Perhaps hovering over the school logo will place a clickable overlay that says "CONTACT"? [Like this, but "CONTACT" instead of "+"](https://codepen.io/felicia/pen/qKhJt). Does anybody have other implementation ideas

[2017-08-04 01:58] sethbergman commented on #346
I have a similar feature on my website for the scroll to top button. It doesn't show until the user scrolls down, so it's kind of the opposite. If I wasn't busy with the jobs portal I'd be of more help, but feel free to hack my css. :)

[2017-08-04 02:02] sethbergman commented on #346
[code]

[2017-08-04 02:06] sethbergman commented on #346
https://github.com/sethbergman/sethbergman-com/blob/master/assets/js/custom.js#L12

[2017-08-04 02:57] kylemh commented on #346
We talked about this on Slack a bit. seth agreed that the above comments won't solve the problem. I'm gonna flag with "Needs Engineer" cuz I haven't gotten to use that flag before, and all my friend's are stumped.

[2017-08-04 02:57] kylemh commented on #346
Although @lebilly if you've found a solution, please share - I'm dying to know.

[2017-08-04 11:08] rickr commented on #346
Drift has an API that you can use to hide or show the icon:
https://help.drift.com/article/lVI0NBilKN-widget-api

[2017-08-04 16:06] #77 closed

[2017-08-04 16:09] #308 closed

[2017-08-04 16:09] rickr opened #366 "Add documentation on adding a code school logo"
# Feature
## Why is this feature being added?

New schools should be able to easily add their logo.

## What should your feature do?
Add a section to the README on how to add a new code school logo. I'll update the mother repo to point to instructions here and on the backend.

Adding the procedure in this ticket would make this a beginner friendly item.

[2017-08-04 16:19] kylemh commented on #366
Question: Instead of a README edit which I feel like might not get read for an issue like this, maybe we could use the [GitHub API](https://developer.github.com/v3/issues/#create-an-issue) and create a button on /code_schools that directs reps to make an issue about their card in that manner?

[2017-08-04 20:55] kylemh opened #368 "When clicking 'Join' on /join without a completely filled out form, user gets no negative feedback"
# Bug Report
## What is the current behavior?
If you go to /join and click 'Join' w/o filling out the form, the button will change to 'Loading' as implemented in #363, but nothing else happens on the page.

## What is the expected behavior?
Without entering every item in the form, you shouldn't even be allowed to click the Join button.

## What steps did you take to get this behavior?
I went to /j

[2017-08-05 01:22] rickr commented on #368
Having a timeout is a good idea but expected behavior here should be you can't actually submit the form.

[2017-08-05 01:42] kylemh commented on #368
Agreed completely. My mind must've been in 2 places on this one. I've edited OP

[2017-08-05 01:52] rickr commented on #366
That doesn't do anything to solve the problem of the current institutional knowledge needed to make a code school logo fit onto the page. We would also have to create an issue in both repos to fully add a code school.

The real solution is to create a UI manage all this for us but we should focus on doing the simplest thing first - which IMHO is to have some documentation on how to add or modify a

[2017-08-05 02:28] rickr opened #370 "Discourse SSO for an existing operation code session results in a 500"
# Bug Report
## What is the current behavior?
Logging into discourse with an existing opcode session results in a 500 due to a bad signature

## What is the expected behavior?
Logging into discourse should work with an existing OC session

## What steps did you take to get this behavior?
Make sure you're logged out of discourse
Log into operationcode.org
Go to discourse
Attempt to login
You'll see

[2017-08-05 02:47] kylemh commented on #366
Okay. Documentation first, and UI for representative data fixes later. I like it.

[2017-08-05 02:56] #368 closed

[2017-08-05 14:45] #361 closed

[2017-08-05 14:45] hollomancer commented on #273
All yours @maxifjaved!

[2017-08-05 19:23] ganesh25 opened #371 "UI design Bug in Mentors & Squads page"
# Bug Report
## What is the current behavior?

The drop-down to select the number of rows to be displayed in the Mentors & Squads page is not fully visible but only partially visible which causes the users to double check their selection.

## What is the expected behavior?

The drop-down to select the number of rows to be displayed in the Mentors & Squads page must be fully visible.

## What steps

[2017-08-05 19:50] sethbergman commented on #371
By inspecting the dom with dev tools, I found that when I comment out `height: 20px` on line 18 of login.css, the desired results are displayed. I'll go ahead and fix this up.

[2017-08-05 21:30] sethbergman commented on #371
![operationcodeprofile](https://user-images.githubusercontent.com/8031689/28998823-131c18a6-79fa-11e7-9c9a-53064e150ee3.png)

- I polished up the profile page with some new images and text.
- I also added a script to package.json to easily start the backend. Prior to finding this I didn't know there was a script in `bin` to start a backend. This is important for debugging things locally that requi

[2017-08-05 22:08] #371 closed

[2017-08-05 23:54] rickr commented on #370
This issue was moved to OperationCode/operationcode_backend#126

[2017-08-06 02:35] sethbergman commented on #265
Are we just going to use express or some other tool for the `POST` requests to the backend? I'm unsure of where @Cooperbuilt left off, and what still needs to be done. Please elaborate on what's still needed here.

[2017-08-06 03:10] rickr commented on #370
Turns out this is due to incorrectly formatted payload being sent by the frontend.

[2017-08-06 03:31] dmarchante commented on #364
Could we add a modal that is rendered by a click event. We could have a ">" that pulls in the contact rep and contact info.

[2017-08-06 05:08] davidmolina opened #379 "Remove Ticket Tailor, add link"
# Feature
## Why is this feature being added?
(1) Remove Ticket Tailor, send folks to this link to buy through call to action button.
https://operationcode.ejoinme.org/MyEvents/DeploytheFutureGala2017/DeploytheFutureTicketTableRegistration/tabid/892109/Default.aspx

(2) Leave HTML, and benefits of each sponsorship, however, as it's currently not on the Deploy the Future landing page.

@rickr per o

[2017-08-06 05:30] sethbergman commented on #328
I believe this can be closed. I was able to use a relative path to an image earlier today. It's also easy to specify from which directory you want express to serve static assets with
[code]
method.

[2017-08-06 10:26] Hiren-Mehta opened #380 "Correct URL to Udacity on the Code Schools page (under MOOCs)"
# Bug Report
## What is the current behavior?
Upon clicking the link to Udacity at https://www.operationcode.org/code_schools , the browser displays a warning because of the URL mismatch in the SSL certificate.
## What is the expected behavior?
The browser should take the visitor to the Udacity homepage. We can correct the URL in the scene for this page.
## What steps did you take to get this beha

[2017-08-06 10:57] rickr commented on #380
The correct URL is www.udacity.com. It's currently udacity.org.

[2017-08-06 10:58] rickr commented on #380
This issue was moved to OperationCode/operationcode_backend#127

[2017-08-06 11:04] Hiren-Mehta commented on #380
This is a frontend issue because operationcode_frontend/src/scenes/home/codeSchools/onlineSchools/onlineSchools.js needs to be modified.

[2017-08-06 11:07] rickr commented on #328
This ticket is to make the code schools images available other than using raw.github.com which is still not resolved.

[2017-08-06 11:24] rickr commented on #380
That's right. Reopening this.

[2017-08-06 11:25] rickr commented on #380
Problem URL is here: https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/codeSchools/onlineSchools/onlineSchools.js#L107

[2017-08-06 11:27] rickr opened #381 "Move MOOC entries to the backend"
# Feature
## Why is this feature being added?

MOOCs under our CodeSchools component are currently hard coded which is confusing due to all other data coming from our API.

## What should your feature do?
Make sure we're able to serve MOOCs from the backend.
Remove hard coded values from https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/codeSchools/onlineSchools/o

[2017-08-06 12:29] #380 closed

[2017-08-06 13:48] sethbergman commented on #370
Did you get this fixed up, or do you need eyes on the front end of the stack?

_Sent from my Samsung SM-S120VL using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-06 13:52] sethbergman commented on #113
Do we have a testing framework in mind! Mocha maybe? I know jest is in there by default. I would like to use a good testing library that is easy to write.

_Sent from my Samsung SM-S120VL using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-06 13:54] sethbergman commented on #328
Gonna tackle this today.

_Sent from my Samsung SM-S120VL using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-06 14:16] sethbergman commented on #306
https://github.com/40thieves/webpack-sentry-plugin
I'm going to use this

[2017-08-06 15:56] hollomancer opened #384 "Updates to the team YAML are overwritten by backend data"
# Bug Report
## What is the current behavior?

Updating team.json has no effect - there is a file in the backend that is overwriting all the data.

## What is the expected behavior?

Updates to the JSON should take precedence over the rake task.

It's unclear where these updates should take place.
* https://github.com/OperationCode/operationcode_backend/blob/517a99024f3dcd1eb2739009e5ac934fc187180

[2017-08-06 15:56] #379 closed

[2017-08-06 16:55] rickr commented on #384
The source of data should be the backend. To complete this ticket delete `src/scenes/home/team/team.json`.

[2017-08-06 17:11] rickr opened #386 "Identify all local data sources"
# Feature
## Why is this feature being added?

We currently have a mix of data sources. Some info comes from the backend, some comes from yaml or json files local to the frontend repo which causes a lot of confusing (see #384 #380).

## What should your feature do?
This ticket is informational only.
Go through each of our components to look for hard coded data or json/yml files that might be feedi

[2017-08-06 17:59] sethbergman opened #387 "Team Card CSS Fix"
# Bug Report
## What is the current behavior?
The team cards don't align.
## What is the expected behavior?
The cards should align.

[2017-08-07 00:55] rickr opened #389 "Relocate Gala Call To Action"
# Feature
## Why is this feature being added?

The gala link is kind of hidden due to the background image on the home page.

## What should your feature do?
Remove the 'Gala 2017' link from the nav menu.

Add the attached banner under the splash image and above the 'What We Do' section.
Clicking on the banner should take you to `/gala`.
Be sure to check that it looks ok on mobile!

![gala_banner_

[2017-08-07 01:17] #387 closed

[2017-08-07 02:55] #384 closed

[2017-08-07 11:09] #355 closed

[2017-08-07 14:22] rickr commented on #370
This looks like it's still broken =(

Sample payload we receive:
`bm9uY2U9YzViYWZmN2MwMzA3YTAwMDBlYTAyYzQzOGQwODgzMjQmcmV0dXJu%0AX3Nzb191cmw9aHR0cCUzQSUyRiUyRmNvbW11bml0eS5vcGVyYXRpb25jb2Rl%0ALm9yZyUyRnNlc3Npb24lMkZzc29fbG9naW4%3D%0A`
Payload that's sent to the backend:
`bm9uY2U9YzViYWZmN2MwMzA3YTAwMDBlYTAyYzQzOGQwODgzMjQmcmV0dXJuX3Nzb191cmw9aHR0cCUzQSUyRiUyRmNvbW11bml0eS5vcGVyYXRpb25jb2RlLm9yZyUy

[2017-08-07 17:43] dheinz opened #390 "cant join"
# Feature
## Why is this feature being added?

## What should your feature do?

---

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-08-07 17:44] kylemh commented on #390
@dheinz can we get more feedback on your situation?

On what step did the joining process fail? What browser did you use? Do you have any screenshots?

This info will help us get you online faster!

[2017-08-08 07:42] sethbergman commented on #265
I've done some testing and recorded a couple videos:
Volunteer flow: http://bit.ly/opcvolunteer
Military flow: http://bit.ly/opcmilitary
I used an extension that doesn't capture the dropdowns, so keep this in mind while viewing the videos.
I also changed the "Join" button to direct to the new signup flow.

[2017-08-08 21:11] jrjamespdx opened #393 "Add information for single ticket purchase on Gala page"
# Feature
## Why is this feature being added?
Requested by Dave Molina during OC Gala planning call on August 7, 2017

## What should your feature do?

Display the information and links to purchase a single ticket for the Gala.

[2017-08-08 21:12] jrjamespdx opened #394 "Add information for purchasing a pair of Gala tickets"
# Feature
## Why is this feature being added?
Requested by Dave Molina during OC Gala planning call on August 7, 2017

## What should your feature do?

Display the information and links to purchase a pair of tickets for the Gala.

[2017-08-08 21:21] sethbergman commented on #386
I think we should just program the backend to accept / store valid JSON data through frontend schemas and API's. We could easily do this with Axios, Koa, or Express and use GraphQL as our schema validator. We could use Mobx or Relay or Redux for storing state. Having two separate repos adds an unneeded layer complexity also, unless we plan on using services to connect the front and backend. I vote

[2017-08-08 22:38] rickr commented on #386
The complexity of having a frontend and backend repo is intended. We're trying to build a diverse platform with as many languages as possible to help members get experience working with open source projects in their language of choosing and using industry standard frameworks to help employability.

GraphQL is super cool and I'm open to using it in some areas but I want to make sure there's still a

[2017-08-09 14:02] rickr commented on #393
We'll need more details to complete this. @davidmolina do you have copy and links needed?

[2017-08-09 14:02] rickr commented on #394
We'll need more details to complete this. @davidmolina do you have copy and links needed?

[2017-08-09 15:03] davidmolina commented on #394
Yes.

It's on the following payment page.

[2017-08-09 15:45] susybiasdesign commented on #389
@rickr Hello! I'm a beginner looking for my first contribution project. I would like to help out with this. I can do it today. May I be assigned this task?

[2017-08-09 16:07] sethbergman commented on #346
Until we get the widget configured to hide / show the icon, and since I was already working on the topNav and footer, I've made some CSS tweaks that look to be a quick solution.
Footer:
![operationcodefooter](https://user-images.githubusercontent.com/8031689/29131538-ca3fce9c-7cf2-11e7-9169-a164fc401bf4.png)
Header:
![operationcodeheader](https://user-images.githubusercontent.com/8031689/29131557-

[2017-08-09 16:21] kylemh commented on #346
Forgive me if I'm wrong, but from that screenshot it looks like the links are on a slightly higher line than the the email in the left section.

Also, I got info on fixing this issue from a React Slack team:
The widget has an ID of `#drift-widget` making it easy to select in CSS. Knowing that we can easily select it in CSS was half the battle. Now we need to decide how we can operate on that eleme

[2017-08-09 16:34] sethbergman commented on #346
So we'll probably have to polyfill so we can get to the DOM selectors. The way React works, it is not so friendly with the webcomponent spec, and we're currently using PostCSS for our encapsulated styles. This is a Webpack preprocessor that modifies each CSS selector inside a component to make it unique in order to avoid CSS "leakage". I know Polymer does a good job of getting to these selectors,

[2017-08-09 16:42] sethbergman commented on #346
Here's the video:
https://vimeo.com/223805833#t=53s
I don't have access to login to the dashboard and create the custom controls.

[2017-08-09 16:47] sethbergman opened #395 "Open External Links in a New Tab"
# Feature
## Why is this feature being added?
There are many links on the site that lead to other URL's besides OperationCode.org, so I decided to make them open in a new tab.

## What should your feature do?
Open external links in a new tab.

[2017-08-09 16:54] kylemh commented on #346
We could just use our global stylesheet, I think.

[2017-08-09 16:56] kylemh commented on #395
Instead of searching for all the anchor tags and fixing them to include `target="_blank"` etc., maybe we should make an ExternalLink component?!

[2017-08-09 17:10] sethbergman commented on #395
We definitely should for the buttons and code schools page cards, but it's already done. fixing up my branch now for PR.

[2017-08-10 07:49] Saeris commented on #395
If the implementation strategy is going to be to create an external link component, be sure to include the `rel="noopener"` attribute, as `target="_blank"` alone can affect the performance of your site. This is a Lighthouse recommended best practice.

Alternatively you can just add an `external` attribute to your existing link component, to conditionally add these two attributes to your rendered `

[2017-08-10 12:32] sethbergman commented on #395
Yeah I'm doing this for external links:
[code]
I'm also working on some of our reusable components to pass a non-required `PropType` for `target` and `rel`, and of course `link`.

[2017-08-10 13:09] ianroberts131 commented on #389
I'd like to take a crack at this if that's ok :) I'm quite new to open source development, but have experience with Rails and React. I think I have everything setup for the frontend (having some issues with the backend setup), but I'll try to submit a pull request for this by the end of the week.

[2017-08-10 14:48] rickr commented on #389
Absolutely - it's all yours! Let me know if you have any questions.

And FYI you shouldn't need the backend for this ticket.

[2017-08-11 04:35] jjhampton commented on #353
@sethbergman @mzurek Are either one of you still working on this ? Adding `text-align: right;` to the `topNav` class in topNav.css can be a short-term fix (to right-align the nav items, since they wrap strangely and are centered at screen widths btw/ 760px and 1610px)

Wasn't sure if a nav item dropdown as mentioned by @kylemh was still in the works. I agree that there should be a better way for l

[2017-08-11 04:46] kylemh commented on #353
We're on this, and it's nearly done - just been drowning in work. I keep saying I'll free up, but I actually mean in starting Monday hahaha.

https://github.com/OperationCode/operationcode_frontend/pull/391

[2017-08-11 09:04] sethbergman commented on #353
I had a PR in for a fix for the nav and footer, and it included adding target="_blank" and rel="noopener nosomethingelse" to the external links, so I was asked to split my PRs. I have not had time.

_Sent from my Samsung SM-S120VL using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-11 20:28] #389 closed

[2017-08-13 02:59] kylemh commented on #326
https://daveceddia.com/snapshot-testing-react-with-jest/

No doubt in my mind that we should at least use Jest.

[2017-08-13 19:45] tal87 commented on #352
Hi,
I would like to try to solve it if possible.

[2017-08-13 22:32] jmayergit commented on #352
With the way things are implemented it would require a hacky solution

[2017-08-14 00:59] sethbergman commented on #352
Try something like this. There are many component libraries out there in the React community.
https://github.com/mozilla-services/react-jsonschema-form/blob/master/src/validate.js

[2017-08-14 01:19] sethbergman commented on #352
I like this solution as well.
https://www.npmjs.com/package/try-react-password-input
It's got the validation library I was looking at, then I found a full react component with all the necessary goods.

[2017-08-14 11:33] rickr opened #398 "Add Dev Points Labs logo"
# Feature
## Why is this feature being added?

DevPointLabs would like to add themselves to the code school list.

## What should your feature do?
Add the logo found here: https://github.com/OperationCode/operationcode_backend/pull/136 to the code schools logo directiory.

[2017-08-14 13:26] Hiren-Mehta opened #399 "Overflowing text on the Code Schools page for 'Deep Dive Coding'"
# Bug Report
## What is the current behavior?
Text overflows outside the card for Deep Dive Coding
## What is the expected behavior?
No overflow should occur
## What steps did you take to get this behavior?
Visited https://www.operationcode.org/code_schools
## Additional Info
### Operating System
macOS Sierra 10.12.6
### Browser
Safari 10.1.2
### Screenshots
![screen shot 2017-08-14 at 6 45 19 pm]

[2017-08-15 02:05] rickr opened #401 "Dropdown 'Account' link is not visible on pages with a white background"
# Bug Report
## What is the current behavior?
The `Account` dropdown is hard to see on pages other than the home page.

## What is the expected behavior?
The `Account` dropdown should be easily visible.

## What steps did you take to get this behavior?
Visit a page without a dark background, eg `/about`.
Click on the `Account` link.
It will be hard to read (white text/white background).
It should

[2017-08-15 05:31] tal87 commented on #401
Is there a dummy account I can use to recreate this behavior?

[2017-08-15 05:44] kylemh commented on #401
I already have this fix already in progress on https://github.com/OperationCode/operationcode_frontend/pull/391

[2017-08-15 05:46] kylemh commented on #399
These components are simply too small to render that much text.

I believe that we'll either need to rethink the entire card or limit the name length for the `code_schools.yaml` on the back-end.

I'd prefer the latter.

[2017-08-15 05:49] kylemh commented on #398
@mattmacneil you and I are the only ones that know how to properly upload the pictures

...until I add documentation >.<

Lemme know if you can't take this, and I'll grab it! 👍

[2017-08-15 07:33] sethbergman commented on #346
![image](https://user-images.githubusercontent.com/8031689/29305800-29548910-8160-11e7-9cc2-dcc8651746f1.png)
#402 fixes #346

[2017-08-15 12:06] rickr commented on #328
Hi @sethbergman Any updates on this?

[2017-08-16 03:45] sethbergman commented on #328
#403 fixes this

_Sent from my Samsung SM-S120VL using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 16:29] #352 closed

[2017-08-17 20:55] Cooperbuilt opened #407 "User is not automatically logged in after a successful signup"
# Bug Report
## What is the current behavior?
When a user successfully signs up, they are not automatically logged in. In order to access their profile, they have to then log which is a UX issue.

## What is the expected behavior?
Users should be automatically logged in after a successful signup

## What steps did you take to get this behavior?
Tested the signup flow on Chrome and Firefox. Further

[2017-08-18 05:44] tal87 commented on #407
@Cooperbuilt it seems like we have to get the session id from the backend so we can store it in the cookie

[2017-08-18 05:48] kylemh commented on #407
@tal87 any chance I can get you inside of our Slack team? If you're going to be a routine contributor, we want to hear more from you 👍

[2017-08-18 05:49] tal87 commented on #407
sounds good.
what do I have to do?

[2017-08-18 15:06] kylemh commented on #407
Just register at operationcode.org and you'll get an invite via email.

[2017-08-20 02:27] #265 closed

[2017-08-20 03:45] kylemh opened #409 "Low-resolution Checkboxes In Multi-step Sign-on"
# Bug Report
## What is the current behavior?
When I see a formInput component, the checkboxes seem low resolution and it looks unprofessional.

## What is the expected behavior?
When I see a formInput component, it should have the display clarity that all the other components on our website do.

## What steps did you take to get this behavior?
Currently, formInput is used on the 4th step of the r

[2017-08-20 03:51] kylemh opened #410 "Add Other:____ option to languages of interest in multi-step sign-on form."
# Feature
## Why is this feature being added?
It's difficult to ask for every language available to developers and have a good UI, so I understand the limitation. It is useful to have metrics to the fullest detail on users and it wont deter anybody from our registration due to feeling excluded.

## What should your feature do?
After the checkboxes of available interested languages in the registrat

[2017-08-20 11:09] rickr commented on #407
Fixed in #406

[2017-08-20 11:09] #407 closed

[2017-08-20 11:10] rickr commented on #409
Steps to rep would be very helpful.

[2017-08-20 18:27] aaron-suarez commented on #340
FWIW, I just reset my password and it let me log in just fine... Randomly generated 16 char password with random ascii characters.

[2017-08-20 18:39] aaron-suarez opened #412 "There's no page for /badges/10/editor"
# Bug Report
## What is the current behavior?
This bug is regarding Discourse Badges. When clicking the link for "Editor" or the button for "Others with this badge", I get a 404 page not found error.

## What is the expected behavior?
I'm not sure where clicking "Editor" is supposed to take you, but as it doesn't go anywhere it probably shouldn't be clickable... I expected to see the other 15 peop

[2017-08-20 19:24] sethbergman commented on #360
This should probably be placed in the same place as the drift snippet.

[2017-08-20 19:28] sethbergman commented on #346
The global stylesheet won't work as the current snippet is injected outside of the root div where all the React app lives. We'd need to bring the snippet code into its own component in order for this to be feasible IMO.

[2017-08-20 22:11] hollomancer opened #413 "Add Jobs page"
# Feature
## Why is this feature being added?
We have a revenue-sharing agreement arranged with ZipRecruiter, to help let our community know about developer jobs. We need to create a page that uses ZipRecruiter's API to list these jobs.

## What should your feature do?
Provide a portal that lists software developer jobs based on the search criterial we provide.

Please contact me on Slack at @holl

[2017-08-21 06:22] kylemh opened #414 "Gala date is incorrect"
# Bug Report
## What is the current behavior?
The gala-banner.png on the landing page says "11/20/2017"

## What is the expected behavior?
The gala-banner.png on the landing page should say "11/10/2017"

[2017-08-21 06:37] #328 closed

[2017-08-21 06:39] kylemh opened #416 "Add package-lock.json to .gitignore"
# Feature
## Why is this feature being added?
Having two non-simultaneously updated lock files can be a potential problem for developers who don't realize packages have been updated. Read more here: https://stackoverflow.com/questions/44552348/should-i-commit-yarn-lock-and-package-lock-json-files

## What should your feature do?
Add `package-lock.json` to the `.gitignore` file, as we support yarn

[2017-08-21 14:59] kylemh commented on #416
1) It's not that we have 2 package management systems, rather it is that 2 are available for use by anybody else. Ignoring `package-lock.json` does not prohibit people from using NPM, but it does mean that using it will create a new file for that individual whenever they use it.

2) I see no way to reliable call upon yarn when somebody tries to use NPM.

3) We have all of our documentation referen

[2017-08-21 15:20] hollomancer commented on #360
Heap support is asking, "is it possible to drop the snippet in index.html and public/index.html?"

Anyone able to grab this?

[2017-08-21 15:26] Cooperbuilt commented on #360
The heap snippet doesn't exist in the public/index.html at this moment.

[2017-08-21 16:26] sethbergman commented on #360
I'll take care of it.

[2017-08-21 18:29] tal87 opened #417 "Unable to deselect favorite languages during sign-up"
# Bug Report
## What is the current behavior?
During the signup process the users are asked to select their favorite languages and disciplines.
trying to unselect a discipline or a language does mark off the checkbox but the discipline/language is not removed from the interests list.

## What is the expected behavior?
When a user unselects a discipline/language it is expected that they won't be sa

[2017-08-21 20:18] kylemh opened #418 "Use toLowerCase() on Email Input"
# Feature
## Why is this feature being added?
Despite the back-end also handling email downcases, we should double-down on preventing bad data by implementing `toLowerCase()` on our sign-up process for e-mails.

## What should your feature do?
Utilize `toLowerCase()` function on the email input of the sign-up process.

[2017-08-21 21:19] kylemh opened #419 "Phone flip ruins screen ratio on iOS Chrome"
*NOTE*: This is extremely low priority.

# Bug Report
## What is the current behavior?
When I flip my phone from vertical to horizontal, the screen zooms in by about 80%.

## What is the expected behavior?
When I flip my phone vertical to horizontal, the ratio should correct itself and fit to match my view dimensions.

## What steps did you take to get this behavior?
Opened operationcode.org on my

[2017-08-21 21:19] #414 closed

[2017-08-21 21:28] hollomancer commented on #346
Per convo in #oc-projects. Kill Drift.

Hide it... permanently.

![image](https://user-images.githubusercontent.com/9288648/29539011-3475d96c-8696-11e7-885f-d54d212a19a9.png)

[2017-08-21 21:40] #346 closed

[2017-08-21 21:46] sethbergman commented on #416
PR Ready #421

[2017-08-21 21:48] #416 closed

[2017-08-22 01:26] #360 closed

[2017-08-22 03:20] lebilly opened #423 "Add visual feedback for required form input on signup page"
# Feature
Add visual feedback for required fields on error when on signup form.
## Why is this feature being added?
There are no visual indications of what fields are required to submit the form.

## What should your feature do?
Add asterisks to labels or give red borders on error to the different input fields to show which fields are required for submission.

---

# Bug Report
## What is the curr

[2017-08-22 12:03] rickr opened #425 "Create flash notification system"
_From @rickr on July 26, 2017 15:55_

# Feature
## Why is this feature being added?

When a user takes an action like resetting their password we should have a system in place to consistently notify them the action was successful.

## What should your feature do?
Add a flash message notification system.

Please discuss possible options for moving forward in the ticket before starting work.

_Copie

[2017-08-22 12:03] rickr commented on #425
One possible solution, although it requires redux.
https://github.com/posabsolute/redux-flash-notification

[2017-08-22 12:03] rickr commented on #425
_From @PSkaggs on August 20, 2017 22:55_

Are **all** of the front end requests accessed through the API?  If so this seems like a front end implementation.

[2017-08-22 12:03] rickr commented on #425
You are correct - this got filed in the wrong repo. Moving it now.

[2017-08-22 12:06] sethbergman opened #426 "Scroll to Top Buttons don't work"
# Bug Report
## What is the current behavior?
When you click on a Scroll to Top button, nothing happens.
## What is the expected behavior?
The page scrolls up to the top.
## What steps did you take to get this behavior?
Click the button.
## Additional Info
I'm going to add a reusable component that fades in once a user scrolls down. It will be an arrow pointing up, just like you see on many sites.

[2017-08-22 12:14] rickr commented on #426
Since this is something that is broken we can file it as a bug.

Are there any other 'Scroll To Top' buttons?

[2017-08-22 12:16] sethbergman commented on #306
All of the scripts are working fine as far as I can see. I'm going to close this for now.

[2017-08-22 12:16] #306 closed

[2017-08-22 12:18] #418 closed

[2017-08-22 12:23] sethbergman opened #427 "Scroll to Top and External Links"
## Epic 1
( _because we can't create subtasks_)
This will include the following issues:

- [ ] #426

- [ ] #395

I'm going to fix these two issues and reference this epic with my PR.

[2017-08-22 12:39] rickr opened #428 "Sentry is running in development environments"
# Bug Report
## What is the current behavior?
Sentry is currently running in dev environments and reporting all dev related errors to production

## What is the expected behavior?
Sentry should not run in a dev environment

## What steps did you take to get this behavior?
You can check in #chatops to see if errors created locally are making their way to Sentry

## Additional Info
### Operating Sys

[2017-08-22 13:13] sethbergman commented on #428
This must be from #422
Can we use a flag in the configs?

[2017-08-22 13:57] #427 closed

[2017-08-22 15:01] kylemh commented on #426
There are no other "Scroll To Top" buttons, but Scrollspy behavior exists on the Code Schools page with all the buttons near the top.

[2017-08-22 15:03] kylemh commented on #423
Not certain about the beginner-friendliness of this one, but it is a bug and worthy of higher priority. Good find!

[2017-08-22 15:40] jjhampton commented on #426
@sethbergman Looks like Chrome v61 supports CSS smooth-scrolling, that would be nice to have:
https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior

[2017-08-22 15:52] kylemh commented on #426
^ How well will the bleeding edge Chrome work with FF, Safari, and Edge?

[2017-08-22 16:06] jjhampton commented on #426
@kylemh I haven't tried that feature yet, but I imagine we could have fallbacks so that we can practice graceful degradation.  If anything, on the other (less supported) browsers, ideally, it just wouldn't smoothly scroll.

It would be nice to build in a feature that caters to the browser which most of our users will use (Chrome).

[2017-08-23 09:28] hollomancer commented on #413
We can add a widget that gives us MVP functionality, but I'll need someone familiar with React to assist me.

[2017-08-23 11:35] hollomancer commented on #156
@kylemh, volunteering content;

Volunteer
- Join our community on Slack, and work with new software developers to help grow and mentor them in learning to code and enter the tech industry. Answer questions, participate in mock interviews, and review resumes.
- Lead a squad of new developers in learning new skills in Linux, Python, cloud infrastructure, web development, and more.
- Meet up with a l

[2017-08-23 12:25] sethbergman opened #431 "Some External Links don't have an SSL"
# Bug Report
## What is the current behavior?
http://bit.ly/2veTEBs
## What is the expected behavior?
Link opens without https protocol

[2017-08-23 12:30] rickr opened #432 "Update Raven Config"
# Feature
## Why is this feature being added?

Raven is reporting into the backend project in Sentry and there's no good way to separate out issues.

## What should your feature do?
Replace the existing raven config with this line:
`Raven.config('https://a566cf6623524f11990720bcff927f75@sentry.io/207359').install()`

[2017-08-23 12:52] hollomancer opened #433 "Add backend mocking server to README.md"
Our API documentation platform, Apiary, includes a mocking server. We should add instructions to use this to the README, so that frontend developers don't have to stand up the whole backend to test their code.

This also implies that all PRs that change our API implementation need to ensure the .apib file is updated too.

http://docs.operationcodeapi.apiary.io/#

[2017-08-23 12:56] dmarchante commented on #156
Did we ever get the design for the brochure? If not I have some mockups

[2017-08-23 12:56] dmarchante commented on #156
![oc-brochure-5](https://user-images.githubusercontent.com/14184223/29616896-eff4a4ac-87e0-11e7-9f9c-0a9dad0483c5.jpeg)
![oc-brochure-1](https://user-images.githubusercontent.com/14184223/29616895-eff4711c-87e0-11e7-8083-b45f70895486.jpeg)
![oc-brochure-2](https://user-images.githubusercontent.com/14184223/29616894-eff475d6-87e0-11e7-9eb1-60dba55b06da.jpeg)
![oc-brochure-3](https://user-images.git

[2017-08-24 14:51] sabrown84 commented on #432
I'd like to take this one on.

[2017-08-24 17:40] kylemh commented on #399
Opinions required on this one!

[2017-08-24 17:43] Cooperbuilt commented on #399
I think a human touch is necessary here for now. IMO schools should be limited to their most recognizable, yet shortest name (<50 chars or something) upon entry in the backend to normalize our data. For instance, the Turing School of Software and Design should just be limited to the Turing School.  Similarly, Deep Dive + Sales Force + blah blah should just be Deep Dive.

[2017-08-24 17:57] sethbergman commented on #399
Skip to one minute into the recording. I forgot to start the dev server first. :expressionless:
[Video of latest changes](https://slack-files.com/T03GSNF5H-F6TC0HD1S-1e9b1b02d2)

[2017-08-24 18:29] sethbergman opened #434 "Create History.md for Commit Logs and Pull Requests"
# Feature
We should create a folder structure for commit logs and PR details.

- Create HISTORY.md
- Add commit logs or changes to the PRs that get merged.
- I think there is a good way to automate this.

I'm researching ways to implement this without too much user intervention. It will probably involve a bash script that formats the git log.

This could be useful:
https://github.com/skywinder/git

[2017-08-24 19:11] sethbergman commented on #434
https://github.com/skywinder/github-changelog-generator
BOOM! :boom:

[2017-08-25 08:31] kylemh commented on #199
This is not actually an issue. The scroll bar simply masks content.

[2017-08-25 08:31] #199 closed

[2017-08-25 08:31] kylemh commented on #198
This no longer seems to be an issue.

[2017-08-25 08:31] #198 closed

[2017-08-25 08:35] kylemh opened #436 "FIREFOX: SideNav component does not render"
# Bug Report
## What is the current behavior?
When the screen is small enough to the point where you can see the hamburger button, you can click it to try to render the <SideNav> component. The app locks up a bit and it never renders.

## What is the expected behavior?
When the screen is small enough to the point where you can see the hamburger button, you can click it to try to render the <SideNa

[2017-08-25 08:41] kylemh commented on #197
I'll mark this as WONTFIX and close since the latest FF has handled this.

[2017-08-25 08:41] #197 closed

[2017-08-25 08:44] kylemh opened #439 "Remove address from SchoolCard component"
# Feature
## Why is this feature being added?
Removing the school's address from the <SchoolCard> component easily fixes #399 while simultaneously reducing the cards general sense of information clutter. Most people are coming to this page to research schools, not find their address.

## What should your feature do?
Eliminate the school's address from the SchoolCard component render. Continue rend

[2017-08-25 15:24] sethbergman commented on #432
Ohh I didn't realize this one was assigned. Do you have anything on this @sabrown84 ?

[2017-08-25 19:50] sabrown84 commented on #432
@sethbergman I was just starting to look into this one, but I don't have anything on it yet.

[2017-08-27 19:08] hollomancer opened #443 "Add page-hiding snippet for Google Optimize"
# Feature
## Why is this feature being added?
It will allow us to loading our Optimize container asynchronously while hiding the page until the container is ready, ensuring that users don't see the initial page content prior to it being modified by an experiment.

---

`<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;

[2017-08-27 19:25] hollomancer opened #445 "Remove Heap snippet"
Google Analytics will do everything we need for now.

Let's remove Heap from;

[2017-08-28 08:58] #395 closed

[2017-08-28 08:58] #426 closed

[2017-08-28 12:43] #399 closed

[2017-08-28 12:43] #439 closed

[2017-08-28 21:27] #417 closed

[2017-08-29 18:49] Hiren-Mehta opened #449 "Broken CSS for MOOCs"
# Bug Report
## What is the current behavior?
The cards for edX, Udacity and treehouse on https://www.operationcode.org/code_schools overlap into the next (Schools by State) section. The information and link for treehouse is not visible.
## What is the expected behavior?
The cards should be laid out properly without any overlap.
## What steps did you take to get this behavior?
Visited https://www.

[2017-08-29 19:43] #449 closed

[2017-08-31 06:32] #436 closed

[2017-08-31 13:29] sabrown84 commented on #410
Hi @kylemh I'd like to try out this one...Do you have any suggestions on how to get me started? I just need to find where the registration is.

[2017-08-31 16:12] kylemh commented on #410
@Cooperbuilt would be a better person to get some aid, as he designed most of the sign-up process.

Are you on our Slack team? If not you should register and join the #oc-projects channel to discuss real-time to get faster feedback!

[2017-08-31 17:17] #432 closed

[2017-08-31 17:20] Cooperbuilt commented on #410
@sabrown84 I'm checking in on this one. If you look within 'src/scenes/informationForm' you will notice a sub folder called formComponents. That folder contains interests.js which renders out the checkboxes. This file pulls all checkbox values and names from 'shared/constants/status'.

Without completely giving it away, adding an 'other' value within the proper var in 'shared/constants/status' wil

[2017-09-01 00:53] sethbergman commented on #445
- [ ] https://github.com/OperationCode/operationcode_frontend/blob/master/public/index.html#L24

- [ ] https://github.com/OperationCode/operationcode_frontend/blob/master/index.html#L23

[2017-09-01 00:56] sethbergman commented on #431
#431 closed through #438

[2017-09-01 00:56] #431 closed

[2017-09-01 10:16] sabrown84 commented on #410
Perfect thank you @Cooperbuilt and @kylemh I'm not on the Slack team...I'll get registered.

[2017-09-01 12:43] #445 closed

[2017-09-01 16:22] babu-thomas commented on #423
Hi @lebilly @kylemh , I'd like to work on this one. I am a beginner to React.js. From an initial look I think I would have to edit ```/src/scenes/home/signup/signup.css ``` and ```/src/scenes/home/signup/signup.js```. Am I on the right track?

[2017-09-01 16:24] kylemh commented on #423
Those are the right spots!

[2017-09-01 16:39] babu-thomas commented on #423
Thanks! Time for a closer look.

[2017-09-02 03:31] kylemh opened #455 "Rename home.js to router.js"
# Feature
## Why is this feature being added?
`home.js` says nothing about the functionality of the file. It's main job is as the "Home" scene's router.

## What should your feature do?
Change `home.js` to `router.js` and fix any/all references.

[2017-09-02 03:43] kylemh opened #456 "Move Drawer component from Header --> Shared"
# Feature
## Why is this feature being added?
The component is a prime candidate of reusability for mobile menus.

## What should your feature do?
Move the Drawer component to the shared folder, and fix any/all references

[2017-09-02 03:46] kylemh opened #457 "Rename Header --> Nav"

[2017-09-02 03:47] kylemh opened #458 "Separate components within new Nav"

[2017-09-02 03:48] kylemh opened #459 "Put Nav at top of page, not on top of landing banner."

[2017-09-02 03:48] kylemh opened #460 "Implement dropdown ability for topNav"

[2017-09-02 03:49] kylemh opened #461 "Reskin topNav"

[2017-09-02 03:49] kylemh opened #462 "Refactor Nav"
# Feature
## Why is this feature being added?
As a team, we decided to implement a restyled Nav bar with the corresponding tasks as connected issues. End-product will retain most of the current sideNav, but the topNav will look much different.

## What should your feature do?
The culmination of this Epic will:
- Properly file reusable aspects
- Implement drop-down ability for grouped links
- Make

[2017-09-02 03:50] jjhampton commented on #460
If we create a dropdown component of our own, that could also be a potential candidate for the Shared directory.   I might be thinking too far in the future, but that kind of UI control could be re-used in many places. Unless we want to just bring in an external dropdown component.

It would be pretty fun to create our own via CSS (and some minimal JS).

[2017-09-02 07:58] zzbazinga commented on #456
I am beginner here. I want to help

[2017-09-02 08:30] kylemh commented on #456
Hey @zzbazinga

This issue is simply about moving files and renaming their imports. You'll want to do a "find and replace" for any and all references to `drawer.js` and `drawer.css` and fix them to point to `src/shared/components/drawer` once you move the folder there!

[2017-09-02 08:39] zzbazinga commented on #456
Ok I am going to do this work

[2017-09-02 08:47] kylemh commented on #456
GitHub doesn't allow us to assign non-org individuals, so I'm going to assign it to myself as a placeholder. I'll check back in with you on Monday!

[2017-09-02 08:47] zzbazinga commented on #456
ok thanks

[2017-09-02 08:50] zzbazinga commented on #456
also let me know how to be org individual. I don't know these terms as a newbie.

[2017-09-02 08:55] kylemh commented on #456
@zzbazinga if you contribute a lot, we'll invite you into the organization +1

For now, you can fork the repository, and make pull requests from those forks! All of that information can be found in our documentation 💃

[2017-09-02 11:52] sethbergman opened #463 "Implement Redux and Custom Utilities for API Readiness"
# Feature
## Why is this feature being added?
While we're refactoring the nav components, let's go ahead and start merging some Redux files for the GitHub API. I've got some files I've been working on for this, and they will complement the backend feature for aggregating contribution data, etc. I will make a PR, and it will serve as a basis for the "grunt work" for this major change to the app. Le

[2017-09-02 11:57] sethbergman commented on #305
Moving to #463

[2017-09-02 19:40] kylemh commented on #463
Why did you close #305 for this? Move this issue's content there.

[2017-09-02 19:40] #463 closed

[2017-09-02 21:12] sethbergman opened #464 "Create an API util file to dynamically manage headers and JWT based upon env"
# Feature
Extend API architecture with a util/config file that utilizes `async` / `await` with Axios.

## Why is this feature being added?

This solves a potential DRY issue with utilizing API calls in local state. As it stands, we're redefining a lot of things like URLs and Endpoints while failing to utilize thinks like tokens and JWT. By conglomerating API configuration to a single file, people

[2017-09-02 21:43] kylemh commented on #464
Moved to low priority since this won't really matter until we have a development API.

[2017-09-02 21:47] kylemh commented on #464
Edited the issue after conversation with @sethbergman - this will be a good move!

[2017-09-03 00:16] jjhampton commented on #394
Is this ticket still valid?

On the Gala page at https://operationcode.org/gala, information about the Gala is displayed, along with the prominently displayed 'Join Us' button, which links to https://operationcode.ejoinme.org/MyEvents/DeploytheFutureGala2017/DeploytheFutureTicketTableRegistration/tabid/892109/Default.aspx, which is where tickets can be purchased.

[2017-09-03 01:02] kylemh commented on #455
@sethbergman mind if I grab this from you? It cascades into the Nav refactor

[2017-09-03 01:03] sethbergman commented on #455
go for it!

[2017-09-03 01:09] kylemh commented on #353
Gonna take over on this, and put it in the epic

[2017-09-03 01:11] kylemh commented on #329
lol @sethbergman it was already an issue. I'm gonna merge #464 content in here.

[2017-09-03 01:12] kylemh commented on #464
Dupe #329

[2017-09-03 01:12] #464 closed

[2017-09-03 01:13] kylemh commented on #281
This could get handled in #329  - did you want to assign yourself to this @sethbergman ?

[2017-09-03 01:31] jjhampton commented on #249
We can wait until #462 and the related nav/header issues are finished.  Then we can add the transparent background image to `<QuoteBanner>` to match the styles used on the home page.

[2017-09-03 01:58] jjhampton commented on #210
Did a quick Google search for React select components. I compared [react-select2-wrapper](https://github.com/rkit/react-select2-wrapper), [react-select](https://github.com/JedWatson/react-select), and [react-component/select](https://github.com/react-component/select).

I'm going to give it a whirl with [react-select](https://github.com/JedWatson/react-select). It's the most active (based on stars

[2017-09-03 04:07] sethbergman commented on #329
https://github.com/OperationCode/operationcode_frontend/issues/329#issuecomment-318432754
I'm just expanding on what's already there. Maybe @kylemh edited my title, and didn't realize the file was available. I'm expanding our API capabilities using the utils directory. Working it out currently.,

[2017-09-03 17:17] hollomancer opened #465 "Remove the ability for a mentee to select a specific mentor"
# Bug Report
## What is the current behavior?
When signing up for a mentor via the site, mentees are able to pick from a list of every single email tagged as a mentor.

## What is the expected behavior?
We do not want to make our mentor's emails public. This is bad juju for privacy reasons.

[2017-09-03 17:32] jjhampton commented on #341
Temporary fix - when clicking on 'Request Help' in the top nav, we can direct the user to the older, original Airtable form that still works and populates to the Airtable Mentor Request form: http://op.co.de/mentor-request / https://airtable.com/shrPzqty0aXtfWuuq

I tested out that form and it correctly populated my mentor request to the Airtable sheet.

In the meantime, we can figure out why the

[2017-09-03 18:16] tal87 commented on #465
@hollomancer I'm not so sure I understand the expected behavior. do we want the email addresses of the mentors hidden?

[2017-09-03 18:25] jjhampton commented on #465
@tal87 I That is correct. Users should be able to choose a mentor if they have a preference, but the mentor's email addresses should not be exposed to the public.  We need to respect our mentors' privacy.

[2017-09-03 18:29] tal87 commented on #465
@jjhampton I understand.
How does choosing a mentor work? When I click on one of the mentors I get a popup with the same details that are on the table.
Also, I was thinking of adding some margin so the table won't take the whole width of the page. What do you think?

[2017-09-03 20:16] hollomancer commented on #465
I could go for the margin change, but let's put it in a separate PR.

[2017-09-03 20:19] sethbergman commented on #465
I think we need user profile editing by new (non-verified) users and mentors. We need to define a user permissions schema, if there isn't one already. I have no idea where to find it. The backend has so many folders, many named the same things.

[2017-09-04 02:05] jjhampton commented on #465
@tal87 re: 'How does choosing a mentor work'? Currently, when submitting a Mentor Service Request via the form at https://operationcode.org/mentor-request, a mentee can select a mentor by name from the dropdown select (which currently shows mentor emails). This is optional - mentees may not know who the mentors are.  They can also reach out for help directly in the Slack channel to any mentor.  I

[2017-09-04 02:25] tal87 commented on #465
@jjhampton Got it. Thanks!

[2017-09-04 02:35] jjhampton commented on #465
Eventually, we can also add some enhancements to the table at https://operationcode.org/mentors - looks like that's still the MVP version.  There's some potential there to make it more useful for members to use and help match mentors/mentees.

[2017-09-04 14:22] #465 closed

[2017-09-04 15:09] zzbazinga commented on #456
I request PR. Please check it.

[2017-09-04 18:19] jmayergit opened #472 "formCheckBox styling"
# Bug Report
## What is the current behavior?
formCheckBox is currently tailored to the Signup process

- uppercase values
- large margins
- id is tied to value, which can end up with long ids such as "By checking this box you agree to..."

## What is the expected behavior?
it should integrate smoothly with other processes

[2017-09-04 19:56] jjhampton opened #473 "Set up Storybook for React and stories showing examples of components"
# Feature
## Why is this feature being added?
We have [Storybook](https://github.com/storybooks/storybook) added to the application, but aren't currently using it.  We haven't added any stories which show working examples of our UI components.  If we add Storybook stories that show examples of each of our UI components, this will help future contributors visualize different states of our UI compon

[2017-09-04 20:40] kylemh opened #474 "Add more explicit typing on all instances of Object and Array proptypes."
# Feature
## Why is this feature being added?
There are many locations in our application where both `PropTypes.object` and `PropTypes.array` are utilized. If you do nothing else our linter rules provide you a warning of forbidden props. This is because you can instead of use [objectOf, arrayOf, and shape](https://facebook.github.io/react/docs/typechecking-with-proptypes.html) to create more usefu

[2017-09-05 03:58] kylemh commented on #456
Closed in #471

Thank you so much @zzbazinga!

[2017-09-05 03:58] #456 closed

[2017-09-05 04:00] kylemh commented on #472
I've given this high priority as we are utilizing forms very often now - we should move to stop reinventing the wheel 👍

[2017-09-05 04:04] kylemh commented on #394
@davidmolina eyes on

[2017-09-05 09:23] zzbazinga commented on #474
I want to do this work

[2017-09-05 15:29] kylemh commented on #474
Then you shall have it! Do you have any questions?

[2017-09-05 20:14] hollomancer opened #476 "Coder Camps inappropriately links to Code Platoon"
In: src/scenes/home/codeSchools/partnerSchools/partnerSchools.js

Coder Camps' link under “Partnered Schools” on operationcode.org’s website links to Code Platoon. Needs to be directed to http://www.operationcodercamps.com/.