[2017-09-05 20:19] Tsilvernail commented on #476
I'm looking to start contributing here. I can handle this if no one is working it. Should be a quick and easy fix.

[2017-09-05 20:25] hollomancer commented on #476
All yours!

[2017-09-06 22:51] ishucr7 commented on #455
can I take up this issue ?

[2017-09-06 22:55] #423 closed

[2017-09-06 23:15] kylemh commented on #455
@ishucr7 sorry to hoard it, but this issue directly correlates to another that I'm in the process of working on. Please let me know if you need help finding another issue! We would love to see your contribution.

[2017-09-06 23:17] ishucr7 commented on #455
Okay ! Kindly help me find another issue as I am a beginner and would love
to contribute

On Sep 7, 2017 4:45 AM, "Kyle Holmberg" <notifications@github.com> wrote:

that I'm in the process of working on. Please let me know if you need help
finding another issue! We would love to see your contribution.

[2017-09-06 23:24] kylemh opened #477 "Spouse/partner being asked what branch they served in"
# Bug Report
## What is the current behavior?
As a spouse/partner of a military service member, I am asked what branch of the military I serve/served in.

## What is the expected behavior?
Instead, if the user selects spouse/partner, the user should instead be asked what branch their spouse/partner is in.

## What steps did you take to get this behavior?
Register a new user, select military servic

[2017-09-06 23:26] kylemh commented on #409
I can not reproduce the issue.

[2017-09-06 23:28] kylemh commented on #364
@team_frontend - eyes on now that we have more space

[2017-09-06 23:31] kylemh commented on #263
Fixed in #452

[2017-09-06 23:31] #263 closed

[2017-09-06 23:33] kylemh commented on #121
Update on this?

[2017-09-06 23:34] kylemh commented on #20
@rickr We have a profile page, but no ability to edit user information from it.

May I close this and create a more scoped issue?

[2017-09-06 23:35] kylemh commented on #135
I believe this has been fixed.

Confirmed for anybody else?

[2017-09-06 23:36] kylemh commented on #390
I'm going to close this as there has been no contact from the original filer and I am unable to repro.

[2017-09-06 23:36] #390 closed

[2017-09-06 23:37] jjhampton commented on #135
@kylemh Works for me, Chrome on Win10

[2017-09-06 23:38] #135 closed

[2017-09-06 23:38] kylemh commented on #455
@ishucr7 I just made #477 - it looks like something you should be able to implement with little trouble.

If that is too much, I recommend upgrading some documentation here: #386

Lastly, feel free to scour our site for improvements and file issues as you see them! Create an issue concerning our current documentation if you feel it is "not up to snuff" in any manner.

[2017-09-06 23:48] Tsilvernail commented on #476
Ok, I've updated the link and created the PR. I think I've done everything correctly, but this is my first ever commit/pr so if I've messed up something, or not followed a step please let me know so I can change that going forward (I want to keep contributing here!)

[2017-09-07 00:21] #476 closed

[2017-09-07 00:30] kylemh commented on #409
This issue was first encountered on my laptop, but it didn't occur on Linux Chrome latest, so I assumed some merge had fixed it. I'll re-open it until I get home and check all browsers.

[2017-09-07 06:56] kylemh opened #479 "Code Schools scroll buttons do not work on iPhone 7 Chrome/Safari"
THIS BUG WILL BE FILLED OUT ON CONFIRMATION

Somebody posted in Slack about the problem, but the site is down so I cannot confirm.

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-09-07 17:02] Tsilvernail commented on #477
If its still available, I would like to take this on.

A quick and dirty solution could be simply to change the wording on the selection to something along the lines of "Service Branch affiliation." This lacks a bit of personality though.

Would a more elegant way  be to simply add an even listener to the option value for spouse that triggers the change in text for the second drop down?

[2017-09-07 17:37] kylemh commented on #477
You can use local state with Initial state being what it currently is. If the user chooses "Spouse/Partner", state is changed to reflect something more related to being a Spouse/Partner for the second field.

[2017-09-07 18:05] sethbergman commented on #20
Let's make an EPIC!!!

[2017-09-07 18:40] hollomancer commented on #477
I do see value in collecting data re. service branch affiliation.

[2017-09-07 19:01] egomadking commented on #153
Current screenshot

![img_0050](https://user-images.githubusercontent.com/10133316/30180301-71a9f7e2-93dd-11e7-9b66-0a01c2cd4319.PNG)

[2017-09-07 21:26] kylemh commented on #153
@egomadking after speaking with others, this is unfortunately a very low priority on our end, with user metrics indicating extremely rare IE usage.

I do appreciate the continual updates so that we can see what is changing, and hope you continue to do so. Somebody may eventually join this repo with experience in making legacy browsers work with this technology, and they may help that individual.

[2017-09-07 22:23] Cooperbuilt commented on #477
I second @hollomancer's opinion here. It's a quick fix if you change the relevant "select" name and value in `src/shared/constants/status.js`!

[2017-09-07 22:32] Cooperbuilt commented on #238
How do we feel about closing this down?

[2017-09-07 22:32] Cooperbuilt commented on #237
How do we feel about closing this down as well?

[2017-09-07 22:32] sethbergman opened #480 "User profiles subtasks"
# User Profiles Milestone Subtasks
---

Currently there is no way to edit profile information. We need to create the ability to link social profiles, build a resume, share the resume, download it, and export it.

***Milestone => Epic => Issue (subtask)***

This will be an Epic because there will be many subtasks. We should make this a milestone also. Milestones, when met are the finished result of

[2017-09-07 22:36] sethbergman opened #481 "Create new User Profile Component"
Epic Subtask
----

### Create new User Profile Component

Placeholder issue for discussion.

[2017-09-07 22:45] jmayergit commented on #409
Yeah, I had to do a double check so I made sure my master branch was up to date and sure enough the checkboxes were still low-res. That's weird that it changed for you

[2017-09-08 00:28] sethbergman commented on #481
https://github.com/operationcode/operationcode_frontend/issues/20

[2017-09-08 01:41] Tsilvernail commented on #477
Thanks @kylemh I'll be  tackling it over the next few evenings and over the weekend. If I run across anything, I'll post it here

[2017-09-08 04:04] sethbergman opened #483 "Backend Data Visualization with GraphQL / Optics | Research"
Better Data Visualization with Apollo, Redux and GraphQL with Optics - Rails Version
----

## Installing Optics Agent

Add

[code]

To your `Gemfile`

### API key

You'll need to run your app with the `OPTICS_API_KEY` environment variable set (or set via [`agent.configure`](#configuration)) to the API key of your Apollo Optics endpoint; you can get an API key by setting up a endpoint at https://op

[2017-09-08 07:39] sethbergman opened #484 "Apollo with Redux Example"
# Feature
# Apollo & Redux Example

## How to use

Download the example [or clone the repo](https://github.com/zeit/next.js):

[code]

Install it and run:

[code]

Deploy it to the cloud with [now](https://zeit.co/now) ([download](https://zeit.co/download)):

[code]

## The idea behind the example
By default, Apollo Client creates its own internal Redux store to manage queries and their results. I

[2017-09-08 12:08] rickr commented on #480
We don't use epics in this repo - milestones serve that purpose. I've updated the User Profile milestone with this info.

[2017-09-08 12:09] rickr commented on #238
Closing - if any issues remain please file them as individual tickets.

[2017-09-08 12:09] #238 closed

[2017-09-08 12:09] rickr commented on #237
Closing - if any issues remain please file them as individual tickets.

[2017-09-08 12:09] #237 closed

[2017-09-08 12:11] rickr commented on #483
What is the feature being added here?

[2017-09-08 12:13] rickr commented on #484
Same question here - what feature is being added? Are you doing research for something? Can these tickets being combined under one with what you're trying to accomplish with a clearer name?

[2017-09-08 12:31] sethbergman commented on #480
Why not?
----

### Sprint → Milestone

In Scrum, sprints are a fixed length of time during which an agreed-upon chunk of work is completed and ready to be shipped. Sprints, or “iterations”, are mirrored in GitHub with Milestones. Simply set a start and end date (typically two or four weeks), and add user stories to begin sprinting.

### User Stories → GitHub Issues

User stories are high-level fea

[2017-09-08 12:41] rickr commented on #480
We don't do sprints.

Milestones are able to track multiple issues related to a common theme easier than a top level ticket. A top level ticket would require you to edit the ticket per each item added. There's no way to associate those tickets with each epic.

With a milestone you are able to add tickets at will and get a top level overview of all attached tickets via the milestone link (eg https:

[2017-09-08 12:42] rickr commented on #20
Sounds good - We'll close this out and track improvements in this milestone: https://github.com/OperationCode/operationcode_frontend/milestone/14

[2017-09-08 12:42] #20 closed

[2017-09-08 12:45] sethbergman commented on #480
That's right because you don't use ZenHub, the best agile board integration for GitHub. I forgot. I guess I should disable that extension.

[2017-09-08 12:46] sethbergman commented on #483
It should be noted that it would be implemented on the backend. I was trying to group the features based on relevance inside of an Epic.

[2017-09-08 12:52] sethbergman commented on #480
@rickr we need a label for milestone then. Now that you've removed the Epic label, you should think about replacing it with another name then for grouping issues.

[2017-09-08 12:58] sethbergman commented on #480
![image](https://user-images.githubusercontent.com/8031689/30212626-5a71e4ac-946b-11e7-9a7f-40023e8c34c1.png)

Man that view sure was nice. Now the board is gone after removing the extension.

[2017-09-08 13:01] rickr commented on #480
Again - we are not using agile here. You are free to do whatever you like but in an effort to make this repo friendly to beginners we've opted to make things as straightforward as possible.

Please read my previous comment. Milestones will do everything you'd like to do in an epic.

Here's some good documentation on milestones:
https://help.github.com/articles/about-milestones/
https://help.github

[2017-09-08 13:46] sethbergman opened #485 "Implement Passport Middleware for Social Login"
User Profiles Subtask
----

Add Passport to the user profile component for enhanced profile information.

We need to create the ability to link social profiles for users.

[2017-09-08 14:00] sethbergman opened #486 "Use the new GitHub GraphQL API for exporting user contributions"
User Profiles: Subtask for GitHub API
----

### React-Apollo-GraphQL

This is the GraphQL Schema that would integrate with Apollo, which integrates with Redux. I've seen a Redis implementation as well as a kinex, express-graphql, connect, koa, mongoose with a MongoDB memory store and isomorphic fetch. The tooling around this new concept for a REST like implementation is pretty amazing. The ability

[2017-09-08 14:15] sethbergman opened #487 "Create a WYSIWYG Component"
User Profile Subtask
----
## What should your feature do?

Provide an editor for users to edit profile information.

https://www.froala.com/wysiwyg-editor/examples/textarea

![image](https://user-images.githubusercontent.com/8031689/30215636-358e1a60-9476-11e7-8b01-db2cf28bd160.png)

[2017-09-08 14:24] sethbergman commented on #480
The purpose of this being open is to finish creating the subtasks.

[2017-09-08 16:19] sethbergman commented on #486
I've added some information to this issue / question. Here's a good resource:
https://github.com/apollographql/apollo-client/blob/master/README.md

[2017-09-08 20:50] davidmolina opened #489 "Alumni and reviews"
# Feature
## Why is this feature being added?
We previously discussed adding alumni to the code schools page and ability for them to add code school reviews. Searched here and didn't see a previous ticket.

## What should your feature do?
This will enable new members to quickly and seamlessly find (and query) members and others in the community, and make more informed decisions on reviews and thei

[2017-09-08 22:29] sethbergman opened #490 "Automate adding new contributors"
# Feature

Add appropriate badges to the README.md file. There are many out there, but one I'm certain we'll want is `all-contributors` , which is widely adopted.

If you find maintaining the list of contributors tedious, try using the [CLI tool](https://www.npmjs.com/package/all-contributors-cli) to lighten your load.

If you use Atom, try out [allcontributors](https://atom.io/packages/allcontrib

[2017-09-08 22:38] mwagz commented on #154
I'll pick this one up. If @rickr or @hollomancer want to assign it to me.

[2017-09-08 23:20] sethbergman commented on #145
This is a new style guide that is very nice, and has automated formatting tools. I have a blog post about it.
https://blog.sethbergman.com/the-prettiest-javascript-linter-and-formatter-eslint-prettier/

[2017-09-09 02:06] kylemh opened #491 "You are not required to select an option on the first sign-up page"
# Bug Report
## What is the current behavior?
When a user clicks "Join" they are directed to this page:
![1](https://user-images.githubusercontent.com/9523719/30236160-6655448c-94c8-11e7-9d91-6ae5a8c24e14.png)

If a user clicks "Save and Continue" without choosing between Volunteer or Military Member, you are able to continue with the sign-in process.

## What is the expected behavior?
You should

[2017-09-09 02:08] kylemh commented on #154
@mwagz to be clear - the wireframe is a great guideline, but do not use the same image header.

If you are able to replicate the curved hero bottom border, please try to cordon off that code for us to use on the landing page! :+1: also keep in mind that I'll be refactoring Nav/Header this weekend. Let me know if you implement any ideas so I don't reinvent the wheel. Consider using the <Header> com

[2017-09-09 06:59] kylemh commented on #490
Since these are 2 different issues, can you separate them?

[2017-09-09 07:01] kylemh commented on #485
What is "Passport Middleware"?

[2017-09-09 07:02] kylemh commented on #487
I don't think we need this. We don't have a section for people to write the length of text in a profile that would require an in-browser editor.

Updating a profile would be as simple as a few inputs in a form.

[2017-09-09 07:05] #462 closed

[2017-09-09 07:16] #210 closed

[2017-09-09 07:25] kylemh commented on #479
I cannot replicate on iPhone 6S on any browser (up-to-date browsers and iOS)

[2017-09-09 07:25] #479 closed

[2017-09-09 07:32] kylemh commented on #409
Steps to repro added

I believe the CSS calculation takes into account screen size somehow. Do you think you could make a fix for this issue in #472 @jmayergit

[2017-09-09 19:04] jmayergit commented on #409
I'll see what I can do

[2017-09-10 05:03] mwagz commented on #154
@kylemh I didn't do anything crazy, but I did use as many pre-existing components as I was able to identify. For the curved hero bottom border, I came up with a solution that I'm not totally proud of, but it accomplishes the task.

There are 2 components in my PR, `HeaderClipMaskLeft` and `HeaderClipMaskRight`. These components are absolutely positioned to the first section on the page (the quote,

[2017-09-11 01:54] sethbergman opened #494 "Discuss the new automated code formatter Prettier."
# Feature

### Prettier

Using an automated code formatter will make developers happy to not have to worry about the linter errors while writing code. I've gone into detail about this in a blog post.

## Why is this feature being added?

https://blog.sethbergman.com/the-prettiest-javascript-linter-and-formatter-eslint-prettier/

## What should your feature do?

Automate fixing the formatting issue

[2017-09-11 02:12] sethbergman opened #495 "Add all contributors to the readme."
# Feature

- Integrate All Contributors --> [![All Contributors](https://img.shields.io/badge/all_contributors-1-orange.svg?style=flat-square)](#contributors)

## Why is this feature being added?
All contributors will be added to the readme with their avatar which links to their GitHub profile.

## What should your feature do?
Automatically add the contributors to the Contributors list on the read

[2017-09-11 02:52] sethbergman opened #496 "Add snyk for dependency vulnerability checking"
# Feature
Integrate snyk for dependency vulnerability checking
## Why is this feature being added?

It automatically checks dependencies that have been identified as vulnerable.
## What should your feature do?
- Run a command in package.json for the snyk app to report the dependency vulnerabilities.

- snyk badge --> [![Known Vulnerabilities](https://snyk.io/test/github/sethbergman/operationcode_f

[2017-09-11 02:54] sethbergman commented on #480
Subtasks created.

[2017-09-11 02:54] #480 closed

[2017-09-11 17:23] Tsilvernail commented on #477
Ok, so I am sort of lost on this one if I'm being honest. I'm still learning a TON about react. In particular how State works. From my understanding so far, the file we need to alter is militaryInfo.js. When {MILSTATUS} is  equal to value spouse, the state should update and change the prompt for the branch id of the form.

This is where I get lost, and I am having a bit of trouble finding easy to

[2017-09-11 17:31] mwagz commented on #477
Every time state is updated, it re-renders. So you _could_ do a check in the render function to determine if something should actually be rendered. I haven't looked too far into this, but this is the general idea I have in mind.

[code]

[2017-09-11 17:42] tal87 commented on #477
@Tsilvernail you're on the right direction. you could store the branch prompt in the state of the component. once `milstatus` was changed, simply override the prompt with the new text according to the value of `milstatus`

[2017-09-11 19:35] jmayergit commented on #409
This seems to be a messy issue. There are no across-the-board CSS solutions to my knowledge. On the other hand creating a custom checkbox out of say a `div` has a whole host of issues, at least when I tried to implement it

[2017-09-11 21:54] tcburns24 commented on #350
Hi All, I'm brand new to open source and would love to take a swing at this if it's still up for grabs. I see @maxifjaved expressed interest as well. I don't see the Rithm School logo on the website, is this issue still available? Thank you!

[2017-09-12 06:46] kylemh commented on #350
@tcburns24 the issue should have been closed. Apologies.

Fixed in #405

[2017-09-12 06:46] #350 closed

[2017-09-12 06:50] kylemh commented on #409
How does it look without the scaling being done on the inputs? Illegible?

The only alternative if stylings wont work well would be to create our own "large" checkbox SVG with 2 paths and local state controlling the check-mark's path appearance...

That's uhhh... pretty low on the priority scale hahaha

So, you make the call on whether or not it looks legible without that 1.5 scale.

[2017-09-12 07:43] #491 closed

[2017-09-12 07:48] kylemh commented on #494
I appreciate you asking about this. I'm actually for this. I've heard good things from integration on some podcasts. I already run it locally, but if it's easy to get everybody on board, regardless of their editor - we should bring it in, IMO.

[2017-09-12 07:50] kylemh commented on #477
@Tsilvernail don't give up. Feel free to ask for more advice in our Slack team. We ❤️  new contributors!

[2017-09-12 09:22] tal87 opened #497 "Bad error display on signup"
# Bug Report
## What is the current behavior?
Currently new users are asked to select between veteran/volunteer.
If the user did not select anything he gets an error and can't continue in the signup process.
However on some systems the error is shown on the same line as the 'Go Back' and 'Continue' buttons instead of on a new line.

## What is the expected behavior?
Error message should be shown o

[2017-09-12 09:43] YanivStern commented on #497
If its still available, I would like to take this challenge.

[2017-09-12 20:36] kylemh commented on #497
@YanivStern have at it! Should be some style changes, if I had to guess.

[2017-09-12 22:52] jmayergit commented on #409
It's definitely legible without the scaling but I do like the larger checkboxes better, even if low-res. This is what it looks like without scaling: [picture](https://imgur.com/a/BHiz6).

We should collaborate on creating a custom checkbox at some point

[2017-09-12 23:20] sethbergman commented on #145
How's it going @dmarchante ? I've got a JS style guide in the works / forked from egghead. :smile:

[2017-09-13 00:12] kylemh commented on #409
Something like dis: https://codepen.io/CreativeJuiz/pen/BiHzp
?

[2017-09-13 00:22] jmayergit commented on #409
Yeah, though that's probably a one person job

[2017-09-13 03:21] jjhampton commented on #425
Here's another possible solution to consider: https://github.com/tomchentw/react-toastr/

[2017-09-13 15:59] #472 closed

[2017-09-13 17:17] hollomancer opened #499 "Make "Sign Up" more prominent on /login, with some info about Operation Code"
# Feature
## Why is this feature being added?
On https://operationcode.org/login - the Sign Up link is small and hard to see.
## What should your feature do?
I would like to change this to more of a Call to Action and draw attention to it, and include a brief blurb about what OpCode is there.

The reason for this is https://community.operationcode.org - it could serve as an excellent endpoint for

[2017-09-13 23:40] hollomancer opened #501 "Pre-populate Jobs Page search field"
# Feature
## Why is this feature being added?
Right now Ziprecruiter pulls up all jobs in your area, not necessarily tech jobs.

## What should your feature do?
Let's see if it's possible to pre-populate the job search field with "software engineer".

[2017-09-14 05:43] #501 closed

[2017-09-14 07:21] #497 closed

[2017-09-14 07:26] kylemh commented on #499
I was planning on implementing this with the Nav edits, by doing what we had in the past with the big button in the nav bar!

[2017-09-14 15:21] Tsilvernail commented on #477
sorry for the delay, progress has been hard to make with work. here is what I ahve as of right now. I'm having trouble testing it on a local set up bc its not saving the information in the signup form (I have to manually navigate there as well)

would something like this work for this issue?

` class MilitaryInfo extends Component {
const isSpouse = function(){
    if({MILSTATUS} === spouse{

[2017-09-14 16:17] tal87 commented on #477
@Tsilvernail Your'e on the right direction. A few issues I noticed:

- You refer to `MILSTATUS` as the selected option. `MILSTATUS` is the array of options .

- Another issue is that the prompt will be initialized only once instead of each time the user selects military status

[2017-09-15 03:30] sethbergman commented on #145
I've got some examples that we can use to build our style guide.

- https://stackriot.github.io/devui
- https://stackriot.github.io/react-styleguide-generator/
- https://stackriot.github.io/react-sketchapp/
- https://stackriot.github.io/wix-style-react/

Any input is appreciated! :smile:

[2017-09-15 03:34] sethbergman commented on #145
Here's another one I forgot to post.

- https://styleguide.egghead.io/components

[2017-09-15 19:46] danedavid opened #504 "Edit Pure component exports to be consistent"
* **Inconsistent use of `export default`** : while in most files the pattern is
[code]
... in 404.js I found it this way:
[code]

Fix any and all consistencies with Pure component exportation, but following the first of the above examples.

[2017-09-15 19:48] danedavid commented on #504
...and why is there a folder containing empty files `pressReleases.js` and `pressReleases.css` ?

[2017-09-15 19:49] jmayergit commented on #504
I noticed the same thing with `export default` and agree we should have a uniform standard.

[2017-09-15 19:49] jmayergit commented on #504
Feel free to submit an issue and clean some things up! Let me know if you need any help.

[2017-09-15 20:09] rickr commented on #504
We already have a ticket to standardize the codebase - the inconsistencies here can beb documented in https://github.com/OperationCode/operationcode_frontend/issues/145

[2017-09-19 18:54] sabrown84 commented on #460
Do you think this could be implemented similar to this: https://reactstrap.github.io/components/navbar/

[2017-09-20 19:35] davidmolina opened #505 "Fix `/contact` mailing address"
Should be:

Operation Code
1220 SW Morrison St
Suite 437
Portland, OR 97205

[2017-09-20 19:48] davidmolina commented on #505
@OperationCode/front-end

[2017-09-23 22:22] #505 closed

[2017-09-23 22:31] hollomancer commented on #121
[termsfeed-terms-service-pdf-english.pdf](https://github.com/OperationCode/operationcode_frontend/files/1326913/termsfeed-terms-service-pdf-english.pdf)

[2017-09-27 17:10] #357 closed

[2017-09-27 18:53] SPQRBob opened #507 "Broken link to Chapter Leader responsibilities page"
# Bug Report
## What is the current behavior? In the form for new chapter leaders, you are directed to click a checkbox agreeing that you have read and agree to take on the responsibilities of a chapter leader.  There is a link to the webpage that presumably displays those responsibilities.  It instead gives a 404 Not Found error.  (http://op.co.de/chapter-leader)

## What is the expected behavior

[2017-09-27 19:05] SPQRBob commented on #340
Verified password reset operation works correctly.

[2017-09-27 19:05] #340 closed

[2017-09-28 00:10] ksmacleod99 commented on #507
I'll tackle this one this weekend.

[2017-09-28 11:05] fredosantana commented on #499
I think the Operation Code icon in the footer can be used on all pages that link to the sign up page. I also feel the icon takes too much space in the footer itself.

[2017-09-28 12:23] hollomancer commented on #273
@maxifjaved, still working on this?

[2017-09-28 12:26] ksmacleod99 commented on #121
Does this still need to be created?

[2017-09-28 12:33] hollomancer commented on #121
It does!

[2017-09-28 12:37] ksmacleod99 commented on #121
Alright. Let me see what I can do. I'll post all my questions (and there will be many) on the Slack.

[2017-09-28 23:59] davidmolina opened #509 "Add software mentors profiles on /mentorship page"
# Feature
## Why is this feature being added?
In the interest of assisting members find our mentors capabilities.

## What should your feature do?
Members should be able to browse a search bar on this page, and or select from programming languages to find mentors.

Mentors should be displayed based on name, company and languages.

Members should be able to make the request via the `mentor-request`

[2017-09-29 00:38] sethbergman opened #510 "Upgrade to React version 16"
# Feature
Upgrade to latest release of React
## Why is this feature being added?
There seem to many good reasons to do so, and it doesn't look like there will be any breaking changes. I am opening a branch to test the new version. I'm also testing all of our other outdated dependencies to see if we can get to the latest and greatest versions / features.

## What should your feature do?
https://fac

[2017-09-29 04:14] jjhampton opened #511 "Code School Scholarships title CSS Misalignment"
# Bug Report
## What is the current behavior?
I noticed at my screen resolution, `1366 x 768`, the title of this section is displayed incorrectly.

![css](https://user-images.githubusercontent.com/11393826/30996429-ddc0118e-a48e-11e7-969c-c4c3f0559de7.png)

## What is the expected behavior?
Header shouldn't overlap with text below it

## Additional Info
Issue was originally posted on main repo: ht

[2017-09-29 04:16] jjhampton commented on #511
Quick fix that wouldn't require any changes to CSS - change the text content of the `h6` element to from 'Code School Scholarships' to just 'Scholarships'

[2017-09-29 04:26] jjhampton commented on #511
Actually - looks like the `:after` rule on the `h6` element in [preview.css ](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/scholarship/preview/preview.css)is causing this:

[code]

[2017-09-29 04:35] jjhampton commented on #511
Very strange ... somehow styles applied to HTML tags in preview.css are leaking out into the global CSS scope. Thought CSS modules was supposed to prevent this?

[2017-09-29 05:09] sethbergman commented on #511
* Modules
 * General module
 * Encompasses links, buttons, etc.
[code]
I wonder if this was caused by the recent version bump. Hmmm :thinking:

[2017-09-29 11:33] sethbergman commented on #496
Snyk's wizard will:

  * Enumerate your local dependencies and query Snyk's servers for vulnerabilities
  * Guide you through fixing found vulnerabilities
  * Create a .snyk policy file to guide snyk commands such as `test` and `protect`
  * Remember your dependencies to alert you when new vulnerabilities are disclosed

Querying vulnerabilities database...

License issues are not supported by the

[2017-09-30 21:47] michaelkirschbaum opened #514 "Handle sign up form using Redux"
# Feature
## Why is this feature being added?

## What should your feature do?

---

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-10-01 02:16] kylemh commented on #511
Upping to high because the issue is highly visible and potentially deflecting new users.

[2017-10-01 04:31] jmayergit commented on #511
Oh snap that's my css

[2017-10-01 05:27] kylemh commented on #511
@jmayergit we shouldn't have let element styles through on our PR review cycle. That's my bad for not outlining that clearly to all devs.

We're going to make an issue to add this check as a Git hook.

[2017-10-01 06:31] jmayergit commented on #511
You can't think of everything, fairly obscure.

Like @jjhampton I thought the CSS styles would only apply to preview.js. Lesson learned

[2017-10-01 08:14] kylemh commented on #304
I'm in favor of closing this since user's currently receive an invite to the Slack team. Thoughts?

[2017-10-01 08:15] kylemh commented on #106
The data is small enough, I believe simply providing a local JSON file could be best. Information rarely changes on this data.

[2017-10-01 08:18] kylemh commented on #473
We're going to revamp our documentation system, and having all of our shared components available on a server would be PRIMO! Up'd priority.

[2017-10-01 08:19] kylemh commented on #13
@hollomancer let's use Slack data - does it track location?

[2017-10-01 08:20] #326 closed

[2017-10-01 08:23] kylemh commented on #305
@sethbergman notice our discussion on file structure above. That's another good way to move on it.

Go ahead and close this issue when you read it, and instead create an issue related to global state on user details (loggedIn, etc.).

[2017-10-01 08:25] kylemh commented on #509
Closed because dupe of #79

[2017-10-01 08:25] #509 closed

[2017-10-01 08:25] kylemh commented on #79
https://github.com/OperationCode/operationcode_frontend/issues/509

Note the requests made in the above issue. It was a dupe, but provided non-trivial info.

[2017-10-01 08:33] kylemh commented on #507
Assigned myself, but as a placeholder for Kelly claiming it.

[2017-10-01 08:36] kylemh commented on #386
We'd accept a PR that is simply a markdown file with links to file locations and line numbers of reference points 💃

[2017-10-01 08:39] kylemh commented on #419
Seems to have been fixed by a new version of iOS Chrome.

[2017-10-01 08:39] #419 closed

[2017-10-01 08:42] kylemh commented on #434
@sethbergman I actually don't see a need for this, since GitHub keeps track of all of that information. Is there any reason why I should think of it differently?

[2017-10-01 08:44] kylemh commented on #477
@Tsilvernail any updates?

[2017-10-01 08:46] kylemh commented on #483
@sethbergman

Can you refine the scope of this issue a bit more? Is it necessary in the front-end repo?

[2017-10-01 08:48] kylemh commented on #484
This issue doesn't really seem like a deliverable, but a share of information? Reserve issues for clearly defined and resolvable issues.

[2017-10-01 08:48] #484 closed

[2017-10-01 08:48] kylemh commented on #485
@sethbergman ^?

[2017-10-01 08:49] kylemh commented on #486
How does this issue differ from #481 ?

[2017-10-01 08:50] kylemh commented on #487
Need thoughts on this from @team_frontend

[2017-10-01 08:51] kylemh commented on #489
Just to clarify for any #hacktoberfest participants: This issue is blocked by the pertinent need for a wireframe. Show us how you'd implement this on our most visited page.

[2017-10-01 08:53] kylemh commented on #490
@sethbergman can we make this available or are you on it?

[2017-10-01 08:54] kylemh commented on #494
We're gonna move in the direction of integrating Prettier into our developer work flow. How can we best get everybody on board with auto-formatting on save or at least running prettier on all changed files before submitting a PR?

[2017-10-01 08:55] kylemh commented on #504
@danedavid I've edited your OP to advertise a resolvable issue

[2017-10-01 09:00] kylemh opened #516 "Prevent commented out code and TODOs from being submitted in a PR"
# Feature
## Why is this feature being added?
There exists instances of commented out code (such as in `history.js`) within our project that should not be pushed to GitHub. Additionally, there exist comments with TODO labels. These TODOs should be mapped to issues (if necessary) and removed from code.

## What should your feature do?
Remove any and all commented out code and TODO usages.

[2017-10-01 09:03] kylemh opened #517 "Broken link in CONTRIBUTING.md"
# Bug Report
## What is the current behavior?
`CONTRIBUTING.md` contains:

`- [Running the development Server](#running-the-development-server)`

on line 29.

## What is the expected behavior?
 It should contain:
`- [Running the Development Environment](#running-the-development-environment)`

[2017-10-01 09:10] CLUBMATEjka commented on #517
On it

[2017-10-01 09:12] kylemh opened #518 "Move README.md and CONTRIBUTING.md from every repo onto a Docsify instance"
# Feature
## Attention - You can get all of your 4 #hacktoberfest PRs from this one issue
Please read on!

## Why is this feature being added?
We're reaching a point where our documentation is too weighty to parse as multiple massive markdown files. To garner more attraction during #hacktoberfest, and to create a sustainable and enjoyable environment that will entice more volunteers, let's move do

[2017-10-01 09:19] kylemh opened #520 "Write a script for a 2-person "How To Contribute" video"
# Feature
## Why is this feature being added?
In addition to #518, Operation Code could attract more volunteers by creating an easy-to-follow video outlining the project, it's structure, starting a development environment, and resolving issues.

## What should your feature do?
This issue can be resolved with a PR of a markdown file scripting a video involving two people skimming and walking throug

[2017-10-01 09:26] #517 closed

[2017-10-01 11:06] Zapix commented on #473
Hi. I'm interesting to work under this issue. Should I use `stories` directory or create story file in component directory?

[2017-10-01 11:11] sumedh123 commented on #520
@kylemh How long should the video be?

[2017-10-01 11:12] sumedh123 commented on #520
Also can you elaborate what all needs to be explained? We can do one thing, we can explain how to set up the project locally and best practices to follow?

[2017-10-01 11:47] danedavid commented on #504
Thanks!

[2017-10-01 12:02] ksmacleod99 commented on #507
Thanks! I will need some more information for this one. I'll post in the projects channel.

[2017-10-01 12:20] ksmacleod99 commented on #273
I can certainly do this. Which tag on which page?

[2017-10-01 12:35] sethbergman commented on #494
Maybe a precommit hook and / or a command in package.json with the following:
[code]
I'm not sure what we'd want as the args but I got the example from here:
https://til.hashrocket.com/posts/498b012fbd-run-prettier-on-all-javascript-files-in-a-dir

What can happen though, is that a comment is moved to a location that you don’t like. Or that ESLint doesn’t like (generally, `// eslint-disable-next-l

[2017-10-01 14:34] hollomancer opened #522 "Transition from Donorbox to OpenCollective"
# Feature
## Why is this feature being added?
Consolidate our donation platform under one system.
## What should your feature do?
Find references to Donorbox, and change them to https://opencollective.com/operationcode#support

[2017-10-01 14:35] ksmacleod99 commented on #522
Dibs.

[2017-10-01 14:40] hollomancer commented on #522
All yours!

[2017-10-01 16:33] hollomancer opened #523 "Replace "More Information" with "Who We Serve""
On the home page, replace the headline "More Information" with "Who We Serve" - better copy.

[2017-10-01 16:34] hollomancer opened #524 "On the home page, replace the headline "Military Spouses and Families" with "Military Spouses""
On the home page, replace the headline "Military Spouses and Families" with "Military Spouses" - while we still support military families, it's not our primary offering.

[2017-10-01 16:36] hollomancer opened #525 "RFC: add Success Stories to our front page"
Per @Cooperbuilt's design, let's add success stories of our members to the front page.

[2017-10-01 16:36] markslingerland commented on #523
I would like to do this, this will be my first PR so would enjoy to learn it!

[2017-10-01 16:37] hollomancer commented on #523
All yours, @markslingerland!

[2017-10-01 16:47] #393 closed

[2017-10-01 16:47] #394 closed

[2017-10-01 16:47] JipSterk commented on #524
I would like to change this

[2017-10-01 16:48] hollomancer commented on #524
All yours, @JipSterk!

[2017-10-01 16:51] kodinglife commented on #523
Is it still open? Can I do it?

[2017-10-01 16:52] PryDt commented on #525
I would like to do this, but I am wondering... do you mean adding a link to success stories to the front page?

[2017-10-01 16:56] kylemh commented on #473
@Zapix I'll assign myself to this issue as a placeholder for you.

Let's just make it a `storybook` directory.

Additionally, please note this is a high priority task. I'll be pushing documentation to Gatsby, and would love to integrate a storybook server by the end of day.

[2017-10-01 16:57] hollomancer commented on #525
That is a good question.. I see this issue as discussing what the design of this should be.

I think there'd be benefit, for instance, in providing an image of a member, plus a quote from them, right on the front page.

[2017-10-01 16:58] PryDt commented on #525
K, and I'm also wondering, where would I get the image and quote from?

[2017-10-01 17:00] hollomancer commented on #525
I'll need to add those to the ticket... You can use some 'lorem ipsum' boilerplate for the quote, and https://github.com/OperationCode/operationcode_frontend/tree/master/public/images for mock images.

[2017-10-01 17:03] PryDt commented on #525
k thx

[2017-10-01 17:04] kylemh opened #529 "Remove usage of Bluebird library and its dependency in favor of Axios"
# Feature
## Why is this feature being added?
There is a file using an HTTP library that covers the same ground as another listed dependency (Axios). Let's decrease our bundle size.

## What should your feature do?
In `src/scenes/home/families/jumboQuote/jumboQuote.js` there is an import of Bluebird and a usage of it to grab from a one-object-sized JSON. Remove the current implementation, and get

[2017-10-01 17:07] kylemh opened #531 "Force TimelineEvent.js Title to be TitleCase with Regex"
# Feature
## Why is this feature being added?
In a bid to make a file more reusable, let's ensure that the prop passed to this field always ends up as Titlecase.

## What should your feature do?
`src/scenes/home/history/timelineEvent/timelineEvent.js` where this code is:
[code]

simply implement regex to cover Titlecase of the `this.props.title`.

[2017-10-01 17:08] #516 closed

[2017-10-01 17:09] kylemh commented on #523
@kodinglife it's been acquired! Apologies.

[2017-10-01 17:10] #523 closed

[2017-10-01 17:13] #524 closed

[2017-10-01 17:18] kylemh commented on #525
@hollomancer do we have a link to the mock for @PryDt ?

[2017-10-01 17:20] kylemh commented on #494
we shouldn't need to add any of those flags if we can get it to run based upon our `.eslintrc` file. Yep, `--debug-check` is a good idea. Luckily, any listed problem will be compile time for this issue.

[2017-10-01 17:25] kylemh commented on #520
@sumedh123 I apologize for giving such loose constraints. Let me shape up the original post to address your concerns.

[2017-10-01 17:33] sethbergman opened #532 "Upgrading to React 16 - Implement Error Boundaries and Polyfills"
# Feature Update
#510 Needs additional, very simple fixes

React version 16 is fresh out of the master branch and the changelog notes some minor breaking changes.
## Why is this feature being added?

Version 16 adds some great new functionality, but needs some love to get it upgraded safely.

---

# Bug Report

- Implement polyfills in Jest.
  - https://github.com/facebook/jest/issues/4545#issueco

[2017-10-01 17:33] gs-akhan commented on #529
I can do this.
Thanks

[2017-10-01 17:36] gisete commented on #531
Hi, I can help with this issue. Will give it a try.

[2017-10-01 17:37] kylemh commented on #531
@gisete I've assigned myself to this issue as a placeholder for your contribution. Good luck!

[2017-10-01 17:37] sethbergman commented on #532
These changes shouldn't take more than an hour, with the exception of maybe the Error Boundaries. I'd need to understand the scope of their necessity, but if all is a go then by all means. Just at minimum do the requestAnimationFrame polyfill.

[2017-10-01 17:37] gdsrosa commented on #522
Trying to push, seems my user its not allowed

[2017-10-01 17:42] #529 closed

[2017-10-01 17:49] kylemh commented on #522
@gdsrosa as you can see above, the issue has been claimed by another member.

Being that you're not a member of the organization, you'll be unable to push changes from your own clone of the repository. On some other issue, I recommend that you fork the repository first, and make a pull request based upon changes to that fork!

Follow this: https://gist.github.com/Chaser324/ce0505fbed06b947d962

[2017-10-01 18:01] PryDt commented on #525
I tried to emulate the rest of the site

link for my attempt: [https://a.safe.moe/s2l6i.png](https://a.safe.moe/s2l6i.png)

[2017-10-01 18:04] salilgupta2510 commented on #531
Hey @kylemh,

To understand it better, do you want a regex to check whether the string is in title case or do you want to convert the string into title case?

[2017-10-01 18:09] Cooperbuilt commented on #525
https://xd.adobe.com/view/dc1e96ad-cdee-4610-99a2-6e4ba53654ed/

Link to the full wireframe

[2017-10-01 18:09] Cooperbuilt commented on #525
Relevant screenshot -
<img width="483" alt="screen shot 2017-10-01 at 2 08 32 pm" src="https://user-images.githubusercontent.com/15932239/31057523-1d307140-a6b2-11e7-9167-b0dd761546e5.png">

[2017-10-01 18:16] hollomancer commented on #525
Quotes:

"Operation Code has helped me navigate my tech career from choosing the right code school to solving complex software problems. They helped me bring me out of homelessness and into a six-figure salary as a full stack engineer for a venture capital firm." Jameel Matin, USMC, Software Engineer

"If you had told me when I separated from the military that I would eventually be the lead develo

[2017-10-01 18:18] hollomancer commented on #522
Thank you, @ksmacleod99!

[2017-10-01 18:18] #522 closed

[2017-10-01 18:20] hollomancer opened #536 "Change Gala banner to a dynamic announcement banner"
# Feature
## Why is this feature being added?
Right now, the Gala banner is an MVP, and hard-coded onto the front page.
## What should your feature do?
I would prefer this is something we can dynamically populate with text and a link, so that we can highlight any event we might do over a given period of time.

Example: https://www.cloudflare.com/apps/welcome-bar

[2017-10-01 18:35] hollomancer commented on #525
Jon Deng
![jondeng](https://user-images.githubusercontent.com/9288648/31057687-142d296e-a6b5-11e7-91d7-9d045659ed76.jpeg)

Jameel Matin
![jameelmatin](https://user-images.githubusercontent.com/9288648/31057688-14352ac4-a6b5-11e7-8892-59243caab371.jpeg)

Sean McBride
![seanmcbride](https://user-images.githubusercontent.com/9288648/31057751-c6adc2d8-a6b5-11e7-945d-2c332d4a2538.jpg)

[2017-10-01 18:52] hollomancer commented on #273
I think this is actually no longer necessary.

[2017-10-01 18:52] #273 closed

[2017-10-01 18:53] eshunsharma commented on #536
@hollomancer I'll take this one, would need more details on it

[2017-10-01 18:59] sethbergman commented on #434
It's usually something that larger repositories implement as a standard, but they generally have much larger teams, so I think it can wait. It's not a bad idea to have them for reference, and it shows how the organization was built and the contributors that were involved. :smiley:

[2017-10-01 19:13] sethbergman commented on #490
Yeah I got this. I forgot that I assigned myself.

[2017-10-01 19:21] #495 closed

[2017-10-01 19:21] sethbergman commented on #495
Duplicate of #490

[2017-10-01 19:26] Cooperbuilt opened #537 "Adjust copy in the "Membership" stripe of front page"
## Membership Section Copy needs column titles and more information

The current membership stripe looks like this -
<img width="1398" alt="screen shot 2017-10-01 at 3 12 47 pm" src="https://user-images.githubusercontent.com/15932239/31058068-6e1f2aca-a6bb-11e7-83ce-c1cbfdc35e00.png">

Each column needs a relevant title, like this -
<img width="631" alt="screen shot 2017-10-01 at 3 17 02 pm" src="

[2017-10-01 19:26] Cooperbuilt commented on #537
@hollomancer check on copy ^^

[2017-10-01 19:45] Zapix commented on #473
@kylemh thank you for contributing me on this issue. I've created a pr #538 for tracking progress.
I'll be happy if you look through current changes. If everything is ok I'll continue with writing stories.

[2017-10-01 19:54] kylemh commented on #531
@salilgupta2510 convert the string into title case in all cases. Please be aware that the issue is currently assigned to @gisete If they are unable to submit a PR in 24hrs, you're free to write your own PR.

[2017-10-01 19:55] kylemh commented on #473
@Zapix it looks wonderful. I'm super excited to finally integrate Storybook into our workflow.

[2017-10-01 19:56] kylemh commented on #537
Suggestion just to make the subsection headers (Community, Education, etc.) to be smaller than the main section header above them.

[2017-10-01 20:10] kylemh commented on #525
@PryDt it'd be great to see the circle image with proceeding text created as some kind of reusable component.

Thinking of names to describe the structure... maybe `ImageListItem` or `ImageBulletItem`?

[2017-10-01 20:47] michaelkirschbaum opened #540 "Use Redux for user data"
# Feature
## Why is this feature being added?
Globalize user data, such as login authorization, that is used throughout the app.

## What should your feature do?
Implement Redux structure to map user-related state variables to the global state tree.

[2017-10-01 20:50] kylemh commented on #540
Hey @michaelkirschbaum just be wary that you don't step on @sethbergman's toes with issue #481

[2017-10-01 21:00] Cooperbuilt commented on #481
hey @sethbergman is it possible to define the scope of this issue a little more? I want to work on the profile UI but this issue feels so broad that I am blocked.

[2017-10-01 21:29] sethbergman commented on #481
Ahh yes this was something I thought about while exploring the new GitHub API, which utilizes GraphQL and allows you to easily query specific data about users, orgs, repos, and also allows you to get Gravatars for user profiles. I thought it would be beneficial for our users to build a resume with a component inside of their user profile to display their contributions and format it in a nice way.

[2017-10-01 21:31] sethbergman commented on #481
The above is in regards to #486 and #540.

[2017-10-01 22:32] Cooperbuilt opened #544 "Refactor User Profile UI"
# Create a more modern, readable, and helpful UI for the user profile
## Why is this feature being added?

We need a profile that is quick and easy to navigate for both new and existing users.

The current User Interface for the profile scene looks like this -

<img width="450" alt="screen shot 2017-10-01 at 4 56 06 pm" src="https://user-images.githubusercontent.com/15932239/31059760-1de6c214-a6d6

[2017-10-01 22:49] sethbergman commented on #544
Glad you're doing this! I haven't made much progress due to trying to implement redux and create the user profile scene. I wrote in one of my commits that I think we should do what you're wireframe shows for the time being. Good work brother!

[2017-10-01 23:41] hollomancer commented on #537
"Joining Operation Code is absolutely free. If you are just starting to learn coding, exploring opportunities in tech, or want to connect with others with a background in the military, Operation Code is for you!"

[2017-10-01 23:42] hollomancer commented on #536
@eshunsharma, not sure what the best system is to do this - there's a bit of research for whoever takes this issue, to find a good solution.

[2017-10-02 00:03] kylemh commented on #536
I totally thought I commented on this earlier...

@eshunsharma I think that resolving #425 and this issue are very related (you could finish a 2-fer!). There is a bit of research done in the other thread.

The idea is that the notification system would pop-up on user visit and only clear if the user escapes it. During the login/registration process, the flash notifiers could prove as useful "SUCCE

[2017-10-02 00:05] kylemh commented on #537
Just to be clear this is very user friendly! You simply need to edit content and add headers to the top of the columns coded inside /src/scenes/home/landing/membership/membership.js

[2017-10-02 00:22] jenniferkaplannyc commented on #532
@sethbergman I am working on upgrading this to React 16.

[2017-10-02 00:26] kylemh commented on #540
Assigning myself as a placeholder to @michaelkirschbaum since we've spoken in-person on this.

[2017-10-02 00:28] kylemh commented on #532
@jenniferkaplannyc @sethbergman is mid cherrypick on this isse - apologies.

[2017-10-02 00:29] kylemh commented on #532
Fixed in #542

[2017-10-02 00:56] ctruelson commented on #537
I'll hop on this.

[2017-10-02 01:55] gisete commented on #531
Hi @kylemh, if it's not much to ask, could you give me a hint on how I'd implement this function? I'm a React beginner and I'm used to importing helper functions from helper files which I was able to make it work in this case but I noticed you don't have a general helper file so I tried adding a method to the component :
`titleCase = (title) => { title.toLowerCase().replace(/(^[a-z]| [a-z])/g, mat

[2017-10-02 05:46] #510 closed

[2017-10-02 09:46] ctruelson commented on #537
Sorry @AidenMead didn't realize you were on this already.

[2017-10-02 09:50] ctruelson commented on #511
I'm gonna tackle this.

[2017-10-02 10:05] Zapix commented on #473
Updated pr with stories for components:
* `clipPathImage`
* `donate`
* `drawer`
* `form`
* `formButton`
* `formCheckbox`
* `formEmail`
* `formInput`
* `formPassword`
* `formSelect`
* `formTextArea`
* `formZipCode`

[2017-10-02 12:41] ctruelson commented on #13
If we end up doing it the Slack way, a few things:

1) whoever is Slack admin can add a "location" field to profiles. Maybe it can be a lat/long field?
2) whoever's building it would need to create a Slack app and get a token to access the data.
3) There should be a generator via the backend that spits out an array of locations that we can feed to a map API. It shouldn't hit up slack on every requ

[2017-10-02 14:37] hollomancer commented on #11
Let's start with what @Cooperbuilt has here as an MVP.

https://xd.adobe.com/view/dc1e96ad-cdee-4610-99a2-6e4ba53654ed/screen/de3ea7fa-b29f-4402-ac6a-8dd0a244a37e/Web-1920-2

[2017-10-02 15:51] dmarchante commented on #145
Hey @sethbergman what progress have you made with this? Also, do we want to track typography, colors, etc here as well?

[2017-10-02 16:08] kylemh commented on #532
We need access to our CI/build process to debug the issues arising from implementing React 16 in production.

[2017-10-02 16:20] #537 closed

[2017-10-02 16:21] sethbergman commented on #532
https://reactjs.org/blog/2017/09/26/react-v16.0.html#upgrading

[2017-10-02 16:23] jenniferkaplannyc commented on #532
I was having this same problem when I tried to upgrade your site, but then I saw the issue was closed so I deleted my files. However, were there any depreciation warnings in the previous version of React? If so, lets fix those to see if that resolves the issue when upgrading.

[2017-10-02 16:27] kylemh opened #555 "Target classes instead of elements in stylesheets from a specific PR"
# Bug Report
## What is the current behavior?
Many global styles are being affected by element-applied stylesheets from https://github.com/OperationCode/operationcode_frontend/pull/451 - I dropped the ball in not catching those styles, but we're very aware now. Going forward, all styles must be applied to classes or elements as children of classes.

## What is the expected behavior?
All styles mus

[2017-10-02 16:28] sethbergman commented on #532
We're on 15.4, not 15.6 as it states in the article. There would need to be an upgrade to 15.6 first I believe.

[2017-10-02 16:32] sethbergman commented on #532
But yes there were many peerDependencies that were giving warnings.

[2017-10-02 16:32] kylemh commented on #555
In-progress at #552

[2017-10-02 16:33] sethbergman commented on #532
Linking this one here too: https://medium.com/ecmastack/what-you-need-to-know-about-react-16-a4e216522041

[2017-10-02 16:33] jenniferkaplannyc commented on #532
I think we should work through those first. If that is too time consuming then lets keep it on the current version of React.

[2017-10-02 16:35] kylemh commented on #532
Perhaps a good next step would be to move to 15.6 to have more visibility on deprecation warnings.

[2017-10-02 16:35] jenniferkaplannyc commented on #532
Yes, that is a very good idea!

[2017-10-02 16:36] sethbergman commented on #532
I agree wholeheartedly!

[2017-10-02 16:39] kylemh opened #556 "Upgrade to React 15.6"
# Feature
## Why is this feature being added?
We'd like to eventually move to React 16, but 15.6 will showcase deprecation warnings, even for dependencies. This will make our upgrade to 16 a much cleaner and easier process.

## What should your feature do?
Upgrade the project to `react@15.6.2 while also upgrading `react-modal` to `react-modal@latest` (known dependency issue)

[2017-10-02 16:39] kylemh commented on #532
@jenniferkaplannyc or @sethbergman feel free to grab #556

[2017-10-02 16:40] sethbergman commented on #532
I'm about to take a nap. :+1:

[2017-10-02 16:41] kylemh commented on #511
Assigned as a placeholder for @ctruelson

[2017-10-02 16:44] sethbergman commented on #556
For reference:
https://reactjs.org/blog/2017/04/07/react-v15.5.0.html

[2017-10-02 16:44] sethbergman commented on #556
You may have to go to 15.5 first. IDK good luck! :sleeping:

[2017-10-02 16:49] kylemh commented on #556
I think on local development, incremental upgrade to 15.6.2 is a great idea.

[2017-10-02 17:19] sethbergman commented on #556
https://github.com/reactjs/react-codemod

[2017-10-02 17:42] Spraynard commented on #555
PR #557 should fix some of the issues.

[2017-10-02 17:53] kylemh commented on #13
I believe Slack already provides location data intrinsically. David Thureson has shown me visualizations accurately depicting locations of many members.

[2017-10-02 17:55] tal87 commented on #264
A helper that was posted by @kylemh

[code]
[code]

https://www.npmjs.com/package/prop-types

[2017-10-02 19:28] kylemh opened #559 "Edit "Membership" section intro paragraph content"
# Feature
## Why is this feature being added?
Desired edit to copy from leadership.

## What should your feature do?
The copy underneath the Membership header currently looks likes this -
<img width="1177" alt="screen shot 2017-10-01 at 3 22 05 pm" src="https://user-images.githubusercontent.com/15932239/31058120-5b5feb4e-a6bc-11e7-8185-a79caf09480f.png">

Instead, it should read: *"Joining Op-Code

[2017-10-02 19:29] madvlad commented on #559
I got it

[2017-10-02 19:42] #559 closed

[2017-10-02 20:00] AidenMead commented on #504
I'm happy to poke around and try to make it consistent.

[2017-10-02 20:03] kylemh commented on #504
I've assigned myself as placeholder for @AidenMead 's claim to this task.

[2017-10-02 22:37] michaelkirschbaum commented on #481
hey @sethbergman, so is this something we could later integrate with redux?

[2017-10-02 22:46] ctruelson commented on #511
https://github.com/OperationCode/operationcode_frontend/pull/557 actually fixes this so I recommend closing this issue @kylemh

[2017-10-02 23:02] #504 closed

[2017-10-02 23:03] kylemh commented on #555
Resolved in #557

[2017-10-02 23:03] #555 closed

[2017-10-02 23:04] sethbergman commented on #481
I'm not sure. I believe Apollo is the standard for GraphQL. There's also graph.cool and graphiql, but I don't see why you can't implement redux. It just depends on what parts of the app need state management and action dispatchers.

[2017-10-02 23:07] kylemh opened #563 "Simple fix to classname usage"
# Bug Report
In https://github.com/OperationCode/operationcode_frontend/pull/557/files#diff-701f1ca17e774c5681de2795c296b240R9 a PR recently tried using `className="scholarshipHeadName"` but this won't work. We're using CSS Modules, so unique ID numbers get affixed to every className dynamically.

Instead, at the top of that file, do `import styles from './head.css'` and then do `className={styles

[2017-10-02 23:17] kylemh commented on #511
It should, shouldn't it... It hasn't, but I suspect that's a different problem...

[2017-10-02 23:17] #511 closed

[2017-10-02 23:20] LeoCp commented on #563
I'll take this on

[2017-10-02 23:21] kylemh commented on #563
@LeoCp apologies. This issue has already been assigned!

[2017-10-02 23:22] LeoCp commented on #563
ok

[2017-10-03 00:56] NestorSegura commented on #499
I Think we could divide the Login for active users and sign in (new users). I made a mockup for better illustration, let me know your thoughts and I will try to implement it following the layouts standards of the page.

[Login-ux-mockup.pdf](https://github.com/OperationCode/operationcode_frontend/files/1350841/Login-ux-mockup.pdf)

[2017-10-03 03:13] tal87 commented on #341
Upon success we used to redirect to `/thanks` which does not exist. Instead I show a success message.
![Uploading Screen Shot 2017-10-03 at 6.11.38 AM.png…]()

[2017-10-03 04:50] jenniferkaplannyc commented on #556
Okay I did this and I saw this warning, `(node:32243) DeprecationWarning: loaderUtils.parseQuery() received a non-string value which can be problematic, see https://github.com/webpack/loader-utils/issues/56
parseQuery() will be replaced with getOptions() in the next major version of loader-utils.`

[2017-10-03 04:50] jenniferkaplannyc commented on #556
However the site still works.

[2017-10-03 07:50] #531 closed

[2017-10-03 08:29] kylemh commented on #499
@NestorSegura there are so many improvements the header requires. I don't have wireframes of them, but rest assured what you've described will be implemented.

[2017-10-03 08:55] kylemh opened #566 "Document accessibility issues"
### This issue is marked as block because it is a placeholder to spread out all below into multiple issues.

This isn't a traditional issue that matches our scheme, but I wanted to get some helpful emails I received out in the open. I can split these up to more manageable issues within the next 24 hours, but if somebody else is available, they can do the same (feel free to edit OP). I'm not sure o

[2017-10-03 09:01] #494 closed

[2017-10-03 09:02] kylemh opened #567 "Integrate a Prettier GitHook using our .eslintrc"
# Feature
## Why is this feature being added?
Integrating Prettier into a GitHook will force all code to be linted and stylistically identical. [See discussion here](https://github.com/OperationCode/operationcode_frontend/issues/494).

## What should your feature do?
- Add Prettier w/ our .eslintrc as a Git Hook so everybody's work is linted and made uniform
- Add prettier ignore file comment in `

[2017-10-03 09:40] zacck commented on #567
@kylemh  I'm keen to work on this

[2017-10-03 13:30] devronhansen commented on #474
Hey,
so i looked into this and i fixed some but now i ran into some Problems.
I have a hard time figuring out the structure of the data of the squad in squadModal and of the schools in approvedSchools, onlineSchools and stateSortedSchools because in development and in production i get a 500 by requesting code_schools.json and a 401 when requesting squads.json even though im logged in.
Are there so

[2017-10-03 13:43] Cooperbuilt commented on #474
Hey @devronhansen thanks for doing some work on this. Unfortunately, we are experiencing some downtime on our backend. We are working on getting it operational again. Sorry for the trouble!

[2017-10-03 14:11] remyje81 opened #568 "Increase button font size"
The text within the buttons on [Operation Code](http://operationcode.org) is considerably smaller than the buttons themselves, causing eye strain.

![opcodebutton](https://user-images.githubusercontent.com/19736317/31129479-492f1756-a81a-11e7-82ff-99660c9433fa.PNG)

![opcodebutton_02](https://user-images.githubusercontent.com/19736317/31129619-bfb4080a-a81a-11e7-935e-121fdf0fa9ff.PNG)

Increase th

[2017-10-03 14:54] devronhansen commented on #474
Hey @Cooperbuilt no problem, can you post here when the backend is fixed or can you give me a hint where to look? :)

[2017-10-03 15:04] Cooperbuilt commented on #474
I will definitely let you know when the backend is back up!

[2017-10-03 15:13] caleywoods commented on #381
@kylemh If I'm reading this correctly and understanding you'd like to see L#87 through L#109 changed so that the MOOC's listed there come from an api call to the op code backend and then just loop over the create an `<ImageCard />` element for each returned school?

[2017-10-03 15:40] hollomancer commented on #567
All yours!

[2017-10-03 16:12] kylemh commented on #381
Correct. The API would serve up an array of MOOCs with the following shape:
[code]

[2017-10-03 16:13] #563 closed

[2017-10-03 16:16] kylemh commented on #568
Edited to make this clearly deliverable!

[2017-10-03 16:18] kylemh commented on #567
Assigned myself as a placeholder for @zacck

[2017-10-03 16:19] kylemh commented on #474
Assigned myself as a placeholder for @devronhansen

Issue is blocked until API issues have been resolved.

[2017-10-03 16:51] Jayflux commented on #568
I can pick this up

[2017-10-03 16:51] kylemh commented on #568
Assigned to myself as a placeholder for @Jayflux

Have at it!

[2017-10-03 17:04] meowwwls commented on #566
Would it help within this issue where all of the issues are being documented, to break them down into categories of UI/Design/CSS, Structure/HTML/ARIA, Behavior, etc.? If so I can work on that later tonight / early tomorrow and then start filing individual issues.

[2017-10-03 17:06] Jayflux commented on #568
@kylemh PR'd let me know how it is

[2017-10-03 17:21] kylemh commented on #566
@meowwwls I think the best way to breakdown the issues is to group them by page so that people can conglomerate in resolutions to neighboring code blocks. Open to suggestions!

[2017-10-03 17:31] meowwwls commented on #566
@kylemh Great! Thanks. For issues that span across the entire site (links within paragraphs not being distinguishable enough, or the contrast of the social media icons not being sufficient, for example), should they be grouped / labeled at all, or just listed as general issues to addressed?

[2017-10-03 17:37] kylemh commented on #566
The global `a` tag styles within `p` elements, can be changed in `src/index.css`

The social media icons are under `src/shared/components/socialMedia/socialMediaItem` and the stylesheets there can be edited to change contrast.

I don't know if there's an exact science to splitting them up, but keeping them small enough so that somebody may want to immediately contribute a resolution is my only des

[2017-10-03 17:49] meowwwls commented on #566
Got it. Thank you!

[2017-10-03 18:02] #568 closed

[2017-10-03 18:02] sethbergman commented on #567
Linking this here for reference:
https://prettier.io/docs/en/usage.html#pre-commit-hook

[2017-10-03 20:45] devronhansen commented on #536
Is this still up for graps?
If yes is an info notification for "news" like the gala, a success notification for a successful login/registration and an error notification for  an unsuccessful login/registration sufficient? With maybe a little function so everybody can easily spawn a notification of every kind in home.js?

[2017-10-03 21:31] kylemh commented on #536
@eshunsharma if we don't here back from you by 5PM -8 GMT, I'll be assinging this issue to @devronhansen

[2017-10-03 21:34] #544 closed

[2017-10-03 22:55] Kdasay16 commented on #489
Do you just want a wireframe of how the page would look? Can I get some clarification on the most visited page?

[2017-10-03 23:01] caleywoods commented on #381
I took a look at the controllers/models/migrations section in the backend and there's no MOOC resource. Is MOOC synonymous with Code School? There does exist a code school migration, model, and controller. It looks like the fields in the code school table would be:

      t.string :name
      t.string :url
      t.string :logo
      t.boolean :full_time
      t.boolean :hardware_included
      t.b

[2017-10-03 23:06] kylemh commented on #489
@Kdasay16 https://operationcode.org/code_schools <-- our most visited page

Unfortunately, this task is blocked because our API is down.

I'd like to see the review system integrated with the Code School cards component. I'll ping you when content is displaying once more.

[2017-10-04 00:05] Cooperbuilt opened #573 "Refactor linkedIconCard to be more re-useable"
# Build a more modular linkedIconCard

We currently have multiple implementations of the same thing: a Font Awesome icon with a title wrapped in a link, or a Font Awesome icon, a title, and some text.
Currently, these can be found on the home page in the membership stripe, in profile.js, and contact.js. Here are some examples.

<img width="150" alt="screen shot 2017-10-03 at 7 47 54 pm" src="https

[2017-10-04 00:44] Cooperbuilt opened #575 "Open Bounty: Convert Stateless React Class-Based Components to Pure Functions"
# THIS ISSUE IS ON HOLD
There's a PR in place that requires a bit of testing, but will accomplish this ticket in one fell swoop.

------

# Refactor all stateless functional components to pure functions where possible

This will be an ongoing issue - PRs will be taken in reference to this issue, but the issue will not be closed until someone can reasonably verify all eligible components have been

[2017-10-04 01:07] coymeetsworld commented on #575
I'll take a look, first time contributor.

[2017-10-04 01:10] Cooperbuilt commented on #575
Glad to have you @coymeetsworld! Feel free to join up over at operationcode.org. If you choose to do so, you will get an invite to our Slack team where we discuss our repos actively in #oc-projects.

[2017-10-04 01:20] twist295 commented on #573
Hey @Cooperbuilt , I can take a look at this!

[2017-10-04 01:46] jjhampton opened #578 "Update page to reflect gala postponement"
# Content change
## Why?
Per @davidmolina , the OC Gala is being rescheduled.   We need to update the website's information to reflect  the current status of the Gala (postponed).  This is of critical importance to avoid further sales of Gala tickets.

## Details
* The current content at `/gala` should be replaced with a message summarized as:  "The Operation Code Gala has been postponed. More inf

[2017-10-04 03:04] j-schuster commented on #578
I would love to work on this if I may:)

[2017-10-04 03:13] jjhampton commented on #578
@j-schuster Go for it - if you can get this done soon, that would be a huge help. This is a priority fix that is needed ASAP.

[2017-10-04 03:15] j-schuster commented on #578
No problem!

[2017-10-04 04:11] coymeetsworld opened #586 "No error handling when code school API returns a 500 error"
# Bug Report
## What is the current behavior?
When [https://api.operationcode.org/api/v1/code_schools.json](https://api.operationcode.org/api/v1/code_schools.json) returns a 500 error, (i.e. call returns JSON object `{"status":500,"error":"Internal Server Error"}`), no schools are loaded, errors come up on the console and the buttons on the Code Schools page do not do anything when clicked:

[code

[2017-10-04 05:15] kylemh commented on #586
We really appreciate you submitting a well-documented issue of this situation. It's a very old issue that I've documented [here](https://github.com/OperationCode/operationcode_frontend/issues/106
), but please continue documenting any issues you spot! We really appreciate every moment of work. I've also added this link for a technical documentation of an occurrence.

[2017-10-04 05:15] #586 closed

[2017-10-04 05:41] kylemh commented on #106
For a more technical forray with this problem, see [here](https://github.com/OperationCode/operationcode_frontend/issues/586).

[2017-10-04 05:43] kylemh commented on #578
I've assigned myself as a placeholder for @j-schuster

[2017-10-04 05:53] kylemh opened #590 "Content change on /code_schools page"
Under `src/scenes/home/codeSchools/codeSchools.js` I'd like to get the following changes in order to prevent rendering issues (styles make the font too big for the container).

Line 49: Instead of `text="Code Schools with VA Approval"`
Put: `text="VA-Approved Schools"`

Line 55: Instead of `text="Partner Schools with Scholarships"`
Put: `text="Partnered Schools"`

[2017-10-04 05:54] kylemh commented on #573
@twist295 have at it! Think modularly and for all use cases!

Assigning to myself as a placeholder for you.

[2017-10-04 06:01] kylemh commented on #381
In order to save time, you can definitely map MOOCs to the same model that a Code School has. In actuality, we're only using name, url, logo, and subtext. If there's no field for any kind of subtext/notes, we'll want to add that to the model... Maybe even an `isMooc` boolean?

[2017-10-04 06:45] bombellos commented on #590
Hey! I'm happy to take it as my first contribution, is it okay?

[2017-10-04 07:25] kylemh commented on #590
@bombellos go for it! I've assigned myself as a placeholder for you.

[2017-10-04 07:50] zacck commented on #567
@kylemh  you can assign me now, Will begin working on it tomorrow will push a Work In Progress branch

[2017-10-04 08:11] NestorSegura commented on #499
Hi @kylemh, should I go ahead and implement this change?  or you are already working on that?

[2017-10-04 08:16] NestorSegura commented on #461
What do you have in mind for this?  I would like to help around here too.

[2017-10-04 12:10] #590 closed

[2017-10-04 13:51] Tsilvernail commented on #477
hey thanks for poking me on this. I have had the flu the last week while trying to prep for an interview. I believe I have a solution worked out. I will update when I get home and can access everything! Its been going way longer than it should have and I apologize for that!

[2017-10-04 14:02] eshunsharma commented on #536
@kylemh Hey, I am sorry but I wont be able to take it, you can assign it to @devronhansen

[2017-10-04 14:46] nileshgulia1 commented on #575
@Cooperbuilt  can i work on this?

[2017-10-04 14:50] caleywoods commented on #381
`isMooc` bool would be good. You mentioned opening a ticket with the backend group to have this added. I would be comfortable doing this myself if they'll allow it. I'll need to create a migration to modify the table with an up and down method and then create a new method in the code_school controller to find all code schools where the `isMooc` bool is true and return the json.

Who is a good pers

[2017-10-04 15:16] Cooperbuilt commented on #381
Hey @caleywoods, If you want you can file a ticket on the backend here https://github.com/OperationCode/operationcode_backend/issues and we can mark it as in-progress for you.

[2017-10-04 15:44] andypyle commented on #575
I'd like to do teamCard & staffCard if that's okay. 😃

[2017-10-04 16:09] caleywoods commented on #381
@Cooperbuilt Done, I've opened [this issue](https://github.com/OperationCode/operationcode_backend/issues/169) on the back-end.

[2017-10-04 16:15] kylemh commented on #575
@nileshgulia1 @andypyle for this open bounty issue, feel free to work w/o confirmation - simply state what you plan to convert so nobody tries to step on your toes.

[2017-10-04 16:16] kylemh commented on #536
@devronhansen @ me if you're still interested

[2017-10-04 16:16] kylemh commented on #477
@Tsilvernail no problemo! The repo is moving fast with #hacktoberfest and I didn't want your work getting left behind.

[2017-10-04 16:17] kylemh commented on #567
@zacck one of the limitations of GitHub is that we can only assign tasks to organization members. Me assigning myself to this issue was BASICALLY me assigning you to the issue :laughing:

Good luck!

[2017-10-04 16:18] kylemh commented on #499
@NestorSegura I left you a message on Slack. Essentially, I've got this covered - I recommend seeking unassigned issues with the label: "Status: Available" affixed.

[2017-10-04 16:20] kylemh commented on #461
@NestorSegura see: https://github.com/OperationCode/operationcode_frontend/issues/499#issuecomment-334209881

[2017-10-04 16:21] kylemh commented on #536
Our Gala has been postponed so this issue is WONTFIX

[2017-10-04 16:21] #536 closed

[2017-10-04 17:28] andypyle commented on #575
@kylemh Would you prefer each component be on its own branch?

[2017-10-04 17:32] kylemh commented on #575
@andypyle sorry about the issue accidentally closing.

You can feel free to submit as you wish. Some people have been doing one file per PR, others have done a batch of components in one go.

It's entirely up to you. I just care that the work is getting done :heart:

[2017-10-04 17:39] Spraynard commented on #575
I'm going to work on contact.js

[2017-10-04 17:40] Cooperbuilt commented on #575
Contact is actually in progress in a PR right now.

[2017-10-04 17:42] Spraynard commented on #575
Hah, thank you. Shoulda looked. I'll work on FAQ then!

[2017-10-04 17:42] Cooperbuilt commented on #575
Perfect. Looking forward to your PR!

[2017-10-04 17:44] andypyle commented on #575
@kylemh Sounds good, man! I'll continue putting in work as I have time, and I'll be sure to check and see if they aren't being worked on already. 😄

[2017-10-04 17:56] kylemh opened #596 "Remove unused image"
Simply remove `src/images/gala-banner.png`

Please claim below so that nobody's work gets intercepted!

[2017-10-04 17:57] anmolsrivastava05 commented on #596
On it 😄

[2017-10-04 17:58] kylemh commented on #596
Assigned to myself as a placeholder for @anmolsrivastava05 - it's all yours!

[2017-10-04 18:04] #578 closed

[2017-10-04 18:27] Spraynard commented on #575
Going to include footer.js conversion in my PR as well

[2017-10-04 18:36] #596 closed

[2017-10-04 19:03] NestorSegura commented on #231
Hey there, is this issue a duplicate? or is it still active?

[2017-10-04 19:07] NestorSegura commented on #155
Is there more information for this page?

[2017-10-04 19:11] NestorSegura commented on #12
is hier still help needed? @hollomancer

[2017-10-04 19:12] hollomancer commented on #12
I think for this one, we need a design.

[2017-10-04 19:12] hollomancer commented on #231
Still active.

[2017-10-04 19:18] andypyle commented on #575
I'm going to do AuthenticatedRoute if no one else has 👍

[2017-10-04 19:18] kylemh commented on #155
@hollomancer @davidmolina what would you like to see from this page? @NestorSegura is very eager to contribute.

[2017-10-04 19:19] kylemh commented on #12
@NestorSegura there's a free application called Adobe XD if you wanted to throw together a wireframe that we could approve. It would be awesome if you were able to completely own this page!

[2017-10-04 19:43] tal87 commented on #264
Hey @kylemh
I was able to generate an error when I limit the number of characters of the header.
However, the header is still displayed on the page. What do we want to show instead?

![screen shot 2017-10-04 at 10 40 30 pm](https://user-images.githubusercontent.com/3673138/31196167-68cabef8-a955-11e7-85cb-140578c5aaad.png)

[2017-10-04 19:46] Brantron commented on #264
Why not make changes to the mobile styling to solve the initial issue? This solution seems overly complex given the problem.

[2017-10-04 19:48] Brantron commented on #264
It coulds be something like
[code]
thing.toolong {
font-size: 70%;
}

[2017-10-04 19:49] tal87 commented on #264
Thanks @Brantron I'll try that

[2017-10-04 19:57] NestorSegura commented on #12
Hi @Kylemh, yes I know that tool I also use Photoshop. I take this task. Thanks

[2017-10-04 20:51] Brantron commented on #556
@jenniferkaplannyc were you able to get it sorted out?

[2017-10-04 21:16] kylemh commented on #264
I'd rather we still just leave it getting rendered as is. `font-size: 70%` won't solve the problem, but we also can't simply error out the component if it attempts too render w/ too long of header content. The important part was getting a dev warning that can be seen in development - it looks like you've accomplished that.

[2017-10-04 21:20] kylemh commented on #556
@jenniferkaplannyc yeah we actually see that warning currently, so you can mentally check that as unrelated to the upgrade.

[2017-10-04 22:19] devronhansen commented on #536
So, this was the notification thread #425 was closed in favor of this one and i was wondering if you guys would still accept a pr with a little notification system.

What i though about was giving the user a positiv Notification if he logged himself in/registered succesfully, an error Notification if there would be an error and the possibility to add more notification easily for other parts of the

[2017-10-04 22:20] kylemh commented on #536
@devronhansen the need for a notification system is paramount- regardless of the gala. Carry forward on #425 and move conversation there, as well.

[2017-10-04 22:21] devronhansen commented on #536
ye, saw my misstake directly after commenting :D, sorry

[2017-10-04 22:21] kylemh commented on #425
Assigning myself as a placeholder for @devronhansen to work!

[2017-10-04 23:19] DRBragg commented on #575
ES6 syntax?

[2017-10-04 23:23] DRBragg commented on #575
working on the components in the header

[2017-10-04 23:24] henlz commented on #556
@jenniferkaplannyc  I believe that is a warning caused by the ExtractTextWebpackPlugin plugin, it's a webpack issue.

[2017-10-04 23:27] henlz commented on #556
Is this issue assigned to someone?

[2017-10-04 23:30] kylemh commented on #575
@DRBragg indeed, ES6 please! `const componentName = props => ( JSX HERE );` or `const componentName = ({ prop1, prop2, prop3 }) => ( JSX HERE );

[2017-10-04 23:31] kylemh commented on #556
@henlz take a swing, by all means!

[2017-10-04 23:38] jenniferkaplannyc commented on #556
I’m sorry but I have a lot on my plate and didn’t realize how time consuming this would be. If this is still happening tomorrow night I might be able to work on it.

Sent from my iPhone

[2017-10-04 23:39] kylemh commented on #556
@jenniferkaplannyc there's no fret whatsoever. We're still happening 24/7 & 365!

There are _plenty_ of issues that we'd love your hand in, regardless of this one's completion.

[2017-10-05 02:18] kylemh opened #607 "ATTENTION! Looking for issues?"
This is a poor attempt at drawing visibility to older issues, but read one!

You'll see a host of claimed/handled issues on the first page, but - unlike with other repositories - older issues are not necessarily difficult issues. I urge you to glance at issues from the first page onward - you may have the opportunity to completely own a page of our website! How's that for a resume builder?

[2017-10-05 02:23] kylemh commented on #21
@hollomancer does the scholarship page that @jmayergit made in #451 cover this, or would you like something different?

[2017-10-05 03:11] AishaBlake commented on #79
Hi! I'd love to help out with this. Is there any additional information available beyond this thread and #509?

[2017-10-05 03:13] chrismgonzalez commented on #79
I would like to collaborate as well.

[2017-10-05 03:26] brandontiqui commented on #575
will convert landing/landing.js

[2017-10-05 03:49] AryanJ-NYC commented on #575
@brandontiqui #603 changed all the necessary files already. Just waiting on a merge.

[2017-10-05 03:51] brandontiqui opened #608 "Make landing component a pure function"
# Feature
Make landing component a pure function
## Why is this feature being added?

Increase render speed
## What should your feature do?
Converts landing/landing.js into a pure function
---

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-10-05 03:55] gisete commented on #11
I can help with this one. Anything else I should know in order to start the project?

[2017-10-05 04:03] brandontiqui commented on #575
@AryanJ-NYC So there are no more components that need converting?

[2017-10-05 04:07] AryanJ-NYC commented on #575
@brandontiqui I would wait until after that pull request and see if there are others afterwards.

[2017-10-05 04:12] brandontiqui commented on #575
@AryanJ-NYC Ok, thanks for the heads up.

[2017-10-05 05:18] alserz1 commented on #457
Hey, I'd like to do this

[2017-10-05 05:20] kylemh commented on #457
@alserz1 - apologies. This task is assigned to me because it's part of a snake of dependencies. Please seek tasks that are unassigned and have the 'Status: Available' label.

[2017-10-05 05:58] kylemh commented on #608
@brandontiqui this is already covered under #575 !

[2017-10-05 05:58] #608 closed

[2017-10-05 05:58] ashu17706 commented on #11
@gisete Do you want to collaborate on this?

[2017-10-05 06:26] kylemh commented on #21
@davidmolina instructed me to scrap this as a page, and instead implement a section on the code schools page.

[2017-10-05 06:26] #21 closed

[2017-10-05 06:30] kylemh opened #613 "Create section on on /code_schools describing scholarships"
# Feature
## Why is this feature being added?
Users who navigate to our /code_schools page are often people eligible for scholarships that we can provide, but they are unaware. By placing this knowledge in view on our most frequented page, we can influence more of our target audience positively with financial aid.

## What should your feature do?
Add a section to the /code_schools page (after the

[2017-10-05 06:31] kylemh commented on #613
Content will be posted ASAP

[2017-10-05 06:33] tal87 commented on #613
I would like to take this issue if possible.

[2017-10-05 06:34] kylemh commented on #613
Feel free. We don't have copy on it yet, but you can prepare the section, and I'll assign you the issue.

[2017-10-05 06:37] kylemh commented on #473
Resolved in #538

[2017-10-05 06:37] #473 closed

[2017-10-05 06:37] kylemh commented on #474
@devronhansen go forth!

[2017-10-05 06:38] kylemh commented on #481
@sethbergman be awares that the new profile system is in place!

[2017-10-05 06:40] kylemh opened #614 "User profile icons display unevenly on large screens"
# Bug Report
## What is the current behavior?
On large screens, the icons are not displaying as two rows of 3.
![screen shot 2017-10-04 at 11 39 04 pm](https://user-images.githubusercontent.com/9523719/31213839-574dc370-a95d-11e7-8866-dd0b4b8deabe.png)

## What is the expected behavior?
At most, any row of icons on the profile page should be displaying 3 items.

As an aside, instead of "Update My

[2017-10-05 06:43] kylemh commented on #489
@Kdasay16 our API is back up.

[2017-10-05 06:53] kylemh commented on #499
@NestorSegura after reading more closely, it's clear this issue has nothing to do with the NavBar. The issue is yours, and I'll claim it as a placeholder for you.

[2017-10-05 06:58] miaket commented on #614
I'll give it a try!

[2017-10-05 06:58] kylemh commented on #614
@miaket have at it! I'm assigning myself as a placeholder for you. The issue should be a simple manipulation of the flex styles currently in place.

[2017-10-05 07:52] NestorSegura commented on #499
Hi @kylemh, great, I'll put my hands on it.

[2017-10-05 07:58] kylemh commented on #79
We absolutely love collaboration. As a member and contributor @AishaBlake gets dibs on this issue, but she'll be in contact if she'd like to share the work!

Regardless of what she decides, there are plenty of large tasks like this one available for you to build and own.

[2017-10-05 08:30] #573 closed

[2017-10-05 09:02] #264 closed

[2017-10-05 09:04] kylemh opened #616 "ATTENTION! Looking for issues?"
This is a poor attempt at drawing visibility to older issues, but read one!

You'll see a host of claimed/handled issues on the first page, but - unlike with other repositories - older issues are not necessarily difficult issues. I urge you to glance at issues from the first page onward - you may have the opportunity to completely own a page of our website! How's that for a resume builder?

[2017-10-05 09:04] kylemh commented on #607
Closed because bumped in #616

[2017-10-05 09:04] #607 closed

[2017-10-05 15:13] jaalah commented on #11
If you want to collaborate on this and breakup the work, we can chat on slack. Are you all in the slack channel?

[2017-10-05 16:17] #556 closed

[2017-10-05 16:17] #575 closed

[2017-10-05 17:49] Cooperbuilt opened #620 "Make IconCard component mobile friendly when subtext is present"
# Bug Report

## The IconCard component is unresponsive when subtext is added
When subtext is added to this component, it takes on a fixed height and width which can cause large gaps and off-center spacing like the ones seen here on the landing page -

<img width="300" alt="screen shot 2017-10-05 at 1 37 11 pm" src="https://user-images.githubusercontent.com/15932239/31241990-985388ca-a9d3-11e7-9c7

[2017-10-05 17:49] madvlad commented on #518
i got this

[2017-10-05 17:50] kylemh commented on #518
@madvlad as you can see the issue is assigned and in progress. There is already a PR open for it, as well.

[2017-10-05 17:52] madvlad commented on #518
my bad - I was confused. Currently tagged as "No one assigned"

[2017-10-05 17:57] kylemh commented on #518
@madvlad that's my fault completely.

[2017-10-05 18:47] kylemh commented on #156
@hollomancer and @dmarchante let's get some emergency final description/content on this issue so we can assign a motivated @jaalah

[2017-10-05 18:55] dmarchante commented on #499
I am trying to look at the PDF for what you proposed @NestorSegura, but it appears to be broken.

[2017-10-05 18:58] NestorSegura commented on #499
Hi @dmarchante  ![login-ux-mockup](https://user-images.githubusercontent.com/11391161/31247087-d12627f2-aa0f-11e7-864c-e255f4342cfe.jpg)

[2017-10-05 19:09] tal87 commented on #613
Hey Kyle,
The section is ready, waiting for the content.

[2017-10-05 19:16] hollomancer commented on #613
Current scholarships (Copy)

RMOTR - RMOTR is offering online coursework in Python to the Operation Code community! Full and partial scholarships are available. Python is a skill in high demand right now, especially for data science roles - and it's useful for anyone seeking to learn more about coding and the tech industry.

Fullstack Academy - Fullstack Academy is offering three scholarships for

[2017-10-05 19:17] hollomancer commented on #613
Startup Institute is offering the Operation Code community in Boston and NYC a $2,000 Veterans Scholarship to attend their full- and part-time programs! They’ll also donate $1,000 to Operation Code for every member who completes their program curriculum and requirements. http://go.startupinstitute.com/partners/operation-code/

[2017-10-05 19:17] hollomancer commented on #613
Bloc and Operation Code are offering all veterans a $1000 tuition credit toward Bloc's Web Developer Track. All active duty military members and veterans are eligible! http://try.bloc.io/operation-code-bootcamp-scholarship/

[2017-10-05 19:17] hollomancer commented on #613
Galvanize is now accepting the GI Bill for their web development and data science programs in Denver, CO - learn more at http://www.galvanize.com/!

[2017-10-05 19:17] hollomancer commented on #613
Inventive.io self funds full ride scholarships for veterans and women. Every 10th paid student opens a scholarship slot! https://inventive.io/

[2017-10-05 19:17] hollomancer commented on #613
edX has extended a special limited time 20% discount on verified certificates to the Operation Code community. To take advantage of the discount, enter the code EDXOC20 at check out. Visit edx.org and start learning today!

[2017-10-05 19:21] tal87 commented on #613
Thanks @hollomancer

[2017-10-05 19:22] hollomancer commented on #613
I'll need to find graphics - not sure the best way to integrate them design-wise.

[2017-10-05 19:25] dmarchante commented on #499
Great I was thinking something similar as well. I would remove the first paragraph outside of the gray box. If they have gotten to this point they have presumably already learned about us, and its is gettign a bit verbose. Other than that awesome job!

[2017-10-05 19:43] tal87 commented on #613
How about a clickable box with the school logo and name which opens up a modal with all the details once clicked?

[2017-10-05 19:47] hollomancer commented on #613
Oh, that's cool. I like it!

What resolution image should I provide?

[2017-10-05 19:49] tal87 commented on #613
I was something about something like we have in the Partnered Schools Section

[2017-10-05 19:51] jaalah commented on #156
Ok I'm assuming these are two separate pages, correct?

[2017-10-05 19:54] dmarchante commented on #156
the goal is to be one page I beleive

[2017-10-05 19:56] dmarchante commented on #156
The content is on the pdf attached to the issue, but the direction I was given was one 8.5 x 11. I think it is copy heavy, so if you can find a way to make it work we would be interested to see it. If anything is removed that we think was crucial we can let you know. So have at it

[2017-10-05 20:43] kylemh commented on #620
Just some hints, I believe doing away with a hard-set height and adding a media query to decrease the hard-set width on mobile widths is the way to go.

[2017-10-05 20:44] kylemh commented on #499
@NestorSegura are you trying to integrate Join and Login onto the same page?

[2017-10-05 20:45] kylemh commented on #613
@tal87 are the images currently in assets too low of resolution?

[2017-10-05 20:50] kylemh opened #621 "Code schools not rendering"
# Bug Report
## What is the current behavior?
If a user goes to operationcode.org/code_schools they see the top section with four buttons, but no other content displays. The following error exists in the console:

[code]

## What is the expected behavior?
Multiple sections of code school card components should render below the current content.

## What steps did you take to get this behavior?
Go t

[2017-10-05 20:51] NestorSegura commented on #499
no @kylemh, I'm working on the second one, ist less disruptive I think and goes well with the actual implementation.

[2017-10-05 22:46] kylemh commented on #621
Fixed in back-end revert.

[2017-10-05 22:46] #621 closed

[2017-10-05 23:49] AryanJ-NYC commented on #532
@sethbergman @kylemh Any hints on how to locally test if the shims and polyfills work correctly?

[2017-10-06 00:58] kylemh commented on #532
I'm not sure why were not receiving dev warnings for dependencies, but I'm fairly certain that Storybook, React-Modal, and another few components have not yet made the move to React 16, thereby blocking this issue.

[2017-10-06 01:18] MarkReeder commented on #106
I can take this one.

[2017-10-06 03:30] AryanJ-NYC commented on #567
Before implementing a GitHook, the code needs to be cleaned to ensure it passes the linter. At the moment, it fails when `npm run lint` is run.

[2017-10-06 03:31] thedeany commented on #364
Hi, @kylemh et al! I'm interested in tackling this. I used the web inspector to build a mockup of the possibility you suggested. (I copied the HTML and CSS from the pen.) https://screencast.com/t/sA2TqQsu

I also mocked this one up which adds the link directly to the card (and thus modifies the style of the card; I expanded the height by ~35px): https://www.screencast.com/t/Npy2yHu831vE My only qu

[2017-10-06 03:40] kylemh commented on #364
Hey, thanks so much for wireframing first. The one thing you'll need to keep in mind is that we're also going to expand the functionality of the card ONE more time after this PR to include the ability for logged in users to potentially rate the school.

I'm worried that the idea you have drafted here isn't extendible in that sense, despite the fact that it looks nice!

Consider yourself having a b

[2017-10-06 04:16] tal87 commented on #613
I think they are ok.. I'll let you know if I need another resoultion.
Thanks!

[2017-10-06 04:30] tal87 commented on #613
Do we have a logo for Inventive.io?

[2017-10-06 06:22] sethbergman commented on #481
Awesome! :+1:

[2017-10-06 06:35] kylemh commented on #613
Hmmmm I was imagining that this section would be a simple section describing the nature of the scholarships, how often we get them, and who is eligible. Basically letting the user that - if they're a veteran - registering can have perks!

This list of scholarships and graphics likely belong the container that @jmayergit pulled in a few weeks ago for scholarships.

How should we proceed, @hollomanc

[2017-10-06 06:36] kylemh commented on #613
@tal87 regardless we need an image for inventive.io and I need to document the process for bringing in said image... I'll get on that tomorrow morning.

[2017-10-06 06:38] kylemh commented on #106
@MarkReeder - have at it! I've assigned myself as a placeholder for your work.

[2017-10-06 06:45] sethbergman commented on #556
Thank you @jenniferkaplannyc for all of your hard work on this! It's greatly appreciated, as well as your feedback and suggestions. :bowing_man:

[2017-10-06 08:33] zacck commented on #567
@AryanJ-NYC  will be working on this soon thanks will check this out

[2017-10-06 09:34] remyje81 opened #627 "Page does not scroll to top when footer link is clicked"
# Bug Report
## What is the current behavior?
When using links in the Footer (e.g., About, Press, FAQ, or Team), page does not scroll back to the top.

## What is the expected behavior?
Page should scroll back to the top, when using links in the Footer (e.g., About, Press, FAQ, or Team).

## What steps did you take to get this behavior?
Scrolled to the bottom of the page, and clicked one of the Fo

[2017-10-06 09:35] remyje81 commented on #627
I've got a fix for this... might not be pretty, but it works.

[2017-10-06 10:52] devronhansen commented on #474
ok, the school stuff is working perfectly but I'm still getting a 401 even though im logged in for the squads.json. Is this still a bug or am i missing something?
For now i just looked at the property that gets used in the squads modal, but i would like to make sure that i don't miss anything

[2017-10-06 14:07] AryanJ-NYC commented on #567
@zacck I added the precommit hook in #625.

[2017-10-06 14:41] tal87 commented on #613
Hey everyone, this is what I came with so far.
I was thinking on adding the logo of the school to the modal as well and centering the text as well.
I'll be more than happy to hear your thoughts.
Thanks!

![screen shot 2017-10-06 at 5 37 08 pm](https://user-images.githubusercontent.com/3673138/31283095-56431abe-aabd-11e7-9011-c9834a370961.png)
![screen shot 2017-10-06 at 5 37 33 pm](https://user-im

[2017-10-06 15:08] dmarchante commented on #613
The logo would be a great addition. Is there a way to restrict the modal width? If so, then you wouldn't have to center the text. It may be a good idea to pull in the data form the card as well as the address and contact info (I believe all the pertinent data that we wanted to communicate is in a json file).

[2017-10-06 15:20] tal87 commented on #613
Sounds good..
I think the text centering is necessary anyway or some left margin

[2017-10-06 15:57] LauraUX opened #629 "Reduce spacing for Careers under Membership"
Careers section spacing should be reduced. Careers is a bit separated from top/bottom.
#623

[2017-10-06 17:17] raphaabrasil commented on #629
Hello, can i get this one?

What would be the correct spacing?

[2017-10-06 17:18] raphaabrasil commented on #629
![image](https://user-images.githubusercontent.com/10418479/31289960-290d590e-aaa1-11e7-99f1-9c4f162a93e9.png)
It seems ok to you?

[2017-10-06 17:39] LauraUX commented on #629
That looks much better! Did you fix the box height or...?

[2017-10-06 17:43] raphaabrasil commented on #629
Yeah, its just a fix on container height. Can you assign this issue to me so i can make a pull request?

[2017-10-06 18:55] LauraUX commented on #629
Sorry, had a phone interview just now. Were you able to do it?

[2017-10-06 19:02] raphaabrasil commented on #629
No problems :)

Yeah, i did it! It's on PR #631, waiting for approvement.

If you need some help to make this section mobile friendly, ill be glad to do this.

[2017-10-06 19:08] tal87 commented on #629
Hey @LauraUX @raphaabrasil I can't recreate the issue.
what OS do you use?
Also, Can I get a screenshot?
Thanks

![screen shot 2017-10-06 at 10 06 19 pm](https://user-images.githubusercontent.com/3673138/31294187-a4ba9238-aae2-11e7-970a-4a4f92d0e028.png)

[2017-10-06 19:18] #567 closed

[2017-10-06 20:05] raphaabrasil commented on #629
@tal87
Hello! I'll take a look at this, and fix asap.
My OS is Fedora (Linux)

[2017-10-06 20:50] raphaabrasil commented on #629
@tal87 ,

I realized that this alignment with 4 columns per row is already happening in production. If your screen width is bigger than 1300, you will have 4 columns per row.

**1280x1024 screen:**
![image](https://user-images.githubusercontent.com/10418479/31298018-9debde72-aabe-11e7-812e-29884ff5bee8.png)

**1366x768 screen:**
![image](https://user-images.githubusercontent.com/10418479/31298043-

[2017-10-06 20:56] dmarchante commented on #629
Looking at this would it make sense to have to columns render at that break point for consistency and balance (maybe I am nitpicking)

[2017-10-06 21:07] miaket commented on #614
@kylemh I'm still trying to get yarn working...
I'll fix it as soon as i get it to :(

[2017-10-06 21:38] LauraUX commented on #629
My bad! Had to step away to run some errands. Where are we on this? I can work on it now. I try assigning it to you earlier but your name wasn't showing up for some reason.

[2017-10-06 21:41] raphaabrasil commented on #629
@dmarchante I think that makes sense...

@LauraUX @tal87 , what do you think about that? Should we assign that we will always have 3 columns per row (except on mobile)?

[2017-10-06 21:51] LauraUX commented on #629
Visually, it looks so much better with all (4) columns in one row. If there were six boxes, then 2 rows would make sense.  But 3 columns per row is ok, too.

[2017-10-06 22:06] raphaabrasil commented on #629
@LauraUX i agree with you.

@dmarchante @tal87 what do you think about changing the rule to 4 columns per row instead of 3 on desktop?

[2017-10-06 23:00] hollomancer opened #634 "Design Frontend Payments Page (Desktop)"
# Feature
## Why is this feature being added?
Right now, our donate button links to https://www.opencollective.org/operationcode

## What should your feature do?
OpenCollective has a GraphQL API. Let's see if we can style this experience on our own page, using our API.

https://github.com/opencollective/opencollective-api

[2017-10-06 23:05] raphaabrasil commented on #459
@kylemh Can i help you on this?

[2017-10-06 23:13] Tsilvernail commented on #477
So I don't feel like I can get to this in a reasonable amount of time. My lschedule has taken a turn for the insane and I just don't have the time to put towards contributions like I thought I would :/ anyone who wants to pick this up is more than welcome too, so that it can be completed. I don't want to hold up progress!

[2017-10-07 00:43] seeksort commented on #327
Hello! Could I take on this one? This would be for all of the components in `/src/shared/components`, right?

[2017-10-07 02:26] dmarchante commented on #629
The icons and text would have to change size at break points to maintain that behavior correct? I am not sure if that’s the direction we want to go, but I see the merit. Ill wait to see input from the others.

[2017-10-07 03:56] tal87 commented on #477
No worries @Tsilvernail I'll take it

[2017-10-07 04:10] sethbergman commented on #607
I see what you did there. :fast_forward:

[2017-10-07 05:03] #525 closed

[2017-10-07 05:10] kylemh commented on #474
@devronhansen I don't believe we ever mapped the squads aspect to the back-end.

_checking_

[Nope, they weren't](http://docs.operationcodeapi.apiary.io/#reference/0/).

You can feel free to ignore that section. I love how thorough you're being! Carry on!

[2017-10-07 05:18] #620 closed

[2017-10-07 05:23] kylemh commented on #613
I can't quite tell what's going on with the interface. People click on the card and get a modal pop-up detailing all scholarships available for that school?

[2017-10-07 05:25] tal87 commented on #613
Exactly

[2017-10-07 05:34] kylemh commented on #614
@miaket no problem! Let me know if it seems unattainable.

[2017-10-07 05:39] kylemh commented on #634
This is a stellar opportunity for you to completely own an entire feature using a well-documented and modern API! Please be sure to **WIREFRAME FIRST** so that we can approve work BEFORE you spend effort on your beautiful code!

[2017-10-07 05:43] kylemh commented on #459
@raphaabrasil I've definitely become to busy to tackle the string of tasks related to the Nav refactor. I'll be tagging you - and all the other developers that have expressed interest in the Nav - on a better documented series of issues as soon as possible.

[2017-10-07 05:44] kylemh commented on #327
@seeksort yes indeed! Wow, I was so excited to see this issue pop up in my notifications. You'll be integrating our first tests!!! I've assigned myself to this issue as a placeholder for you.

[2017-10-07 05:45] kylemh commented on #477
@Tsilvernail I appreciate the work you've put into this regardless. Good luck!

[2017-10-07 06:31] kylemh opened #637 "Expand on installation instructions for Windows users"
# Feature
## Why is this feature being added?
Installation instructions make many assumptions and are unsuited for Windows users who do not have a bash-capable VM or the ability to utilize bash shells. Improved documentation from Windows users that have successfully developed on this repository will potentially bring in more contributors.

## What should your feature do?
Add step-by-step installat

[2017-10-07 06:32] miaket commented on #614
I'm finishing a budgie install. It'll be easier to attend from now on! :)

[2017-10-07 07:43] #428 closed

[2017-10-07 12:04] tal87 commented on #629
@LauraUX @raphaabrasil @dmarchante Sorry for the very late response.
I also think 4 columns look better though I'd like to see how will it affect the icons and text.

[2017-10-07 12:21] dmarchante commented on #629
No worries @tal87 you’ve been killing it. The way it affects the icons and text is my concern as well. I don’t want you to implement something and have it nixed @raphaabrasil. Thoughts @kylemh? (I know you didn’t have time last night, I just want to see your thoughts when you get a chance).

[2017-10-07 16:01] thedeany commented on #364
Well, I'd imagine the reviews will appear at the bottom of the cards. (I checked the issue for the reviews, but hadn't seen any wireframes for it yet.) So, I don't want to clog up the bottom of the card.

I absolutely positioned the "Contact Admissions" link in the upper-right corner and made it a bit smaller as I don't believe it should be considered the main call-to-action item. Being absolutely

[2017-10-07 17:33] ashu17706 commented on #634
Can I take this up?

[2017-10-07 17:53] ashu17706 commented on #11
I am not on slack channel. Can I get invite.

[2017-10-07 20:20] dmarchante commented on #11
You can register on our website and you’ll get an invite from there:

https://operationcode.org/join

[2017-10-07 21:06] hollomancer commented on #634
Sure, @ashu17706, but be sure to get a wireframe up per @kylemh - this doesn't have to be assigned to just one person, so we do want to get a few different ideas here.

[2017-10-07 22:23] gisete commented on #11
@ashu17706 please go ahead and take over this task if you can, unfortunately I'm super busy and don't have time to collaborate on an issue, I was looking more for solo tasks. Thanks.

[2017-10-08 01:48] #637 closed

[2017-10-08 01:50] #477 closed

[2017-10-08 02:03] #433 closed

[2017-10-08 03:22] PSkaggs opened #643 "Success Stories profile images are oblong"
# Bug Report
## What is the current behavior?
Success Stories look like the attached images when the width is around 1400 px.
## What is the expected behavior?
Images should be round
## What steps did you take to get this behavior?
Safari and Chrome browser width around 1400 pixels and view the Success Stories section on the main page
## Additional Info
### Operating System
MacOS Sierra
### Browse

[2017-10-08 04:36] ashu17706 commented on #11
I have joined Operation code. But I am not able to create slack account because I don't have a "@github" email address.

[2017-10-08 04:37] ashu17706 commented on #11
@gisete Ohke. I'll start with this issue. :)

[2017-10-08 04:42] kylemh commented on #11
@ashu17706 you'll have to re-register with a valid email addresss.

[2017-10-08 06:00] lebilly opened #645 "Email validation error is fired off immediately upon touch on the login page"
# Bug Report
## What is the current behavior?
Email validation error is fired off immediately upon touch on the login page
## What is the expected behavior?
Email validation error should fire after the user tries to submit an invalid email
## What steps did you take to get this behavior?
Go to login page and begin typing in the email input
## Additional Info
### Operating System
MacOS 10.12.6
###

[2017-10-08 06:31] AryanJ-NYC commented on #455
Renaming the filename `router.js` may be OK but, if following convention, the component should also be renamed `Router` as well (to match the file name). This may cause confusion with the `react-router` `Router`. Perhaps it should be renamed something different? `OCRouter`? `OperationCodeRouter`?

[2017-10-08 07:39] brascene commented on #645
I'll take a look at this one :)

[2017-10-08 10:27] sethbergman commented on #485
Guess I never saw this. Passport is Express middleware. It's for login / oAuth flow. It is a free solution, unlike Auth0.
I will be working on this next, as I am finishing up with the style guide. I'm doing i

[2017-10-08 16:23] ashu17706 commented on #11
@kylemh So I have to re-register with gmail email id?

apart from slack channel. I am ready with the PR.
Few doubts before making it final.

What should be the route path ? As of now I have registered a route "/our-program" in the router.
Where can I get the assets to be used in the pages? (icons)
Is text in the design is the final text of just a placeholder?

Should I open the PR for review now o

[2017-10-08 17:28] lebilly opened #650 "Font-size is too large on login screen when there is an error on submit"
# Bug Report
## What is the current behavior?
When a user submit incorrect details on the login screen, the error font-size is too large
## What is the expected behavior?
Should be of reasonable font-size
## What steps did you take to get this behavior?
Login with incorrect information
## Additional Info
### Operating System

### Browser

### Screenshots
![image](https://user-images.githubusercont

[2017-10-08 17:32] Ckpuna4 commented on #650
I'll take this)

[2017-10-08 17:46] lebilly opened #652 "Create or implement a grid system for all content with multiple instances of the same element"
# Feature
## Why is this feature being added?
I think the website can use a nice boost in a grid system because there is a lot of content that is wrapping on a new line due to flex-box. I think it would be a good idea to start thinking about a grid system to nicely layout the content.

This is solving the UX design issue. It is easier on the eyes and looks better.
## What should your feature do?

[2017-10-08 17:56] lebilly commented on #650
Sorry @Ckpuna4 I opened this Issue for myself but you can definitely submit a PR for it! I'm going through the website right now for design issues and there should be some easy ones. Just be on the look out for em.

[2017-10-08 17:59] Ckpuna4 commented on #650
@lebilly yes, I saw :)

[2017-10-08 18:09] lebilly opened #653 "Add some padding to the table on the list of Mentors and style buttons for consistency"
# Feature
## Why is this feature being added?

For a better visual experience. For now, I think we can get away with just adding some left/right padding but we probably should move towards a grid system for this type of stuff.

For the buttons, the colors are not the same shade of grey. I think we can make these buttons smaller and go for a more primary color that's consistent with our overall the

[2017-10-08 18:13] kylemh commented on #11
@ashu17706 you needn't to register with a valid email that you have access to.

The route can be "/our_programs"

We have FontAwesome listed as a dependency. You can see it in action on the shared component called IconCard. Check out font awesome's website to search for the relevant icons.

The text in the wireframe is what we'd like to see in the PR.

Be awares that there exists a timeline compon

[2017-10-08 18:15] pasierb commented on #653
@lebilly on it

[2017-10-08 18:22] #650 closed

[2017-10-08 18:23] kylemh commented on #652
The problem with using CSS Grids is that it doesn't have nearly the level of cross-browser support. If there were a way to organize concise fallbacks to flexbox when those browsers are met, we could move forward on this, but it definitely requires some more research/discussion

[2017-10-08 18:25] lebilly commented on #652
@kylemh Wasn't referring to CSS Grids but in general a grid system overall. Something that is similar to a lot of CSS frameworks out there like Bootstrap, Bulma, etc. Just a simple grid system layout.

[2017-10-08 18:25] kylemh commented on #455
@AryanJ-NYC I'll be trying to re-organize all the nav/router issues I own into more separate tasks and will explain the reasoning behind every choice. Looking at it now, perhaps `index.js` is the best move, but I'll explain why later tonight.

[2017-10-08 18:27] kylemh commented on #645
I've assigned myself as a placeholder for you @brascene

[2017-10-08 18:28] kylemh commented on #653
I've assigned myself to this issue as a placeholder for you @pasierb

[2017-10-08 18:31] sethbergman commented on #455
Evesy

[2017-10-08 18:32] kylemh commented on #652
I see. As long as it's just the integration of the grid stylings from some framework like Skeleton, and as long as every component with this behavior is fixed simultaneously, we can merge a PR to resolve this issue.

[2017-10-08 18:32] sethbergman commented on #455
Let me get off the phone. Lol

[2017-10-08 22:36] davidmolina opened #655 "Update /gala => /benefit"
@kylemh -- this is the new content for the page. Need /gala to redirect to /benefit (new page). Thinking it should look something like [this](http://cueartfoundation.org/2016-gala-and-benefit-auction/). I'm updating tickets next so it should be good shortly when it goes back online. When we go live again, will create an Eventbrite, and Calagator event to drive more traffic to the site. Thanks!

--

[2017-10-08 22:41] ksmacleod99 commented on #655
@kylemh I know you're busy, I can handle this if you need me to.

[2017-10-08 23:01] davidmolina commented on #655
Thanks @ksmacleod99, let me know what you need. The registration link is now updated.

[2017-10-08 23:38] lebilly commented on #643
Looks like this is still an issue. I wonder what the bug might be.

[2017-10-09 01:42] kylemh commented on #643
Waiting on https://github.com/OperationCode/operationcode_frontend/pull/647 review resolutions - it will fix it.

[2017-10-09 02:55] jjhampton commented on #629
I would prefer to use media queries & breakpoints (as @dmarchante mentions).  We can add constraining `flex-basis` rule to the membership-list-items at varying breakpoints, to enforce always having the same number of columns per row. It's very awkward how at certain screen widths, the last column wraps below, so you have 3 columns in the top row, then 1 in the bottom, as illustrated in this screen

[2017-10-09 02:58] kylemh commented on #629
^ something to consider instead of https://github.com/OperationCode/operationcode_frontend/issues/653 @lebilly

[2017-10-09 03:58] #627 closed

[2017-10-09 04:34] xrd commented on #655
HI @ksmacleod99, I'm interested in helping. Please contact me as soon as you can, I can definitely assist and get things running.

[2017-10-09 04:44] xrd commented on #655
@ksmacleod99 Looks like the site is back up. 👍

[2017-10-09 04:52] #655 closed

[2017-10-09 04:54] kylemh opened #657 "operationcode.org/benefit isn't linked anywhere"
# Bug Report
## What is the current behavior?
https://operationcode.org/benefit exists as a route, but is unlinked anywhere on the site.

## What is the expected behavior?
The landing page should have an announcement banner linking to the page.

[2017-10-09 05:34] jjhampton opened #658 "Remove Mentors & Requests tables from UI"
# Feature
## Why is this feature being added?
The current Mentors table does not provide valuable data to users. It's a list of mentor names and zip codes. Currently, logged in users can still easily request a mentor from their profile page.  We can remove this from the UI and regroup around other ways to improve the mentee / mentor interface (see https://github.com/OperationCode/operationcode/iss

[2017-10-09 05:39] jjhampton opened #659 "Remove Squads table from UI"
# Feature
## Why is this feature being added?
The current Squads table is an empty table that is not currently displaying anything.  We conducted several mentor-led squads in early 2017, but they're no longer a part of the OC Mentorship Program.  This UI and any related code should be removed from the UI.

## What should your feature do?
Remove the unneeded components (everything in 'scenes/home/s

[2017-10-09 05:42] jjhampton commented on #653
We can probably close this out, the Mentors table can be removed altogether IMO - see #658

[2017-10-09 05:47] #653 closed

[2017-10-09 05:48] riyanfirz commented on #659
i will working on this @jjhampton

[2017-10-09 05:49] jjhampton commented on #652
I'd prefer to manage each component on a case-by-case basis with CSS breakpoints/media queries, instead of bringing in an external CSS grid system.  We're already writing all of our own CSS anyway.

[2017-10-09 05:51] jjhampton commented on #659
Great @riyanfirz  - I will assign myself as a placeholder for now. Let us know if you have any questions.

[2017-10-09 05:53] riyanfirz commented on #659
Are content in red box is want to be removed

[2017-10-09 05:59] jjhampton commented on #659
@riyanfirz
* There should no longer be a navigation link to 'Squads' in the navigation bar at the top of the page.
* There should no longer be a navigation link to 'Squads' in the mobile-friendly navigation menu that slides out from the left side of the screen at smaller screen widths.

That will prevent the user from navigating to the 'Squads' page by clicking on a link.

Also, please remove ever

[2017-10-09 06:05] tal87 commented on #658
I would like to work on it if possible

[2017-10-09 06:23] rmkubik opened #660 "Header links on the home page have excess right margin"
# Bug Report
## What is the current behavior?
There is a large space on the right side of header links causing them to break onto a new line when there is plenty of free space.

## What is the expected behavior?
If there is excess space to the right of header links they should fill that space to stay as much on one line as possible. If breaking into two lines is desired, they should never break su

[2017-10-09 06:35] jjhampton commented on #613
I think the UX/UI requirements here should be thought through before additional development continues.

The large modal is overkill for the small amount of content that we're displaying here.  It results in an extreme amount of whitespace and a context switch for the user that seems unnecessary

It's also not a consistent experience for the user to suddenly add click actions to *some* of the cards

[2017-10-09 06:38] jjhampton commented on #660
@rmkubik What resolution/screen width were you experiencing this issue at? I'm unable to reproduce it on my system, Chrome on Win10.

[2017-10-09 06:45] tal87 commented on #613
@jjhampton make sense... we could try that.
@kylemh @hollomancer @dmarchante what do you guys think?

[2017-10-09 06:56] jjhampton commented on #660
This will be easier to restyle/troubleshoot once #658 & #659 are complete. That will remove three navigation links from the UI.

[2017-10-09 07:18] #657 closed

[2017-10-09 07:19] kylemh commented on #652
Agreed, I do believe we can implement fixes to areas of the code base utilizing flexbox. Since we're often creating grid-like flex containers, perhaps this issue could be converted and compromised to create a reusable FlexGridContainer component.

I imagine based upon the number of children (passed as a prop) and the number of items per row desired (passed as a prop), that we can properly render e

[2017-10-09 07:21] kylemh commented on #660
This largely related to all the issues we have for our nav bar. I'd like to close this issue simply because I don't want to have anybody making PRs with changes that will eventually be washed over with a more sustainable rewrite of that component.

[2017-10-09 07:21] #660 closed

[2017-10-09 07:21] kylemh commented on #658
@tal87 it's yours!

[2017-10-09 07:23] #629 closed

[2017-10-09 07:45] #616 closed

[2017-10-09 07:53] kylemh commented on #613
I think this also touches on an idea that I wanted to flesh out with @thedeany

Essentially, between viewing scholarships, contacting school representatives, and the future ability to review code schools, I don't believe our current SchoolCard component is reusable enough to compromise.

I believe we should put this, #364, and #489 on hold, and create a new component soliciting open design ideas f

[2017-10-09 07:56] kylemh commented on #364
@thedeany

I'm upset that I keep wasting your time in such a circular manner, but I feel like your wireframing skills could be put to good use re: https://github.com/OperationCode/operationcode_frontend/issues/613#issuecomment-335087068

If staffers agree, we'll be creating an issue that I'll tag you on. The issue would be an open solicitation towards a wireframe of an improvement on the UI and UX

[2017-10-09 08:11] #614 closed

[2017-10-09 08:21] #499 closed

[2017-10-09 08:32] kylemh commented on #645
@lebilly I actually believe the intended behavior is supposed be while the user enters their information. The error resolves once typical email regex matches that input. Perhaps there's a way to redefine this issue so that the error doesn't fire until it's clear the user is not putting in an email.

A "dumb" way of doing this would be to hold off on firing unless submitted w/o a valid email OR if

[2017-10-09 16:50] ashu17706 commented on #634
@hollomancer Yes. sure. I am gonna follow these steps to work on it. But before I start with this I am closing Our Programs page. 😄

1. Create wireframes
2. Get it reviewed from @kylemh
3. If I get a go ahead, I will work on components.
4. Raise a pull request and discuss and work on till final merge.

[2017-10-09 17:21] thedeany commented on #613
@tal87's modal idea is what I was going to suggest. Perhaps there could be multiples "tabs" in the modal each containing different aspects of the institution. For instance, a "main" tab which shows more of the school's information including the "Contact" link (#364), a "Scholarships" tab, a "Reviews" tab (#489), etc.

[2017-10-09 17:27] dmarchante commented on #613
IMO the only way that the modal makes sense if we add the additional information to all the cards. I know we have a lot of info to add, and I remember conversations about reducing the info to put on the cards. However, @tal87 idea to implement a modal m address the issue of adding that additional info that end-users may want. Additionally, it keeps those users on our site and doesn't make them nav

[2017-10-09 17:30] tal87 commented on #613
@thedeany I do like the tabs idea a lot

[2017-10-09 18:02] #658 closed

[2017-10-09 20:54] kylemh commented on #634
@ashu17706 any Owner of the repo may also approve your wireframe!

[2017-10-09 20:57] kylemh opened #667 "Remove .vscode folder"
The `.vscode/` folder serves only those who use VS Code. I'd rather remove it than principally support configuration setups for every text editor.

[2017-10-09 21:18] #667 closed

[2017-10-09 22:22] thedeany commented on #613
If not tabs, what about if the modal content is scrollable and the information could be listed in sections? Less clicks to access the information.

[2017-10-10 01:02] kylemh commented on #643
Still seems to be an issue on Linux Fedora 23, Chrome 59

[2017-10-11 23:37] jjhampton opened #672 "Change Airtable Mentor Request Form 'specific languages' options to match mentor skillsets"
# Feature
## Why is this feature being added?
We currently have 82 Mentors listed in Airtable with one or more of the following skillsets:
- Web (Frontend Development)
- Web (Backend Development)
- Mobile (Android)
- Mobile (iOS)
- Java
- JavaScript
- Python
- Ruby/Rails
- SQL
- C#/.NET
- C / C++
- Design/UX
- DevOps
- Data Science

The current Airtable Mentor Request Signup form linked to from th

[2017-10-12 01:19] kylemh commented on #366
general process:

1. get the highest-quality image file of the code school's logo you can find
2. open some kind of photo manipulation software (I use photoshop)
3. create a 200x200 white square
4. paste the logo
5. ensure that there is at least a 15 pixel margin between every square edge and the logo itself
6. save the file as a JPEG

[2017-10-12 01:26] rmkubik commented on #366
I'll take care of this one

[2017-10-12 01:29] kylemh commented on #366
Assigning myself to this one as a placeholder.

[2017-10-12 02:15] kylemh opened #676 "Create an image file size check on a git hook"
# Feature
## Why is this feature being added?
Some images are very unnecessarily large and high quality. It's also hard to remember to check for t this issue when reviewing code.

## What should your feature do?
To prevent needing to remember to look for this issue in PRs, add a Git Hook that prevents users from adding images that are over 1MB in size.

[2017-10-12 02:26] #386 closed

[2017-10-12 12:26] hollomancer opened #680 "Design: Include latest Meetups on front page of site"

[2017-10-12 12:27] hollomancer opened #681 "Design: Restyle Medium blog in the same format as the rest of our site"
Our Medium blog at https://medium.com/operation-code currently uses our old branding and color scheme.

I would like a new design that more closely mirrors what we have on the current site.

[2017-10-12 12:37] #366 closed

[2017-10-12 15:47] rmkubik commented on #672
Does this issues require any updating on the receiving end of the API or is this purely a change in the form components?

[2017-10-12 19:01] mduleone opened #682 "Unnecessary .jshintrc and .jshintignore files are generated during installation process"
# Bug Report
## What is the current behavior?

Currently, running `yarn` immediately after cloning will generate `.jshintrc` and `.jshintignore`, which are not checked in to source control.

## What is the expected behavior?
`.jshintignore` and `.jshintrc` shouldn't be created. If it's impossible to avoid, they should be excluded from the repository via `.gitignore` additions.

## What steps did y

[2017-10-12 19:23] mduleone commented on #672
It looks like the language options are being enumerated on line 60 of `src/scenes/home/mentorRequest/mentorRequest.js`, represented below:

Should
[code]

It looks like the values are not the same pretty-printed Are the values associated with specific labels on the backend that we should be aware of?

Something tells me updating to

[code]

is going to cause more a headaches

[2017-10-12 19:29] rmkubik commented on #672
That's what I was concerned about. @mduleone
AirTable is described as a database/spreadsheet hybrid though so I think it may just be a loose text relationship.

[2017-10-12 19:29] inkhsutesou commented on #643
For the purpose of this issue, I've created a fork that seems to have fixed it

https://github.com/inkhsutesou/operationcode_frontend

In
operationcode_frontend\src\shared\components\imageListItem\imageListItem.css

Change
  border-radius: 50%;
to
  border-radius: 1000000px;

This will prevent the possibility of oblong shapes and only allow " rounded " corners

Example here
https://codepen.io/inkh

[2017-10-12 19:29] mduleone commented on #672
Also, it looks like the submitted `languageType` is currently a string, will it be okay if that's updated to be an array?

[2017-10-12 19:32] inkhsutesou commented on #643
For the purpose of this issue, I've created a fork that seems to have fixed it

https://github.com/inkhsutesou/operationcode_frontend

In
operationcode_frontend\src\shared\components\imageListItem\imageListItem.css

Change
border-radius: 50%;
to
border-radius: 1000000px;

And add
min-height: 150px;
min-width: 150px;

This will prevent the possibility of oblong shapes and only allow " rounded " cor

[2017-10-12 19:58] mduleone commented on #672
I see you've rolled your own Select component... How y'all feel about bringing in [React Select](https://github.com/JedWatson/react-select) to get a multi-select for free?

[2017-10-12 22:52] jjhampton commented on #672
@mduleone We are actually already using React Select within our application for multi-select - it's implemented within the [StateSortedSchools](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/codeSchools/stateSortedSchools/stateSortedSchools.js) component.

[2017-10-12 23:06] jjhampton commented on #672
@rmkubik @mduleone This issue actually doesn't require any changes to the front-end application's components at this time.  Currently, the form we use to submit Mentor Requests is the native Airtables form at https://airtable.com/shrPzqty0aXtfWuuq, which is linked to from the nav-header on the Operation Code page.  We can continue to use the Airtables form UI until we have a pressing reason to swi

[2017-10-13 00:35] jjhampton commented on #659
@riyanfirz Are you still interested in working on this issue?

[2017-10-13 03:03] PSkaggs commented on #643
Not a fix.  The images below is from your own pen.
![screen shot 2017-10-12 at 7 48 30 pm](https://user-images.githubusercontent.com/7946467/31528360-a6c7fbc0-af87-11e7-9a8e-39d9ddc81ad6.png)

The intent is to have a circle, not just round the corners.
This is most likely a JavaScript issue because you can disable the `border-radius` in the dev tools and the re-enable it and it looks fine.

[2017-10-13 13:57] sethbergman opened #686 "Add Badges to README.md - Open Discussion"
# Feature
Add badges to our README, similar to what other well maintained projects implement to generate revenue and contributors in the open source community.

## Why is this feature being added?

The first one, just off the top of my head is Code Sponsor. There are many more, like the `all-contributors` badge which will need to be implemented as a `git-hook` so that we can display our contributo

[2017-10-13 14:01] sethbergman commented on #681
I'd be happy to look into this. I've never used Medium's style editor - what would it take to get access to login?

[2017-10-13 16:50] Melon-Bread commented on #686
I would like to add a Twitter follow badge if that is all right. I have PR ready if one would like to make a separate Issue about it like stated above. The badge would like like this:
[![Twitter Follow](https://img.shields.io/twitter/follow/operation_code.svg?style=social&label=Follow&style=plastic)](https://twitter.com/operation_code)

[2017-10-13 17:54] hollomancer commented on #681
@sethbergman let me see about getting you access

[2017-10-13 18:14] kylemh opened #690 "Remove old Sabio logo in src/images/codeSchoolLogos"
# Feature
## Paired Issue
Please note this issue requires simultaneous resolution with
https://github.com/OperationCode/operationcode_backend/issues/178

## Why is this feature being added?
Currently, we have 2 logos for Sabio. Ideally, for file size, we utilize `.jpg`s for the code school logos, but there is a need for the Sabio logo to have a transparent background. It seems to match the specifi

[2017-10-13 18:20] shawnlknight commented on #690
I'd love to take this issue! And of course the backend issue as well.

[2017-10-13 21:06] hollomancer commented on #681
@sethbergman, what's your Medium account name?

[2017-10-13 21:14] hollomancer commented on #686
@Melon-Bread, I'm down with that. Submit a PR!

[2017-10-13 23:54] hollomancer commented on #72
This will use Airtable for the inventory system. Getting a link to the API now.

[2017-10-13 23:56] hollomancer commented on #304
I agree that this is not critical right now.

[2017-10-13 23:56] #304 closed

[2017-10-13 23:57] hollomancer commented on #259
Opening this as a task for design/wireframe to Hacktoberfest.

[2017-10-13 23:58] hollomancer commented on #249
This is no longer blocked. Who wants it? :D

[2017-10-14 00:00] hollomancer commented on #274
I need to sort this out

[2017-10-14 00:03] hollomancer commented on #483
Let's reopen when we have a better understanding of what this adds, and where it needs to be.

[2017-10-14 00:03] #483 closed

[2017-10-14 00:03] hollomancer commented on #356
This needs design work. Any takers?

[2017-10-14 00:03] hollomancer commented on #364
Agree, let's do it @kylemh

[2017-10-14 00:04] thinkingserious commented on #274
@hollomancer,

You can use the attached. Thanks!

![elmer thomas headshot](https://user-images.githubusercontent.com/146695/31570462-9a822ed8-b038-11e7-99c6-901ca71605c8.png)

[2017-10-14 00:07] kylemh commented on #682
I'd like to reorient this issue to preventing those files from event being created in the first place.

Are we certain yarn is the cause of those files?

[2017-10-14 00:10] kylemh commented on #690
@shawnlknight it's yours!

I'm assigning myself as a placeholder for your work.

[2017-10-14 00:11] mduleone commented on #682
Running `yarn` to install the dependencies is what created the files. Why move them away from source control?

Ensuring that the codebase is properly linted seems to be a [precommit hook](https://github.com/OperationCode/operationcode_frontend/blob/master/package.json#L128-L132), shouldn't the linting controls be included in the source control to guarantee that everyone is following the same codin

[2017-10-14 00:31] hollomancer commented on #113
Now we just need someone to write some automated UI tests :)

[2017-10-14 00:33] hollomancer commented on #72
Okay, this needs to be detailed more @davidmolina. Airtable is at https://airtable.com/tblypV2duklU3HA9O/viwvJOyli7QZceeK7

[2017-10-14 02:24] lebilly commented on #645
Yes, I was thinking of the first option you suggested. I personally think it should fire off upon submission if the email wasn't correct and then it should show an error message. But this can go both ways since I understand what the intended behavior is like. You can close this issue if you like.

[2017-10-14 06:23] Hiren-Mehta commented on #356
Current home of the source code: https://github.com/OperationCode/vettec

[2017-10-15 05:27] riyanfirz commented on #659
@jjhampton i'm sorry is to hard to work on this issue

[2017-10-15 05:29] riyanfirz commented on #659
@jjhampton i can't continue this issue. maybe the other can

[2017-10-15 11:30] devronhansen commented on #474
Do i have to do anything to get this reviewed again?

[2017-10-15 19:18] rmkubik commented on #249
I can work on this.

[2017-10-15 20:54] hollomancer opened #695 "Add Zapier as a sponsor"
# Feature
## Why is this feature being added?
Zapier has agreed to sponsor us with a free plan! We just need to add them to our front page.

## What should your feature do?
Add this image to the sponsors section of the frontpage, linking to www.zapier.com.

![image](https://user-images.githubusercontent.com/9288648/31589096-6e4b40d8-b1c9-11e7-92a0-11630c4f9b68.png)

[2017-10-15 20:54] juniorvid commented on #695
I'm on it!

[2017-10-15 21:12] JABollinger commented on #695
I would like to help with this.

[2017-10-15 21:36] devronhansen commented on #659
So everything related to squads should be removed right?

[2017-10-15 21:38] knight2 commented on #695
#696 submitted pull request

@JABollinger Didn't see a solution so I just submitted a PR.

[2017-10-15 22:10] JABollinger commented on #695
@knight2 I'm still a beginner so it took me some time to make this pull request.

@hollomancer I modified the logo to make it square and fit with the styling of the rest of the logos. Is that okay?

[2017-10-15 22:16] #695 closed

[2017-10-15 22:18] hollomancer opened #699 "On Chrome, the Success Stories photos are squished."
On Chrome, the Success Stories photos are squished.

<img width="747" alt="screen shot 2017-10-15 at 6 17 08 pm" src="https://user-images.githubusercontent.com/9288648/31589794-45e6389e-b1d5-11e7-9175-60840e1a742a.png">

[2017-10-15 23:17] jjhampton commented on #659
@devronhansen That is correct I'll take a look at #698

[2017-10-15 23:48] Diongatea commented on #699
I would like to fix this

[2017-10-15 23:52] jjhampton commented on #699
@Diongatea Go for it. Looks like it may be something as simple as adding `flex: 1 0 auto` to the .cardImage class inside imageListItem.css .

[2017-10-15 23:52] jjhampton commented on #699
@Diongatea I will add myself as a placeholder assignee to this, so you can work on it.

[2017-10-15 23:54] jjhampton commented on #699
Similar to #643

[2017-10-16 00:26] jjhampton opened #701 "Google Font 'Noto-serif' not displaying on production"
# Bug Report
## What is the current behavior?
Certain components should be using the Google Font 'Noto-serif', but fail to do so, on production at www.operationcode.org: Membership (on the Landing Page), links on Scholarship Preview, IconCard, and QuoteBanner.  In the Chrome DevTools Network tab, no CSS request is being made to Google Fonts (this
is observed in development mode).
## What is the ex

[2017-10-16 00:39] #699 closed

[2017-10-16 01:03] #690 closed

[2017-10-16 02:12] jjhampton opened #702 "Cleanup: Remove obsolete Dashboard scene"
# Feature
## Why is this feature being added?

Navigating to `/home` loads a Dashboard scene. It once contained links to the now-obsolete Mentors and Squads tables.  Currently it only contains a link to the Airtable Mentor Request form (if the user is not a Mentor).  This page is not linked to from anywhere within the app.

It's possible the the Profile scene at `/profile` has replaced what this D

[2017-10-16 03:10] jjhampton commented on #682
@mduleone Yes, we want to ensure that the codebase is properly linted, but we're currently using ESLint for that (w/ `.eslintrc` and `.eslintignore` files), which are checked into source control.

We haven't made the decision to use JSHint, which is why those files were deemed as unnecessary.

[2017-10-16 03:20] jjhampton commented on #682
@kylemh It looks like these `.jshintrc` and `.jshintignore` are being added by the NPM precommit-hook package that was added ~ 10 days ago.  Per the [docs](https://www.npmjs.com/package/precommit-hook#usage):
'When you install this project, by default it will create sane .jshintignore and .jshintrc files for you if they do not already exist.'

I say we just add it to the .gitignore and call it a d

[2017-10-16 03:55] jjhampton commented on #672
I've updated the Airtable form to allow mentees to multi-select mentor skillsets.  I've updated the available options so that all 14 of the Mentor Skillsets are now selectable.

[2017-10-16 03:55] #672 closed

[2017-10-16 15:54] tal87 commented on #701
Hey @jjhampton, I would like to take it if possible.

[2017-10-17 08:12] #702 closed

[2017-10-17 15:11] hollomancer opened #705 "Remove "Our Team" section from "Team" page."
@davidmolina, Rick and I don't want to separate ourselves from the rest of the team. We need to update the team page, but for now, remove us, and replace "Staff" with "Team."

[2017-10-17 15:19] civan commented on #705
I can take this one!

[2017-10-17 15:22] oldmill1 commented on #705
https://github.com/OperationCode/operationcode_frontend/pull/706 My first one.

[2017-10-17 16:37] kylemh commented on #676
@garuna-m6 we already have 2 PRs in place on this one!

[2017-10-17 18:47] tal87 commented on #701
Hey @jjhampton I can't seem to have enough time to work on this issue currently as I've been quite busy lately and I couldn't really figure it out just yet.
Feel free to give it to anyone else.
sorry for the delay.

[2017-10-18 15:08] AishaBlake commented on #79
@chrismgonzalez I got hit with a bunch of other work and would love some help getting this done! Are you still interested?

[2017-10-18 21:46] #705 closed

[2017-10-18 22:06] kylemh commented on #79
OP has been edited. We'd like to emulate the UI located here: https://bloc.io/mentors

[2017-10-18 23:39] hollomancer opened #710 "Ensure the Board Card component has room for a three-sentence bio"
On the Board cards on the bottom of https://operationcode.org/team, it is less critical that we share the role of the board member, and more critical that we share some bio information about them (as well as a link to their twitter). This can take a number of forms, including just having a paragraph block underneath the description, revealing it on mouseover, clicking it, etc.

Will need some desi

[2017-10-19 01:21] samnunnally commented on #710
Something like this?
![image](https://user-images.githubusercontent.com/5244725/31749805-32d15f64-b44a-11e7-813a-a2a8b6d13445.png)

[2017-10-19 01:35] hollomancer commented on #710
That looks great, @samnunnally!

[2017-10-19 02:00] hpjaj commented on #79
@hollomancer - To avoid any duplicated efforts on the behalf of our contributors, we should probably close this issue.  Reason being, we will be creating a number of dedicated front and backend issues around this feature, stemming from the new [Mentors Showcase card](https://github.com/OperationCode/operationcode/issues/774) in the project roadmap.

[2017-10-19 02:29] hollomancer commented on #79
Agreed.

[2017-10-19 02:29] #79 closed

[2017-10-19 11:12] hollomancer commented on #710
Hmm, I think BoardCard is going to need a 'description' field as well.

[2017-10-19 13:19] dmarchante opened #713 "Dashboard Visual Balance (id.me verification)"
# Feature
## Why is this feature being added?

id.me verification message renders right justified and font size is too large, and creates a visual imbalance for the dashboard.
## What should your feature do?

It should render below the icons to allow for visual balance, and font-size should be reduced
---

## Additional Info
### Operating System
Windows 10
### Browser
Firefox
### Screenshots
![das

[2017-10-19 20:47] NestorSegura commented on #12
Hi guys, I just wanted to apologize, I was very busy the last time and also a little sick. I will get back to this issue next week! cheers

[2017-10-20 16:42] samnunnally commented on #710
Updated PR https://github.com/OperationCode/operationcode_frontend/pull/711

[2017-10-20 21:11] hollomancer opened #715 "Rework scholarships on front page"
# Feature
## Why is this feature being added?
Add enough room to put our events on the front page.

## What should your feature do?
1. Move "Code School Scholarships" before "Conference Scholarships."
2. Change copy on "Code School Scholarships" to,

3. Change "Code School Scholarships" title to "Scholarships."
4. Link the image and text to our Code Schools page (this is just for now)

[2017-10-20 21:20] hollomancer opened #716 "Create Community card section under What We Do (should be done after #715)"
# Feature
## Why is this feature being added?
We don't highlight our meetups on the front page. This is an MVP until we integrate the Meetup API.

## What should your feature do?
Add an entry under 'What We Do', under the Scholarships, called 'Community Events'.
* Copy: Join one of our chapters throughout the country at our local meetups, and learn with fellow members of the military community.
*

[2017-10-20 22:02] SoerenTerh commented on #715
I'll chip in here!

[2017-10-21 14:48] seeksort commented on #327
Still working on this, I've just been busy. I had a question though, what are everyone's thoughts on having a central `__tests__` directory vs. a subdirectory in each component subfolder? Ryan Florence of React Router suggests having a [separate`__tests__` subdirectory](https://gist.github.com/ryanflorence/daafb1e3cb8ad740b346#tests) for each component. I've seen it done both ways, though.

[2017-10-21 18:55] ATMartin commented on #701
Addressed in #719. Thanks! :)

[2017-10-21 19:18] ATMartin commented on #682
Addressed in #720.

I'd love to contribute to the bigger issues here - just cleaning up some of the little things while I browse this repo. Thanks for this great project/org!

[2017-10-22 01:28] MelisaIm commented on #713
I added a CSS fix by checking whether the verified prop is being passed or not. If it is, it will display the top buttons centered and move the "your profile is verified with id.me" text to the next line. I changed the text from h2 to h5 for smaller sizing. If the prop is not passed, it will display the get verified text on the right hand side as usual. Will issue a pull request soon, let me know

[2017-10-22 16:19] NestorSegura commented on #12
I just did a prototype for this landing page. What do you think about it?
![get-involved-ladingpage](https://user-images.githubusercontent.com/11391161/31863941-808015a8-b755-11e7-9259-ad33ced20a4c.jpg)

[2017-10-22 18:40] jeremysb1 commented on #12
This looks really good. If you have a Get Involved page where folks can Join, Donate, Volunteer, etc, then you should replace "Donate" and "Join" with "Get Involved" on the menu at the top upper right of the page.

[2017-10-22 18:43] jeremysb1 commented on #12
absolutely add pics of conferences, local chapter meetings, coding schools, etc. @hollomancer

[2017-10-22 18:53] kylemh commented on #12
I like both the suggestions above, and the wifeframe that Nestor posted!

**One edit suggestion:**
“Why give to…” and “Your support enables…” seem synonymous. I think it would be best to combine those sections into the picture/bullet list section style - provide a truly comprehensive list describing why people should help us.

**Some implementation notes:**
+ Implement the ability for a steel gray

[2017-10-22 18:57] kylemh commented on #680
@hollomancer is this not covered in #214

[2017-10-22 19:00] kylemh commented on #686
@sethbergman think we can close this? A lot of the badges have been added. I think our README is in good condition.

[2017-10-22 19:01] hollomancer commented on #680
It is

[2017-10-22 19:01] #680 closed

[2017-10-22 19:03] kylemh commented on #113
#327 💃

[2017-10-22 19:04] kylemh commented on #113
As for resolving the issue, I think implementing some documentation on using Browser Stack would be good enough to close this.

[2017-10-22 19:07] kylemh commented on #645
I think there's merit to your original motive in creating the issue. What does @team_frontend think about this?

[2017-10-22 19:13] kylemh commented on #659
Closed in #698

[2017-10-22 19:13] #659 closed

[2017-10-22 19:21] #701 closed

[2017-10-22 19:24] #682 closed

[2017-10-22 19:26] kylemh commented on #327
@seeksort no problem, as it seems you're the only person interested in helping with tests 😆

I'm really not experienced enough to have an opinion on the matter. My first inclination is to stick with what people are most familiar with in a central `__tests__` directory, since we work with many new developers. I see Ryan Florence's points, but what do you think?

[2017-10-22 20:26] ianroberts131 commented on #716
I'll go ahead and take this 1 once #715 is merged

[2017-10-22 21:47] NestorSegura commented on #12
Following your thoughts I made a few modifications to the initial layout. I think this could be more accurate to the proposition and needs.

** files and infos needed **
I would need from any of you to provide the pictures for each section and some Fontawesome icons that we could use on the list sections.

**My thoughts behind this idea**
Then I choose to use to diferent lead buttons for the peopl

[2017-10-22 23:11] kylemh commented on #12
I like that one as is. Perfect and taking advantage of reusability.

[2017-10-22 23:30] kylemh commented on #613
That is definitely an AB testing candidate - I have no idea which is best. I think wireframing both examples is on my to-do tonight.

[2017-10-22 23:47] kylemh commented on #716
I've assigned myself as a placeholder for your work @ianroberts131

[2017-10-23 01:36] #713 closed

[2017-10-23 03:03] #710 closed

[2017-10-23 07:13] NestorSegura commented on #12
Ok great, I will start with the implementation.

Where do you think should I place the components? direct under components? oder should I create one named ...components/sections?

I see there 2 components to be created and 1 optional

- Hero Header width 2 Btns
- List with Imgs Component

- maybe btns with size and color options, small, medium, big. Red, green, blue, etc. (optional if there isn't

[2017-10-23 07:19] kylemh commented on #12
You'll actually be able to dynamically render the background image for the route, by following practices in-progress by @rmkubik [here](https://github.com/rmkubik/operationcode_frontend/blob/c4f830af1a85b94f980ebeb01ef73c753a6c762e/src/scenes/home/home.js). Then you can add buttons by following the implementation in-place on our [landing page](https://github.com/OperationCode/operationcode_fronten

[2017-10-23 09:01] NestorSegura commented on #12
I would re-implement the Landing Page Hero css properties for better use of flexbox. Is that ok? or should I open a new issue for that?

I want to give the header a fixed height and position the items within, with the justify content property. So I can remove the padding set there and always have the information centered aligned.

[2017-10-23 18:19] kylemh commented on #12
@NestorSegura go ahead and implement in your PR - I'll review the work 👍

[2017-10-24 16:03] ashu17706 commented on #634
As I have completed most of the work of Our Program page. I would like to start with this.
@kylemh @hollomancer Can someone guide me where to start?

[2017-10-28 22:53] kylemh commented on #634
@ashu17706 do you mind pasting links to the wireframe here for the sake of easy documentation trail?

[2017-10-29 23:54] kevinkiklee opened #725 "Banner titles under Who We Serve are not vertically aligned"
# Bug Report
## What is the current behavior?
![screenshot_20171029_193455](https://user-images.githubusercontent.com/6038067/32149914-07849f1a-bce2-11e7-8f30-7c8a69353670.png)

The vertical alignments of the first two banners are misaligned.

## What is the expected behavior?

The vertical alignments of the first two banners should match the third banner.

## Additional Info
### Operating System

[2017-10-30 18:08] #725 closed

[2017-10-31 02:06] sethbergman opened #729 "Update README.md and Minor Fixes"
# Bug Report
README currently reflects the promotion of Hacktoberfest, which is over. I also made some minor grammatical corrections under the Success Stories section, and moved the donate link on the about page to Open Collective.

[2017-10-31 02:22] sethbergman commented on #364
This may help:
https://github.com/ummahusla/react-simple-card

[2017-10-31 06:49] #729 closed

[2017-11-03 05:56] sethbergman commented on #145
I am going to hand this over to @kylemh because he has done more work with the frontend. He has made many decisions about folder structure, .eslint config, and has taken more of an ownership of the vision for the frontend repo than I, so I will let him architect the style guide.

[2017-11-05 17:36] MikeTheCanuck commented on #645
There's a third option: perform validation as soon as the user has navigated from the Email field to the Password field.

Until the user has finished typing their email, there's no point validating an in-progress entry.

However, waiting until after the user has submitted seems later than necessary, since you can tell as soon as they "finish" entering their Email whether it meets validation rules.

[2017-11-05 21:50] kylemh commented on #645
So, we've got three different ideas on this hahaha

I'll put it up for a poll on the Slack team.

[2017-11-06 08:34] danedavid commented on #715
still available ?

[2017-11-06 17:06] bretfunk commented on #520
@kylemh I would be happy to work on this.

[2017-11-08 18:58] kylemh commented on #520
Assigned myself as a placeholder.

[2017-11-10 20:11] pkaeding opened #737 "broken link to blog in FAQ"
# Bug Report
## What is the current behavior?
In [the FAQ page](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/faq/questions.json#L45:32), there is a link to `/blog` which results in a 404.

## What is the expected behavior?
It should go somewhere useful.

## What steps did you take to get this behavior?
Clicked the link, trying to find the answer to my questio

[2017-11-11 00:27] kylemh commented on #737
Thanks for documenting this issue!

[2017-11-17 18:59] #249 closed

[2017-11-24 17:19] jeremysb1 opened #744 "Add Bot/Chat Box on Homepage"
Add an AI/Chat Bot on homepage for site visitors to interact and ask questions; the entire interaction is captured by the bot/chat box and routed to the appropriate staff team to follow up on.

Allows visitors to ask questions, find information, and learn more about operation code without having to email and wait for a response or dig for information. This will speed everything up by  creating a m

[2017-11-24 20:15] jeremysb1 opened #745 "Email newsletter signup form"
An email newsletter signup form

It's being added to allow members to signup for a weekly email to keep our community in the loop on resources, news about operation code, and to spread the word about our organization. Email marketing is a primary tool by high-growth organizations to add new members, source new partnerships and opportunities, and spread the love.

It's solves a huge need in our mar

[2017-11-25 09:51] sethbergman commented on #481
Closing this out.

[2017-11-25 09:51] #481 closed

[2017-11-25 09:52] sethbergman commented on #486
Closing this

[2017-11-25 09:52] #486 closed

[2017-11-25 09:53] sethbergman commented on #487
Agree, let's close this.

[2017-11-25 09:53] #487 closed

[2017-11-25 09:55] sethbergman commented on #434
Closing this for now.

[2017-11-25 09:55] #434 closed

[2017-11-26 21:02] hollomancer opened #747 "Stop directing traffic to Discourse"
# Feature
## Why is this feature being added?
Discourse is not gaining traction. Let's double down on Slack and email marketing.

## What should your feature do?
Don't shut down Discourse yet - instead, find all areas where it's referenced in the frontend and backend (either Discourse, or community.operationcode.org) and remove them.

[2017-11-26 21:10] kylemh commented on #747
Reference areas:
- Greeting Email
- User Dashboard
- ?

[2017-11-26 21:42] hollomancer commented on #747
community.operationcode.org should go to the user dashboard, maybe? Also, the FAQ mentions it too, I believe.

[2017-12-01 13:50] kylemh commented on #745
By registering, a user is opting into our email newsletters. I don't think we need to create a separate interface for it, but we should add the ability to opt-out of the newsletter. If @team_frontend agrees, I'll edit OP.

[2017-12-01 13:51] kylemh commented on #744
I personally dislike the idea of a chat bot on the home page. We've had it in the past - I believe it just distracts from what we want our users to do (register and get on Slack).

[2017-12-02 15:56] isnotafunction commented on #737
I was going to try to fix this issue (as my first attempt at making a pull request) and I wasn't able to find an active blog apart from Medium page: https://medium.com/@operation_code; Would it be ok to use that or would you prefer 'or our blog' part to be removed altogether?

[2017-12-02 16:06] hollomancer commented on #737
Yup, that link should work!

[2017-12-02 17:37] #737 closed

[2017-12-03 02:53] kylemh opened #749 "BoardCard Component Rework"
# Feature
## Why is this feature being added?
Please read the entirety of https://github.com/OperationCode/operationcode_frontend/pull/712

As you can see, we need to expand the usability of the `<BoardCard>` component.

## What should your feature do?
- Change styles for the `<div>` under the "Our Board" `<Section />` in `team.js` to be more responsive under the load of more than 5 board members.

[2017-12-06 12:06] #121 closed

[2017-12-06 12:14] #715 closed

[2017-12-06 17:47] jeremysb1 opened #751 "Add devCodeCamp to list of coding schools"
We need to add devCodeCamp to our list of VA approved code schools on our website.

They are GI bill approved, based in Milwaukee Wisconsin, and have a full-time day program as well as a part-time evening program (so full-time commitment isn't required). Hardware isn't included.

http://devcodecamp.com/

[2017-12-06 17:57] jeremysb1 commented on #751
![devlogo-black-sq](https://user-images.githubusercontent.com/21281011/33676868-280da4fc-da74-11e7-8147-233c81ff66c8.png)
logos attached
![devlogo-black-long](https://user-images.githubusercontent.com/21281011/33676861-23de19de-da74-11e7-9889-f73c0934cd7f.png)

[2017-12-06 17:57] jeremysb1 commented on #751
![devlogo-black-long](https://user-images.githubusercontent.com/21281011/33676906-44ac1922-da74-11e7-807c-63ca0672f1bc.png)

![devlogo-black-sq](https://user-images.githubusercontent.com/21281011/33676917-4c180b94-da74-11e7-9997-abadca88232a.png)

[2017-12-07 09:18] jeremysb1 commented on #744
my understanding is we only had drift. not a chat bot.

i think a lot of folks get to the website, are very unsure what to do next, may have never heard of slack, and want to ask some easy questions to get started. while we want as many tech savvy folks as possible to sign up, we also want as many folks who have never written a line of code to sign up too.

[2017-12-07 09:21] kylemh commented on #744
This I agree with, and I blame myself for not coming up with a successful UX on the landing page. I still stand by my original statement on having any kind of client-side communication (human, bot, or otherwise), but the overarching problem you identified requires critical attention. If others could weigh in, I'd like to hear more thoughts on this - maybe I'm just anti-chat window on websites and

[2017-12-07 10:01] jeremysb1 commented on #745
that's not going to work to meet the organization's growth strategy. we're not slack or stripe.

marketing, which has been non-existent, is the foundation of our strategy moving forward. it's how organizations scale. we want more new members, and as many folks coming to us as possible to partner with us -- corporations, nonprofits, colleges, employers, code schools, etc. those folks won't be regis

[2017-12-07 12:27] #749 closed

[2017-12-07 19:23] PixelWitch opened #754 "Bug: first page of signup-info has a back button that doesn't do anything"
# Bug Report
## What is the current behavior?
The first page of /signup-info (the profile survey) has a back button labeled "Go Back" that does nothing.

## What is the expected behavior?
Go back to initial registration screen where name, email, password, and zip is inputted.

## What steps did you take to get this behavior?
Logged in with social sign-on branch and went to /signup-info, also tried

[2017-12-07 19:36] kylemh commented on #754
I'd like the "Go Back" button to work for regular registrants, but for social login registrants, the "Go Back" button should go back to /login while also removing the cookies related to the cookies that were just stored.

[2017-12-07 21:40] dmarchante commented on #747
Mentor bot still references discourse, should be removed from Mentor bot.

[2017-12-08 04:30] nellshamrell commented on #745
Hi @jeremysb1 - I am so glad we have your expertise in our org, I'm looking forward to working with you!

I agree with you on the need for an email list sign up on the website, but want to talk a little bit about your workflow so we can best serve your needs.  Is there any software you are planning to use for sending out these emails?  I know we have used Mailchimp in the past.  Using them again -

[2017-12-08 06:37] jeremysb1 commented on #745
we are using sendgrid which has the same features as mailchimp. they are a sponsor so we don't pay. the opt-out is built-in.

users for OpCode are both members and nonmembers but partners is some capacity:

(1) a business partner/sponsor/code school/non profit partner/etc -- won't become a member;
(2) someone not ready to join operation code yet, but wants to learn more -- may become a member
(3)

[2017-12-08 14:19] tal87 commented on #751
I would like to take it if possible

[2017-12-08 16:41] jeremysb1 commented on #744
well, perhaps before we add a bot we a/b test and optimize the hell out of the homepage first.

[2017-12-08 17:56] jeremysb1 commented on #751
@tal87 I have no idea. they are a partner and they should be up on the site.

[2017-12-08 18:09] kylemh commented on #751
@tal87 @jeremysb1 this is something we should add to some documentation: "how to make issues for adding bootcamps to the site"

1. Copy [this format](https://github.com/OperationCode/operationcode_backend/issues/196) and create an issue on the backend.

2. Create an issue on the front-end to add the bootcamp's images following [these instructions](https://github.com/OperationCode/operationcode_fro

[2017-12-10 20:02] #716 closed

[2017-12-11 02:00] nellshamrell commented on #745
Here's what I'm seeing as required for this:

1) An email list created in SendGrid for our mailing list (beyond the members list)
2) A form created on the front page of the operationcode_frontend (I'll consult with a UX person and the front end team on this) - I imagine the form would only require an email address?
3) When that form is submitted, it should submit an API call to operationcode_backe

[2017-12-11 02:36] nellshamrell commented on #745
One more question - should members automatically be added to this email list as well (along with the members email list?)?  Or is this only targeted toward non-members?  (Or, I suppose, anyone could sign up for both)

[2017-12-11 02:41] hollomancer commented on #745
I'd like to get a sense of where we want to have this on the frontend. I agree that we need some way of acquiring emails for folks who aren't necessarily wanting to commit to being members, but want to learn more about us. Potential sponsors, partners, etc.

[2017-12-11 03:04] nellshamrell commented on #745
@jeremysb1 could you respond to @hollomancer when you get a chance?

[2017-12-11 17:46] jeremysb1 commented on #745
1. a form on the website similar to the one black girls code use to capture email addresses, which will be added to the one and only email list;
2. when the form is submitted the email address is added to our list inside sendgrid;
3. the form can go at the bottom of the homepage

[2017-12-14 03:05] nellshamrell commented on #745
@hollomancer Does that answer your concerns, or is there more you would like to discuss?

[2017-12-14 03:42] charlessipe commented on #634
@ashu17706 Are you still working on this feature?

[2017-12-14 18:17] hollomancer commented on #745
sounds good. Let's do it!

[2017-12-15 04:23] nellshamrell commented on #745
Alright!  I'm splitting this into two tickets - one for the front end work, and one for the backend api work.

[2017-12-15 04:30] nellshamrell commented on #745
I will keep the front end discussion here - this requires

- [ ] A form created on the front page of the operationcode_frontend (I'll consult with a UX person and the front end team on this) - I imagine the form would only require an email address?
- [ ] When that form is submitted, it should submit an API call to operationcode_backend code [see [the issue related to this in operationcode_backend]

[2017-12-15 05:57] kylemh commented on #745
How do we feel about a "Newsletter" button appearing next to the "Join" button on the landing page for implementation?

[2017-12-15 15:45] hollomancer commented on #745
@jeremysb1, thoughts?

[2017-12-16 02:31] charlessipe commented on #634
![wireframe-for-donate-page](https://user-images.githubusercontent.com/7402611/34066602-e7e6c454-e1c5-11e7-8577-3f8603d96276.png)

Here's the wireframe I came up with for the donate page. It will have the same styling as other pages on the site with donate buttons so people can donate to one of the "collectives".

[2017-12-17 21:39] JennWeideman opened #760 "Update text content of Gala to past tense"
# Feature
## Why is this feature being added?

## What should your feature do?

---

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-12-17 22:38] nellshamrell commented on #745
There was some great conversation in our Slack channel about the implementation of this form.  I'd like us to implement this - at least initially - as a form at the bottom of the main home page.  All we need right now is a field for the email address, and a "Sign Up" button (with some text along the lines of "Sign up for our email list!").

When that form is submitted, it should call the backend A

[2017-12-18 00:02] ksmacleod99 commented on #507
Do we still want to update this link to the Discourse forum post (provided in description) regarding chapter leader responsibilities since we are now trying to direct traffic away from there?

[2017-12-18 11:52] Cooperbuilt commented on #745
In progress

[2017-12-19 02:51] PrimeTimeTran commented on #751
@jeremysb1 I'm submitting a PR but need the answer to if these school:
  1. has_online: false
  2. online_only: false

Thanks!

[2017-12-19 06:57] jeremysb1 commented on #751
you are right for both 1 and 2.

[2017-12-19 07:14] PrimeTimeTran commented on #751
@jeremysb1 this issue should be closed with [this PR](https://github.com/OperationCode/operationcode_backend/pull/214)

[2017-12-19 07:17] PrimeTimeTran commented on #751
@jeremysb1 could you also confirm `hardware_included` as false? I didn't see this information provided so would like to confirm =)

[2017-12-19 17:42] nellshamrell opened #762 "Add Leadership Circle page to Operation Code site"
# Feature
## Why is this feature being added?
Operation Code is running a year end appeal to donors - including introducing the new leadership circle.

## What should your feature do?
- [x] (Nell needs to do this) Change the default amounts of donorbox.org/operationcode to leadership circle amounts
- [x] (Nell needs to do this) Add another donorbox.org page with option A amounts
- [x] (Nell needs

[2017-12-20 17:49] jeremysb1 commented on #751
hardware is not included = hardware_included as false

[2017-12-21 00:49] #745 closed

[2017-12-22 01:22] hollomancer commented on #507
Nope. We should look at taking the original content from Discourse and turning it into its own page...

[2017-12-22 14:06] ksmacleod99 commented on #507
I can do that. And I will even try to get it done this month for real this time 😬

[2017-12-23 17:08] tal87 commented on #754
I'd like to take this issue.
One question though: What exactly is the social sign-on and where can I see it?

[2017-12-23 18:39] PixelWitch commented on #754
Hi Tal,

I'm part of the dev team that created the social login function. Unfortunately, its PR has not been merged yet as I am waiting for Kyle to finish his final checks and make any last bugfix requests, so you won't be able to see it yet. The Go Back button in question however is not part of this feature and should be under src/scenes/home/informationForm/informationForm.js. You can message ky

[2017-12-23 20:41] christopher-wolff23 commented on #760
I'd like to try resolving this.

[2017-12-23 21:33] hpjaj opened #765 "Enforce ID.me verification in order to request mentorship"
# Feature
## Why is this feature being added?

Our site stipulates:

However, this is not enforced.  A non-verified (potentially non-veteran) user can request mentorship through the airtable form.

This puts the mentors in the uncomfortable position of inquiring if their mentees are, in fact, veterans.

## What should your feature do?

The **Request a mentor** link should only be available/clickab

[2017-12-23 21:47] jjhampton commented on #765
I'd also like to see ID.me status used to determine whether a new member gets a link to the Airtable Mentor Request form in their welcome email.  If someone is not verified, if we go down this route, we wouldn't want to share the link with them

[2017-12-23 22:07] wimo7083 opened #767 "Profile asks to verify veteran status after verified."
# Bug Report
## What is the current behavior?
Go to operationcode.org profile and verify id for first time using ID.me. When finished return to profile and the page still requests user to verify in right side.
## What is the expected behavior?
User shouldn't be asked to verify again.
## What steps did you take to get this behavior?
1. Login to operationcode.org
2. Navigate to profile.
3. Click Sig

[2017-12-23 22:32] wimo7083 commented on #767
Upon being logged out (timeout) and logging back-in this is what I see. So it's a bug?

![image](https://user-images.githubusercontent.com/10781353/34323076-6583226e-e7f6-11e7-92f3-d4e5895e1e71.png)

[2017-12-24 05:05] tal87 commented on #754
Thanks @PixelWitch.
@kylemh once a regular registrant click the "go back" button, should we log him out?
Also, when an existing user go to "Profile" and then to "Update Info" the "signup-info" is open on a new tab. What is the functionality of the "go back" button in this case?

[2017-12-24 18:09] jeremysb1 commented on #745
There is a spelling error.

The text above the signup form reads, "Keep up to date with everything Operation Code. We **proimse** we won't spam you or sell your information."

Please change to, "Keep up to date with everything Operation Code. We promise we won't spam you or sell your information."

[2017-12-27 17:08] christopher-wolff23 commented on #747
I'm going to try my hand at this one if that's okay.

[2017-12-27 17:15] christopher-wolff23 commented on #747
So, community.operationcode.org references are to be removed as well...?

[2017-12-27 18:03] hollomancer commented on #747
Yup.

[2017-12-27 21:42] christopher-wolff23 commented on #520
Has this been completed? If not, I'd like to give it a shot.

[2017-12-27 22:00] bretfunk commented on #520
Hey Christopher!  I suck, I ended up going to South America to plan a
wedding.  Apologies.  It is all yours.  If I can be of any assistance,
please let me know.

On Wed, Dec 27, 2017 at 4:42 PM, Christopher Wolff <notifications@github.com

[2017-12-28 04:02] christopher-wolff23 commented on #520
@bretfunk have you done any portion of the script?

[2017-12-28 21:09] nellshamrell opened #771 "[Discussion] Should we be tracking slack_name in the DB?"
Currently, an entry in the User table has a field for slack_name.

However, that field is nil for every user currently in the database.

I suspect this is because the slack name is only created AFTER the user is created.  A user is created when someone joins Operation Code, and after the user is created they are sent an email invite to join the Operation Code slack team.

I have a couple of questi

[2017-12-28 22:20] wimo7083 commented on #771
I would love for it to stay in and it won't be difficult to update both new and old users. I'd recommend to leave it in if in the future If we implement an endpoint for authorized non-users to send HTTP requests.

**Here's how we can get the data and coalesce it:**
The slack api [user.list](https://api.slack.com/methods/users.list/test) and [users.lookupByEmail](https://api.slack.com/methods/users

[2017-12-28 23:49] hollomancer commented on #771
Agreed that we should track this. @rickr and I wanted to do this, but hadn't had the chance.

[2017-12-30 00:43] #762 closed

[2017-12-30 18:19] ksmacleod99 opened #774 "Update Names on Team Page"
# Feature
## Why is this feature being added?
Update the names on the [team page](https://operationcode.org/team) of Operation Code to reflect position changes, and new staff members.

I have contacted David for an updated roster of our team.

[2017-12-30 18:35] hollomancer commented on #774
@ksmacleod99, some of this is captured in a closed PR, https://github.com/OperationCode/operationcode_frontend/pull/712

[2018-01-01 17:25] hollomancer commented on #771
Also, I think this needs to be in operationcode_backend (cc @hpjaj)

[2018-01-01 17:30] hpjaj commented on #771
Agreed

[2018-01-02 05:28] kylemh opened #776 "Error notification pops-up on failed login attempt"
# Bug Report
## What is the current behavior?
When a user incorrectly enters login information, they will presented with the input warnings stating that the email or password is invalid. This is desired behavior.

Additionally, a notification bubble pops up saying that "We will investigate this issue". That notification pop-up is not desired and misleads users into potentially believing that they

[2018-01-02 05:46] #474 closed

[2018-01-02 06:51] #747 closed

[2018-01-02 06:51] #760 closed

[2018-01-03 16:47] AshTemp opened #779 "Add Slack names to Team Page"
# Feature
## Why is this feature being added?
Currently when looking at the team page all the user is given is a list of names, no real information on how to contact the users. Adding users slack names will make it much easier to contact members based on their position.

## What should your feature do?
Adds user slack names to the team page to make contacting people easier.

[2018-01-03 16:50] ppatel221 commented on #774
Can i take care of this, if its still open! Im a student in an Open-Source Developement class and looking to contribute.

[2018-01-03 17:01] ksmacleod99 commented on #774
Thank you! Let me double-check on the names that need to be added, and I will attach a list.

[2018-01-03 20:21] ksmacleod99 opened #780 "Add 2017 Benefit video to Benefit Page"
# Feature
## Why is this feature being added?
Add 2017 Benefit Video to Benefit Page

## What should your feature do?
Add https://www.youtube.com/watch?v=edMC6Wc3nsg&feature=em-upload_owner to Benefit Page as an embedded video

[2018-01-03 20:48] ksmacleod99 commented on #774
Alrighty, @ppatel221. Here are the names as well as some more fleshed-out directions. Thank you again for taking this on!
[Update Team Name.txt](https://github.com/OperationCode/operationcode_frontend/files/1601659/Update.Team.Name.txt)

[2018-01-03 23:51] wimo7083 opened #781 "Profile fails to redirect"
# Bug Report
## What is the current behavior? Redirect after login not rendered

## What is the expected behavior?
Enter credentials, press login, redirect to profile. Incorrect password shows error.
## What steps did you take to get this behavior?
Enter credentials, press login, wait. Incorrect password behaviors appropriately.

Additionally devtools shows this response: from server:
```{"token":

[2018-01-04 00:16] ksmacleod99 commented on #774
I sincerely apologize; this is actually going to be a [back-end](https://github.com/OperationCode/operationcode_backend) project, since the data for our Team page actually pulls from an API. You are more than welcome to continue there if you would like.
Alternatively, viewing this page on a mobile device is cluttered. Maybe you could find a way to style it to look nice on small viewports instead?

[2018-01-04 00:54] wimo7083 commented on #781
Repeating what I found in \#oc-projects. It looks like PR #769  had changes to the MentorRequest.js component to remove discourse. It looks like div tags are unmatched and and not self closing format.

I just realized also when you click login the header updates when the response comes back.

[2018-01-04 05:46] #781 closed

[2018-01-04 22:01] wimo7083 commented on #272
It looks like this was fixed recently without this ticket getting updated, then a few days it came back, last night it was corrected https://operationcode.org/login

Could probably close this.

[2018-01-04 23:08] ag-kylemh commented on #272
Closed in #782

[2018-01-04 23:09] kylemh commented on #272
Closed in #782

[2018-01-04 23:09] #272 closed

[2018-01-06 09:10] P-Shreyas opened #784 "Bug: Email validation regex is wrong."
# Bug Report
## What is the current behavior?
Login page accecpts s@d@f.com as valid email.

## What is the expected behavior?
Email with two @ (or more) is invalid and shuld be notified to user.

## What steps did you take to get this behavior?
Go to login page and begin typing in the email input

## Additional Info
### Operating System
Linux Mint 18.2

### Browser
Mozilla Firefox

### Screenshot

[2018-01-06 17:45] nellshamrell opened #786 "Add some sort of announcement or banner of our TopCode partnership."
Exciting news - Operation Code is partnering with https://veterans.topcoder.com/

To do this, we've created a custom shortened url - http://op.co.de/topcoder-veterans.  This will allow us to track traffic statistics - how many people use our url to access Topcoder.

We need a banner or announcement page on the home page that announces this partnership and links to that url. I will get the exact co

[2018-01-06 18:01] nellshamrell commented on #786
Here is the official copy for the announcement:

"Operation Code and Topcoder are excited to announce opportunities for our members to work on open source coding projects, solve critical problems, and compete for cash prizes! Sign up at http://op.co.de/topcoder-veterans."

[2018-01-07 22:03] nellshamrell opened #787 "Hide email sign up form at bottom of page"
We are still having some Sidekiq/SendGrid issues (which the backend team is working on). Although the form works beautifully, the email addresses are not getting inserted into SendGrid.  We should hide this form (it's at the bottom of the homepage) until the Sidekiq/SendGrid issues are fixed.

[2018-01-07 22:47] #787 closed

[2018-01-08 20:36] wimo7083 commented on #784
@kylemh If this is something you want to happen do you mind if I work on it? It looks like we also validate regex at the [backend](https://github.com/OperationCode/operationcode_backend/blob/daad6508941cda4b29a18c8725ced21c24011d4e/app/models/user.rb#L24). I could just copy that in here. But I'd like to try my hand at mocha and put some unit tests for emails. Looks like I could use [this](https://

[2018-01-09 00:39] jjhampton commented on #784
Multiple `@` symbols are valid email, if they are inside a quoted string.  Wikipedia's article explains it [here](http://en.wikipedia.org/wiki/Email_address#Local-part).

Link to the RFC spec: https://www.ietf.org/rfc/rfc2821.txt

[2018-01-11 02:19] blairestellecoleman opened #789 "Issue joining operationcode"
### Screenshots

![image](https://user-images.githubusercontent.com/35318954/34805347-a24606e0-f64b-11e7-98a7-54af4b856a1e.png)

I am unable to create an account. The page says loading but never proceeds to another page.

[2018-01-11 02:22] ohaiwalt commented on #789
Hi @blairestellecoleman! Unfortunately you caught us at a bad moment, our backend is down due to a configuration issue we're actively working on. The outage will be resolved shortly and I'll ping here so you can give it another shot.

Thanks for your patience!

[2018-01-11 02:23] blairestellecoleman commented on #789
Hey @ohaiwalt! I appreciate you letting me know. Thank you for the quick response.

[2018-01-11 02:53] ohaiwalt commented on #789
Good to go now, @blairestellecoleman! Feel free to join us in #oc-projects on the OpCode Slack if you want some more indepth notes on how the outage happened :)

I'm going to close this now, feel free to reopen if you experience any other issues.

[2018-01-11 02:53] #789 closed

[2018-01-11 23:09] hpjaj commented on #765
@kylemh @Cooperbuilt @jjhampton @tskuse - How goes with this issue?

[2018-01-12 13:44] ksmacleod99 opened #790 "Remove Gala reference on 'About' Page"
Remove 2017 Gala reference on 'About' page. (https://operationcode.org/about)
Please tag: Beginner Friendly

[2018-01-13 22:46] #784 closed

[2018-01-13 22:53] kylemh commented on #780
I've assigned myself this issue as a placeholder for @kamir222

[2018-01-13 22:53] kylemh commented on #771
Closed cuz back-end and we all agree it should be tracked

[2018-01-13 22:53] #771 closed

[2018-01-13 22:56] kylemh commented on #751
This is blocked by https://github.com/OperationCode/operationcode_backend/issues/205

[2018-01-13 22:59] kylemh commented on #744
@jeremysb1 Can you describe the chatbox behavior a bit more in terms of what a default response might look like?

I'm thinking this could be pretty cool to have a home page chat bot plug into the #community Slack channel and then threaded responses get sent to the visitor that started the chat. That way we can leverage our active Slack team to "staff" the chat bot.

If you were imagining automated

[2018-01-13 23:02] kylemh commented on #520
@christopher-wolff23 feel free to work on it as if it hasn't started.

[2018-01-13 23:49] #780 closed

[2018-01-13 23:50] wimo7083 commented on #744
@jeremysb1 @kylemh

So we currently have a a slack bot that's actively being developed, that I think could be used to mirror the communication with our internal slack \#community channel by creating threads and sending the responses in the community back to the front end.

The question is, out of all the projects out there is this something we want to spend our time on? Right now we're currently u

[2018-01-13 23:58] kylemh commented on #744
@hpjaj do you have any input on the back-end throughput?

[2018-01-14 00:42] ksmacleod99 opened #793 "Create /branding page"
# Feature
## Why is this feature being added?
Re-implement [OpCode Branding Guide](https://ocbranding.squarespace.com/), to save money on not using Squarespace.

## What should your feature do?
It should look as close as possible to the Squarespace pages referenced above (or at least make it look nice). Most assets should already be in the repo file structure; but please add assets to appropriate

[2018-01-14 01:08] ksmacleod99 opened #794 "Remove 'Forums' link on Join Page"
# Bug Report
One last link (hopefully) to the Discourse forum on the [Join](https://operationcode.org/join) page needs to be removed.

Please tag: beginner friendly

[2018-01-14 02:25] kylemh commented on #793
Updated title and OP.

You can create 4 buttons to treat them as a mini-nav bar within the page (instead of trying to change navbar)

[2018-01-14 06:57] PrimeTimeTran commented on #751
@kylemh Operation code is no longer adding schools through the `.yml` file as seen here[ issue #214](https://github.com/OperationCode/operationcode_backend/pull/214)

[2018-01-14 17:06] hpjaj commented on #744
@kylemh @jeremysb1 @wimo7083 - IMO, I think we should optimize the UI in the page, over any chat bot experience.

Chat bots come with the expectation of immediacy.  Immediate response and interaction.  We can't consistently support that.  And if you try to use language to stipulate that you don't offer that, then it just feels sluggish and ineffective, IMO.

And if we were to route communications

[2018-01-14 20:12] #786 closed

[2018-01-14 23:12] kylemh opened #798 "External Link clicks are not being reported to Google Analytics"
# Bug Report
## What is the current behavior?
All external links aren't being reported to our marketing team.

## What is the expected behavior?
All link clicks are reported to marketing team.

[2018-01-15 00:17] kylemh opened #799 "Mailing list missing field error has out-of-context content"
# Bug Report
## What is the current behavior?
![screen shot 2018-01-14 at 4 15 25 pm](https://user-images.githubusercontent.com/9523719/34922537-3b5b21ec-f946-11e7-843d-9b406ddbb90a.png)

## What is the expected behavior?
When I enter "Sign-Up" at the bottom of the landing page without an email, I'd expect to be told about an error relating to joining a mailing list, not Operation Code. I'd prefer

[2018-01-15 01:05] #794 closed

[2018-01-15 03:56] #106 closed

[2018-01-15 04:09] #767 closed

[2018-01-15 17:19] reddysridhar53 commented on #799
Can I work on this?

[2018-01-15 17:41] reddysridhar53 commented on #798
Can I work on this?

[2018-01-15 17:45] kylemh commented on #799
@reddysridhar53 I've assigned myself as a placeholder for your work. Have at it!

[2018-01-15 17:46] kylemh commented on #798
@reddysridhar53 I've already got a PR in progress on this one, as you can see by the `Status: In Progress` label.

In searching for issues you can tackle, I suggest filtering by our labels - we're very consistent in their usage.

[2018-01-15 17:48] reddysridhar53 commented on #799
What should be the error text say exactly?

[2018-01-15 17:51] reddysridhar53 commented on #793
@kylemh are you working on this? If not can I?

[2018-01-15 18:25] kylemh commented on #799
The bullet point error is fine, but I'd like the above sentence to say: "There was an error joining the mailing list:"

[2018-01-15 18:25] kylemh commented on #793
@reddysridhar53 have at it!

[2018-01-15 23:48] kylemh commented on #744
@jeremysb1 says he agrees on Slack. We'll close this issue and come back to it later.

[2018-01-15 23:48] #744 closed

[2018-01-16 00:01] wimo7083 commented on #370
@kylemh can probably close this since we don't use discourse anymore?

[2018-01-16 00:59] #370 closed

[2018-01-16 01:37] ksmacleod99 opened #805 "Add Skill Distillery to Code Schools"
# Feature
## Why is this feature being added?
Please add [Skill Distillery](http://skilldistillery.com/) to Code School page.

## What should your feature do?
VA-Approved: Yes
GI Bill Accepted: Yes
Commitment: Full time
Hardware Included: no
Please include logo, will attach image for your use as soon as I have it.

Please Tag: available, beginner friendly

[2018-01-16 02:19] reddysridhar53 commented on #799
@kylemh Ok, will make the changes and make a PR.

[2018-01-16 02:23] reddysridhar53 commented on #793
@kylemh Right now the branding is the part of press page and we have to create a new page for branding similar to https://ocbranding.squarespace.com ?

[2018-01-16 02:29] kylemh commented on #793
Right. They'd like it to be it's own thing. Once this PR is merged, I was going to make a separate issue on linking /branding at the bottom of /press, but since you noticed it - you can feel free to delete the content there and instead simply make a button linking to the new page. If you dont - no worries: I'll make that issue.

The only thing to make note: Don't feel the need to copy the squaresp

[2018-01-16 02:31] kylemh commented on #805
While we can list partner schools on the front-end without a back-end contribution, we will still want that bootcamp in the back-end. So please make a back-end issue for this when you get the chance.

[2018-01-16 02:32] kylemh commented on #145
I'm going to close this.

We'll need to segment it out into small issues when the time come, and all of them will require documentation so that our new contributors adhere to the rules to make our code easy to onboard with.

[2018-01-16 02:32] #145 closed

[2018-01-16 02:40] reddysridhar53 commented on #793
@kylemh Thank you, will start working on it.

[2018-01-16 02:44] kylemh commented on #401
Pertains to another branch

[2018-01-16 02:44] #401 closed

[2018-01-16 02:53] kylemh commented on #425
Closed in #709

[2018-01-16 02:53] #425 closed

[2018-01-16 03:03] kylemh commented on #765
Closed in #783

[2018-01-16 03:03] #765 closed

[2018-01-16 03:42] #507 closed

[2018-01-16 07:02] #776 closed

[2018-01-16 13:44] reddysridhar53 commented on #799
@kylemh shouldn't the place holder say Email(Required) if we are showing the bullet point?

[2018-01-16 19:26] kylemh commented on #799
@reddysridhar53 I think it's the result of a reusable component having a more general message. You can try to tackle having more specific messages in that regard, but pay attention to how it affects other inputs, like the ones in the registration process.

[2018-01-17 06:41] wuweiweiwu commented on #805
@ksmacleod99 Can I take this? :)

[2018-01-17 09:25] kylemh commented on #805
@wuweiweiwu

Feel free! Be sure to look at CONTRIBUTING.MD under `Getting Started > Developing Operation Code Frontend`

There’s essential information about adding code schools and how our project is structured.

[2018-01-17 13:48] reddysridhar53 commented on #793
Hey @kylemh I am almost done with page. When can you give me sometime to check on the page?

[2018-01-17 16:49] kylemh commented on #793
Whenever I can! Feel free to open a PR with a [WIP] in front of the PR title to indicate that ifs a work-in-progress

[2018-01-17 17:53] reddysridhar53 commented on #793
Hey @kylemh raised a PR, Please let me know if there are changes need to be done.

[2018-01-18 03:27] KuriosCurious commented on #12
Are there images for this page yet?
The success stories is redundant with the first page. I don't think it should be here.

[2018-01-18 03:34] KuriosCurious commented on #153
Are there other browsers in NIPR machines? If so, I don't think we should worry about IE at all. Even Microsoft has already started dropping support from its own sites. Most major sites have dropped it as well.
I'd recommend instead a message saying IE11 is no longer supported.

[2018-01-18 04:26] jjhampton commented on #153
I agree - the recommendation message could be tailored to include a list of the browsers we support, including Firefox, which from my experience, was permitted for usage on certain NIPR machines.

[2018-01-18 09:30] wuweiweiwu commented on #805
@kylemh sounds good!

[2018-01-18 10:08] avatarbabe commented on #790
I would like to take this as my first contribution :)

[2018-01-18 11:03] egomadking commented on #153
There are other browsers on NIPR machines. The problem resides in that the preponderance of those who make decisions about what programs are authorized to operate on post don't know how to make a choice between browsers. Even to this day I still have users who cannot tell the difference between the browsers. However, I do not know what your visitor metrics are so I can only speak for what I see on

[2018-01-19 19:02] ksmacleod99 opened #811 "Change /join content to make it clear that not only veterans may sign up."
# Feature
## Why is this feature being added?
Change /join content to make it clear that not only veterans may sign up. Something to the effect of "Our community supports veterans transitioning to tech, but we welcome family members, tech professionals..."

[2018-01-19 20:28] ksmacleod99 commented on #805
![skilldistillery_correct_stacked_blue2](https://user-images.githubusercontent.com/28678836/35170180-4a970a28-fd2d-11e7-8e78-825a727f5232.png)
Logo, as promised :)

[2018-01-20 00:11] wuweiweiwu commented on #805
@ksmacleod99 updated!

[2018-01-21 00:30] JennWeideman commented on #681
Messaged to Conrad

[2018-01-21 00:30] #681 closed

[2018-01-21 02:23] JennWeideman commented on #12
@kylemh should this now be navigation menu item not page?

[2018-01-21 02:44] jvillama commented on #811
How does this sound? "Are you ready to deploy your future? Our community supports veterans transitioning into the tech industry, but we welcome family members, tech professionals, volunteers and sponsors. Join Operation Code today and launch your career in tech. Once you complete the form below, you’ll be invited to join our team on Slack. Make sure you stop in and say hi!"

[2018-01-21 03:14] kylemh commented on #811
That looks great.

[2018-01-21 03:53] #798 closed

[2018-01-21 03:58] JennWeideman commented on #790
I assigned myself hold  for @avatarbabe

[2018-01-21 04:00] kylemh commented on #790
@avatarbabe looks like you've done the work, but haven't created a pull request for it. Let me know if you need any help - your local branch looks like it's ready to be merged!

[2018-01-21 04:05] JennWeideman commented on #643
@kylemh ready to be closed?

[2018-01-21 04:06] #274 closed

[2018-01-21 04:07] JennWeideman commented on #634
@charlessipe  are you still working on this?

[2018-01-21 04:08] kylemh commented on #643
@JennWeideman I can't replicate the issue. Closed.

[2018-01-21 04:08] #643 closed

[2018-01-21 04:11] #799 closed

[2018-01-21 04:19] kylemh commented on #12
@JennWeideman so above is a discussion on this potential page. It doesn't exist, but some mock-ups have been designed. @KuriosCurious brings up a fair concern: If we do @NestorSegura 's last mock-up, we should remove the success stories from the landing page.

I'm a fan of this get involved page, but it's only an idea right now. It's your call on whether or not you'd like to move forward with it a

[2018-01-21 04:34] kylemh commented on #811
Assigning myself as a placeholder for @jvillama 's work.

[2018-01-21 05:13] kylemh commented on #153
@wimo7083 what you see on your machine with Safari is similar, yes?

[2018-01-21 05:14] kylemh commented on #153
@JennWeideman recommend issue close and create a new issue to create a view for when a user attempts to visit our page from an unsupported browser (namely IE 11 and lower)

[2018-01-21 05:43] wimo7083 commented on #153
I know there's a push to get bases to windows 10, which comes with edge.

As far as the images go, they don't look similar but are both equally bad. It's almost as if flexbox isn't working.

[2018-01-21 13:35] ksmacleod99 opened #815 "Link Terms of Service in Footer"
# Feature
## Why is this feature being added?
Please link Terms of Service in footer

## What should your feature do?
Add the following code snippet after the Privacy Policy link in `footer.js`:
`<Link to="/terms">Terms of Service</Link>`

Please mark: beginner friendly, available

[2018-01-21 13:48] ksmacleod99 opened #816 "Redesign Footer"
# Bug Report
## What is the current behavior?
Current footer is in need of a re-design to improve UX on both mobile and full screen. This redesign might also include Issue #815 and Issue #258, depending on how quickly they are resolved. Please anticipate including fixes for #258. Also reference Issue #652 for discussion about how this can be accomplished

## What is the expected behavior?
Links sh

[2018-01-21 16:51] charlessipe commented on #634
@JennWeideman If you can take over that would be great.

[2018-01-22 03:48] #793 closed

[2018-01-22 05:42] jvillama commented on #815
I can add this real quick. Will try to experiment to get the footer to be at least readable on a variety of window sizes later.

[2018-01-22 05:43] kylemh commented on #815
@jvillama much obliged, but a footer redesign is incoming. Feel free to just slap it on there.

[2018-01-22 05:43] jvillama commented on #815
Alright

[2018-01-22 05:44] kylemh commented on #815
assigned myself as a placeholder for ur work @jvillama

[2018-01-22 05:51] kylemh commented on #645
I'm going to elect to close this.

[2018-01-22 05:51] #645 closed

[2018-01-22 06:01] #815 closed

[2018-01-22 06:03] kylemh commented on #774
@ksmacleod99 I need a picture and 150 character bio for Jeremy Hal and David Reis.

[2018-01-22 06:05] #686 closed

[2018-01-22 06:06] kylemh commented on #652
I'm going to close this in favor of targeting specific fixes. A footer redesign is documented in #816 , but I'm happy with the other grid-like displays.

[2018-01-22 06:06] #652 closed

[2018-01-22 06:08] kylemh commented on #485
Since we don't have a serverless setup with OAuth-type services, I'm going to close this in favor of a solution like #678

[2018-01-22 06:08] #485 closed

[2018-01-22 16:02] ksmacleod99 commented on #12
Hey, if we choose to move forward with this, may I please be assigned?

[2018-01-22 18:18] wimo7083 opened #818 "Bug: some routes not requiring auth"
# Bug Report
## What is the current behavior?
Navigate to operationcode.org/mentor-request while signed out and it quickly show private content.

## What is the expected behavior?
Page should not render for an authed url prior to verifying auth.

## What steps did you take to get this behavior?
Ensure logged out, navigate to aforementioned site, quickly see mentor page.

[2018-01-22 20:45] shaina33 commented on #258
Hello! I'm new to this project, but I'd like to start contributing. I think I could fix the spacing of the footer links. I've attached screenshots of what I'm seeing on desktop and mobile, so they seem to need help in both circumstances. I've already gotten the project forked and running locally.

![desktop footer](https://user-images.githubusercontent.com/17550347/35243483-0d6e9b42-ff8b-11e7-92fe

[2018-01-22 21:10] kylemh commented on #258
@shaina33 I’m going to close this issue in favor of #816

Feel free to make a PR referencing that issue!

[2018-01-22 21:10] #258 closed

[2018-01-22 22:18] shaina33 commented on #816
Hello there! I'm new to the project and have started working on fixing the footer spacing to look nice and be usable on both desktop and mobile sizes. I think the links are looking good so far:
![screen shot 2018-01-22 at 5 14 43 pm](https://user-images.githubusercontent.com/17550347/35247368-20bd285a-ff98-11e7-9693-894b572b358f.png)

[2018-01-22 22:26] ag-kylemh commented on #816
@shaina33 that looks nearly perfect. Can you please add `margin: 1rem 0;` to the anchor tags? Some more vertical spacing will make it 💯

[2018-01-22 22:27] kylemh commented on #816
@shaina33 that looks nearly perfect. Can you please add `margin: 1rem 0;` to the anchor tags? Some more vertical spacing will make it 💯

Feel free to put that in a media query for when it gets down to two columns. What does it look like on desktop? Feel free to open WIP branch.

I'm going to assign myself as an issue to this for your work.

[2018-01-23 00:25] jvillama commented on #818
Just to clarify, is /mentor-request an authenticated route? Once logged out, navigating to /mentor-request requires a login. Once logged in, render the mentor page.

[2018-01-23 00:53] wimo7083 commented on #818
Yes, it should be authenticated. In my case (chrome) when you try and navigate to `/mentor-request` without being logged in it briefly flashes the page I was able to get an image by throtting the network in chrometools.

![image](https://user-images.githubusercontent.com/10781353/35252315-2677d4e8-ff9d-11e7-917a-67ca75cfed81.png)

[2018-01-23 01:01] wimo7083 commented on #818
I'm claiming this for a little while, going to try a quick fix.

[2018-01-23 02:43] jvillama opened #820 "BoardMember Card text animates before card expands"
# Bug Report
## What is the current behavior?
BoardMember Card animates its text description opacity quicker than its expanding container animation upon mouse hover.

## What is the expected behavior?
BoardMember Card should animate its text description smoothly with the expanding container animation.

## What steps did you take to get this behavior?
Hover over Board Member profiles on /team page

[2018-01-23 03:01] jvillama opened #822 "School Card text incorrecly colored."
# Bug Report
## What is the current behavior?
School Card text is colored blue (because hyperlink user agent styles).

## What is the expected behavior?
School Card text should be black.

## What steps did you take to get this behavior?
View code schools on /code_school page to examine behavior.

[2018-01-23 04:22] kylemh commented on #12
Of course! Taking on bigger and better things 👍

[2018-01-23 04:39] #818 closed

[2018-01-23 04:46] #822 closed

[2018-01-23 05:04] #820 closed

[2018-01-23 05:51] shinytang6 commented on #790
@kylemh @JennWeideman  It seems that this issue still open, can l keep on working that:)

[2018-01-23 06:02] kylemh commented on #790
@shinytang6 feel free!

[2018-01-23 06:27] #790 closed

[2018-01-23 15:27] JennWeideman commented on #774
@ksmacleod99 @kylemh can this issue be closed? after reading the last two notes on it my guess is yes? but if at cant be closed can issue #779 be added to this one seems like these two go together?

[2018-01-23 15:31] JennWeideman commented on #443
@kylemh why is this Blocked,  This is what I was asking about on Google ad words?

[2018-01-23 15:36] JennWeideman commented on #489
From what I've read in comments this issue was blocked due to API being down, I see in the comments also that API is back up but the block wasn't removed. I'm removing block. @kylemh

[2018-01-23 15:39] JennWeideman commented on #520
@christopher-wolff23 Are you still working this?

[2018-01-23 15:52] JennWeideman commented on #412
@kylemh Is this issue still relevant ?

[2018-01-23 15:56] JennWeideman commented on #231
Could this page be added to under new get involved or about section ?

[2018-01-23 16:10] JennWeideman commented on #356
@hollomancer is this something you guys still want done?

[2018-01-23 16:13] JennWeideman commented on #156
@dmarchante are you still working on this? @kylemh is this something that will be added into new layout under get involved ?

[2018-01-23 16:14] JennWeideman commented on #156
also are volunteers and sponsors separated now or they want them separated?